.btn-download {
    background: none;
    color: #7694B7;
    border: 0;
    font-size: 14px;
    font-family: 'Helvetica Neue Regular';
    margin-top: 7px;
}

.buttonPhoneInactive {
    outline: 0px;
    font-size: 14px;
    color: #414141;
    background-color: transparent;
    border: none;
    opacity: 0.7;
    box-shadow: none;
    font-family: 'Helvetica Neue Medium';
}

.buttonPhoneActive {
    outline: 0px;
    font-size: 14px;
    color: #414141;
    background-color: transparent;
    border-width: 2px;
    border-color: #7694B7;
    border-right: none;
    border-left: none;
    border-top: none;
    box-shadow: none;
    font-family: 'Helvetica Neue Medium';
}

.modal-scs-btn {
    font-family: 'Helvetica Neue Regular';
    font-style: normal;
    color: #FFFFFF;
    background: #7694B7;
    font-size: 14px;
    opacity: 100%;
    border: 0;
    border-radius: 45px;
    height: 28px;
    outline: none;
}

.modal-scs-btn:focus {
    outline: none;
    box-shadow: none;
}

.tabs {
    margin-left: 15px;
    margin-top: 25px;
}

.phone-img {
    height: 130px;
    width: 250%;
}


/*.phone-img {
    height: 120px;
    width: 40%;
}*/

.basic-table {
    table-layout: fixed;
    width: 100%;
}

.title-label {
    font-family: 'Helvetica Neue Medium';
    font-size: 15px;
    color: #414141;
    font-weight: bold;
}

.att-title {
    font-family: 'Segoe UI Regular';
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}

.att-value {
    color: #414141;
    font-family: 'Segoe UI Regular';
    font-size: 14px;
}

.contained-element {
    font-family: 'Segoe UI Regular';
    font-size: 13px;
    text-align: left;
}

.regular-text {
    font-family: 'Helvetica Neue Regular';
    color: #414141;
    font-size: 13px;
}

.table-label {
    font-family: 'Segoe UI Regular';
    font-size: 14px;
    color: #414141;
}

.parentImage {
    position: relative;
    /*display: inline;*/
    height: 150px;
}

.childImage {
    /*position: absolute;*/
    /*bottom: 222px;*/
    /*right: -61px;*/
    /*width: 130px;*/
    /*height: 105px;*/
    position: absolute;
    right: 45px;
    width: 100%;
    height: 120px;
    top: 32px;
}

div.collapsed {
    height: 250px;
    overflow: hidden;
    max-width: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.boxDetails {
    background-color: darkgray;
    font-size: 12px;
    font-weight: bold;
}

.show-less {
    /*height: 4rem;*/
    /*overflow: hidden;*/
    /*padding: 1rem;*/
    width: 100%;
    font-size: 12px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 40px;
    max-width: 100%;
}

.show-more {
    height: auto;
    word-break: break-word;
}

th {
    background-color: #F4F5F7;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: rgb(244, 245, 247);
    text-align: left;
    font-size: 14px;
}

td {
    min-width: 48px;
    font-weight: normal;
    vertical-align: top;
    background-clip: padding-box;
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: rgb(193, 199, 208);
    border-image: initial;
    padding: 8px;
    font-size: 14px;
}

/* IE10+ specific styles go here */

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
    .table-label {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #414141;
    }

    .att-title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #000000;
        font-weight: 600 !important;
    }

    .att-value {
        color: #414141;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }
}