<div class="modal-header" draggableModal>
    <label class="modal-title">Troubleshooting - {{basicInfo?.name}}</label>
    <button type="button" class="close" aria-label="Close" (click)="hideModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" style="padding-bottom: 30px">
    <div class="row">
        <div class="col-lg-7">
            <div class="tabs">
                <div class="row">
                    <div class="col-md-5"><label class="att-title">Data collected on:</label></div>
                    <div class="col-md-5" style="padding-left: 0px;">
                        <label class="att-value">{{buttonDetails?.completedDate_tsString}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5"><label class="att-title">Registration Status:</label></div>
                    <div class="col-md-5" style="padding-left: 0px;"
                         *ngIf="buttonDetails?.prtStatus && (buttonDetails?.prtStatus.toLowerCase() == 'completed'|| buttonDetails?.prtStatus.toLowerCase() == 'failed')">
                        <i *ngIf="buttonDetails?.registrationStatus.toLowerCase() == 'registered'" class="fa fa-check"
                           aria-hidden="true" style="color: green;"></i>
                        <i *ngIf="buttonDetails?.registrationStatus.toLowerCase() != 'registered'" class="fa fa-times"
                           aria-hidden="true" style="color: red;"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5"><label class="att-title">DND Disabled:</label></div>
                    <div class="col-md-5" style="padding-left: 0px;"
                         *ngIf="buttonDetails?.prtStatus && (buttonDetails?.prtStatus.toLowerCase() == 'completed' || buttonDetails?.prtStatus.toLowerCase() == 'failed')">
                        <i *ngIf="buttonDetails?.dnd.toLowerCase() == 'no'" class="fa fa-check" aria-hidden="true"
                           style="color: green;"></i>
                        <i *ngIf="buttonDetails?.dnd.toLowerCase() != 'no'" class="fa fa-times" aria-hidden="true"
                           style="color: red;"></i>
                    </div>
                </div>
                <!-- Outbound call -->
                <div class="row">
                    <div class="col-md-5">
                        <label
                                title="Initiates a call to the number entered and validates presence of dial tone and ringback"
                                class="att-title">Outbound Call:
                        </label>
                    </div>
                    <div class="col-md-1" style="margin-top: 1%;padding-left: 0px;"
                         *ngIf="buttonDetails?.prtStatus && (buttonDetails?.prtStatus.toLowerCase() == 'completed'|| buttonDetails?.prtStatus.toLowerCase() == 'failed')">
                        <i *ngIf="buttonDetails?.outboundCallStatus"
                           [ngClass]="getClass(buttonDetails.outboundCallStatus)"
                           [style.color]="getStyle(buttonDetails.outboundCallStatus)" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-3" style="padding-left: 0px;">
                        <input style="height: 32px;" type="text" class="form-control"
                               [(ngModel)]="phone.outBoundCallNumber"
                               title="Initiates a call to the number entered and validates presence of dial tone and ringback"
                               onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 35|| event.charCode == 43'
                               placeholder="Enter number">
                    </div>
                    
                </div>
                <br
                        *ngIf="buttonDetails?.outboundCallStatus=='FAILED' && buttonDetails?.outBoundCallFailureReason!= ''">
                <!-- Outbound call failure reason -->
                <div class="row"
                     *ngIf="buttonDetails?.outboundCallStatus=='FAILED' && buttonDetails?.outBoundCallFailureReason!= ''">
                    <div class="col-md-5"></div>
                    <div class="col-md-4" style="font-size: 12px;font-weight: normal;padding: 0px;"
                         [ngClass]="{'show-more':_isShowMore,'show-less':!_isShowMore}">
                        {{buttonDetails?.outBoundCallFailureReason}}
                    </div>
                    <div class="col-md-3" *ngIf="!_isShowMore" (click)="showMore()"
                         style="color: #7694B7;font-size: 11px;cursor: pointer;padding: 0px;">
                        {{_isShowMore ? 'Show Less' : 'Show More'}}
                    </div>
                </div>
                <div class="row"
                     *ngIf="buttonDetails?.outboundCallStatus=='FAILED' && buttonDetails?.outBoundCallFailureReason!= ''">
                    <div class="col-8"></div>
                    <span *ngIf="_isShowMore" (click)="showMore()"
                          style="color: #7694B7;font-size: 11px;cursor: pointer;">{{'Show less'}}</span>
                </div>
                <div class="row">
                    <div class="col-md-5"><label class="att-title">Configuration:</label></div>
                    <div class="col-md-5" style="padding-left: 0px;">
                        <button class="btn-download"
                                *ngIf="buttonDetails?.prtStatus && (buttonDetails?.prtStatus.toLowerCase() == 'completed' ||  buttonDetails?.prtStatus.toLowerCase() == 'failed')"
                                style="margin-top: 0px; font-size: 13px; margin-left: -8px;"
                                (click)="multiplePhoneConfig()">Compare Config
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5"><label class="att-title">Phone PRT:</label></div>
                    <div class="col-md-5" style="padding-left: 0px;">
                        <button
                                *ngIf="buttonDetails?.prtStatus && buttonDetails?.prtStatus.toLowerCase() == 'completed'"
                                style="margin-top: 0px; font-size: 13px;margin-left:-8px;" class="btn-download"
                                (click)="downloadLogs(buttonDetails)">Download Logs
                        </button>
                        <label *ngIf="!buttonDetails?.prtStatus || buttonDetails?.prtStatus.toLowerCase() == 'failed'"
                               class="att-value">No logs
                            available</label>
                    </div>
                </div>
                <!-- BS Registartion status -->
                <div class="row">
                    <div class="col-md-5"><label class="att-title">BS Registration Status:</label></div>
                    <div class="col-md-5" style="padding-left: 0px;"
                         *ngIf="buttonDetails?.bsRegistrationStatus && buttonDetails?.bsRegistrationStatus !=''">
                        <i *ngIf="buttonDetails?.bsRegistrationStatus.toLowerCase() == 'true'" class="fa fa-check"
                           aria-hidden="true" style="color: green;"></i>
                        <i *ngIf="buttonDetails?.bsRegistrationStatus.toLowerCase() == 'false'" class="fa fa-times"
                           aria-hidden="true" style="color: red;"></i>
                    </div>
                </div>
                <div class="row"
                     *ngIf="buttonDetails?.phoneCallLogsDtos && buttonDetails?.phoneCallLogsDtos.length>0 && buttonDetails?.bsRegistrationStatus.toLowerCase() == 'true'">
                    <div class="col-md-5"><label class="att-title">Call Log Information:</label></div>
                    <div style="padding: 0px;" class="col-md-4">
                        <button class="btn-download"
                                (click)="viewCallLogs()">{{(!_canViewCallInfoLogs) ? 'View → ' : 'Close'}}</button>
                    </div>
                </div>
                <!-- BS regsitration failure reason -->
                <div class="row"
                     *ngIf="buttonDetails?.bsRegistrationStatus=='false' && buttonDetails?.bsFailureReason !=''">
                    <div class="col-md-5"></div>
                    <div class="col-md-4" style="font-size: 12px;font-weight: normal;padding: 0px;"
                         [ngClass]="{'show-more':_isShowMore,'show-less':!_isShowMore}">
                        {{buttonDetails?.bsFailureReason}}
                    </div>
                    <div class="col-md-3" *ngIf="!_isShowMore" (click)="showMore()"
                         style="color: #7694B7;font-size: 11px;cursor: pointer;padding: 0px;">
                        {{_isShowMore ? 'Show Less' : 'Show More'}}
                    </div>
                </div>
                <div class="row"
                     *ngIf="buttonDetails?.bsRegistrationStatus=='false' && buttonDetails?.bsFailureReason !=''">
                    <div class="col-8"></div>
                    <span *ngIf="_isShowMore" (click)="showMore()"
                          style="color: #7694B7;font-size: 11px;cursor: pointer;">{{'Show less'}}</span>
                </div>
                <!-- Go button -->
                <!-- <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-5" style="padding-left: 0px;">
                        <button class="modal-scs-btn " (click)="easyButton()"
                            [disabled]="basicInfo?.firmwareUpgradeStatus == 'INITIATED' || basicInfo?.firmwareUpgradeStatus == 'INPROGRESS' || basicInfo?.firmwareUpgradeStatus == 'REBOOTING' || basicInfo?.phoneState != 'AVAILABLE'">
                            Go
                        </button>
                    </div>
                </div> -->
                <!-- status -->
                <!-- <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-5 contained-element" style="padding-left: 0px;">
                        <br>
                        <label *ngIf="buttonDetails?.prtStatus != null" class="regular-text">Status:&nbsp;</label>
                        <label *ngIf="buttonDetails?.prtStatus != null && buttonDetails?.prtStatus!='INPROGRESS'"
                            class="regular-text"
                            [ngStyle]="{color:((buttonDetails?.prtStatus=='FAILED' || buttonDetails?.prtStatus=='COMPLETED') ? '#0E8B18' :'#7694B7' )}">
                            {{((buttonDetails?.prtStatus == 'FAILED' || buttonDetails?.prtStatus == 'COMPLETED') ? 'Completed' : buttonDetails?.prtStatus)| titlecase }}
                        </label>
                        <label *ngIf="buttonDetails?.prtStatus != null && buttonDetails?.prtStatus=='INPROGRESS'"
                            class="regular-text"
                            [ngStyle]="{color:((buttonDetails?.prtStatus=='FAILED' || buttonDetails?.prtStatus=='COMPLETED') ? '#0E8B18' :'#7694B7' )}">
                            In progress
                        </label>
                    </div>
                </div> -->
            </div>
        </div>
        <!-- LCD image -->
        <div style="height: 200px;" class="col-lg-5" *ngIf="isEasyButtonClicked">
            <div style="background-color: darkgray;">
                <label style="font-size: 12px;font-weight: bold;text-align: left;">{{basicInfo?.name}}</label>
                <label
                        style="font-size: 12px;font-weight: bold;float: right;margin-top: 2%;">{{buttonDetails?.model}}</label>
            </div>
            <img *ngIf="imgSrc" [src]="imgSrc" class="phone-img" [ngClass]="imageClass">
            <img *ngIf="!imgSrc" style="text-align: center;" width="40" height="40" src="assets/images/loading.gif"
                 alt="spinner">
        </div>
    </div>
    <!-- Call Log info table -->
    <div class="row" *ngIf="_canViewCallInfoLogs">
        <div class="col-lg-2" style="padding: 0px !important;"></div>
        <div class="col-lg-8" style="padding-left: 8%;">
            <h6> Displaying latest call history: </h6>
        </div>
    </div>
    <div class="row" *ngIf="_canViewCallInfoLogs">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <table class="col-md-10" style="margin: auto;">
                <tr>
                    <th rowspan="1" colspan="1" *ngFor="let item of callLogsInitGrid;">
                        {{item.name}}
                    </th>
                </tr>
                <tr *ngFor="let item of phoneCallLogsDetailsList">
                    <td>{{item.type | titlecase | blank}}</td>
                    <td>{{item['phoneNumber'] | blank}}</td>
                    <td>{{(item['time'] | date: 'medium') | blank}}</td>
                </tr>
            </table>
        </div>
    </div>
    <br *ngIf="_canViewCallInfoLogs">
    <!-- Go button -->
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5" style="padding-left: 0px;">
            <button class="modal-scs-btn " (click)="easyButton()"
                    [disabled]="basicInfo?.firmwareUpgradeStatus == 'INITIATED' || basicInfo?.firmwareUpgradeStatus == 'INPROGRESS' || basicInfo?.firmwareUpgradeStatus == 'REBOOTING' || basicInfo?.phoneState != 'AVAILABLE'">
                Go
            </button>
        </div>
    </div>
    <!-- status -->
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5 contained-element" style="padding-left: 0px;">
            <br>
            <label *ngIf="buttonDetails?.prtStatus != null" class="regular-text">Status:&nbsp;</label>
            <label *ngIf="buttonDetails?.prtStatus != null && buttonDetails?.prtStatus!='INPROGRESS'"
                   class="regular-text"
                   [ngStyle]="{color:((buttonDetails?.prtStatus=='FAILED' || buttonDetails?.prtStatus=='COMPLETED') ? '#0E8B18' :'#7694B7' )}">
                {{((buttonDetails?.prtStatus == 'FAILED' || buttonDetails?.prtStatus == 'COMPLETED') ? 'Completed' : buttonDetails?.prtStatus)| titlecase }}
            </label>
            <label *ngIf="buttonDetails?.prtStatus != null && buttonDetails?.prtStatus=='INPROGRESS'"
                   class="regular-text"
                   [ngStyle]="{color:((buttonDetails?.prtStatus=='FAILED' || buttonDetails?.prtStatus=='COMPLETED') ? '#0E8B18' :'#7694B7' )}">
                In progress
            </label>
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="form-group">
        <button class="modal-scs-btn" (click)="hideModal()">
            Close
        </button>
    </div>
</div>
<ng-template #errorTemplate>
    <div class="modal-header">
        <label class="modal-title pull-left">OutBound Call Failure Reason</label>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            {{buttonDetails?.outBoundCallFailureReason}}
        </div>
    </div>
</ng-template>
