<div class="modal-header" draggableModal>
    <label class="modal-title">Validate Presence</label>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form (keydown.enter)="$event.preventDefault()" #myActionForm="ngForm">
    <div class="modal-body">
        <div class="mycontainer">
            <div class="form-group row">
                <label for="resourceField" class="col-sm-1 col-form-label phone-label">Phone</label>
                <div class="col-sm-3">
                    <select required forbiddenValue="" class="form-control" [(ngModel)]="selectedResource"
                        (change)="onSelectResource($event.target.value)" id="resourceField" name="resourceField"
                        #resourceField="ngModel">
                        <option disabled selected value="">Select Phone</option>
                        <option *ngFor="let resource of resources" value="{{resource.name}}">{{resource.name}}</option>
                    </select>
                </div>
                <label for="validateTypeField" class="col-sm-1 col-form-label phone-label">Validate</label>
                <div class="col-sm-3">
                    <select required forbiddenValue="" class="form-control" [(ngModel)]="selectedValidateType"
                        id="validateTypeField" name="validateTypeField" #validateTypeField="ngModel">
                        <option disabled selected value="">Select Validate</option>
                        <option *ngFor="let type of validateTypes" value="{{type}}">{{type}}</option>
                    </select>
                </div>
            </div>
            <hr class="separator">
            <div class="row">
                <label for="failure" class="col-sm-3 col-form-label phone-label">Continue On
                    Failure</label>
                <div class="col-sm-3" style="margin-top: 5px; padding-left:0px;">
                    <label class="phone-label">
                    <input type="radio" name="failure" [value]="true" [(ngModel)]="continueOnFailure" #failure="ngModel">&nbsp;
                    <span>True</span>
                    </label>&nbsp;
                    <label class="phone-label">
                    <input type="radio" name="failure" [value]="false" [(ngModel)]="continueOnFailure" #failure="ngModel">
                    &nbsp;
                    <span>False</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="cancel()" class="modal-cancel-btn">
            Cancel
        </button>
        <button class="modal-scs-btn" (click)="insertAction()" [disabled]="!myActionForm.form.valid">
            <span *ngIf="!actionToEdit">
                Insert Action
            </span>
            <span *ngIf="actionToEdit">
                Update Action
            </span>
        </button>
    </div>
</form>