<div class="container" style="text-align: center;">
    <h1 mat-dialig-title id="modal-title">Add Test Suite</h1>
    <form [formGroup]="addTestSuiteForm" (ngSubmit)="addTestSuite()">
        <div class="flex-container">
            <div class="loading-shade" *ngIf="isDataLoading">
                <mat-spinner *ngIf="isDataLoading"></mat-spinner>
            </div>
            <mat-dialog-content>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label id="name-label">Suite Name</mat-label>
                        <input matInput required formControlName="name" id="name">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label id="deviceType-name-label">Service Under Test</mat-label>
                        <input matInput required formControlName="deviceType" id="deviceType">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label id="frequency-label">Frequency</mat-label>
                        <mat-select required formControlName="frequency">
                            <mat-option *ngFor="let item of frequencies" [value]="item" title="{{item}}">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-dialog-content>
        </div>
        <mat-dialog-actions>
            <button id="cancelBtn" type="button" mat-stroked-button (click)="onCancel()">Cancel</button>
            <button id="submitBtn" mat-raised-button color="primary" [disabled]="addTestSuiteForm.invalid"
                type="submit">Submit</button>
        </mat-dialog-actions>
    </form>
</div>