.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.flex-container > div {
    margin: 10px;
    text-align: center;
}
.btn-custom {
    background: rgb(39, 49, 118);
    color: white;
}

mat-form-field {
    width: 100%;
}

.example-radio-group {
    display: flex; flex-direction: column;
    /* display: inline-grid; */ 
    /* display: grid; */
    
}
