<div>
    <h2>Projects</h2>
</div>
<div class="btn-container" *lcCheckAccessFor="'addCTaaSProject'" >
    <button class="ml-auto" mat-raised-button id="add-ctaas-project-button" (click)="addProject()">
        Add Project
    </button>
</div>
<section class="table-section">
    <div class="table-container mat-elevation-z8" [style.max-height.px]="tableMaxHeight">
        <app-data-table
            [tableData]="projectsData"
            [tableColumns]="displayedColumns"
            [isFilterable]="false"
            [isPageable]="false"
            [isLoadingResults]="isLoadingResults"
            [isRequestCompleted]="isRequestCompleted"
            [paginationSizes]="[5,10,20]"
            [defaultPageSize]="5"
            (sort)="sortData($event)"           
            >
        </app-data-table>
    </div>
</section>