.regular-text {
    font-family: 'Helvetica Neue Regular';
    color: #414141;
    font-size: 14px;
}

.btn-new {
    margin-top: 14px;
    background: none;
    color: #7694B7;
    border: 0;
    font-size: 14px;
    font-family: 'Helvetica Neue Regular';
}

.count {
    margin-top: 14px;
    font-family: 'Helvetica Neue Regular';
    color: #43425d;
    font-size: 14px;
}

td {
    text-align: center;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pop-option {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-family: 'Helvetica Neue Regular';
    color: #7694B7;
    font-size: 12px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.upload-file{
    font-family: 'Helvetica Neue Regular';
    color: #43425d;
    font-size: 14px;
    float: left;
    line-height: 10px;
     
    padding-top: 10px;
    padding-bottom: 10px;
}
.call-count{
    margin-left: -20px;
    padding: 0px;
}

.btn-opt {
    background: none;
    border: 0;
}

.circle-menu {
    color: #6A6A6A;
    font-size: 4px;
}


:host >>> .popover > .arrow {
    display: none;
}

:host >>> .popover {
    background-color: #FFFFFF;
    color: #FFFFFF;
}


:host >>> .popover.bottom {
    margin-top: -5px !important;
    margin-left: -55px !important;
}

.title {
    font-family: 'Helvetica Neue Regular';
    color: #43425d;
    font-size: 18px;
    float: left;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media only screen and (min-width: 1024px) {
    ::ng-deep .tabs {
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }
}


.txt_rst{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left !important;
}
.txt_rst_Call{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.form-control {
    font-size: 14px;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    background: none;
    color: #7694B7;
}
.upload-icon{
    margin-top: 7px !important;
}
.col-input{
    margin-right: -55px;
    margin-top: 6px;
}
.btn-new:focus{
    color: #273b58 !important;
    margin-top: 14px;
    background: none;
    /* color: #7694B7; */
    border: 0;
    font-size: 14px;
    font-family: 'Helvetica Neue Regular';
}
[type=button]:not(:disabled), [type=reset]:not(:disabled),
 [type=submit]:not(:disabled), button:not(:disabled){
    color: #273b58 !important;
}

.btn_cntrl{background-color: transparent !important;
    font-size: 13px !important;
    border: none;
    margin: 0 !important;
    margin-top: 10px !important;
    color: #7694B7 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.select-upload{
    font-family: 'Helvetica Neue Regular';
    color: #43425d;
    font-size: 14px;
    padding-top: 10px;
    margin-left: 6px;
}
.select-vendor{
    border: 1px solid #43425d;
    border-radius: 5px;
    padding-left: 4px;
    padding-top: 1px;
    margin-top: 5px;
    padding-bottom: 2px;
    width: 114px;
    font-size: 12px;
}


.no-gutter-padd {
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .no-gutter-padd > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
 
  .divtab{display: table;}
  .div-tabchlr{display: table-cell;vertical-align: middle;}