<div class="row" style="background-color:#FFFFFF;">
    <div class="col-lg-12">
        <div class="panel panel-default" style="background-color: white;">
            <div class="panel-heading">
                <div class="row">
                    <!-- <div class="col-2">
                        <label class="title">Upload Files</label>
                    </div> -->
                    <div class="col-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="title pl-0">Upload Files&nbsp;</label>

                            </div>
                            <div class="col-sm-8" btnRadioGroup [(ngModel)]="uncheckableButton">
                                <button type="button" class="btn-new nav-item pl-0" btnRadio="Device" [disabled]="uncheckableButton=='GenericFile'" (click)="changeHidden('genericFile')">
                                    Generic File</button>
                                <button type="button" class="btn-new nav-item" btnRadio="Device" [disabled]="uncheckableButton=='CallServerApi'" (click)="changeHidden('callServerApi')"> Call Server API</button>
                            </div>

                        </div>
                    </div>
                    <!-- <div class="col-7">
                        <div class="no-gutter row ">
                            <div
                                [ngClass]="{'col-md-12': currentFile === null, 'col-md-5': currentFile !== null}">
                                <div class="row">
                                    <div class="align-self-center">
                                        <input #logoInput id="uploadFile" type="file" name="uploadFile"
                                            class="upload-icon form-control w-100"  [(ngModel)]="selectedFile"  accept=".WMA , WAV"
                                            [ngStyle]="{'width':(currentFile)!=null?'fit-content':'19%'}"
                                             (change)="processFileUpload($event.target.files)"
                                            style="margin: 0;">
                                    </div>
                                </div>
                            </div> -->
                    <div class="col-sm-3"></div>
                    <!-- <div class="col-md-2 align-self-center form-control" *ngIf="currentFile !== null">
                                <button class="btn_cntrl" (click)="clearLogo()">
                                    <i class="fa fa-times"></i>Delete
                                </button>
                            </div> -->
                    <!-- <div class="col-md-2 align-self-center" style="padding-right:0px"
                                *ngIf="currentFile !== null">
                                <button class="btn_cntrl" (click)="uploadFileData()">
                                    <i class="fa fa-upload"></i>&nbsp;Upload
                                </button>
                            </div> -->
                    <!-- <div class="col-md-2 align-self-center" style="padding:0px"
                                *ngIf="currentFile !== null">
                                <button class="btn_cntrl reset-btn" (click)="onResetLogo()">
                                    <i class="fa fa-undo"></i>&nbsp;Reset
                                </button>
                            </div> -->
                    <!-- </div>
                    </div> -->

                    <div class="col-3" style="text-align: right; padding-right: 2%">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div *ngIf="_isGenericFile" class="panel-body">
                        <div class="row">
                            <div class="col-2">
                                <label class="upload-file col-form-label">Upload Generic File</label>
                            </div>
                            <div class="col-7">
                                <div class="row">
                                    <div class="col-3">
                                        <div [ngClass]="{'col-md-12 p-0': currentFile === null, 'col-md-5': currentFile !== null}">
                                            <div class="row">
                                                <div class="align-self-center" style="margin-right: -48px">
                                                    <input #logoInput id="uploadFile" type="file" name="uploadFile" class="form-control w-100" [(ngModel)]="selectedFile" accept=".WMA , WAV" [ngStyle]="{'width':(currentFile)!=null?'fit-content':'19%'}" (change)="processFileUpload($event.target.files)" style="margin: 0;line-height: 16px;margin-left: 5px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3" *ngIf="currentFile !== null">
                                        <button class="btn_cntrl" (click)="clearLogo()">
                                            <i class="fa fa-times"></i>Delete
                                        </button>
                                    </div>
                                    <div class="col-3" *ngIf="currentFile !== null">
                                        <button class="btn_cntrl" (click)="uploadFileData()">
                                            <i class="fa fa-upload"></i>&nbsp;Upload
                                        </button>
                                    </div>
                                    <div class="col-3" *ngIf="currentFile !== null">
                                        <button class="btn_cntrl reset-btn" (click)="onResetLogo()">
                                            <i class="fa fa-undo"></i>&nbsp;Reset
                                        </button>
                                    </div>
                                </div>
                                <div class="no-gutter row ">

                                </div>
                            </div>
                            <div class="col-3" style="text-align: right; padding-right: 2%">
                                <label class="count ml-3">
                                    Uploded files count:
                                    {{(uploadFiles | filter: {
                                    name: searchQuery
                                    }).length }}
                                </label>
                                <!-- <i class="fa fa-filter" aria-hidden="true"></i> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <data-table #uploadFileGrid [columnDefs]="uploadFileColumns" [data]="uploadFiles | filter: {
                                    name: searchQuery}" [selectedHeight]="'62.5vh'" [colsTag]="'upload-file'" [dataflow]="isGenericRequestCompleted">
                                    <tableRow>
                                        <ng-template let-item="item" class="templateClass">
                                            <tr class="strip-table">
                                                <!-- style="width: 20% !important; text-align: justify;padding-left: 76px;" -->
                                                <td [title]="item.name" class="regular-text txt_rst" [width]="getColumnWidth(uploadFileColumns[0])">
                                                    {{item.name}} </td>
                                                <!-- <td [title]="item.type" class="regular-text txt_rst" style="max-width: 65px;"
                                                [width]="getColumnWidth(uploadFileColumns[1])">{{item.type}}</td> -->
                                                <td [width]="getColumnWidth(uploadFileColumns[1])" style="text-align: right;">
                                                    <ng-template #popTemplate>
                                                        <div>
                                                            <ul style="list-style: none; margin: 0; padding: 0;">
                                                                <li>
                                                                    <button class="pop-option" (click)="$event.stopPropagation();deleteFile(item);pop.hide()">
                                                                        Delete
                                                                    </button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </ng-template>
                                                    <button type="button" class="btn-opt" #pop="bs-popover" name="button-{{item.id}}" [popover]="popTemplate" [placement]="getPlacement(item)" [outsideClick]="true" (click)="$event.stopPropagation();" (onShown)="closeOldPop(pop)" data-container="body">
                                                        <a style="font-size: 1.4rem; letter-spacing: -2px;
                            color: #5F5F5F;">...</a>
                                                    </button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </tableRow>
                                </data-table>
                            </div>
                        </div>

                    </div>
                    <div *ngIf="!_isGenericFile" class="panel-body">
                        <div class="row">

                            <div class="col-sm-5">


                                <div class="divtab">
                                    <div class="div-tabchlr">
                                        <label for="instanceVendor" class="form-label upload-file m-0 p-0 mr-2">Vendor:</label>

                                    </div>
                                    <div class="div-tabchlr">
                                        <select required forbiddenValue="" [(ngModel)]="vendor" name="instanceVendor" id="instanceVendor" class="select-vendor " #instanceVendor="ngModel">
                                            <option selected value="">Select Resource</option>
                                            <option value="BROADWORKS">Broadworks</option>
                                        </select>
                                    </div>
                                    <!-- <div class="div-tabchlr">
                                            <label class="form-label upload-file m-0 p-0 mr-2 pl-1"> Upload File</label>
                                        </div> -->

                                    <div class="div-tabchlr">
                                        <input *ngIf="vendor!==''" #fileInput id="loadFile" type="file" name="loadFile" class="form-control w-100" style="margin: 0;line-height: 16px;padding-top: 8px;" accept=".xsd,.zip" [(ngModel)]="selectedServerApiFile" (change)="canOpenFileDialog($event.target.files)">

                                    </div>
                                </div>


                            </div>

                            <div class="col-sm-3">


                                <!-- <div class="divtab" *ngIf="vendor!==''"> -->
                                <!-- <div class="div-tabchlr">
                                        <label class="form-label upload-file m-0 p-0 mr-2 pl-1"> Upload File</label>
                                    </div> -->

                                <!-- <div class="div-tabchlr">
                                        <input #fileInput id="loadFile" type="file" name="loadFile" class="form-control w-100"
                                            style="margin: 0;line-height: 16px;margin-left: 5px;" accept=".xsd,.zip" [(ngModel)]="selectedServerApiFile"
                                            (change)="canOpenFileDialog($event.target.files)">
                                            
                                    </div>
                                </div> -->


                            </div>


                            <div class="col-sm-2"></div>
                            <div class="col-sm-2">
                                <label class="count p-0">
                                    Uploded File count:
                                    {{(uploadedApiFile | filter: {
                                    name: searchQuery
                                    }).length }}
                                </label>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-sm-5">
                                <div class="row">
                                    <div class="col-4">
                                        <button class="form-control" (click)="clearFile()" *ngIf="selectedServerApiFile !== ''"><i class="fa fa-times"></i>Delete
                                        </button>
                                    </div>
                                    <div class="col-4">
                                        <button class="form-control" (click)="uploadCallServerApiFile()" *ngIf="selectedServerApiFile !== ''"><i
                                                class="fa fa-upload"></i>&nbsp;Upload
                                        </button>
                                    </div>
                                    <div class="col-4">
                                        <button class="form-control" (click)="onResetFile()" *ngIf="selectedServerApiFile !== ''">
                                            <i class="fa fa-undo"></i>&nbsp;Reset
                                        </button>
                                    </div>
                                </div>



                            </div>
                            <div class="col-sm-2 call-count">
                                <!-- <label class="count p-0" >
                                        Uploded File count: 
                                        {{(uploadedApiFile | filter: {
                                            name: searchQuery
                                        }).length }}
                                    </label> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <data-table #uploadCallServerFileGrid [columnDefs]="uploadServerColumns" [data]="uploadedApiFile | filter: {
                                    name: searchQuery}" [selectedHeight]="'62.5vh'" [colsTag]="'upload-file'" [dataflow]="isCallServiceRequestCompleted">
                                    <tableRow>
                                        <ng-template let-item="item" class="templateClass">
                                            <tr class="strip-table">
                                                <!-- style="max-width: 6px; text-align: left;" -->
                                                <td [title]="item.vendor" class="regular-text txt_rst" [width]="getColumnWidthForCallServer(uploadServerColumns[0])">
                                                    {{item.vendor}}
                                                </td>
                                                <td [title]="item.fileName" class="regular-text txt_rst_Call" [width]="getColumnWidthForCallServer(uploadServerColumns[1])">
                                                    {{item.fileName}} </td>

                                                <td [width]="getColumnWidthForCallServer(uploadServerColumns[2])">
                                                    <ng-template #popTemplate>
                                                        <div>
                                                            <ul style="list-style: none; margin: 0; padding: 0;">
                                                                <li>
                                                                    <button class="pop-option" (click)="$event.stopPropagation();deleteUploadedApiFile(item);pop.hide()">
                                                                        Delete
                                                                    </button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </ng-template>
                                                    <button type="button" class="btn-opt" #pop="bs-popover" name="button-{{item.id}}" [popover]="popTemplate" [placement]="getPlacement(item)" [outsideClick]="true" (click)="$event.stopPropagation();" (onShown)="closeOldPop(pop)" data-container="body">
                                                        <a style="font-size: 1.4rem; letter-spacing: -2px;
                            color: #5F5F5F;">...</a>
                                                    </button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </tableRow>
                                </data-table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>