.d-heading {
  line-height: 28px;
  font-weight: 600;
  margin-top: 5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.card-width {
  width: max-content;
}
.card-size {
  width: 100px;
  border-radius: 5px;
}
p {
  font-size: 14px;
  font-weight: 500;
}
/* power bi css */
.header {
  background: #3476ae 0 0 no-repeat padding-box;
  border: 1px solid #707070;
  height: 55px;
}

.title {
  color: #fff;
  font: 700 22px/27px "Segoe UI";
  margin: 13px 13px 13px 36px;
  text-align: left;
}

.horizontal-rule {
  border: 1px solid #e0e0e0;
}

.separator {
  height: 45px;
}

.success {
  color: #107c41;
}

.error {
  color: #d13438;
}

.position {
  margin-top: 40vh !important;
}

.embed-report {
  margin-top: 18px;
  text-align: center;
}

#embed-action {
  margin-right: 0;
}

.display-message {
  align-items: center;
  display: flex;
  font: 400 18px/27px "Segoe UI";
  height: 30px;
  justify-content: center;
  margin-top: 8px;
  text-align: center;
}

.controls {
  /* margin-top: 1%; */
  text-align: center;
}
  
button:hover {
  cursor: pointer;
}

.footer {
  background: #eef3f8 0 0 no-repeat padding-box;
  bottom: 0;
  height: 39px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.footer-text {
  font: 400 16px/21px "Segoe UI";
  height: 21px;
  letter-spacing: 0;
  margin-top: 9px;
  opacity: 1;
  position: relative;
  text-align: center;
  width: 100%;
}

.footer-text > a {
  color: #606a74;
  font: Regular 16px/21px "Segoe UI";
  letter-spacing: 0;
  text-decoration: underline;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
}
.right {
  margin-left: auto;
  color: rgb(39, 49, 118);
  font-size: 12px;
  font-weight: 500;
}

.header-image {
  background-size: cover;
}
.report-title {
  display: inline-block;
  color: rgb(39, 49, 118);
  font: 500 20px / 30px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  padding: 6px 6px 6px 12px;
  text-align: left !important;
}
.card-title {
  display: inline-block;
  color: rgb(39, 49, 118);
  font: 500 20px / 30px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  padding: 10px 0px;
  text-align: left !important;
}
.card {
  border-radius: 5px;
  padding: 10px 0px;
}

@media (max-width: 540px) {
  .card-title {
    display: none;
  }
}

.note-panel{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
}

.note-body {
  margin-top: 1rem;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px #cbcbcb, 2px -1px 5px #cbcbcb;
  cursor: hand;
}

.note-icon {
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.light-text {
  color: #8a8a8a;
}

.mat-dialog-content{
  max-height: 85vh;
  padding-left: 2%;
  padding-right: 3%;
}

.card-main-header {
  justify-content: center;
}

.col-md-12 {
  margin-bottom: 2%;
  width: 85%;
}

.custom-col {
  margin-bottom: 2%;
}

@media (orientation: landscape) and (min-width: 480px){
  ::ng-deep .mat-dialog-container {
    max-width: 100vw;
    width: 80% !important;
  }
}

@media (orientation: landscape) and (min-width: 480px){
  ::ng-deep .cdk-overlay-pane{
    justify-content: center;
  }
}

@media (orientation: landscape) and (max-width: 1281px){
  .custom-col {
    width: 83%;
    margin-bottom: 2%;
  }
}

@media (orientation: landscape) and (max-width: 1281px){
  .mat-card-actions {
    padding-top: 0% ;
    font-size: 3vh;
    position: absolute;
    left: 36%;
    bottom: 3%;
  }
}

@media (orientation: landscape) and (max-width: 1281px){
  .col-md-12 {
    width: 89%;
    max-width: 90vw;
    margin-left: 0%;
  }
}

@media (orientation: landscape) and (max-width: 1281px){
  ::ng-deep .mat-dialog-container{
    max-width: 100vw;
    width: 80%; 
    padding-bottom: 0%;
    padding-top: 0%;
  }
}

@media (orientation: landscape) and (max-width: 1281px){
  #images-row {
    justify-content: center;
    margin-left: 0%;
  }
}

@media (orientation: portrait) and (max-width: 1281px){
  .col-md-12 {
    width: 100%;
    max-width: 90vw;
  }
}

@media (orientation: portrait) and (max-width: 767px){
  ::ng-deep #images-row{
    justify-content: center !important;
  }
}

.clickable-item {
  cursor: pointer;
  color: darkblue !important;
  text-decoration: underline !important;
}
