<div>
  <app-banner [stylesflag]="'dashboard'" *lcCheckAccessFor="'showBanner'"></app-banner>
  <div class="container-fluid controls" id="reportContainer">
    <ng-container *ngIf="hasDashboardDetails; then reportView;else blankView"></ng-container>
    <div mat-dialog-actions id="custom-button">
        <button mat-stroked-button type="button" id="cancel-button" (click)="onClose()">Close</button>
    </div>
  </div>

  <!-- blank view -->
  <ng-template #blankView>
    <div class="jumbotron d-flex align-items-center bg-transparent">
      <div class="container">
        <img *ngIf="isLoadingResults" height="80" width="80" src="assets/images/spinner.gif"
          alt="loading spinner gif">
        <h2 *ngIf="!isLoadingResults">
          Failed to load the dashboard. Please reach out to tekVizion support.
        </h2>
      </div>
    </div>
  </ng-template>

    <!-- pbrs report images view -->
  <ng-template #reportView>
    <mat-dialog-content>
      <h2>Historical Dashboard</h2>
      <ng-container *lcCheckAccessFor="'showLatestNote'">
        <div class="p-2">
          <div class="row">
            <a class="col-md-6 offset-md-3 col-sm-12 note-body p-3">
              <div class="row">
                <div class="col-11 note-container" style="text-align: left;">
                  <span class="text-sm mb-1 light-text">{{note.openDate | date: 'MMM, d, YYYY hh:mm:ss'}}</span>
                  <h3 class="font-weight-bolder mb-0 note-content">
                    {{note.content}}
                  </h3>
                  <p class="text-sm mb-0 font-weight-bold note-content">{{note.openedBy}}</p>
                </div>
                <div class="col-1 pl-1">
                  <mat-icon class="note-icon">description</mat-icon>
                </div>
              </div>
            </a>
          </div>
        </div>
      </ng-container>
      <div class="container-fluid controls" id="reportContainer">
        <br>
        <section>
          <div class="flex-container mb-2 justify-content-center">
            <div>
              <mat-button-toggle-group id="toggle-button" [formControl]="fontStyleControl" aria-label="Font Style"
                (change)="onChangeButtonToggle()">
                <mat-button-toggle [value]="DAILY">{{DAILY | titlecase}}</mat-button-toggle>
                <mat-button-toggle [value]="WEEKLY">{{WEEKLY | titlecase}}</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
          <ng-container *ngIf="checkForDashboardDetails(); then withReport;else noReport"> </ng-container>
        </section>
      </div>
    </mat-dialog-content>
  </ng-template>

</div>
  
<ng-template #withReport>
    <div class="row" id="images-row" *ngFor="let item of resultantImagesList;let i=index; ">
        <div [ngClass]="{'col-md-6 custom-col':item.reportType===DAILY,'col-md-12 offset-lg-1':item.reportType===WEEKLY}"
            *ngFor="let image of item.imagesList;let i1=index;">
            <mat-card class="card">
                <mat-card-header class="card-main-header">
                <mat-card-title class="card-title">{{image.reportType}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                <img [src]="image.imageBase64" class="img-fluid header-image" [id]="i">
                <mat-card-actions>
                  <a *ngIf="item.reportType===DAILY && image.reportType!==VQ_NAME" class="clickable-item" (click)="onClickMoreDetails(i1)">Click here for detailed report</a>
                </mat-card-actions>
                </mat-card-content>
                
            </mat-card>
        </div>
    </div>
</ng-template>

<ng-template #noReport>
  <div class="jumbotron d-flex align-items-center bg-transparent justify-content-center">
    <h2>No Reports available</h2>
  </div>
</ng-template>
