<div class="container-fluid content">
    <main>
        <div class="row">
            <div class="col">
                <button mat-stroked-button (click)="goToDashboard()">Back</button>
            </div>
            <div class="col">
                <h1>{{currentCustomer.customerName}} - {{currentCustomer.subaccountName}}</h1>
            </div>
            <div class="col">
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle value="add-new-license" (change)="onChangeToggle($event)">Add New License
                    </mat-button-toggle>
                    <mat-button-toggle value="add-license-consumption" (change)="onChangeToggle($event)">Add License
                        Consumption</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </main>
    <!-- license summary section -->
      <h2>License Summary</h2>
    <section>
        <div class="example-container mat-elevation-z8">
            <app-data-table
                [tableData]="data"
                [tableColumns]="licenseSummaryColumns" 
                [isFilterable]="false"
                [isPageable]="false"
                [isLoadingResults]="isLicenseSummaryLoadingResults"
                [isRequestCompleted]="isLicenseSummaryRequestCompleted"
                [paginationSizes]="[5,10,20]"
                [defaultPageSize]="5"
                >
            </app-data-table>
        </div>
    </section>
    <br>
    <!-- Equipment summary section -->
    <h2>Equipment Summary</h2>
    <section>
        <div class="example-container mat-elevation-z8">
            <app-data-table
                [tableData]="equipmentData"
                [tableColumns]="equipmentSummaryColumns" 
                [isFilterable]="false"
                [isPageable]="false"
                [isLoadingResults]="isEquipmentSummaryLoadingResults"
                [isRequestCompleted]="isEquipmentSummaryRequestCompleted"
                [paginationSizes]="[5,10,20]"
                [defaultPageSize]="5"
                (sort)="sortDataEquipment($event)"
                [rowActionIcon]="'more_vert'"
                (rowAction)="equipmentRowAction($event)"
                [actionMenuList]="equipmentActionMenuOptions"
                >
            </app-data-table>
        </div>
    </section>
    <!-- Detailed Usage for month section -->
    <br>
    <h2> Detailed Usage for Month</h2>
    <section>
        <!-- date range -->
        <div style="display: flex;">
            <div>
                <mat-form-field appearance="outline" class="example-form-field">
                    <input required matInput [value]="selectedDate" [matDatepicker]="picker" placeholder="Choose Month and Year">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker startView="year" (monthSelected)="setMonthAndYear($event, picker)"></mat-datepicker>
                </mat-form-field>
            </div>
            <div>
                <h5 class="mt-4">Choose Month to View License Consumption Details (default to current Month)</h5>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                <div class="example-container mat-elevation-z8">
                    <app-data-table
                    [tableData]="weeklyConsumptionData"
                    [tableColumns]="detailedConsumptionColumns" 
                    [isFilterable]="false"
                    [isPageable]="false"
                    [isLoadingResults]="isLicenseSummaryLoadingResults"
                    [isRequestCompleted]="isLicenseSummaryRequestCompleted"
                    [paginationSizes]="[5,10,20]"
                    [defaultPageSize]="5"
                    >
                    </app-data-table>
                </div>
            </div>
            <div class="col-8">
                <div class="example-container mat-elevation-z8">
                    <app-data-table
                    [tableData]="detailedConsumptionData"
                    [tableColumns]="detailedConsumptionSummaryColumns" 
                    [isFilterable]="false"
                    [isPageable]="false"
                    [isLoadingResults]="isDetailedConsumptionLoadingResults"
                    [isRequestCompleted]="isDetailedConsumptionRequestCompleted"
                    [paginationSizes]="[5,10,20]"
                    [defaultPageSize]="5"
                    (sort)="sortData($event)"
                    [rowActionIcon]="'more_vert'"
                    (rowAction)="licConsumptionRowAction($event)"
                    [actionMenuList]="licConsumptionActionMenuOptions"    
                    >
                    </app-data-table>
                </div>
            </div>
        </div>
    </section>
</div>