<div class="container" style="text-align: center;">
    <h1 mat-dialig-title id="modal-title">Add Customer Account</h1>
    <form [formGroup]="addCustomerForm" (ngSubmit)="addCustomer()">
        <div class="flex-container">
            <div class="loading-shade" *ngIf="isDataLoading">
                <mat-spinner *ngIf="isDataLoading"></mat-spinner>
            </div>
            <mat-dialog-content>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label id="customer-name-label">Customer Name</mat-label>
                        <input matInput required formControlName="customerName" id="customerName">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label id="customer-type-label">Customer Type</mat-label>
                        <mat-select required formControlName="customerType">
                            <mat-option *ngFor="let item of types" [value]="item" title="{{item}}">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label id="admin-email-label">Administrator Email</mat-label>
                        <input matInput type="email" required formControlName="adminEmail">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label id="subaccount-label">Subaccount</mat-label>
                        <input matInput required formControlName="subaccountName">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label id="subaccount-admin-email-label">Subaccount Administrator Email</mat-label>
                        <input matInput type="email" required formControlName="subaccountAdminEmail">
                    </mat-form-field>
                </div>
                <div>
                    <section class="text-left">
                        <mat-checkbox id="test-customer-checkbox" color="primary" formControlName="testCustomer">Test Customer</mat-checkbox>
                        <small class="text-muted d-block">(For development and testing)</small>
                    </section>
                </div>
            </mat-dialog-content>
        </div>
        <mat-dialog-actions>
            <button id="cancelBtn" type="button" mat-stroked-button (click)="onCancel()">Cancel</button>
            <button id="submitBtn" mat-raised-button color="primary" [disabled]="addCustomerForm.invalid" type="submit">Submit</button>
        </mat-dialog-actions>
    </form>
</div>