<div class="container" style="text-align: center;">
    <h2>Add Customer Account</h2>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Customer Name</mat-label>
            <input matInput required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Sub Account</mat-label>
            <input matInput required>
        </mat-form-field>
    </div>
    <div>
        <button mat-stroked-button (click)="onCancel()">Cancel</button>
        &nbsp;
        <button mat-raised-button color="primary" (click)="onCancel()">Submit</button>
    </div>
</div>