:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.flex-container > div {
  margin: 10px;
  text-align: center;
}
mat-form-field {
  width: 100%;
}
.checkbox-margin {
  margin-right: 16%;
}
.checkbox-hint {
  margin-top: -10px;
}
ul {
  list-style-type: none;
  margin-top: 4px;
  padding: 0px;
}
.text-content1{
  text-align: left;
  color: #bb2426;
}