<div class="container" style="text-align: center;">
    <h1 mat-dialig-title id="modal-title">Profile</h1>
    <form [formGroup]="viewProfileForm" (ngSubmit)="updateProfile()">
        <div class="flex-container">
            <div class="loading-shade" *ngIf="isDataLoading">
                <mat-spinner *ngIf="isDataLoading"></mat-spinner>
            </div>
            <mat-dialog-content>
                <!-- name -->
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label id="name-label">Name</mat-label>
                        <input matInput required formControlName="name">
                    </mat-form-field>
                </div>
                <!-- job title -->
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label id="job-title-label">Job Title</mat-label>
                        <input matInput required formControlName="jobTitle">
                    </mat-form-field>
                </div>
                <!-- email -->
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label id="email-label">Email</mat-label>
                        <input disabled matInput required formControlName="email">
                    </mat-form-field>
                </div>
                <!-- company name -->
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label id="company-name-label">Company Name</mat-label>
                        <input matInput required formControlName="companyName">
                    </mat-form-field>
                </div>
                <!-- phone number -->
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label id="phone-number-label">Phone Number</mat-label>
                        <input matInput required formControlName="phoneNumber">
                    </mat-form-field>
                </div>
                <!-- type -->
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Select Type</mat-label>
                        <mat-select formControlName="type" id="type">
                            <mat-option value="TYPE:High level"> High level </mat-option>
                            <mat-option value="TYPE:Detailed"> Detailed </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!-- notifications -->
                <div>
                    <ul>
                        <div class="row" *ngFor="let item of reports;let i=index;">
                            <div class="col-10 text-left">
                                <label for="notification_{{i}}">
                                    {{item.label}}
                                </label>
                            </div>
                            <div class="col-2 text-right">
                                <mat-checkbox id="notification_checkbox_{{i}}"
                                    [checked]="selectedNotifications.isSelected(item)" [color]="'primary'"
                                    (click)="setNotifications(item,$event)">
                                </mat-checkbox>
                            </div>
                        </div>
                    </ul>
                </div>

            </mat-dialog-content>
        </div>
        <mat-dialog-actions>
            <button type="button" id="cancelBtn" mat-stroked-button (click)="onCancel('cancel')" [disabled]="isUpdatedClicked">Cancel</button>
            <button id="submitBtn" mat-raised-button color="primary"
                [disabled]="viewProfileForm.invalid || isUpdatedClicked" type="submit">Update</button>
        </mat-dialog-actions>
    </form>
</div>