<div class="modal-header" draggableModal>
  <label class="modal-title">Get Trace</label>
  <button type="button" class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form (keydown.enter)="$event.preventDefault()" #myActionForm="ngForm">
  <div class="modal-body">
    <div class="mycontainer">
      <div class="form-group row">
        <label for="outTraceField" class="col-sm-2 col-form-label phone-label">Out Trace</label>
        <div class="col-sm-3">
          <select required forbiddenValue="" class="form-control" [(ngModel)]="outTrace" id="outTraceField"
            name="outTraceField" #outTraceField="ngModel">
            <option disabled selected value="">Select Trace</option>
            <option *ngFor="let variable of variables" value="{{variable.name}}">{{variable.name}}</option>
          </select>
        </div>
        <label for="resourceField" class="col-sm-2 col-form-label phone-label">Resource</label>
        <div class="col-sm-3">
          <select required forbiddenValue="" class="form-control" [(ngModel)]="resource" id="resourceField"
            name="resourceField" #resourceField="ngModel">
            <option disabled selected value="">Select Phone</option>
            <option *ngFor="let resource of resources " value="{{resource.name}}">{{resource.name}}</option>
          </select>
        </div>
      </div>
      <hr class="separator">
      <div class="form-group row">
        <label for="failure" class="col-sm-3 col-form-label phone-label">Continue OnFailure</label>
        <div class="col-sm-3" style="margin-top: 5px; padding-left:0px;">
          <label class="phone-label">
            <input type="radio" name="failure" [value]="true" [(ngModel)]="continueOnFailure" #failure="ngModel">&nbsp;
            <span>True</span>
          </label>&nbsp;
          <label class="phone-label">
            <input type="radio" name="failure" [value]="false" [(ngModel)]="continueOnFailure" #failure="ngModel">
            &nbsp;
            <span>False</span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div *ngIf="title" class="mr-auto"
      style="background-color: #7694B7; height: 30px; width: 30px; border-radius: 100%; margin-top:-2%">
      <img src="assets/images/icons/info.svg" title="{{title}}" style="width:30px; height:30px;">
    </div>
    <button (click)="cancel()" class="modal-cancel-btn">
      Cancel
    </button>
    <button class="modal-scs-btn" (click)="insertAction()" [disabled]="!myActionForm.form.valid">
      <span *ngIf="!actionToEdit">
        Insert Action
      </span>
      <span *ngIf="actionToEdit">
        Update Action
      </span>
    </button>
  </div>
</form>