<!-- Load Leaflet from CDN-->
<app-banner [stylesflag]="'notes'" *lcCheckAccessFor="'showBanner'"></app-banner>
<div>
  <div class="banner-container" style="padding-bottom: 1%; padding-top: 1%;">
      <mat-button-toggle-group  aria-label="Font Style"
        (change)="onChangeButtonToggle()">
        <mat-button-toggle [value]="LINKED">{{LINKED | titlecase}}</mat-button-toggle>
        <mat-button-toggle [value]="HEAT">{{HEAT | titlecase}}</mat-button-toggle>
      </mat-button-toggle-group>
  </div>
  <div id="map"></div>
</div>


