.title {
    font-family: 'Helvetica Neue Regular';
    color: #43425d;
    font-size: 18px;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.dashboard {
    background: #f1f0f0;
    height: 90%;
    width: 95%;
    margin-left: 20px;
}

.regular-text {
    font-family: 'Helvetica Neue Regular';
    color: #414141;
    font-size: 14px;
}

.action-btn {
    background: none;
    color: #7694B7;
    border: 0;
    font-size: 14px;
    font-family: 'Helvetica Neue Regular';
    margin-left: 22px;
}