<div class="dashboard">
    <div class="row">
        <div class="col-3">
            <div class="panel panel-default col-12" style="height: 300px; background-color: white;">
                <div class="row">
                    <div class="title">
                        Licenses
                        <button class="action-btn" (click)="updateLicense()">Update License</button>
                        <hr>
                    </div>
                </div>
                <div class="list">
                    Update License
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="panel panel-default col-12" style="height: 300px; background-color: white;">
                <div class="title">
                    SMTP
                    <button class="action-btn">Setup</button>
                    <hr>
                </div>
                <div class="list">
                    Hostname: <span style="float: right">Hostname text</span>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="panel panel-default col-12" style="height: 300px; background-color: white;">
                <div class="row">
                    <div class="title">
                        Users
                        <button class="action-btn" (click)="newUser()">Add New User</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" style="height: 250px;">
                        <data-table [columnDefs]="userColumns" [data]="availableUsers" [selectedHeight]="'20vh'"
                                    [colsTag]="'users'">
                            <tableRow>
                                <ng-template let-item="item" class="templateClass">
                                    <tr>
                                        <td class="regular-text" [width]="getUsersColumnWidth(userColumns[0])">
                                            {{item.name}}
                                        </td>
                                        <td class="regular-text" style="text-align: center;"
                                            [width]="getUsersColumnWidth(userColumns[1])">
                                            {{item.loginId}}
                                        </td>
                                        <td class="regular-text"
                                            style="overflow: hidden; text-align: center; text-overflow: ellipsis; white-space: nowrap;"
                                            [width]="getUsersColumnWidth(userColumns[2])">
                                            {{item.roles | rolePipe}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </tableRow>
                        </data-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-9">
            <div class="panel panel-default" style="height: 300px; background-color: white;">
                <div class="title">
                    Database Backup/Restore
                    <button class="action-btn">Create Database</button>
                </div>
                <div class="col-12">
                    <data-table [columnDefs]="dbColumns" [data]="availableDbs" [colsTag]="'databases'">
                        <tableRow>
                            <ng-template let-item="item" class="templateClass">
                                <tr>
                                    <td style="text-align: left" class="regular-text"
                                        [width]="getColumnWidth(dbColumns[0])">
                                        {{item.server}}
                                    </td>
                                    <td style="text-align: left" class="regular-text"
                                        [width]="getColumnWidth(dbColumns[1])">
                                        {{item.hostname}}
                                    </td>
                                    <td style="text-align: left" class="regular-text"
                                        [width]="getColumnWidth(dbColumns[2])">
                                        {{item.ip}}
                                    </td>
                                    <td style="text-align: left" class="regular-text"
                                        [width]="getColumnWidth(dbColumns[3])">
                                        {{item.directory}}
                                    </td>
                                    <td style="text-align: left" class="regular-text"
                                        [width]="getColumnWidth(dbColumns[4])">
                                        {{item.username}}
                                    </td>
                                    <td style="text-align: left" class="regular-text"
                                        [width]="getColumnWidth(dbColumns[5])">
                                        {{item.connectivity}}
                                    </td>
                                    <td style="text-align: left" class="regular-text"
                                        [width]="getColumnWidth(dbColumns[6])">Backup now
                                    </td>
                                </tr>
                            </ng-template>
                        </tableRow>
                    </data-table>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="panel panel-default col-12" style="height: 300px; background-color: white;">
                <div class="title">
                    SNMP
                    <button class="action-btn">Setup</button>
                    <hr>
                </div>
                <div class="list">
                    Update License
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-9">
            <div class="panel panel-default" style="height: 300px; background-color: white;">
                <div class="title">
                    Links
                </div>
                <div class="col-12">
                    <data-table [columnDefs]="linkColumns" [data]="availableLinks" [colsTag]="'links'">
                        <tableRow>
                            <ng-template let-item="item" class="templateClass">
                                <tr>
                                    <td style="text-align: left" class="regular-text"
                                        [width]="getColumnWidth(linkColumns[0])">
                                        {{item.name}}
                                    </td>
                                    <td style="text-align: left" class="regular-text"
                                        [width]="getColumnWidth(linkColumns[1])">
                                        {{item.site}}
                                    </td>
                                    <td style="text-align: left" class="regular-text"
                                        [width]="getColumnWidth(linkColumns[2])">
                                        {{item.license}}
                                    </td>
                                    <td style="text-align: left" class="regular-text"
                                        [width]="getColumnWidth(linkColumns[3])">
                                        {{item.version}}
                                    </td>
                                    <td style="text-align: left" class="regular-text"
                                        [width]="getColumnWidth(linkColumns[4])">
                                        {{item.registered}}
                                    </td>
                                    <td style="text-align: left" class="regular-text"
                                        [width]="getColumnWidth(linkColumns[5])">
                                        {{item.status}}
                                    </td>
                                    <td style="text-align: left" class="regular-text"
                                        [width]="getColumnWidth(linkColumns[6])">
                                        <button class="action-btn">Start</button>
                                        <button class="action-btn">Stop</button>
                                        <button class="action-btn">Delete</button>
                                    </td>
                                </tr>
                            </ng-template>
                        </tableRow>
                    </data-table>
                </div>
            </div>
        </div>
    </div>
</div>
