<div class="modal-header" draggableModal>
    <label class="modal-title">Add Resources To Group</label>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form (keydown.enter)="$event.preventDefault()" #myActionForm="ngForm">
    <div class="modal-body" style="height:30vh;">
        <div class="mycontainer">
            <div class="form-group row">
                <!-- resource -->
                <label for="device" class="col-sm-1 col-form-label phone-label">Group</label>
                <div class="col-sm-3">
                    <select required forbiddenValue="" class="form-control" [(ngModel)]="selectedResource"
                        (change)="onSelectResource($event.target.value)" id="device" name="device" #device="ngModel">
                        <option disabled selected value="">Select Group</option>
                        <option *ngFor="let resource of groupResources" value="{{resource.name}}">
                            {{resource.name}}</option>
                    </select>
                </div>
                <!-- add resource to group -->
                <label for="device" class="col-sm-1 col-form-label phone-label">Resource</label>
                <div class="col-5">
                    <ng-select class="form-control" [items]="resources" name="group-resources" forbiddenValue=[]
                        required labelForId="group-resources" bindLabel="name" bindValue="name"
                        placeholder="Select Resource" [multiple]="true" [(ngModel)]="selectedGroupResources"
                        (change)="onSelectGroupResources($event)" [virtualScroll]="true">
                        <ng-template ng-option-tmp let-item="item">
                            <div [title]="item.name">{{item.name}}</div>
                        </ng-template>
                    </ng-select>
                </div>
            </div>
            <hr class="horizantalrolar">
            <div class="form-group row">
                <label for="failure" class="col-sm-3 col-form-label phone-label">Continue On
                    Failure</label>
                <div class="col-sm-3" style="margin-top: 5px;">
                    <label class="phone-label">
                        <input type="radio" name="failure" [value]="true" [(ngModel)]="continueOnFailure"
                            #failure="ngModel">&nbsp;
                        <span>True</span>
                    </label>&nbsp;
                    <label class="phone-label">
                        <input type="radio" name="failure" [value]="false" [(ngModel)]="continueOnFailure"
                            #failure="ngModel">
                        &nbsp;
                        <span>False</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="cancel()" class="modal-cancel-btn">
            Cancel
        </button>
        <button class="modal-scs-btn" (click)="insertAction()" [disabled]="!myActionForm.form.valid">
            <span *ngIf="!actionToEdit">
                Insert Action
            </span>
            <span *ngIf="actionToEdit">
                Update Action
            </span>
        </button>
    </div>
</form>