<table style="width: 100%;">
    <tbody class="master-body">
        <tr *ngIf="!multiple">
            <td class="regular-text" [width]="getColumnWidth(runColumns[0])">
                <i class="fa fa-angle-down" *ngIf="runDetails" (click)="showRunDetails();">
                    <span class="regular-text">
                        &nbsp;Run: {{run.runNo}}
                    </span>
                </i>
                <i class="fa fa-angle-right" *ngIf="!runDetails" (click)="showRunDetails();">
                    <span class="regular-text" style="cursor: pointer;">
                        &nbsp;Run: {{run.runNo}}
                    </span>
                </i>
            </td>
            <td class="regular-text" [width]="getColumnWidth(runColumns[1])">
                <b style="cursor: pointer;"
                    [ngStyle]="{'color':run.status=='FAIL TO START'?'#CB3333':'black','cursor':run.status=='FAIL TO START'?'pointer':''}"
                    (click)="onStatusClick(errorMessage)">{{run.status | titlecase }}</b>
            </td>
            <td [width]="getColumnWidth(runColumns[2])">
                <table class="totals-table" style="margin: auto">
                    <tbody>
                        <tr>
                            <td class="regular-text" style="color:#7694B7;">Total: {{run.totalCount | notEmpty}}</td>
                            <td class="regular-text">Queued: {{run.queuedCount | notEmpty}}</td>
                            <td class="regular-text" *ngIf="!run.validateExpression" style="color: #0E8B18;">Passed:
                                {{run.passCount | notEmpty}}</td>
                            <td class="regular-text" *ngIf="run.validateExpression">
                                <span style="color: #0E8B18;">Passed: {{run.passCount | notEmpty}}</span>
                                <span style="color: #CB3333;">*</span>
                            </td>
                            <td class="regular-text" style="color:#CB3333;">Failed: {{run.failCount | notEmpty}}</td>
                            <td class="regular-text">Interrupted: {{run.interruptedCount | notEmpty}}</td>
                            <td class="regular-text">Aborted: {{run.abortedCount | notEmpty}}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td class="regular-text" [width]="getColumnWidth(runColumns[3])">
                <!-- Start Date: {{run.startDate| date:'short'}} -->
                Start Date: {{run.startDateString}}
            </td>
            <td class="regular-text" [width]="getColumnWidth(runColumns[4])">
                <!-- End Date: {{run.endDate| date:'short'}} -->
                End Date: {{run.endDateString}}
            </td>
            <td [width]="getColumnWidth(runColumns[5])">
                <button class="btn-download" *ngIf="!this.executionStatus.includes(run.status.toLowerCase())"
                    style="margin-left: 0px !important;" [disabled]="disabledDownloadButton" (click)="downloadLogs(run)">Logs
                </button>
            </td>
            <td [width]="getColumnWidth(runColumns[6])">
                <button class="btn-download" style="margin-left: 0px !important;"
                    (click)="$event.stopPropagation();downloadReport(run);" [disabled]="disabledReportButton" >Report</button>
            </td>
        <tr>
        <tr *ngIf="multiple">
            <div *ngFor="let item of instances">
                <td class="regular-text" [width]="getColumnWidth(runColumns[0])">
                    <i class="fa fa-angle-down" *ngIf="item.show" (click)="showRunDetails(item);">
                        <span class="regular-text">
                            &nbsp;Run: {{item.runNo}}
                        </span>
                    </i>
                    <i class="fa fa-angle-right" *ngIf="!item.show" (click)="showRunDetails(item);">
                        <span class="regular-text" style="cursor: pointer;">
                            &nbsp;Run: {{item.runNo}}
                        </span>
                    </i>
                </td>
                <td class="regular-text" [width]="getColumnWidth(runColumns[1])">
                    <b style="cursor: pointer;"
                        [ngStyle]="{'color':item.status=='FAIL TO START'?'#CB3333':'black','cursor':item.status=='FAIL TO START'?'pointer':''}"
                        (click)="onStatusClick(errorMessage)">{{item.status | titlecase }}</b>
                </td>
                <td [width]="getColumnWidth(runColumns[2])">
                    <table class="totals-table" style="margin: auto">
                        <tbody>
                            <tr>
                                <td class="regular-text" style="color:#7694B7;">Total: {{item.totalCount | notEmpty}}
                                </td>
                                <td class="regular-text">Queued: {{item.queuedCount | notEmpty}}</td>
                                <td class="regular-text" *ngIf="!item.validateExpression" style="color: #0E8B18;">
                                    Passed:
                                    {{item.passCount | notEmpty}}</td>
                                <td class="regular-text" *ngIf="item.validateExpression">
                                    <span style="color: #0E8B18;">Passed: {{item.passCount | notEmpty}}</span>
                                    <span style="color: #CB3333;">*</span>
                                </td>
                                <td class="regular-text" style="color:#CB3333;">Failed: {{item.failCount | notEmpty}}
                                </td>
                                <td class="regular-text">Interrupted: {{item.interruptedCount | notEmpty}}</td>
                                <td class="regular-text">Aborted: {{item.abortedCount | notEmpty}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td class="regular-text" [width]="getColumnWidth(runColumns[3])">
                    <!-- Start Date: {{item.startDate| date:'short'}} -->
                    Start Date: {{item.startDateString}}
                </td>
                <td class="regular-text" [width]="getColumnWidth(runColumns[4])">
                    <!-- End Date: {{item.endDate| date:'short'}} -->
                    End Date: {{item.endDateString}}
                </td>
                <td [width]="getColumnWidth(runColumns[5])">
                    <button class="btn-download" *ngIf="!this.executionStatus.includes(item.status.toLowerCase())"
                        style="margin-left: 0px !important" (click)="downloadLogs(item)">Logs
                    </button>
                </td>
                <td [width]="getColumnWidth(runColumns[6])">
                    <button class="btn-download" style="margin-left: 0px !important"
                        (click)="$event.stopPropagation();downloadReport(item);">Report</button>
                </td>
        <tr *ngIf="item.show && multiple">
            <td colspan="10" style="padding: 0;">
                <run-details [run]="item"></run-details>
            </td>
        </tr>
        </div>
        <tr>
        <tr *ngIf="runDetails && !multiple">
            <td colspan="10" style="padding: 0;">
                <run-details [run]="run"></run-details>
            </td>
        </tr>
    </tbody>
</table>
<!-- Fail to start reason modal -->
<ng-template #errorMessage>
    <div class="modal-header" draggableModal>
        <label class="modal-title pull-left">Failure Reason</label>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide();">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <label class="form-label regular-text">
                    {{run.errorReason}}
                </label>
            </div>
        </div>
    </div>

</ng-template>