mat-form-field {
    width: 100%;
}
.setup-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
h1 {
    font: 500 20px / 32px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    margin: 0 0 5px;
    padding-top: 5px;
}
.group-btn-container {
    display: flex;
}
.edit-btn {
    padding-left: 0;
    padding-right: 0;
}

.email-info{
    border: 1px solid;
    border-radius: 10px;
    padding: 2px 10px 2px 10px;
    margin-bottom: 20px;
    border-color: #6E76B4;
    text-align: left;
    width: auto;
}

.email-label{
    font-size: 12px;
    font-weight: bold;
}

.delete-button{
    margin-bottom: 4%;
}