<app-banner [stylesflag] = "'setup'" *ngIf = "loggedInUserRoles[0] !== 'customer.SubaccountStakeholder' && loggedInUserRoles[0] !== 'customer.SubaccountAdmin'"></app-banner>
<div class="container">
    <div class="flex-container">
        <div class="loading-shade" *ngIf="isDataLoading">
            <mat-spinner *ngIf="isDataLoading"></mat-spinner>
        </div>
        <div class="setup-container">
            <div>
                <h1 mat-dialig-title>SpotLight Setup Details</h1>
            </div>
            <div>
                <ng-container *ngIf="!isEditing">
                    <div class="col-auto edit-btn">
                        <button class="col-auto" mat-raised-button id="edit-details-button" (click)="editForm()">
                            Edit Setup Details
                        </button>
                    </div>
                </ng-container>
            </div>
            <div *ngIf="isEditing" class="group-btn-container">
                <ng-container>
                    <div class="col-auto">
                        <button color="primary" mat-raised-button id="update-button" (click)="submit()">
                            Update
                        </button>
                    </div>
                    <div class="col-auto">
                        <button color="warn" mat-raised-button id="cancel-button" (click)="cancelEdit()">
                            Cancel
                        </button>
                    </div>
                </ng-container>
            </div>
        </div>
        <br>
        <div *ngIf="!isDataLoading">
            <form [formGroup]="setupForm" (ngSubmit)="submit()">
                <div class="row">
                    <div class="col-md-6 d-flex">
                        <mat-checkbox class="example-margin" labelPosition="before"
                            formControlName="onBoardingComplete">On Boarding Complete</mat-checkbox>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label id="azure-resource-group-label">Azure Resource Group</mat-label>
                            <input matInput required formControlName="azureResourceGroup" id="azure-resource-group">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label id="tap-url-label">TAP URL</mat-label>
                            <input matInput required formControlName="tapUrl" id="tap-url">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label id="status-label">Status</mat-label>
                            <mat-select required formControlName="status" id="status">
                                <mat-option *ngFor="let status of statusOptions | keyvalue" [value]="status.key" id="{{status.value.label}}">
                                    {{status.value.label}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label id="powerbi-workspace-label">Power BI Workspace ID</mat-label>
                            <input matInput formControlName="powerBiWorkspaceId" id="powerbi-workspace">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label id="powerbi-report-label">Power BI Report ID</mat-label>
                            <input matInput formControlName="powerBiReportId" id="powerbi-report">
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>