<app-banner [stylesflag] = "'setup'" *lcCheckAccessFor="'showBanner'"></app-banner>
<div class="container-fluid">
    <div class="flex-container">
        <div class="loading-shade" *ngIf="isDataLoading">
            <mat-spinner *ngIf="isDataLoading"></mat-spinner>
        </div>
        <div class="setup-container flex-sm-row flex-column">
            <div>
                <h1 mat-dialig-title id="setup-title">Spotlight Setup Details</h1>
            </div>
            <div>
                <div *ngIf="!isEditing" class="group-btn-container d-flex justify-content-end">
                    <div class="col-auto">
                        <button class="col-auto" mat-raised-button id="edit-details-button" (click)="editForm()">
                            Edit Setup Details
                        </button>
                    </div>
<!--                    <div class="col-auto">-->
<!--                        <button class="col-auto" color="warn" mat-raised-button id="edit-details-button" (click)="editForm()">-->
<!--                            Enable Maintenance Mode-->
<!--                        </button>-->
<!--                    </div>-->
                </div>
            </div>
            <div *ngIf="isEditing" class="group-btn-container d-flex justify-content-end">
                <ng-container>
                    <div class="col-auto">
                        <button color="primary" mat-raised-button id="update-button" (click)="submit()" id="update-button" [disabled]="!setupForm.valid">
                            Update
                        </button>
                    </div>
                    <div class="col-auto">
                        <button color="warn" mat-raised-button id="cancel-button" (click)="cancelEdit()" id="cancel-button">
                            Cancel
                        </button>
                    </div>
                </ng-container>
            </div>
        </div>
        <br>
        <div *ngIf="!isDataLoading">
            <form [formGroup]="setupForm" (ngSubmit)="submit()" id="setup-form">
                <div class="row">
                    <div class="col-md-6 d-flex">
                        <mat-checkbox labelPosition="before" formControlName="maintenance" (change)="maintenanceChange($event)">Maintenance Mode</mat-checkbox>
                    </div>
                    <div class="col-md-6 d-flex">
                        <mat-checkbox labelPosition="before" formControlName="onBoardingComplete">On Boarding Complete</mat-checkbox>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label id="azure-resource-group-label">Azure Resource Group</mat-label>
                            <input matInput required formControlName="azureResourceGroup" id="azure-resource-group">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label id="tap-url-label">TAP URL</mat-label>
                            <input matInput required formControlName="tapUrl" id="tap-url">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label id="status-label">Status</mat-label>
                            <mat-select required formControlName="status" id="status">
                                <mat-option *ngFor="let status of statusOptions | keyvalue" [value]="status.key" id="{{status.value.label}}">
                                    {{status.value.label}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
