<app-banner [stylesflag] = "'setup'" *lcCheckAccessFor="'showBanner'"></app-banner>
<div class="container-fluid">
    <div class="flex-container">
        <div class="loading-shade" *ngIf="isDataLoading">
            <mat-spinner *ngIf="isDataLoading"></mat-spinner>
        </div>
        <div class="setup-container flex-sm-row flex-column">
            <div>
                <h1 mat-dialig-title id="setup-title">UCaaS Continuous Testing Setup Details</h1>
            </div>
            <div>
                <div *ngIf="!isEditing" class="group-btn-container d-flex justify-content-end">
                    <ng-container *lcFeatureToggle="'maintenanceMode'">
                        <ng-container *lcCheckAccessFor="'maintenanceModeCheckbox'">
                            <div *ngIf="!originalCtaasSetupDetails.maintenance">
                                <button class="mx-1" mat-raised-button id="enable-maintenance-button"
                                        (click)="maintenanceToggle('enable')">
                                    Enable Maintenance Mode
                                </button>
                            </div>
                            <div *ngIf="originalCtaasSetupDetails.maintenance">
                                <button class="mx-1" mat-raised-button id="disable-maintenance-button"
                                        (click)="maintenanceToggle('disable')">
                                    Disable Maintenance Mode
                                </button>
                            </div>
                        </ng-container>
                    </ng-container>
                    <button class="col-auto" mat-raised-button id="edit-details-button" (click)="editForm()">
                        Edit Setup Details
                    </button>
                </div>
            </div>
            <div *ngIf="isEditing" class="group-btn-container d-flex justify-content-end">
                <ng-container>
                    <div class="col-auto">
                        <button color="primary" mat-raised-button id="update-button" (click)="submit()" [disabled]="!setupForm.valid">
                            Update
                        </button>
                    </div>
                    <div class="col-auto">
                        <button color="warn" mat-raised-button id="cancel-button" (click)="cancelEdit()">
                            Cancel
                        </button>
                    </div>
                </ng-container>
            </div>
        </div>
        <br>
        <div *ngIf="!isDataLoading">
            <form [formGroup]="setupForm" (ngSubmit)="submit()" id="setup-form">
                <div class="row">
                    <ng-container *lcFeatureToggle="'maintenanceMode'">
                        <div *lcCheckAccessFor="'maintenanceModeCheckbox'" class="col-md-6 d-flex">
                            <mat-checkbox labelPosition="before" formControlName="maintenance">Maintenance Mode</mat-checkbox>
                        </div>
                    </ng-container>
                    <div class="col-md-6 d-flex">
                        <mat-checkbox labelPosition="before" formControlName="onBoardingComplete">On Boarding Complete</mat-checkbox>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label id="azure-resource-group-label">Azure Resource Group</mat-label>
                            <input matInput required formControlName="azureResourceGroup" id="azure-resource-group">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label id="tap-url-label">TAP URL</mat-label>
                            <input matInput required formControlName="tapUrl" id="tap-url">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label id="status-label">Status</mat-label>
                            <mat-select required formControlName="status" id="status">
                                <mat-option *ngFor="let status of statusOptions | keyvalue" [value]="status.key" id="{{status.value.label}}">
                                    {{status.value.label}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
