.mycontainer {
    margin-left: -15px !important;
    margin-right: 25px;
}

.desc-label {
    font-family: 'Helvetica Neue Regular';
    font-style: italic;
    font-size: 14px;
    color: #414141;
}

.separator {
    color: #BEBEBE;
}

.phone-label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    color: #414141;
}

.close {
    margin-right: -18px;
    margin-top: -15px;
}

.close:focus {
    outline: none;
    box-shadow: none;
}
.invalid {
    border-left: 5px solid #BC2426;
}