<div class="modal-header" draggableModal>
    <label class="modal-title">UI XML</label>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form (keydown.enter)="$event.preventDefault()" #myActionForm="ngForm">
    <div class="modal-body">
        <div class="mycontainer">
            <div class="form-group row">
                <label for="phone" class="col-sm-1 col-form-label phone-label">Phone</label>
                <div class="col-sm-3">
                    <select required forbiddenValue="" class="form-control" [(ngModel)]="selectedPhone" id="phone" name="phone" #phone="ngModel">
                        <option disabled selected value="">Select Phone</option>
                        <option *ngFor="let phone of phones" value="{{phone.name}}">{{phone.name}}</option>
                    </select>
                </div>
                <label class="col-sm-2 col-form-label phone-label" for="keyField">Result Key</label>
                <div class="col-sm-4">
                    <!--                         [ngStyle]="{'border-left':'5px solid #BC2426'}" -->
                    <input required type="text" id="keyField" name="keyField" placeholder="Enter Result Key" (change)="onChangeResultKey($event.target.value)" [ngClass]="{'invalid': isKeyNameExist}" class="form-control" [(ngModel)]="keyName" #keyField="ngModel">
                </div>
            </div>
            <hr class="separtor">
            <div class="form-group row">
                <!-- continue on failure -->
                <label for="failure" class="col-sm-3 col-form-label phone-label">Continue On Failure</label>
                <div class="col-sm-3" style="margin-top: 5px; padding-left:0px;">
                    <label class="phone-label">
                   <input type="radio" name="failure" [value]="true" [(ngModel)]="continueOnFailure"
                       #failure="ngModel">&nbsp;
                   <span>True</span>
                   </label>&nbsp;
                    <label class="phone-label">
                   <input type="radio" name="failure" [value]="false" [(ngModel)]="continueOnFailure"
                       #failure="ngModel">
                   &nbsp;
                   <span>False</span>
               </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">

        <button (click)="cancel()" class="modal-cancel-btn">
            Cancel
        </button>
        <button class="modal-scs-btn" (click)="insertAction()" [disabled]="!myActionForm.form.valid || isKeyNameExist">
            <span *ngIf="!actionToEdit">
                Insert Action
            </span>
            <span *ngIf="actionToEdit">
                Update Action
            </span>
        </button>
    </div>
</form>