<div class="container" style="text-align: center;">
    <h1 mat-dialig-title id="modal-title">Edit Project</h1>
    <form [formGroup]="updateProjectForm" (ngSubmit)="submit()">
        <div class="flex-container">
            <mat-dialog-content>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label id="start-date-label">Start Date</mat-label>
                        <input required matInput [matDatepicker]="picker" formControlName="openDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label id="project-name-label">Project Name</mat-label>
                        <input required matInput formControlName="projectName">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label id="project-code-label">Project Code</mat-label>
                        <input required matInput formControlName="projectNumber">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label id="project-license-label">tekVizion 360 Package</mat-label>
                        <mat-select required formControlName="licenseId">
                            <mat-option *ngFor="let license of licenses" [value]="license.id">
                                {{license.description}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label id="project-status-label">Status</mat-label>
                        <mat-select required formControlName="status" (selectionChange)="onChanginStatus($event.value)">
                            <mat-option *ngFor="let item of statusTypes" [value]="item" title="{{item}}">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div *ngIf="updateProjectForm.controls.status.value===statusTypes[1]">
                    <mat-form-field appearance="outline">
                        <mat-label id="close-date-label">Close Date</mat-label>
                        <input required matInput [matDatepicker]="closeDatePicker" formControlName="closeDate">
                        <mat-datepicker-toggle matSuffix [for]="closeDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #closeDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
            </mat-dialog-content>
        </div>
        <!-- <div class="btn-flex-container"> -->
        <mat-dialog-actions>
            <button mat-stroked-button type="button" id="cancel-button" (click)="onCancel()">Cancel</button>
            <button mat-raised-button color="primary" id="submit-button" [disabled]="!updateProjectForm.valid || isDataLoading" type="submit">Submit</button>
            <!-- </div> -->
        </mat-dialog-actions>
    </form>
</div>