.angular
node_modules
dist
ui/package-lock.json
.idea
.class
*.class
*/target/*
*/.classpath
*/.project
*/.settings/*
.project
*.prefs
.vscode
azure-functions/logs/*.log
ui/coverage
coverage/*
azure-functions/coverage/*
ui/fe-coverage/*
ui/test-results
.DS_Store

# Ignore Gradle project-specific cache directory
tests/ui/.gradle/
tests/ui/build
tests/ui/reports/
tests/ui/gradle/wrapper/*.jar
.gradle/
tests/ui/src/main/resources/local.properties
tests/ui/bin/main/local.properties
# tests/ui/src/test/java/acp/runner/RunCucumberTests.java
