.angular
node_modules
dist
ui/package-lock.json
.idea
.class
*.class
*/target/*
*/.classpath
*/.project
*/.settings/*
.project
*.prefs
.vscode
coverage/*
azure-functions/coverage/*
ui/coverage/*
ui/test-results
.DS_Store
azure-functions/logs/*