<div class="modal-header" draggableModal>
    <label class="modal-title">Simulate Touch</label>
    <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form (keydown.enter)="$event.preventDefault()" #myActionForm="ngForm">
    <div class="modal-body">
        <div class="mycontainer">
            <div class="row form-group">
                <div class="col-2">
                    <label class="phone-label">Phone</label>
                </div>
                <div class="col-3">
                    <select required forbiddenValue="" class="form-control" [(ngModel)]="selectedPhone" id="phone" name="phone" (change)="onChangeResource()" #phone="ngModel">
            <option disabled selected value="">Select Phone</option>
            <option *ngFor="let resource of resources" value="{{resource.name}}">{{resource.name}}</option>
          </select>
                </div>
                <div class="col-2">
                    <label class="phone-label">Type</label>
                </div>
                <div class="col-2">
                    <select required forbiddenValue="" class="form-control" [(ngModel)]="selectedType" id="type" name="type" #type="ngModel">
            <option selected value="" disabled>Select Type</option>
            <option *ngFor="let item of actionTypeList" [value]=item>{{item}}</option>
          </select>
                </div>
            </div>
            <hr class="separator">
            <div class="row form-group">
                <div class="col-2">
                    <label class="phone-label"> X coordinates </label>
                </div>
                <div class="col-3">
                    <input required type="text" forbiddenValue="" class="form-control" [(ngModel)]="xCoordinates" id="XCoordinate" onkeypress="return (event.charCode>=48 && event.charCode<=57) || event.charCode==46" name="XCoordinate" #XCoordinate="ngModel">
                </div>
                <div class="col-2">
                    <label class="phone-label"> Y coordinates </label>
                </div>
                <div class="col-3">
                    <input required type="text" class="form-control" [(ngModel)]="yCoordinates" id="YCoordinate" onkeypress="return (event.charCode>=48 && event.charCode<=57) || event.charCode==46" name="YCoordinate" #YCoordinate="ngModel">
                </div>
            </div>
            <hr class="separator" *ngIf="selectedResourceType==='polycom'">
            <div class="row form-group" *ngIf="selectedResourceType==='polycom'">
                <div class="col-2">
                    <label class="phone-label"> Duration</label>
                </div>
                <div class="col-3">
                    <input type="text" class="form-control" [(ngModel)]="duration" id="Duration" name="Duration" onkeypress="return event.charCode>=48 && event.charCode<=57" #Duration="ngModel">
                </div>
                <div class="col-2">
                    <label class="phone-label">Easing</label>
                </div>
                <div class="col-3">
                    <input [ngStyle]="{'border-left':(easing>40 || easing<0)?'5px solid #BC2426':''}" type="number" min="0" onkeypress="return event.charCode>=48 && event.charCode<=57" max="40" class="form-control" [(ngModel)]="easing" id="Easing" name="Easing" #Easing="ngModel">
                </div>
            </div>
            <hr class="separtor">
            <div class="form-group row">
                <!-- continue on failure -->
                <label for="failure" class="col-sm-3 col-form-label phone-label">Continue On Failure</label>
                <div class="col-sm-3" style="margin-top: 5px; padding-left:0px;">
                    <label class="phone-label">
             <input type="radio" name="failure" [value]="true" [(ngModel)]="continueOnFailure"
                 #failure="ngModel">&nbsp;
             <span>True</span>
             </label>&nbsp;
                    <label class="phone-label">
             <input type="radio" name="failure" [value]="false" [(ngModel)]="continueOnFailure"
                 #failure="ngModel">
             &nbsp;
             <span>False</span>
         </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div *ngIf="title" class="mr-auto" style="background-color: #7694B7; height: 30px; width: 30px; border-radius: 100%; margin-top:-2%">
            <img src="assets/images/icons/info.svg" title="{{title}}" style="width:30px; height:30px;">
        </div>
        <button (click)="cancel()" class="modal-cancel-btn">
      Cancel
    </button>
        <button class="modal-scs-btn" (click)="insertAction()" [disabled]="!myActionForm.form.valid || easing>40 || easing<0">
      <span *ngIf="!actionToEdit">
        Insert Action
      </span>
      <span *ngIf="actionToEdit">
        Update Action
      </span>
    </button>
    </div>
</form>