.title {
  padding-left: 2% !important;
}

.header {
  background: #ffffff;
  padding: 0%;
}

.logo {
  height: 40px;
}

.view-name {
  font-size: 24px;
  font-family: 'Helvetica Neue Regular';
  padding-top: 0;
  padding-bottom: 0;
}

.test-title {
  font-family: 'Helvetica Neue Regular';
  font-size: 20px;
  padding-top: 0;
  padding-bottom: 0;

  width: 30em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.edited {
  color: #BEBEBE;
  font-family: 'Helvetica Neue Regular';
  font-size: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

.regular-text {
  font-family: 'Helvetica Neue Regular';
  color: #414141;
  font-size: 14px;
}

.regular-btn {
  font-family: 'Helvetica Neue Regular';
  color: #414141;
  font-size: 14px;
  background: none;
  border: 0;
}

button:focus {
  outline: 0;
}

:host>>>.popover>.arrow {
  display: none;
}

:host>>>.popover {
  background-color: #FFFFFF;
  color: #FFFFFF;
  text-align: right;
  border: 0;
}

:host>>>.popover.bottom {
  margin-top: 1px !important;
  margin-left: 55px !important;
}

.pop-option {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-family: 'Helvetica Neue Regular';
  color: #414141;
  font-size: 13px;
}

.subtitle {
  font-family: 'Helvetica Neue Regular';
  font-size: 20px;
  padding-top: 0;
  padding-bottom: 0;
  width: 20em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modal-header {
  background-color: #C2C3C6;
}

.modal-title {
  margin-left: 15px;
  font-size: 22px;
  font-family: 'Helvetica Neue Regular';
  color: #000000;
}

.modal-body {
  margin-left: 15px;
  background: #FFFFFF;
  max-height: 600px;
  overflow-y: auto;
}

.modal-dialog {
  overflow-y: initial !important
}

.create-btn {
  font-family: 'Helvetica Neue Regular';
  font-style: normal;
  color: #FFFFFF;
  background: #7694B7;
  font-size: 14px;
  opacity: 100%;
  border: 0;
  border-radius: 45px;
  height: 28px;
  width: 123.07px;
}

.licenseStatus {
  width: 99%;
  position: absolute;
  font-family: 'Helvetica Neue Regular';
  font-size: 16px;
  text-align: center;
}

.myAlert {
  height: 40px;
  z-index: 2000;
  margin-top: 5px;
  background: #BC2426;
}

a:link {
  color: #FFFFFF;
}

a:visited {
  color: #FFFFFF;
}

a:hover {
  color: #FFFFFF;
}

a:active {
  color: #FFFFFF;
}

.alertText {
  color: #FFFFFF;
}
.fa-times{
  padding-left: 15px;
  cursor: pointer;
}