<div class="licenseStatus" *ngIf="isOnSpecificView('dashboard') && showPopupFlag">
    <div class="row justify-content-center">
        <div class="alert alert-danger myAlert" role="alert" *ngIf="!licenseExpired && licenseExpiryDaysCount!='noissues' && !graceperiod">
            <div *ngIf="licenseExpiryDaysCount==='requiresPurchase';then thenBlock0 else elseBlock0"></div>
            <ng-template #thenBlock0>
                <span class="fa fa-warning alertText">&nbsp;Please contact <a href="mailto:orders@tekvizion.com">tekVizion</a> for your 360 tekToken subscription</span>
                <i class="fa fa-times justify-content-between" aria-hidden="true" (click)="closeWarning()"></i>
            </ng-template>
            <ng-template #elseBlock0>
                <div *ngIf="licenseExpiryDaysCount=='0';then thenBlock else elseBlock"></div>
            </ng-template>
            <ng-template #thenBlock>
                <span class="fa fa-warning alertText">&nbsp;Your 360 tekToken subscription expires today. Please contact <a href="mailto:orders@tekvizion.com">tekVizion</a> to renew or upgrade your tekTokens</span>
                <i class="fa fa-times justify-content-between" aria-hidden="true" (click)="closeWarning()"></i>
            </ng-template>
            <ng-template #elseBlock>
                <div *ngIf="licenseExpiryDaysCount=='1';then thenBlock1 else elseBlock1"></div>
            </ng-template>
            <ng-template #thenBlock1>
                <span class="fa fa-warning alertText">&nbsp;Your 360 tekToken subscription expires in
          {{licenseExpiryDaysCount}} 
          day(s). Please contact <a href="mailto:orders@tekvizion.com">tekVizion</a> to renew or upgrade your tekTokens</span>
                <i class="fa fa-times justify-content-between" aria-hidden="true" (click)="closeWarning()"></i>
            </ng-template>
            <ng-template #elseBlock1>
                <span class="fa fa-warning alertText">&nbsp;Your 360 tekToken subscription expires in
          {{licenseExpiryDaysCount}}
          day(s). Please contact <a href="mailto:orders@tekvizion.com">tekVizion</a> to renew or upgrade your tekTokens</span>
                <i class="fa fa-times justify-content-between" aria-hidden="true" (click)="closeWarning()"></i>
            </ng-template>
        </div>
        <div *ngIf="graceperiod" class="alert alert-danger myAlert" role="alert">
            <div *ngIf="licenseExpiryDaysCount=='1';then thenBlock else elseBlock">
            </div>
            <ng-template #thenBlock>
                <span class="fa fa-warning alertText">&nbsp;Your 360 tekToken subscription expired yesterday. Please contact <a href="mailto:orders@tekvizion.com">tekVizion</a> to renew or upgrade your tekTokens</span>
                <i class="fa fa-times justify-content-between" aria-hidden="true" (click)="closeWarning()"></i>

            </ng-template>
            <ng-template #elseBlock>
                <span class="fa fa-warning alertText">&nbsp;Your 360 tekToken subscription has expired 
          {{licenseExpiryDaysCount}}
          days ago. Please contact <a href="mailto:orders@tekvizion.com">tekVizion</a> to renew or upgrade your tekTokens</span>
                <i class="fa fa-times justify-content-between" aria-hidden="true" (click)="closeWarning()"></i>
            </ng-template>
        </div>
        <!-- *ngIf="getclosepopup()" -->
        <div *ngIf="licenseExpired" class="alert alert-danger myAlert d-flex" role="alert">
            <span class="fa fa-warning alertText justify-content-between">&nbsp; Your 360 tekToken subscription has expired. Please contact <a href="mailto:orders@tekvizion.com">tekVizion</a> to renew or upgrade your tekTokens</span>
            <i class="fa fa-times justify-content-between" aria-hidden="true" (click)="closeWarning()"></i>
        </div>
    </div>
</div>

<!-- <div class="licenseStatus" *ngIf="isOnSpecificView('phoneConfiguration') && phoneLicenseDisplay">
  <div class="row justify-content-center">
    <div class="alert alert-danger myAlert" role="alert">
      <span class="fa fa-warning alertText">&nbsp; {{phoneLicenseStatus?.usedPhones}} of
        {{phoneLicenseStatus?.totalAllotedPhones}} device licenses have been used. Contact<a
          href="mailto:orders@tekvizion.com">
          Customer Service</a> for additional licenses </span>
    </div>
  </div>
</div> -->

<nav class="navbar navbar-expand fixed-top sticky-top header" style="height: 50px;width: 98%;">
    <a class="td-logo col-1" style="padding:0;">
        <img src="assets/images/headerLogo_1.png" class="logo img-fluid" style="height:40px;margin-top:5px;margin-bottom:5px;margin-left:5px;" />
    </a>
    <a class="td-logo col-1">
        <img [src]="brandLogoUrl_TS" class="logo img-fluid" style="height:40px;" />
    </a>
    <div class="collapse navbar-collapse title col-10" id="collapsibleNavbar">
        <ul class="nav navbar-nav ml-auto col-6">
            <li class="nav-item col-8" style="align-items:baseline;"></li>
            <li class="nav-item col-4" *ngIf="currentUser">
                <ng-template #popTemplate>
                    <div>
                        <ul style="list-style: none; margin: 0; padding: 0;">
                            <li><button class="pop-option" (click)="changePassword();pop.hide()">Change Password</button></li>
                            <li><button class="pop-option" (click)="showAbout(aboutModal);pop.hide()">About</button></li>
                            <li><button class="pop-option" (click)="logout();pop.hide()">Logout</button></li>
                        </ul>
                    </div>
                </ng-template>
                <button type="button" class="regular-btn dropdown-toggle" #pop="bs-popover" [popover]="popTemplate" placement="bottom" [outsideClick]="true">
          {{currentUser.user}}
        </button>
            </li>
        </ul>
    </div>
</nav>

<ng-template #aboutModal>
    <div class="modal-header" draggableModal>
        <label class="modal-title pull-left">Version</label>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="row justify-content-center">
            <img src="assets/images/headerLogo_1.png" class="img-fluid" style="height: 80px;padding: 2%;" />
        </div>
        <div class="row justify-content-center">
            <label class="form-label">Release 8.8.0</label>
        </div>
        <div class="row justify-content-center">
            <label class="form-label">Build 'buildversionhere'</label>
        </div>
    </div>
    <div class="modal-footer justify-content-center">
        <button class="create-btn" (click)="closeModal()">
      OK
    </button>
    </div>
</ng-template>
