<div class="row" style="background-color:#FFFFFF; margin-top: 15px;">
  <div class="link-list col-12">
    <br>
    <data-table #linksGrid [columnDefs]="linkColumns" data="links" [colsTag]="'links-view'">
      <tableRow>
        <ng-template let-item="item" class="templateClass">
          <tr class="strip-table">
            <td class="regular-text" [width]="getColumnWidth(linkColumns[0])">{{item.name}} </td>
            <td class="regular-text" [width]="getColumnWidth(linkColumns[1])">{{item.site}} </td>
            <td class="regular-text" [width]="getColumnWidth(linkColumns[2])">{{item.license}}</td>
            <td class="regular-text" [width]="getColumnWidth(linkColumns[3])">{{item.version}}</td>
            <td class="regular-text" [width]="getColumnWidth(linkColumns[4])">{{item.registered}}</td>
            <td class="regular-text" [width]="getColumnWidth(linkColumns[5])">{{item.status}}</td>
            <td class="regular-text" [width]="getColumnWidth(linkColumns[6])">
              <label>Start</label>
              <label>Stop</label>
              <label>Delete</label>
            </td>
          </tr>
        </ng-template>
      </tableRow>
    </data-table>
  </div>
</div>