<div class="modal-header" draggableModal>
    <label class="modal-title">Set Transfer Type</label>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form (keydown.enter)="$event.preventDefault()" #myActionForm="ngForm">
    <div class="modal-body">
        <div class="mycontainer">
            <div class="form-group row">
                <!-- phone -->
                <label for="phone" class="col-sm-1 col-form-label phone-label">Phone</label>
                <div class="col-sm-3">
                    <select required forbiddenValue="" class="form-control" [(ngModel)]="selectedPhone" id="phone" name="phone" #phone="ngModel">
                        <option disabled selected value="">Select Phone</option>
                        <option *ngFor="let resource of resources" value="{{resource.name}}">{{resource.name}}</option>
                    </select>
                </div>
                <!-- type -->
                <label for="type" class="col-sm-2 col-form-label phone-label">Transfer Type</label>
                <div class="col-sm-3">
                    <select required forbiddenValue="" class="form-control" [(ngModel)]="selectedType" id="type" name="type" #type="ngModel">
                        <option disabled selected value="">Select Type</option>
                        <option *ngFor="let item of types" value="{{item}}">{{item | titlecase}}</option>
                    </select>
                </div>
            </div>
            <hr class="separtor">
            <div class="row form-group">
                <!-- continue on failure -->
                <label for="failure" class="col-sm-3 col-form-label phone-label">Continue On Failure</label>
                <div class="col-sm-3" style="margin-top: 5px; padding-left:0px;">
                    <label class="phone-label">
                       <input type="radio" name="failure" [value]="true" [(ngModel)]="continueOnFailure"
                           #failure="ngModel">&nbsp;
                       <span>True</span>
                   </label>&nbsp;
                    <label class="phone-label">
                       <input type="radio" name="failure" [value]="false" [(ngModel)]="continueOnFailure"
                           #failure="ngModel">
                       &nbsp;
                       <span>False</span>
                   </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div *ngIf="title" class="mr-auto" style="background-color: #7694B7; height: 30px; width: 30px; border-radius: 100%; margin-top:-2%">
            <img src="assets/images/icons/info.svg" title="{{title}}" style="width:30px; height:30px;">
        </div>
        <button (click)="cancel()" class="modal-cancel-btn">
            Cancel
        </button>
        <button class="modal-scs-btn" (click)="insertAction()" [disabled]="!myActionForm.form.valid">
            <span *ngIf="!actionToEdit">
                Insert Action
            </span>
            <span *ngIf="actionToEdit">
                Update Action
            </span>
        </button>
    </div>
</form>