table {
  width: 100%;
}

mat-form-field {
  width: 40%;
}

.text-right {
  text-align: right !important;
}

.clickable-item {
  cursor: pointer;
  color: darkblue;
  text-decoration: underline !important;
}

/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li a {
  padding: 10px;
}
.innerTable {
  border: 1px solid black;
}
.innerTable th,td {
  border: 1px solid black;
} */
.accordian-container .mat-expanded .mat-expansion-panel-header {
  background: lightgray;
}

.inner-accor {
  list-style-type: none !important;
  display: flex !important;
  justify-content: space-between !important;
  flex: 1 1 auto !important;
  align-items: center !important;
  margin: 0 !important;
  padding: 0 !important;
}