table {
  width: 100%;
}

mat-form-field {
  width: 40%;
}

.text-right {
  text-align: right !important;
}

.clickable-item {
  cursor: pointer;
  color: darkblue;
  text-decoration: underline !important;
}
::ng-deep .call .mat-table tbody {
  display: none !important;
}

.custom-icon {
  margin-top: 5%;
  color: white;
}

.mat-raised-button-sm{
  min-width: 35px !important;
  width: 35px !important;
  padding: 0 5px;
  background: #23578f;
}

/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li a {
  padding: 10px;
}
.innerTable {
  border: 1px solid black;
}
.innerTable th,td {
  border: 1px solid black;
} */
