<ng-container>

    <!-- Filter -->
    <ng-container *ngIf="isFilterable" [matColumnDef]="this.rowActionIcon">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="filter">
        </mat-form-field>
    </ng-container>

    <!-- Table -->
    <table mat-table [dataSource]="tableDataSource" matSort (matSortChange)="sortTable($event)"
        *ngIf="nestedKey !== 'call-reliability'">
        <!--Checkbox column-->
        <ng-container *ngIf="selectable" matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" color="primary">
                </mat-checkbox>
            </td>
        </ng-container>
        <!-- action column -->
        <ng-container *ngIf="rowActionIcon?.length" [matColumnDef]="rowActionIcon">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element;let index=index" [id]="rowActionIcon">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>{{rowActionIcon}}</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngFor="let item of actionMenuList"
                        (click)="emitRowAction(element,item,index)" id="{{item}}">
                        <span>{{item}}</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>
        <ng-container *ngFor="let tableColumn of tableColumns" [matColumnDef]="tableColumn.name">
            <!-- if sortable column header -->
            <ng-container *ngIf="tableColumn.isSortable; else notSortable">
                <th mat-header-cell *matHeaderCellDef [mat-sort-header]="tableColumn.name"
                    matTooltip="{{tableColumn.tooltip}}"
                    [arrowPosition]="tableColumn.position === 'right' ? 'before' : 'after'">
                    {{tableColumn.name }}
                </th>
                <!-- <ng-container *ngIf="nestedKey === 'call-reliability'">
                    <td mat-cell *matCellDef="let element"> {{element |
                        dataPropertyGetter: tableColumn.dataKey | na}} </td>
                </ng-container> -->
            </ng-container>
            <!-- else not sortable -->
            <ng-template #notSortable>
                <th mat-header-cell *matHeaderCellDef [class.text-right]="tableColumn.position === 'right'">
                    {{tableColumn.name}}
                </th>
            </ng-template>

            <!-- column data -->
            <!-- <ng-template > -->
            <div>
                <ng-container *ngIf="nestedKey !== 'call-reliability'">
                    <td mat-cell *matCellDef="let element;let index=index;"
                        [class.text-right]="tableColumn.position === 'right'"
                        [ngClass]="{'clickable-item':tableColumn.isClickable}"
                        (click)="onClickableRow(element,index,tableColumn.isClickable,tableColumn.name)"
                        title="{{element | titleGetter: tableColumn.dataKey | na}}" id="{{tableColumn.name}}">
                        <span [ngClass]="{'clickable-item':tableColumn.isClickable}"
                            [ngStyle]="{'color':getColor(element,tableColumn)}"
                            (click)="onClickableRow(element,index,tableColumn.isClickable,tableColumn.name)">{{element
                            |
                            dataPropertyGetter: tableColumn.dataKey | na}}</span>
                    </td>
                </ng-container>
            </div>
            <!-- </ng-template> -->
        </ng-container>
        <ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="toggleRow(row)"></tr>
        </ng-container>
        <!-- <tr mat-header-row *matHeaderRowDef="innerDisplayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: innerDisplayedColumns;"></tr> -->
        <!-- <tr mat-row *matRowDef="let row;let i = index columns: innerDisplayedColumns;"></tr> -->
    </table>
    <!-- table for no data -->
    <table>
        <tr *ngIf="!data.length">
            <td style="text-align: center;" [attr.colspan]="displayedColumns.length">
                <img *ngIf="isLoadingResults" height="80" width="80" src="assets/images/spinner.gif"
                    alt="loading spinner gif">
                <h3 class="no-data-found" *ngIf="isRequestCompleted">No Data to display</h3>
            </td>
        </tr>
    </table>
    <div>
        <!-- Pagination -->
        <mat-paginator *ngIf="isPageable" [pageSizeOptions]="paginationSizes" [pageSize]="defaultPageSize"
            [length]="length" (page)="onPageChange($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</ng-container>

<div style="overflow: auto;" [style.height] = "openFlag ? '60vh' : 'auto'">
    <ng-container *ngIf="nestedKey === 'call-reliability'">
        <!-- <table>
        <tr style="height: 52px;background-color: #e4e5e5;">
            <th> Test Case </th>
            <th> Start Date </th>
            <th> Status </th>
            <th> Error Category </th>
        </tr>
    </table> -->
        <mat-accordion>
            <mat-expansion-panel hideToggle disabled style="background-color: #e4e5e5;">
                <mat-expansion-panel-header>
                    <mat-panel-title style="width:25%;color: black;font-weight: 500;"> Test Case </mat-panel-title>
                    <mat-panel-title style="width:25%;color: black;font-weight: 500;"> Start Date </mat-panel-title>
                    <mat-panel-title style="width:25%;color: black;font-weight: 500;"> Status </mat-panel-title>
                    <mat-panel-title style="width:25%;color: black;font-weight: 500;"> Error Category </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion *ngFor="let key of data; let i = index" class="accordian-container">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title style="width:25%">
                        <!-- <span> -->
                        {{key.testCaseName}}
                        <!-- </span> -->
                    </mat-panel-title>
                    <mat-panel-title style="width:25%">
                        <!-- <span style="position: absolute;left: -30px;"> -->
                        {{key.startTime}}
                        <!-- </span> -->
                    </mat-panel-title>
                    <mat-panel-title style="width:25%">
                        <!-- <span style="position: absolute;left: -30px;"> -->
                        {{key.status}}
                        <!-- </span> -->
                    </mat-panel-title>
                    <mat-panel-title style="width:25%">
                        <!-- <span style="position: absolute;left: -145px;"> -->
                        {{key.errorCategory}}
                        <!-- </span> -->
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div style="padding: 1%;">
                    <!-- <mat-card class="card">
                    <mat-card-content style="padding: 1%;"> -->
                    <div class="row">
                        <div class="col-6">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th scope="row" style="width: 50%;"> Start Date </th>
                                        <td> {{key.nestedData.startTime}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="width: 50%;"> End Date </th>
                                        <td> {{key.nestedData.endTime}} </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="width: 50%;"> Status </th>
                                        <td>{{key.nestedData.status}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Error Category</th>
                                        <td>{{key.nestedData.errorCategory}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="width: 50%;"> Reason </th>
                                        <td>{{key.nestedData.reason}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="col-6">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <!-- <th scope="row"> From </th> -->
                                        <td>
                                            <mat-accordion>
                                                <mat-expansion-panel hideToggle [expanded]="obj['key' + i] === 1"
                                                    (opened)="setStep(1, i)">
                                                    <mat-expansion-panel-header style="background-color: white;">
                                                        <mat-panel-title>
                                                            <ul class="inner-accor">
                                                                <li> From </li>
                                                                <li> {{key.duts.from}} </li>
                                                            </ul>
                                                        </mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <!-- <p>{{key.duts.from}}</p> -->
                                                    <table class="table table-hover">
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row"> Received packet loss </th>
                                                                <td> 0 </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row"> Sent bitrate </th>
                                                                <td> 47.2 Kbps </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row"> Received Jitter </th>
                                                                <td> 8.89 ms </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row"> Round trip time </th>
                                                                <td>--</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row"> Sent codec </th>
                                                                <td>SATIN</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row"> Received packets </th>
                                                                <td>1249</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row"> Received codec </th>
                                                                <td>SATIN</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row"> Sent packets </th>
                                                                <td>1248</td>
                                                            </tr>
                                                            <!-- <tr>
                                                            <th scope="row">End Time</th>
                                                            <td>{{sampleJsonData.summary. endTime }}</td>
                                                        </tr> -->
                                                        </tbody>
                                                    </table>
                                                </mat-expansion-panel>
                                            </mat-accordion>
                                        </td>
                                    </tr>
                                    <tr>
                                        <!-- <th scope="row"> To </th> -->
                                        <td>
                                            <mat-accordion>
                                                <mat-expansion-panel hideToggle [expanded]="obj['key' + i] === 2"
                                                    (opened)="setStep(2, i)">
                                                    <mat-expansion-panel-header style="background-color: white;">
                                                        <mat-panel-title>
                                                            <ul class="inner-accor">
                                                                <li> To </li>
                                                                <li> {{key.duts.to}} </li>
                                                            </ul>
                                                        </mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <!-- <p> {{key.duts.to}} </p> -->
                                                    <table class="table table-hover">
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row"> Received packet loss </th>
                                                                <td> 0 </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row"> Sent bitrate </th>
                                                                <td> 47.2 Kbps </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row"> Received Jitter </th>
                                                                <td> 8.89 ms </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row"> Round trip time </th>
                                                                <td>--</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row"> Sent codec </th>
                                                                <td>SATIN</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row"> Received packets </th>
                                                                <td>1249</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row"> Received codec </th>
                                                                <td>SATIN</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row"> Sent packets </th>
                                                                <td>1248</td>
                                                            </tr>
                                                            <!-- <tr>
                                                            <th scope="row">End Time</th>
                                                            <td>{{sampleJsonData.summary. endTime }}</td>
                                                        </tr> -->
                                                        </tbody>
                                                    </table>
                                                </mat-expansion-panel>

                                            </mat-accordion>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let data of key.duts.otherParties; let j = index">
                                        <!-- <th scope="row"> Other Parties </th> -->
                                        <td>
                                            <mat-accordion>
                                                <mat-expansion-panel hideToggle [expanded]="obj['key' + i] === (3 + j)"
                                                    (opened)="setStep((3 + j), i)" hideToggle>
                                                    <mat-expansion-panel-header style="background-color: white;">
                                                        <mat-panel-title>
                                                            <ul class="inner-accor">
                                                                <li> Other party </li>
                                                                <li> {{data}} </li>
                                                            </ul>
                                                        </mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <!-- {{key.duts.otherParties}} -->
                                                </mat-expansion-panel>
                                            </mat-accordion>
                                        </td>
                                    </tr>
                                    <!-- <tr>
                                    <th scope="row"> Reason </th>
                                    <td>{{key.nestedData.reason}}</td>
                                </tr> -->
                                    <!-- <tr>
                                    <th scope="row">End Time</th>
                                    <td>{{sampleJsonData.summary. endTime }}</td>
                                </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- </mat-card-content>
                </mat-card> -->
                    <!-- <div style="width: 30%;">
                    <table class="innerTable">
                        <tr>
                            <th> Reason </th>
                        </tr>
                        <tr>
                            <td>{{key.errorReason}}</td>
                        </tr>
                    </table>
                </div> -->
                    <!-- <div style="width: 30%;">
                    <table class="innerTable">
                        <tr>
                            <th> From </th>
                            <th> To </th>
                            <th> OtherParties </th>
                        </tr>
                        <tr *ngFor="let dut of key.duts">
                            <td> {{dut.from}} </td>
                            <td> {{dut.to}} </td>
                            <td> {{dut.otherParties}} </td>
                        </tr>
                    </table>
                </div> -->
                    <!-- <div style="width: 30%;">
                    <table class="innerTable">
                        <tr>
                            <th> Start Date </th>
                            <th> End Date </th>
                            <th> Status </th>
                        </tr>
                        <tr *ngFor="let data of key.nestedData">
                            <td> {{data.startTime}} </td>
                            <td> {{data.endTime}} </td>
                            <td> {{data.status}} </td>
                        </tr>
                    </table>
                </div> -->
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </ng-container>
</div>