<div class="container-fluid dashboard-content">
    <main>
        <h1 id="page-title">Customers</h1>
    </main>
    <div style="float: right;">
        <button *checkAccessFor="'addCustomer'" mat-raised-button (click)="addCustomerAccount()" id="add-customer-button">Add Customer</button>
        <button *checkAccessFor="'addSubaccount'" mat-raised-button (click)="addSubaccount()" id="add-subaccount-button">Add Subaccount</button>
    </div>
    <section class="table-section">
        <div class="table-container mat-elevation-z8" [style.max-height.px]="tableMaxHeight">
            <app-data-table
                [tableData]="customerList"
                [tableColumns]="displayedColumns" 
                [isFilterable]="false"
                [isPageable]="false"
                [isLoadingResults]="isLoadingResults"
                [isRequestCompleted]="isRequestCompleted"
                [paginationSizes]="[5,10,20]"
                [defaultPageSize]="5"
                (sort)="sortData($event)"
                [rowActionIcon]="actionMenuOptions.length>0&&'more_vert'"
                (rowAction)="rowAction($event)"
                [actionMenuList]="actionMenuOptions"
                >
            </app-data-table>
        </div>
    </section>
</div>
