<div class="container-fluid pad-20">
    <main>
        <h1 id="page-title">Subscriptions Overview</h1>
    </main>
    <div class="row align-items-center">
        <div [formGroup]="filterForm" class="row align-items-center col-auto">
            <mat-form-field style="margin-bottom: -1.25em" class="col" appearance="outline">
                <mat-label id="name-label">Name Filter</mat-label>
                <input matInput type="text" formControlName="customerFilterControl" [(ngModel)]="customerFilter">
                <button *ngIf="filterForm.get('customerFilterControl').value" matSuffix mat-icon-button
                        aria-label="Clear" (click)="filterForm.get('customerFilterControl').setValue(''); setCustomerOverviewFilters('customerOverviewFilter','')">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field style="margin-bottom: -1.25em" class="col" appearance="outline">
                <mat-label id="subscription-label">Subscription Status Filter</mat-label>
                <mat-select formControlName="subStatusFilterControl" [(ngModel)]="statusFilter">
                    <mat-option (click)="setCustomerOverviewFilters('statusOverviewFilter','')">None</mat-option>
                    <mat-option *ngFor="let subStatus of subscriptionStatus" [value]="subStatus">
                        {{subStatus}}
                    </mat-option>
                </mat-select>
                <button *ngIf="filterForm.get('subStatusFilterControl').value" matSuffix mat-icon-button
                        aria-label="Clear" (click)="filterForm.get('subStatusFilterControl').setValue(''); setCustomerOverviewFilters('statusOverviewFilter','')">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field style="margin-bottom: -1.25em" class="col" appearance="outline">
                <mat-label id="date-label">Start Date Range Filter</mat-label>
                <mat-date-range-input #rangeFilter [disabled]="filterForm.disabled" [rangePicker]="picker">
                    <input matStartDate formControlName="startDateFilterControl" placeholder="Start date"  >
                    <input matEndDate formControlName="endDateFilterControl" placeholder="End date"  >
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
                <button *ngIf="filterForm.get('startDateFilterControl').value || filterForm.get('endDateFilterControl').value"
                    matSuffix mat-icon-button aria-label="Clear"
                    (click)="filterForm.get('startDateFilterControl').setValue(''); filterForm.get('endDateFilterControl').setValue(''); 
                    setCustomerOverviewFilters('startDateFilter',''); setCustomerOverviewFilters('endDateFilter','')"> 
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
    <section class="table-section">
        <div class="table-container mat-elevation-z8" [style.max-height.px]="tableMaxHeight">
            <app-data-table [tableData]="filteredSubscriptions" [tableColumns]="displayedColumns" [isFilterable]="false"
                            [isPageable]="false" [isLoadingResults]="isLoadingResults" [isRequestCompleted]="isRequestCompleted"
                            [paginationSizes]="[5,10,20]" [defaultPageSize]="5" (sort)="sortData($event)"
                            [rowActionIcon]="actionMenuOptions.length>0&&'more_vert'" (rowAction)="rowAction($event)"
                            [actionMenuList]="actionMenuOptions" (clickableRow)="columnAction($event)">
            </app-data-table>
        </div>
    </section>
</div>
