/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Helvetica Neue Medium";
  src: url(./assets/fonts/HelveticaNeue-Medium.otf) format("opentype");
}

@font-face {
  font-family: "Helvetica Neue Regular";
  src: url(./assets/fonts/HelveticaNeue-Regular.otf) format("opentype");
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.modal-title {
  margin: 0% !important;
}

/* Close button style for modal */
.close {
  margin: -15px 0px 0px 0px !important;
}

button:focus {
  outline: 0 !important;
}

.select-all {
  color: rgb(39, 49, 118);
  font-family: "Helvetica Neue Regular";
  font-size: 12px;
}

.mat-header-row {
  border-bottom-width: 1px !important;
}

.mat-header-cell,
.mat-cell {
  padding-left: 15px !important;
}

/* 
.strip-table:nth-child(odd) {
    background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
}

.strip-table:nth-child(even) {
    background: rgba(118, 148, 183, 0.3) 0% 0% no-repeat padding-box;
}

tbody {
    display: block;
    overflow-y: auto;
}
thead,
tbody tr {
    display: table;
    width: 100%;
}
 */

/* .ng-invalid:not(form) {
  border-left: 5px solid #bc2426;
}

.invalid-message {
  color: #bc2426;
  font-family: "Helvetica Neue Regular";
  font-size: 12px;
  display: block;
  clear: both;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #76BD83;
} */

.close-btn {
  margin-top: 12px !important;
  margin-right: 15px !important;
}

.modal-scs-btn {
  font-family: "Helvetica Neue Regular";
  font-style: normal;
  color: #ffffff;
  background: #7694b7;
  font-size: 14px;
  opacity: 100%;
  border: 0;
  border-radius: 45px;
  height: 28px;
  width: 123.07px;
  outline: none;
}

.modal-scs-btn:focus {
  outline: none;
  box-shadow: none;
}

.modal-cancel-btn {
  font-family: "Helvetica Neue Regular";
  font-style: normal;
  color: #7694b7;
  font-size: 14px;
  opacity: 100%;
  background: #ffffff;
  border: 0;
  height: 28px;
  width: 123.07px;
  outline: none;
}

.modal-cancel-btn:focus {
  outline: none;
  box-shadow: none;
}

.modal-header {
  background-color: #c2c3c6;
}

.modal-title {
  margin-left: 15px;
  font-size: 22px;
  font-family: "Helvetica Neue Regular";
  color: #000000;
}

.modal-body {
  margin-left: 15px;
  background: #ffffff;
  max-height: 600px;
  overflow-y: auto;
}

.modal-dialog {
  overflow-y: initial !important;
}

.col-form-label {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  color: #414141;
}

.form-control {
  color: #414141;
  font-size: 14px;
  font-style: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #babac0;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-button {
  display: none;
}

.close {
  margin-right: 15px;
  margin-top: -12px;
}

.close:focus {
  outline: none;
  box-shadow: none;
}

/* progress bar styles*/
.customClass .progress-bar {
  background: #56b6ca;
  /*background: #273176;*/
}

.customClass .progress {
  background: #f3f8f9;
}

/*
 check-box styles
*/
.chekboxcontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-right: 0;
  margin-top: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chekboxcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 2px;
  margin-left: 10px;
  height: 15px;
  width: 15px;
  background-color: none;
  outline-style: solid;
  outline-color: rgb(39, 49, 118);
  outline-width: 1.5pt;
}

.checkmarkTCP {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -3px;
  margin-left: 10px;
  height: 15px;
  width: 15px;
  background-color: none;
  outline-style: solid;
  outline-color: rgb(39, 49, 118);
  outline-width: 1.5pt;
}

.chekboxcontainer:hover input~.checkmark {
  background-color: #ccc;
}

.chekboxcontainer:hover input~.checkmarkTCP {
  background-color: #ccc;
}

.chekboxcontainer input:checked~.checkmark {
  background-color: rgb(39, 49, 118);
}

.chekboxcontainer input:checked~.checkmarkTCP {
  background-color: white;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmarkTCP:after {
  content: "";
  position: absolute;
  display: none;
}

.chekboxcontainer input:checked~.checkmark:after {
  display: block;
}

.chekboxcontainer input:checked~.checkmarkTCP:after {
  display: block;
}

.chekboxcontainer .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.chekboxcontainer .checkmarkTCP:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid rgb(39, 49, 118);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.select-all {
  color: rgb(39, 49, 118);
  font-family: "FontAwesome", "HelveticaNeue-Regular", "Helvetica Neue Regular",
    "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
}

.action-btn {
  color: rgb(39, 49, 118);
  font-family: "FontAwesome", "HelveticaNeue-Regular", "Helvetica Neue Regular",
    "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  background: none;
  border: none;
}

.action-btn:focus {
  outline: none;
  box-shadow: none;
}

.ng-sidebar__content--animate {
  overflow-y: hidden !important;
}

.ng-select.ng-select-single .ng-select-container {
  border: none;
}

.bs-timepicker-field {
  width: 70px !important;
}

/* .form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none !important;
} */
.bs-datepicker-body table th {
  font-size: 13px;
  color: #9aaec1;
  font-weight: 400;
  text-align: center;
  width: 33px;
}

.autocomplete-wrap .autocomplete-container .suggestions-container {
  position: fixed !important;
  width: 12% !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa !important;
}

.btn-flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
}

th {
  font-size: 14px !important;
  color: black !important;
  font-weight: 500 !important;
}

.mat-row:hover {
  background: whitesmoke;
}

.mat-dialog-actions {
  float: right !important;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
}


#page-title {
  text-align: center;
}


/********************
  SPOTLIGH ANIMATION 
*********************/

.lights-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: white;
  opacity: 1;
}
.spotlight {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(65, 121, 204, 0.2), transparent);
  position: absolute;
  top: 200px;
  right: 23%;
  animation: move-mirror 15s linear infinite;
}

.mirror-spotlight {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(65, 121, 204, 0.2), transparent);
  position: absolute;
  top: 200px;
  left: 23%;
  animation: move 15s linear infinite;
}

@keyframes move {
  0% {
      transform: translate(0, 0);
  }
  20% {
      transform: translate(25vw, 7vh);
  }
  28.57% {
      transform: translate(30vw, 25vh);
  }
  32.86% {
      transform: translate(35vw, 30vh);
  }
  45.14% {
      transform: translate(15vw, 25vh);
  }
  56% {
      transform: translate(25vw, 15vh);
  }
  63% {
      transform: translate(20vw, 35vh);
  }
  67% {
      transform: translate(35vw, 25vh);
  }
  100% {
      transform: translate(0, 0);
  }
}
@keyframes move-mirror {
  0% {
      transform: translate(0, 0);
  }
  20% {
      transform: translate(-25vw, 7vh);
  }
  28.57% {
      transform: translate(-30vw, 25vh);
  }
  32.86% {
      transform: translate(-35vw, 30vh);
  }
  45.14% {
      transform: translate(-15vw, 25vh);
  }
  56% {
      transform: translate(-25vw, 15vh);
  }
  63% {
      transform: translate(-20vw, 35vh);
  }
  67% {
      transform: translate(-35vw, 25vh);
  }
  100% {
      transform: translate(0, 0);
  }
}




/*****************************************************
	Custom style for phone input
*****************************************************/

.iti {
	display: block !important;
	margin-bottom: 20px;
}

.onboard-wizard-phone .iti {
  margin: 0.25em 0;
}

.iti .dropdown-menu.country-dropdown {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-color: rgb(224,224,224);
	margin-top: -1px;
}

.iti .iti__country-list {
	box-shadow: none;
	font-size: 14px;
	margin-left: 0;
	width: 244px;
	max-height: 170px;
}

.iti__flag-container.open + input {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.iti .search-container input {
	font-size: 14px;
	border-color: rgb(224,224,224);
	border-radius: 0;
	padding: 5px 10px;
}

.iti .search-container input:focus {
	outline: none;
}

@media screen and (max-width: 479px) {
	.iti .iti__country-list {
		width: 88.3vw;
	}
}

ngx-intl-tel-input input {
	height: 52px;
	margin-bottom: 20px;
  padding-bottom: 1.34375em;
  width: 100%;
	padding: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(224,224,224);
	border-radius: 4px;
	font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
}

ngx-intl-tel-input input:hover {
	border: 2px solid #212121;
}

ngx-intl-tel-input input:focus {
	outline: none !important;
	border-color: #6E76B4;
  border-width: 2px;
	box-shadow: 0 0 0 0 #000;
}

ngx-intl-tel-input.ng-invalid input  {
	outline: none !important;
	border-color: #f44336;
  border-width: 2px;
	box-shadow: 0 0 0 0 #000;
}

ngx-intl-tel-input input::-webkit-input-placeholder {
	color: #8a8a8a;
}

ngx-intl-tel-input input:-ms-input-placeholder {
	color: #8a8a8a;
}

ngx-intl-tel-input input::-ms-input-placeholder {
	color: #8a8a8a;
}

ngx-intl-tel-input input::placeholder {
	color: #8a8a8a;
}

ngx-intl-tel-input input[disabled] {
	background-color: #e5eaf1;
}

/* .custom {
  border: 2px solid green !important; 
} */