<script>
    $(document).ready(function() {
        $('.mdb-select').materialSelect();
    });
</script>
<ng-sidebar-container style="height: 95vh;">
    <ng-sidebar [(opened)]="createList || createUserList" position="right" mode="push">
        <div class="container">
            <div class="header">
                <label *ngIf="listType==='phoneList' && !editPhoneList" class="title">Create New Phone List</label>
                <label *ngIf="listType==='phoneList' && editPhoneList" class="title">Edit Phone List</label>
                <label *ngIf="listType==='userList' && !editUserList" for="createUserList" class="title">Create New User List</label>
                <label *ngIf="listType==='userList' && editUserList" for="editUserList" class="title">Edit User List</label>
                <button type="button" style="top:30px !important;" class="close" id="closePhoneListBtn" aria-label="Close" (click)="closeSideBar()"></button>
            </div>
            <form (keydown.enter)="$event.preventDefault()" #listForm="ngForm" class="form-scroll">
                <div class="body" *ngIf="listType==='phoneList'">
                    <div class=form-group>
                        <label for="listName" class="form-label" id="resourceNameLabel">Resource List Name</label>
                        <input required type="text" id="listName" name="listName" placeholder="Enter Name" class="form-control" [(ngModel)]="phoneList.name" #listName="ngModel">
                    </div>
                    <div class=form-group>
                        <label for="listDescription" class="form-label" id="descriptionLabel">Description</label>
                        <textarea type="text" id="listDescription" name="listDescription" placeholder="Description..." class="form-control" [(ngModel)]="phoneList.description" rows="2" #listDescription="ngModel"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Selected Phones</label>
                        <div class="phones-panel">
                            <div *ngIf="phoneList.phones.length < 1" class="messageNoPhones">Use the list to the left to filter and select phones to add to the phone list. Checked off phones will appear here
                            </div>
                            <table style="margin: 10px;">
                                <!-- position: absolute; -->
                                <tbody style=" height:200px; width: 100%;display:contents">
                                    <tr style="vertical-align: middle" *ngFor="let phone of phoneList.phones;let i=index;">
                                        <td style="width:25px;">
                                            <input type="checkbox" id="phoneSelected{{i}}" name="phoneSelected{{i}}" [(ngModel)]="phone.selected" (change)="removeFromList(phone)">
                                        </td>
                                        <td class="phoneNames" id="phoneNameField{{i}}"> &nbsp;&nbsp;{{phone.name}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="body" *ngIf="listType==='userList'">
                    <div class=form-group>
                        <label for="listName" class="form-label" id="resourceNameLabel">Resource List Name</label>
                        <input required type="text" id="listName" name="listName" placeholder="Enter Name" class="form-control" [(ngModel)]="userList.name" #listName="ngModel">
                    </div>
                    <div class=form-group>
                        <label for="listDescription" class="form-label" id="descriptionLabel">Description</label>
                        <textarea type="text" id="listDescription" name="listDescription" placeholder="Description..." class="form-control" [(ngModel)]="userList.description" rows="2" #listDescription="ngModel"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Selected Users</label>
                        <div class="phones-panel">
                            <div *ngIf="userList.users.length < 1" class="messageNoPhones">Use the list to the left to filter and select users to add to the user list. Checked off users will appear here
                            </div>
                            <table style="margin: 10px;">
                                <!-- position: absolute; -->
                                <tbody style=" height:200px; width: 100%;">
                                    <tr style="vertical-align: middle" *ngFor="let user of userList.users;let i=index;">
                                        <td style="width:25px;">
                                            <input type="checkbox" id="userSelected{{i}}" name="userSelected{{i}}" [(ngModel)]="user.selected" (change)="removeUserFromUserList(user)">
                                        </td>
                                        <td class="userNames" id="userNameField{{i}}"> &nbsp; &nbsp;{{user.userName}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="footer" style="margin-top:5px;">
                    <div class="form-group">
                        <button type="button" class="cancel-btn" id="cancelPhoneListBtn" (click)="closeSideBar()">
                            Cancel
                        </button>
                        <button *ngIf="(listType==='phoneList' && addToPhoneList) || (listType==='userList' && addToUserList)" type="submit" class="create-btn" id="createPhoneListBtn" (click)="createPoolList()" [disabled]="!listForm.form.valid">
                            Create
                        </button>
                        <button *ngIf="(listType==='phoneList' && editPhoneList) || (listType==='userList' && editUserList)" type="submit" class="create-btn" id="updatePhoneListBtn" (click)="updatePoolList()" [disabled]="(!listForm.form.valid  || checkForListChanges() || disableUpdateButton)">
                            Update
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </ng-sidebar>
    <div ng-sidebar-content>
        <div class="phone-conf">
            <div class="row" style="margin-top: 17px;">
                <div class="col-lg-9">
                    <label class="view-title">Phone Manager</label>&nbsp;&nbsp;&nbsp;
                    <button [ngClass]="phoneInventory?'buttonPhoneActive':'buttonPhoneInactive'" (click)="changeView('inventory')">
                        Phone Inventory
                    </button>&nbsp;&nbsp;
                    <button [ngClass]="phonesList?'buttonPhoneActive':'buttonPhoneInactive'" (click)="changeView('list')">
                        Phone List
                    </button>&nbsp;&nbsp;
                    <button [ngClass]="usersInventory?'buttonPhoneActive':'buttonPhoneInactive'" (click)="changeView('user')">
                        User
                    </button>&nbsp;&nbsp;
                    <button [ngClass]="usersList?'buttonPhoneActive':'buttonPhoneInactive'" (click)="changeView('usersList')">
                        User List
                    </button>

                    <button *ngIf="phoneInventory && enabledPhoneOps" type="button" class="btn-new" (click)="createNewPhone()">
                        Add Phone(s)
                    </button>
                    <button *ngIf="phoneInventory && enabledPhoneOps" type="button" class="btn-new" (click)="importPhones()">
                        Import/Export Phone(s)
                    </button>
                    <button *ngIf="phonesList" type="button" class="btn-new" id="createPhoneListBtn" (click)="openNewListBar('phoneList')">
                        Create New Phone List
                    </button>
                    <button *ngIf="usersInventory" type="button" class="btn-new" id="createUserField" (click)="createUser()">
                        Create User
                    </button>
                    <button *ngIf="usersList" type="button" class="btn-new" id="createUserListField" (click)="openNewListBar('userList')">
                        Create New User List
                    </button>

                </div>
                <div class="col-lg-3">
                    <input type="text" placeholder="Search" name="name" id="searchbar" class="search-bar" [(ngModel)]="searchQuery">
                </div>
            </div>
            <div style="width: 97%">
                <phone-inventory *ngIf="phoneInventory" [addToPhoneList]="addToPhoneList" [editPhoneList]="editPhoneList" [searchQuery]="searchQuery" [phonesAtInventoryByList]="phonesAtInventoryByList" (searchQueryStatusChange)="updateQuery($event)">
                </phone-inventory>
                <phone-list *ngIf="phonesList" [searchQuery]="searchQuery" (searchQueryStatusChange)="updateQuery($event)" (phoneListsAtInventory)="changeView($event)"> </phone-list>
                <app-user-inventory *ngIf="usersInventory" [addToUserList]="addToUserList" [editUserList]="editUserList" [searchQuery]="searchQuery" (searchQueryStatusChange)="updateQuery($event)"></app-user-inventory>
                <app-user-list *ngIf="usersList" [searchQuery]="searchQuery" (searchQueryStatusChange)="updateQuery($event)"></app-user-list>
            </div>
        </div>
    </div>
</ng-sidebar-container>