.phone-conf {
  background: #f1f0f0;
  height: 90%;
  width: 95%;
  margin-left: 55px;
}

.view-title {
  font-family: "Helvetica Neue Regular";
  font-style: normal;
  font-size: 20px;
}

.btn-new {
  background: none;
  color: #7694B7;
  border: 0;
  font-size: 14px;
  font-family: 'Helvetica Neue Regular';
  margin-left: 22px;
}

.btn-new:focus {
  outline: none;
  box-shadow: none;
}

.buttonPhoneInactive {
  outline: 0px;
  font-size: 14px;
  color: #414141;
  background-color: transparent;
  border: none;
  opacity: 0.7;
  font-family: "Helvetica Neue Medium";
  box-shadow: none;
}

.buttonPhoneActive {
  outline: 0px;
  font-size: 14px;
  color: #414141;
  background-color: transparent;
  border-width: 2px;
  border-color: #7694B7;
  border-right: none;
  border-left: none;
  border-top: none;
  font-family: "Helvetica Neue Medium";
  box-shadow: none;
}

.container {
  padding: 0%;
  width: 409.03px;
  height: 100%;
  background-color: #FFFFFF;
}

.header {
  background-color: #EAEAEA;
  height: 73px;
}

.close {
  position: absolute;
  top: 15px;
  right: 32px;
  width: 20px;
  height: 20px;
}

.close:before,
.close:after {
  position: absolute;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.close:focus {
  outline: none;
  box-shadow: none;
}

.title {
  font-size: 22px;
  font-family: "Helvetica Neue Regular";
  color: #414141;
  padding-left: 20px;
  padding-top: 20px;
}

.create-btn {
  font-family: 'Helvetica Neue Regular';
  font-style: normal;
  color: #FFFFFF;
  background: #7694B7;
  font-size: 14px;
  opacity: 100%;
  border: 0;
  border-radius: 45px;
  height: 28px;
  width: 123.07px;
}

.create-btn:focus {
  outline: none;
  box-shadow: none;
}

/* .cancel-btn {
  font-family: 'Helvetica Neue Regular';
  font-style: normal;
  color: #7694B7;
  font-size: 14px;
  background: #FFFFFF;
  opacity: 100%;
  border: 0;
  height: 28px;
  width: 123.07px;
} */



.cancel-btn {
  font-family: 'Helvetica Neue Regular';
  font-style: normal;
  color: #7694B7;
  font-size: 14px;
  opacity: 100%;
  background: #FFFFFF;
  border: 0;
  height: 28px;
  width: 80px;
}

/* .cancel-btn:focus {
  outline: none;
  box-shadow: none;
} */

.footer {
  float: right;
  margin-right: 30px;
  margin-bottom: 15px;
}

.body {
  padding-top: 10%;
  margin-right: 30px;
  margin-left: 35px;
  height: 78%;
}

.form-label {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: #414141;
}

::-webkit-input-placeholder {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  opacity: 0.3;
}

.phones-panel {
  /* height: 300px; */
  background-color: #EAEAEA;
  opacity: 1;
}

.messageNoPhones {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 14px;
  padding: 10px;
  opacity: 0.6;
  text-align: justify;
}

.phoneNames {
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333F4D;
}

.filter-dropdown {
  margin-top: 7%;
  margin-right: 5%;
  float: right;
  background: #F7F7F7;
  height: 37px;
  border-color: #C9C9C9;
  border-width: 1px;
  font-family: 'Helvetica Neue Regular';
  font-style: normal;
  font-size: 15px;
  color: #7B867B;
}

.search-bar {
  height: 42px;
  width: 91%;
  border-color: #EAEAEA;
  border-width: 1px;
  border-style: solid;
  font-family: "FontAwesome", "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
  font-size: 15px;
  color: #333333;
  background: #FFFFFF url(src/assets/images/icons/search_icon.svg) left no-repeat;
  background-size: 25px 20px;
  padding-left: 30px;
}

.items-viewport {
  height: 75vh;
  margin-top: 10px;
}
.form-scroll{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 77vh !important;
  padding: 0px;
}
@media only screen and (min-width: 700px) and (max-width:1610px) {
  .body {
    padding-top: 10%;
    margin-right: 30px;
    margin-left: 35px;
    height: 68vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }

}