<div class="container" style="text-align: center;">
    <h1 mat-dialig-title id="modal-title">Select a license to use</h1>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-dialog-content>
            <mat-form-field appearance="outline">
                <mat-label id="status-label">Status</mat-label>
                <mat-select required formControlName="license">
                    <mat-option *ngFor="let license of data" [value]="license.id">
                        {{license.description}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-raised-button id="cancel-button" type="button" (click)="onCancel()">Cancel</button>
            <button id="submit-button" mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit
            </button>
        </mat-dialog-actions>
    </form>
</div>
