.chart-label {
    color: #76BD83;
    font-weight: bold;
    font-size: 18px;
}

.card-header {
    background: #273176;  /* previus color #6E76B4; */
    /* background: #6E76B4; */
    color: white;
}

.card-header h1{
    margin-bottom: 8px;
    margin-top: 8px;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
}

.card-header mat-icon {
    margin-left: 15px;
}

.card-footer {
    background: #F2F3F4;
    color: #273176;
}

.timer {
    font-size: 14px;
    font-weight: 500;
}

.failed-calls-body {
    font-size: 22px;
}

.blue-label {
    color: #273176;  /* previus color #6E76B4; */
}

.red-label {
    color: #bb2426;
}

.failed-calls-value {
    font-weight: bold;
    color: black;
}

.network-quality {
    font-size: 22px;
}

mat-form-field {
    width: 100%;
}

.card-animation .lights-container {
    z-index: 0 !important;
    overflow: hidden;
  }

.footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.footer-text label{
    margin-bottom: 0%;
}

.viewDetail-button {
    color: #273176;
}
.viewDetail-button:hover{
    color: white;
    background-color: #6E76B4;
}
.refreshButton:hover {
    background-color: whitesmoke;
}

.lights-container {
    position: relative;
    z-index: 2;
    color: white;
}

.loadingMessage{
    font-size: 20px;
    line-height: 32px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: black;
}
.reportLoading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.spinner {
    display: block; /* Para que la imagen se muestre como bloque */
    margin: 0 auto; /* Para centrar la imagen horizontalmente */
}

.spotlight {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(65, 121, 204, 0.2), transparent);
    position: absolute;
    top: 70px;
    right: 23%;
  }
  
  .mirror-spotlight {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(65, 121, 204, 0.2), transparent);
    position: absolute;
    top: 70px;
    left: 23%;
  }

.date-picker-form{
    display: flex !important;
    justify-content: space-evenly !important;
    white-space: nowrap !important;
}
.weekly-date-field {
    display: inline-block !important;
    width: 37%;
    padding-right: 5%;
}
.date-field{
    display: inline-block !important; 
    width: 37%;
    padding-right: 5%;
}
.region-field{
    display: inline-block !important; 
    width: 70%;
    padding-right: 5%;
    align-items: center;
}
.apply-button {
    /* display: inline-block !important;  */
    padding-left: 5%;
    padding-bottom: 5px;
    width: 27%;
}
.apply-button-enable{
    padding-bottom: 25px;
}
.metric-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.metric-header label {
    margin-bottom: 0;
}
.apply-bttn{
    position: relative;
    bottom: 5px;
    right: -10px;
}

@media (max-width: 600px) {
    .date-picker-form {
        display: inline-block !important;
        width: 100%;
        align-items: center !important; 
        /* white-space: nowrap !important; */
        position: relative;
    }
    .weekly-date-field {
        display: inline-block !important;
        width: 75%;
        padding-right: 0%;
    }
    .date-field {
        display: inline-block !important; 
        width: 75%;
        padding-right: 0%;
    }
    .region-field{
        width: 100%;
        padding-right: 0%;
    }
    .apply-button{
        position: absolute;
        bottom: 30px;
        right: -10px;
    }

    .metrics-values{
        display: flex;
        justify-content: center !important;
        align-items: center !important; 
        margin-bottom: 8px;
    }

    .metrics-values mat-icon{
        align-items: center;
        margin-right: 3px;
    }

    .metrics-values p{
        align-items: center;
        margin-bottom: 0;
        margin-left: 2px;
    }

    .metrics label{
        clear: left;
    }

    .container-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
}

.full-col {
    display: flex;
    flex-flow: column;
    height: calc(100% - 8px);
}

.top-spacing-3 {
    margin-top: 3.5em;
}

.top-spacing-1 {
    margin-top: 1em;
}

@media only screen and (max-width: 1500px){
    .top-spacing-3{
        margin-top: 1.5em;
    }
    .top-spacing-1 {
        margin-top: 1em;
    }
}

@media only screen and (max-width: 1250px){
    .top-spacing-3{
        margin-top: 0;
    }
    .top-spacing-1 {
        margin-top: 0;
    }
}

::ng-deep .mat-tooltip {
    background-color: #6E76B4;  /* previus color rgb(22,53,89) */
    font-size: 14px;
}

.clear-button{
    height: auto;
    padding: 0px;
}

.light-text {
    color: #8a8a8a;
}

.note-content{
    background: white;
}

.notes-card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
}

#note-author{
    font-weight: bolder;
}

.chart-axis-label {
    font-family: Helvetica, Arial, sans-serif;
    text-anchor: middle;
    dominant-baseline: auto;
    font-size: 12px;
    font-weight: 900;
}

.tooltip-title {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.tooltip-body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    display: flex !important;
}

.new-note-container {
    position: fixed;
    top: 180px;
    right: 40px;
    z-index: 999;
}

.new-note-btn {
    background-color: #6E76B4;
    color: white;
}
.apply-flag{
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #6E76B4;
}
.apply-flag mat-icon{
    padding-top: 6px;
    padding-left: 10px;
    font-size: 12px;
}

.hint {    
    font-size: 15px;
    color: #6E76B4;
}
  
.hint mat-icon {
    margin-right: 5px;
}

.missing-tap-card {
    max-width: 35vw;
    max-height: 40vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    align-items: center;
    overflow: hidden;
    margin: 0 0 10px;
    color: black;
}

.mat-card-header {
    justify-content: center;
}

.text-container{
    display: flex;
    position: relative;
    width:38%;
    padding-top: 1%;
    margin: 0 auto;
}

.text-content1{
    display: flex;
    align-items: center;
    font-size:large;
    margin-left: 8%;
}

.text-content2 {
    display: flex;
    align-items: center;
    font-size:large;
    margin-left: 5%;
    margin-right: 2%;
}

.mat-card {
    background-color: #FFBF00;
}