<div>
  <div>
    <app-banner [stylesflag]="'dashboard'" *lcCheckAccessFor="'showBanner'">
    </app-banner>
    <div class="container-fluid controls" id="reportContainer">
      <ng-container *ngIf="hasDashboardDetails; then reportView;else blankView"></ng-container>
    </div>
    <!-- blank view -->
    <ng-template #blankView>
      <div class="jumbotron d-flex align-items-center bg-transparent">
        <div class="container">
          <img *ngIf="isLoadingResults" height="80" width="80" src="assets/images/spinner.gif"
            alt="loading spinner gif">
          <h2 *ngIf="!isLoadingResults">
            Failed to load the dashboard. Please reach out to tekVizion support.
          </h2>
        </div>
      </div>
    </ng-template>


    
    <div>
      <ng-template #reportView>
        
        <div *ngIf="powerBiEmbeddingFlag">
          
          <div class="flex-container">
            <div class="banner-container">
              <mat-button-toggle-group [formControl]="powerBiFontStyleControl" aria-label="Font Style"
                (change)="onChangePowerBiButtonToggle()">
                <mat-button-toggle [value]="DAILY">{{DAILY | titlecase}}</mat-button-toggle>
                <mat-button-toggle [value]="WEEKLY">{{WEEKLY | titlecase}}</mat-button-toggle>
                <mat-button-toggle *lcFeatureToggle="'powerbiTestReport';subaccountId:getSubaccountId()" [value]="TEST1">{{TEST1 | titlecase}}</mat-button-toggle>
                <mat-button-toggle *lcFeatureToggle="'powerbiTestReport';subaccountId:getSubaccountId()" [value]="TEST2">{{TEST2 | titlecase}}</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <div *lcFeatureToggle="'powerbiRefreshFeature';subaccountId:getSubaccountId()">
              <div >
                <button class="refreshButton" mat-raised-button aria-label="Font Style" (click)="refreshDashboard()">
                  <mat-icon>refresh</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <!-- power bi report view -->
          <powerbi-report #reportEmbed
          [embedConfig]="reportConfig" 
          [phasedEmbedding]="phasedEmbeddingFlag"
          [cssClassName]="reportClass" 
          [eventHandlers]="eventHandlersMap">
          </powerbi-report>
        </div>
        <!-- pbrs report images view -->
        <div *ngIf="!powerBiEmbeddingFlag" class="container-fluid controls" id="reportContainer">
          <br>
          <section>
            <div class="flex-container">
              <div class="banner-container">
                <mat-button-toggle-group [formControl]="fontStyleControl" aria-label="Font Style"
                  (change)="onChangeButtonToggle()">
                  <mat-button-toggle [value]="DAILY">{{DAILY | titlecase}}</mat-button-toggle>
                  <mat-button-toggle [value]="WEEKLY">{{WEEKLY | titlecase}}</mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <div *lcFeatureToggle="'powerbiRefreshFeature';subaccountId:getSubaccountId()">
                <div >
                  <button class="refreshButton" mat-raised-button aria-label="Font Style" (click)="refreshDashboard()">
                    <mat-icon>refresh</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <ng-container *ngIf="checkForDashboardDetails(); then withReport;else noReport"> </ng-container>
          </section>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<ng-template #withReport>
  <div class="row plr" *ngFor="let item of resultantImagesList;let i=index;">
    <div [ngClass]="{'col-6':item.reportType===DAILY,'col-12':item.reportType===WEEKLY}" class="p-1 mb-1"
      *ngFor="let image of item.imagesList;let i1=index;">
      <mat-card class="card">
        <mat-card-header class="card-main-header">
          <mat-card-title class="card-title">{{image.reportType}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img [src]="image.imageBase64" class="img-fluid header-image" [id]="i">
        </mat-card-content>
        <mat-card-actions>
          <a *ngIf="item.reportType===DAILY && !openedAsModal" class="clickable-item" (click)="onClickMoreDetails(i1)">Click here for
            detailed report</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</ng-template>

<ng-template #noReport>
  <div *ngIf = "!refresh">
    <div class="jumbotron d-flex align-items-center bg-transparent justify-content-center">
      <h2>
        No Reports available
      </h2>
    </div>
  </div>
</ng-template>
