.mainView {
    background: #f1f0f0;
    height: 90%;
    width: 93%;
    margin-left: 55px;
    margin-bottom: 7vh;
}

.view-title {
    font-family: "Helvetica Neue Regular";
    font-style: normal;
    font-size: 20px;
}

.item-list {
    background: #f1f0f0;
    height: 100%;
    min-height: 100%;
}

.elementCount {
    font-family: "Helvetica Neue Regular";
    font-style: normal;
    font-size: 13px;
    margin-top: 6%;
}

.filter-dropdown {
    margin-top: 7%;
    width: 40%;
    margin-right: 5%;
    float: right;
    background: #f7f7f7;
    border-color: #c9c9c9;
    border-width: 1px;
    font-family: "Helvetica Neue Regular";
    font-style: normal;
    font-size: 15px;
    color: #7b867b;
}

.search-bar {
    margin-top: 6.4%;
    width: 40%;
    height: 42px;
    float: right;
    border-color: #eaeaea;
    border-width: 1px;
    border-style: solid;
    font-family: "FontAwesome", "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    color: #333333;
    padding: 0 0 0 0.5em;
    background: #FFFFFF url(src/assets/images/icons/search_icon.svg) left no-repeat;
    background-size: 25px 20px;
    padding-left: 30px;
}

.btn-new {
    background: none;
    color: #7694B7;
    border: 0;
    font-size: 14px;
    font-family: "Helvetica Neue Regular";
    margin-left: 22px;
}

.btn-new:focus {
    outline: none;
    box-shadow: none;
}

.check-all {
    outline-style: solid;
    outline-color: #203C66;
    outline-width: 1.5pt;
}

.select-all {
    color: #203C66;
    font-family: "FontAwesome", "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
}

.header-row {
    margin-left: 0px;
    margin-right: 0px;
    width: 99%;
}

.action-btn {
    color: #203C66;
    font-family: "FontAwesome", "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    background: none;
    border: none;
}

.sortSelect {
    color: #414141;
    font-size: 14px;
    font-style: normal;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.action-btn:focus {
    outline: none;
    box-shadow: none;
}

.row-test-plan {
    margin-left: 0px;
    margin-right: 0px;
    width: 99%;
}

.col-test-plan {
    padding-left: 0px;
    padding-right: 0px;
}

.align-plans {
    margin-left: auto;
    margin-right: 0;
}

.items-viewport {
    height: 75vh;
    margin-top: 10px;
    display: flex;
}


/* .items-viewport.cdk-drop-list .cdk-virtual-scroll-content-wrapper {
  position: inherit !important;
} */

.list-item {
    width: 100%;
    background: #ffffff;
    margin-bottom: 15px;
    font-size: 20px;
    height: 68px
}

.titleCase {
    /* width: 25ch; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.planCase {
    width: 16em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-name {
    font-family: "Helvetica Neue Medium";
    color: #1d252e;
    font-style: normal;
    font-size: 18px;
}

.item-tags {
    color: #7694B7;
    margin-left: 10px;
    font-size: 12px;
    font-family: "Helvetica Neue Regular";
    /* height: 25px !important; */
}

.descriptions {
    display: inline-block;
    width: 10em;
    line-height: 1em;
    max-height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.plan-descriptions {
    display: inline-block;
    width: 16em;
    line-height: 1em;
    max-height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-description {
    color: #7C8694;
    font-size: 12px;
    font-family: "Helvetica Neue Regular";
    line-height: 0px;
}

.cases-plans {
    display: flex;
}

.item-qty {
    display: inline-block;
    color: #414141;
    font-size: 12px;
    font-family: "Helvetica Neue Regular";
}

.item-modified {
    display: inline-block;
    color: #C2C3C6;
    font-size: 12px;
    font-family: "Helvetica Neue Regular";
}

.item-info {
    height: 22px;
    padding-left: 0;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-right: 0;
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 2px;
    margin-left: 10px;
    height: 15px;
    width: 15px;
    background-color: none;
    outline-style: solid;
    outline-color: #203C66;
    outline-width: 1.5pt;
}

.checkmarkTCP {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -3px;
    margin-left: 10px;
    height: 15px;
    width: 15px;
    background-color: none;
    outline-style: solid;
    outline-color: #203C66;
    outline-width: 1.5pt;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container:hover input ~ .checkmarkTCP {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #203C66;
}

.container input:checked ~ .checkmarkTCP {
    background-color: white;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkmarkTCP:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container input:checked ~ .checkmarkTCP:after {
    display: block;
}

.container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container .checkmarkTCP:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #203C66;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.form-label {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #414141;
}

.test-plan {
    height: 100%;
}

.modal-header {
    background-color: #C2C3C6;
}

.modal-title {
    margin-left: 15px;
    font-size: 22px;
    font-family: 'Helvetica Neue Regular';
    color: #000000;
}

.modal-body {
    margin-left: 15px;
    background: #ffffff;
    max-height: 600px;
    overflow-y: auto;
}

.modal-dialog {
    overflow-y: initial !important;
}

.create-btn {
    font-family: "Helvetica Neue Regular";
    font-style: normal;
    color: #FFFFFF;
    background: #7694B7;
    font-size: 14px;
    opacity: 100%;
    border: 0;
    border-radius: 45px;
    height: 28px;
    width: 123.07px;
}

.create-btn:focus {
    outline: none;
    box-shadow: none;
}

.tests-panel {
    height: 300px;
    background-color: #eaeaea;
    opacity: 1;
    overflow-y: auto;
}

.cancel-btn {
    font-family: "Helvetica Neue Regular";
    font-style: normal;
    color: #7694B7;
    font-size: 14px;
    background: #ffffff;
    opacity: 100%;
    border: 0;
    height: 28px;
    width: 123.07px;
}

.cancel-btn:focus {
    outline: none;
    box-shadow: none;
}

:host >>> .popover > .arrow {
    display: none;
}

:host >>> .popover {
    background-color: #ffffff;
    color: #ffffff;
}

.btn-opt {
    background: none;
    border: 0;
}

.btn-opt:focus {
    outline: none;
    box-shadow: none;
}

:host >>> .popover.bottom {
    margin-top: -5px !important;
    margin-left: -55px !important;
}

.pop-option {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-family: 'Helvetica Neue Regular';
    color: #7694B7;
    font-size: 12px;
}

.circle-menu {
    color: #6a6a6a;
    font-size: 4px;
}

.testNames {
    font-size: 14px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #333f4d;
    display: inline-block;
    width: 22em;
    text-overflow: ellipsis;
    line-height: 1em;
    max-height: 1em;
    overflow: hidden;
    vertical-align: middle;
    margin: 0;
    padding-left: 2%;
}

.form-control {
    color: #414141;
    font-size: 14px;
    font-style: normal;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form-control::placeholder {
    color: #bebebe;
    font-style: italic;
}

/* Large devices (laptops/desktops, 992px and up) */

.testCase {
    width: 16em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@media only screen and (min-width: 1024px) and (max-width: 1024px) {
    .btn-new{
        background: none;
        color: #7694B7;
        border: 0;
        font-size: 14px;
        font-family: "Helvetica Neue Regular";
        margin-left: 10px;
    }
    .adjust{
        margin-top: 8px !important; margin-left: -1.5em !important;
    }
    .adjust-addtoplan{
        margin-left: 0em !important;
    }
    .adjust-orderby{
        float: right;
        margin-right: -3.5rem !important;
    }
    .adjust-delete-plan-btn{
        margin-left: 20% !important;
    }
    .search-bar{
        width: 50% !important;
    }
}