.chart-label {
    color: #42a948;
    font-weight: bold;
    font-size: 18px;
}

.card-header {
    background: #7694B7;
    color: white;
}

.card-header h1{
    margin-bottom: 8px;
    margin-top: 8px;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
}

.card-header mat-icon {
    margin-left: 15px;
}

.card-footer {
    background: #F2F3F4;
    color: #243C66;
}

.fail {
    color: #B80000;
}
.footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text label{
    margin-bottom: 0%;
}

.viewDetail-button {
    color: #243C66;
}
.viewDetail-button:hover{
    color: white;
    background-color: rgb(176, 194, 210);
}
