<div class="content">
    <div class="container-fluid" style="color: whitesmoke !important">
        <div class="row" style="padding:23% 30%;text-align: center;">
            <div class="col">
                <div class="row">
                    <div class="col-6" *ngFor="let service of availableServices">
                        <div (click)="onClickService(service)">
                            <img src="assets/images/tokens.png" alt="{{service.label +'-icon'}}">
                            <br>
                            <h3>{{service.label}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>