<div class="content">
    <div class="loading-shade" *ngIf="isDataLoading">
        <mat-spinner *ngIf="isDataLoading"></mat-spinner>
    </div>
    <div class="container-fluid" style="color: whitesmoke !important">
        <div class="row" style="padding:23% 30%;text-align: center;">
            <div class="col">
                <div class="row">
                    <div class="col-6" *ngFor="let service of availableServices">
                        <div (click)="onClickService(service)" class="service-container">
                            <img [src]="service.imagePath" alt="{{service.label +'-icon'}}">
                            <br>
                            <button class="btn-bg"  id="{{service.value +'-button'}}" title="{{service.label}}"
                                [ngClass]="{'not-allowed':!(service.access)}" [disabled]="!(service.access)">
                                <h3 [ngClass]="{'not-allowed':!(service.access)}">
                                    {{service.label}}
                                </h3>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>