.content {
  background-image: url("../../assets/images/bg.png");
  height: 100vh;
  background-size: 100%;
}
img {
  height: 100px;
  width: 100px;
  padding: 5px;
}
h3 {
  padding: 10px;
  cursor: pointer;
  color: white;
}
.btn-bg {
  background: none;
  border: hidden;
}
.not-allowed {
  cursor: not-allowed;
}
.service-container {
  cursor: pointer;
}
