<div class="container" style="text-align: center;">
    <h1 mat-dialig-title>Customer Administrator Emails</h1>
    <form [formGroup]="adminEmailsForm" (ngSubmit)="submit()">
        <div class="flex-container">
            <div class="loading-shade" *ngIf="isDataLoading">
                <mat-spinner *ngIf="isDataLoading"></mat-spinner>
            </div>
            <mat-dialog-content>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Customer Name</mat-label>
                        <input matInput formControlName="customerName">
                    </mat-form-field>
                </div>
                <div *ngFor="let email of adminEmails; let emailIndex = index">
                    <div class="form-row">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input type="email" aria-label="Email" disabled="true" matInput value={{email}}>
                        </mat-form-field>
                        <div style="width: 24px;">
                            <mat-icon *checkAccessFor="'deleteAdminEmail'" type="button" title="Delete email" (click)="deleteExistingEmail(emailIndex)">delete_forever</mat-icon>
                        </div>
                    </div>
                </div>
                <div>
                    <ng-container formArrayName="emails">
                        <ng-container *ngFor="let emailForm of emailForms.controls; let i = index">
                            <div class="form-row" [formGroupName]="i">
                                <mat-form-field appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input type="email" placeholder="Enter a valid email" aria-label="Email" matInput
                                           formControlName="email">
                                </mat-form-field>
                                <mat-icon type="button" title="Delete email" (click)="deleteEmailForm(i)">delete_forever</mat-icon>
                            </div>
                        </ng-container>
                    </ng-container>
                    <button *checkAccessFor="'addAdminEmail'" mat-mini-fab type="button" title="Add email" class="mb-3" (click)="addEmailForm()">
                        <mat-icon class="add-course-btn">add</mat-icon>
                    </button>
                </div>
            </mat-dialog-content>
        </div>
        <mat-dialog-actions>
            <button mat-stroked-button type="button" (click)="onCancel()">Cancel</button>
            <button *checkAccessFor="'addAdminEmail'" mat-raised-button color="primary" type="submit" [disabled]="!adminEmailsForm.valid">Submit</button>
        </mat-dialog-actions>
    </form>
</div>