<div class="modal-header bd-example-modal-xl" draggableModal>
  <label class="modal-title">Validate Media Stats</label>
  <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form (keydown.enter)="$event.preventDefault()" #myActionForm="ngForm" class="model-body-height">
  <div class="modal-body">
    <div class="mycontainer">
      <div class="feild-box row">
        <div class="col-2">
          <label class="phone-label">Phone</label>
        </div>
        <div class="col-2">
          <select required forbiddenValue="" class="form-control" [(ngModel)]="selectedPhone"
            (change)="onSelectPhone()" id="phone" name="phone" #phone="ngModel" title="Select Phone">
            <option disabled selected value="">Select Phone</option>
            <option *ngFor="let resource of resources" value="{{resource.name}}">{{resource.name}}</option>
          </select>
        </div>
        <div class="col-2">
          <label class="Result-label">Result By :</label>
        </div>
        <div class="col-2">
          <select required forbiddenValue="" class="form-control" [(ngModel)]="selectedResourceKey"
            name="resultKeyField" id="resultKeyField" #resultKeyField="ngModel" title="Select Result By">
            <option disabled selected value="">Select ResultIn</option>
            <option *ngFor="let key of resourceKeyList" value="{{key}}">{{key}}</option>
          </select>
        </div>
        <div class="col-2">
          <label class="Media-Type-label">Media Type</label>
        </div>
        <div class="col-2">
          <select required forbiddenValue="" class="form-control" [(ngModel)]="mediaType"
            (change)="onSelectMediaType()" id="mediaType" name="mediaType" title="Select Media Type">
            <option disabled selected value="">Select Media Type</option>
            <option *ngFor="let type of mediaTypeList" [value]="type">
              {{type}}
            </option>

          </select>
        </div>
      </div>
      <div class="feild-box row">
        <div class="col-2">
          <label class="Media-Param-label">Media Param</label>
        </div>
        <div class="col-2">
          <select required forbiddenValue="" class="form-control" [(ngModel)]="selectedMediaParam" id="mediaParam"
            name="mediaParam" title="Select Media Param">
            <option disabled selected value="">Select Media Param</option>
            <option *ngFor="let type of mediaParamList">{{type}}</option>
          </select>
        </div>
        <div class="col-2">
          <label class="Operator-label">Operator </label>
        </div>
        <div class="col-2">
          <select required forbiddenValue="" [(ngModel)]="operator" name="operatorField" id="operatorField"
            class="form-control" #operatorField="ngModel"  title="Select Operator">
            <option disabled selected value="">Select Operator</option>
            <option *ngFor="let operator of operators" value="{{operator}}">{{operator}}</option>
          </select>
        </div>
        <div class="col-2">
          <label class="mediaValue-label">Media Value</label>
        </div>
        <div class="col-2">
          <input required forbiddenValue="" class="form-control" [(ngModel)]="selectedmediaValue"
            (change)="onSelectmediaValue()" id="mediaValue" name="mediaValue" placeholder="Enter media value " title="Enter media value ">
        </div>
      </div>
      <hr class="separator">
      <div class="form-group  feild-box row">
          <label for="failure" class="col-sm-3 col-form-label phone-label">Continue On
            Failure</label>
          <div class="col-sm-3" style="margin-top: 5px; padding-left:0px;">
            <label class="phone-label">
              <input type="radio" name="failure" [value]="true" [(ngModel)]="continueOnFailure" #failure="ngModel">&nbsp;
              <span>True</span>
            </label>&nbsp;
            <label class="phone-label">
              <input type="radio" name="failure" [value]="false" [(ngModel)]="continueOnFailure" #failure="ngModel">
              &nbsp;
              <span>False</span>
            </label>
          </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div *ngIf="title" class="mr-auto"
      style="background-color: #7694B7; height: 30px; width: 30px; border-radius: 100%; margin-top:-2%">
      <img src="assets/images/icons/info.svg" title="{{title}}" style="width:30px; height:30px;">
    </div>
    <button (click)="cancel()" class="modal-cancel-btn">
      Cancel
    </button>
    <button class="modal-scs-btn" (click)="insertAction()" [disabled]="!myActionForm.form.valid">
      <span *ngIf="!actionToEdit">
        Insert Action
      </span>
      <span *ngIf="actionToEdit">
        Update Action
      </span>
    </button>
  </div>
</form>