.phones-list {
    width: 100%;
    margin-left: 12px;
}

.templateClass {
    background: none;
}

.phones-list .regular-text {
    text-align: center;
}

.phones-list #checkbox {
    padding-right: 0%;
}

.row-list {
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    width: 98%;
}

.list-count {
    font-family: "FontAwesome", "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 35px;
}

.col-list {
    padding-left: 0px;
    padding-right: 0px;
}

.check-all {
    outline-style: solid;
    outline-color: #203C66;
    outline-width: 1.5pt;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-right: 0;
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select-all {
    color: #203C66;
    font-family: "FontAwesome", "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
}

.action-btn {
    color: #203C66;
    font-family: "FontAwesome", "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    background: none;
    border: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 2px;
    margin-left: 10px;
    height: 15px;
    width: 15px;
    background-color: none;
    outline-style: solid;
    outline-color: #203C66;
    outline-width: 1.5pt;
}

.checkmarkTCP {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -3px;
    margin-left: 10px;
    height: 15px;
    width: 15px;
    background-color: white;
    outline-style: solid;
    outline-color: #203C66;
    outline-width: 1.5pt;
}

.container:hover input~.checkmark {
    background-color: #ccc;
}

.container:hover input~.checkmarkTCP {
    background-color: #ccc;
}

.container input:checked~.checkmark {
    background-color: #203C66;
}

.container input:checked~.checkmarkTCP {
    background-color: white;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkmarkTCP:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container input:checked~.checkmarkTCP:after {
    display: block;
}

.container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container .checkmarkTCP:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #203C66;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.circle-menu {
    color: #6A6A6A;
    font-size: 4px;
}

:host>>>.popover>.arrow {
    display: none;
}

:host>>>.popover {
    background-color: #FFFFFF;
    color: #FFFFFF;
}

:host>>>.popover.bottom {
    margin-top: -5px !important;
    margin-left: -55px !important;
}

:host>>>.popover.top {
    margin-top: 20px !important;
    margin-left: -55px !important;
}

.pop-option {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-family: 'Helvetica Neue Regular';
    color: #7694B7;
    font-size: 12px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.btn-opt {
    background: none;
    border: 0;
}

.cancel-btn {
    font-family: "Helvetica Neue Regular";
    font-style: normal;
    color: #7694B7;
    font-size: 14px;
    background: #ffffff;
    opacity: 100%;
    border: 0;
    height: 28px;
    width: 123.07px;
}

.cancel-btn:focus {
    outline: none;
    box-shadow: none;
}

.create-btn {
    font-family: "Helvetica Neue Regular";
    font-style: normal;
    color: #ffffff;
    background: #7694B7;
    font-size: 14px;
    opacity: 100%;
    border: 0;
    border-radius: 45px;
    height: 28px;
    width: 123.07px;
}

.create-btn:focus {
    outline: none;
    box-shadow: none;
}

@media only screen and (max-width: 900px) {
    .delete-action {
        padding-left: 10% !important;
    }
}