<div class="row">
    <div class="col-9">
        <div class="row">
            <div class="col-2 col-list">
                <label class="container select-all" style="margin-left: 25px; width: 111px;">
                    <input type="checkbox" [(ngModel)]="allListsChecked" data-md-icheck id="selectAllListCheckField"
                        [disabled]="(userLists | filter: {name: searchQuery}).length==0 || userLists.length==0"
                        (change)="selectAllLists(); toggleVisibility();" style="width: 50%; height: 100%;" />
                    <button class="action-btn" *ngIf="markedLists">Unselect All</button>
                    <button class="action-btn" *ngIf="!markedLists">Select All</button>
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="col-10 delete-action" style="padding-left: 10px; margin-top:8px;">
                <button class="action-btn" [disabled]="getDeleteStatus()" id="deleteUserListBtn" (click)="deleteConfirmation(deleteAllModal)">Delete
                </button>
            </div>
        </div>
    </div>
    <div class="col-3">
        <label class="list-count" id="userListCountLabel">
            User List Count:
            <span id="userListCountField">
                {{(userLists | filter: {name: searchQuery}).length}}
            </span>
            <i *ngIf="searchQuery" class="fa fa-filter" aria-hidden="true"></i>
        </label>
    </div>
</div>

<!-- <div *ngIf="loadingLists" style="text-align:center;">
    <div class="row" style="text-align:center;margin-top:5.5%">
        <div class="col"></div>
        <div class="col">
            <h3>Loading Lists</h3>
            <img class="loading" style="width: 50px;height:50px;" src="assets/images/loading.gif" alt="Loading">
        </div>
        <div class="col"></div>
    </div>
</div> -->

<div class="row">
    <div class="phones-list">
        <data-table #phoneListGrid [columnDefs]="userListsColumns" [virtualScroll]="true" [selectedHeight]="tableHeight" [dataflow]="isRequestCompleted" [data]="userLists | filter: {name: searchQuery}" [colsTag]="'user-lists'">
            <tableRow>
                <ng-template let-item="item" class="templateClass">
                    <tr class="strip-table">
                        <td id="checkbox" width="getColumnWidth(userListsColumns[0])">
                            <label class="container" style="margin-top:3px;">
                                <input type="checkbox" [(ngModel)]="item.selected" data-md-icheck
                                    (change)="checkIfAllListsSelected(); toggleVisibility();">
                                <span class="checkmarkTCP"
                                    [style.outline-color]="!item.selected ? '#BEBEBE' : '#203C66'"></span>
                            </label>
                        </td>
                        <td style="text-align: left" class="regular-text" [width]="getColumnWidth(userListsColumns[1])">
                            {{item.name}}
                        </td>
                        <td style="text-align: left" class="regular-text" [width]="getColumnWidth(userListsColumns[2])">
                            {{item.description|blank}}</td>
                        <td class="regular-text" [width]="getColumnWidth(userListsColumns[3])">
                            {{item.usersCount}}
                        </td>
                        <td class="regular-text" [width]="getColumnWidth(userListsColumns[4])">
                            <ng-template #popTemplate>
                                <div>
                                    <ul style="list-style: none; margin: 0; padding: 0;">
                                        <!-- <li>
                                            <button class="pop-option" (click)="$event.stopPropagation();viewListDetails(item);pop.hide()">
                                                View List Details
                                            </button>
                                        </li> -->
                                        <li>
                                            <button class="pop-option" (click)="$event.stopPropagation();editList(item.id);pop.hide()">
                                                Edit List
                                            </button>
                                        </li>
                                        <li>
                                            <button class="pop-option" (click)="$event.stopPropagation();deleteList(item);pop.hide()">
                                                Delete List
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </ng-template>
                            <button type="button" class="btn-opt" #pop="bs-popover" name="button-{{item.id}}" [popover]="popTemplate" [placement]="getPlacement(item)" [outsideClick]="true" (click)="$event.stopPropagation();" (onShown)="closeOldPop(pop)" data-container="body">
                                <a style="font-size: 1.4rem; letter-spacing: -2px;
                color: #5F5F5F;">...</a>
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </tableRow>
        </data-table>
    </div>
</div>

<!-- Delete all confirmation -->
<ng-template #deleteAllModal>
    <div class="modal-header" draggableModal>
        <label *ngIf="allListsChecked" class="modal-title pull-left">Delete All</label>
        <label *ngIf="!allListsChecked" class="modal-title pull-left">Delete </label>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide();resetView();">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <label *ngIf="allListsChecked" class="form-label regular-text" id="deleteConfirmationMessage">
                    Selected Lists will be deleted. Do you wish to proceed?
                </label>
                <label *ngIf="!allListsChecked" class="form-label regular-text" id="deleteConfirmationMessage">
                    Are you sure that you want to delete selected items?
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="cancel-btn" id="noField" (click)="modalRef.hide();resetView();">
            No
        </button>
        <button class="create-btn" id="yesField" (click)="modalRef.hide();deleteSelectedLists();resetView();">
            Yes
        </button>
    </div>
</ng-template>