<div class="container" style="text-align: center;">
    <h2>Add License</h2>
    <form [formGroup]="addLicenseForm" (ngSubmit)="submit()">
        <div class="flex-container">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Purchase date</mat-label>
                    <input required matInput [matDatepicker]="picker" formControlName="purchaseDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Type</mat-label>
                    <mat-select required formControlName="packageType">
                        <mat-option *ngFor="let item of types" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Device Access Tokens</mat-label>
                    <input required matInput value="" formControlName="tokensPurchased">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Tokens</mat-label>
                    <input required matInput value="" formControlName="deviceLimit">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Renewal Date</mat-label>
                    <input required matInput [matDatepicker]="renewalDatepicker" formControlName="renewalDate">
                    <mat-datepicker-toggle matSuffix [for]="renewalDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #renewalDatepicker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="btn-flex-container">
            <button mat-stroked-button (click)="onCancel()">Cancel</button>
            <button mat-raised-button color="primary" [disabled]="!addLicenseForm.valid" type="submit">Submit</button>
        </div>
    </form>
</div>