<div class="container">
    <div class="loading-shade" *ngIf="isDataLoading">
        <mat-spinner *ngIf="isDataLoading"></mat-spinner>
    </div>

    <ng-container [ngSwitch]="interaction">
        <ng-container *ngSwitchCase="'1'" [ngTemplateOutlet]="template1"></ng-container>
        <ng-container *ngSwitchCase="'2'" [ngTemplateOutlet]="template2"></ng-container>
        <ng-container *ngSwitchCase="'3'" [ngTemplateOutlet]="template3"></ng-container>
        <ng-container *ngSwitchCase="'4'" [ngTemplateOutlet]="template4"></ng-container>
    </ng-container>
</div>

<!-- start screen | '1' -->
<ng-template #template1>
    <div style="padding: 4%;">
        <div class="row">
            <div class="col-12"><img height="40" src="assets/images/tekVizion.png" alt=""></div>
        </div>
        <div class="container mt-5">
            <section>
                <h1>You’ve signed up for the following SpotLight services:​</h1>
                <p class="m-5 fs-4">SpotLight for Microsoft Teams</p>
                <h1>We’ll help you set up your service in just a few minutes.</h1>
            </section>
            <div class="row mt-5">
                <div class="col-6">
                    <button class="btn btn-custom btn-sm px-5" data-bs-toggle="button" (click)="onClickBtn('confirm')"
                        title="Sure. Let's do it!">
                        <p>
                            Sure. Let's do it!
                        </p>
                    </button>
                </div>
                <div class="col-6">
                    <button class="btn btn-secondary btn-sm px-5" data-bs-toggle="button" mat-dialog-close
                        (click)="onClickBtn('cancel')" title="Not right now">
                        <p>
                            Not right now
                        </p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!-- configure reports | '2' -->
<ng-template #template2>
    <form [formGroup]="userProfileForm" (ngSubmit)="onConfigureUserprofile()">
        <h2>Let's set what reports you receive.</h2>
        <br>
        <div class="row">
            <div class="col-6">
                <input id="name" type="text" formControlName="name" class="form-control" placeholder="Name"
                    aria-label="Name">
                <span *ngIf="userProfileForm.get('name').touched && userProfileForm.get('name').invalid"></span>
            </div>
            <div class="col-6">
                <input id="job-title" type="text" formControlName="jobTitle" class="form-control"
                    placeholder="Job Title" aria-label="Job Title">
                <span *ngIf="userProfileForm.get('jobTitle').touched && userProfileForm.get('jobTitle').invalid"></span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <input id="email" type="email" formControlName="email" class="form-control" placeholder="E-mail"
                    aria-label="Email">
                <span *ngIf="userProfileForm.get('email').touched && userProfileForm.get('email').invalid"></span>
            </div>
            <div class="col-6">
                <input id="company-name" type="text" formControlName="companyName" class="form-control"
                    placeholder="Your Company" aria-label="Your Company">
                <span
                    *ngIf="userProfileForm.get('companyName').touched && userProfileForm.get('companyName').invalid"></span>
            </div>
        </div>
        <br>
        <div class="row ">
            <div class="col-6">
                <!-- <input id="phone-number" type="text" formControlName="phoneNumber" placeholder="Phone number"
                    class="form-control" maxlength="10"/> -->
                <input matInput type="text" ng2TelInput [ng2TelInputOptions]="{initialCountry: 'in'}"
                    formControlName="phoneNumber" id="phoneNumber" (intlTelInputObject)="telInputObject($event)"
                    (countryChange)="onCountryChange($event)" />
                <span
                    *ngIf="userProfileForm.get('phoneNumber').dirty && userProfileForm.get('phoneNumber').hasError('required')"></span>
                <span
                    *ngIf="userProfileForm.get('phoneNumber').touched && userProfileForm.get('phoneNumber').hasError('pattern')"></span>
            </div>
        </div>
        <br>
        <div>
            <h2>What information do you want to receive?</h2>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Select Type</mat-label>
                    <mat-select formControlName="type" id="type">
                        <mat-option value="TYPE:HIGH TIER"> HIGH TIER </mat-option>
                        <mat-option value="TYPE:LOW TIER"> LOW TIER </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngFor="let item of reportsNotificationsList;">
                <div class="row">
                    <div class="col-11">
                        <label class="form-check-label" [for]="item.value">{{item.label}}</label>
                    </div>
                    <div class="col-1">
                        <input class="form-check-input float-end" type="checkbox" [value]="item.checked"
                            [id]="item.value" (change)="onFormCheckboxChange($event,item)">
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-custom btn-sm float-end mt-4 px-3" type="submit"
            [disabled]="!userProfileForm.valid">Save</button>
    </form>
</ng-template>
<!-- add another stakeholder confirmation | '3' -->
<ng-template #template3>
    <div>
        <div style="margin: 25%;">
            <div>
                <div class="row">
                    <div class="col-12">
                        <h2>Want to add another stakeholder?</h2>
                    </div>
                </div>
                <br>
                <div class="row" style="text-align: center;">
                    <div class="col-6">
                        <button class="btn btn-secondary btn-sm px-3" (click)="addStakeholdersConfirmation('no')">
                            <p>
                                No, I'm done
                            </p>
                        </button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-custom btn-sm px-3" (click)="addStakeholdersConfirmation('yes')">
                            <p>Yes</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</ng-template>
<!-- add another stakeholder | '4' -->
<ng-template #template4>
    <div>
        <h2>Add another stakeholder</h2>
        <p>Enter their information here.</p>
        <br>
        <form [formGroup]="stakeholderForm" (ngSubmit)="addStakeholder()">
            <div class="row">
                <div class="col-6">
                    <input id="name" type="text" formControlName="name" class="form-control" placeholder="Name"
                        aria-label="Name">
                    <span *ngIf="stakeholderForm.get('name').touched && stakeholderForm.get('name').invalid"></span>
                </div>
                <div class="col-6">
                    <input id="job-title" type="text" formControlName="jobTitle" class="form-control"
                        placeholder="Job Title" aria-label="Job Title">
                    <span
                        *ngIf="stakeholderForm.get('jobTitle').touched && stakeholderForm.get('jobTitle').invalid"></span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                    <input id="email" type="email" formControlName="subaccountAdminEmail" class="form-control"
                        placeholder="E-mail" aria-label="Email">
                    <span
                        *ngIf="stakeholderForm.get('subaccountAdminEmail').touched && stakeholderForm.get('subaccountAdminEmail').invalid"></span>
                </div>
                <div class="col-6">
                    <input id="company-name" type="text" formControlName="companyName" class="form-control"
                        placeholder="Your Company" aria-label="Your Company">
                    <span
                        *ngIf="stakeholderForm.get('companyName').touched && stakeholderForm.get('companyName').invalid"></span>
                </div>
            </div>
            <br>
            <div class="row ">
                <div class="col-6">
                    <input matInput type="text" ng2TelInput [ng2TelInputOptions]="{initialCountry: 'in'}"
                    formControlName="phoneNumber" id="phoneNumber" (intlTelInputObject)="telInputObject($event)"
                    (countryChange)="onCountryChange($event)" />
                    <span
                        *ngIf="stakeholderForm.get('phoneNumber').dirty && stakeholderForm.get('phoneNumber').hasError('required')"></span>
                    <span
                        *ngIf="stakeholderForm.get('phoneNumber').touched && stakeholderForm.get('phoneNumber').hasError('pattern')"></span>
                </div>
            </div>
            <br>
            <div>
                <h2>What information do you want this person to receive?</h2>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Select Type</mat-label>
                        <mat-select formControlName="type" id="type">
                            <mat-option value="TYPE:HIGH TIER"> HIGH TIER </mat-option>
                            <mat-option value="TYPE:LOW TIER"> LOW TIER </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div *ngFor="let item of reportsNotificationsList;">
                    <div class="row">
                        <div class="col-11">
                            <label class="form-check-label" [for]="item.value">{{item.label}}</label>
                        </div>
                        <div class="col-1">
                            <input class="form-check-input float-end" type="checkbox" [value]="item.checked"
                                [id]="item.value" (change)="onFormCheckboxChange($event,item)">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <span *ngIf="errorMsg!==''">{{errorMsg}}</span>
                <button class="btn btn-custom btn-sm float-end mt-4 px-3" type="submit"
                    [disabled]="!stakeholderForm.valid || errorCreatingStakeholder">Save</button>
            </div>
        </form>
    </div>
</ng-template>