<div class="modal-header" draggableModal>
  <label class="modal-title">Compare Variables</label>
  <button type="button" class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form (keydown.enter)="$event.preventDefault()" #myActionForm="ngForm">
  <div class="modal-body">
    <div class="mycontainer">
      <div class="form-group row">
        <label for="variableNameField" class="col-sm-2 col-form-label phone-label">Variable - 1 </label>
        <div class="col-sm-3">
          <select required forbiddenValue="" [(ngModel)]="expression" name="variableType" id="variableType"
            class="form-control">
            <option disabled selected value="">Select variable-1</option>
            <option *ngFor="let variable of variableKeyList" value="{{variable}}">{{variable}}</option>
          </select>
        </div>
        <label for="operatorField" class="col-sm-2 col-form-label phone-label">Operator</label>
        <div class="col-sm-3">
          <select required forbiddenValue="" [(ngModel)]="operator" name="operatorField" id="operatorField"
            class="form-control" #operatorField="ngModel">
            <option disabled selected value="">Select Operator</option>
            <option *ngFor="let operator of operators" value="{{operator}}">{{operator}}</option>
            <option value="-contains-">contains</option>
            <option value="-startsWith-">startsWith</option>
            <option value="-endsWith-">endsWith</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="variableNameField" class="col-sm-2 col-form-label phone-label">Variable - 2</label>
        <div class="col-sm-3">
          <select required forbiddenValue="" class="form-control" [(ngModel)]="selectedvariable" id="selectedvariable"
            name="selectedvariable">
            <option disabled selected value="">Select variable-2</option>
            <option *ngFor="let variable of variableKeyList" value="{{variable}}">{{variable}}</option>
          </select>
        </div>
        <label for="failure" class="col-sm-3 col-form-label phone-label">Continue On
          Failure</label>
        <div class="col-sm-3" style="margin-top: 5px; padding-left:0px;">
          <label class="phone-label">
            <input type="radio" name="failure" [value]="true" [(ngModel)]="continueOnFailure" #failure="ngModel">&nbsp;
            <span>True</span>
          </label>&nbsp;
          <label class="phone-label">
            <input type="radio" name="failure" [value]="false" [(ngModel)]="continueOnFailure" #failure="ngModel">
            &nbsp;
            <span>False</span>
          </label>
        </div>
      </div>

    </div>
    <!-- </div> -->
  </div>
  <div class="modal-footer">
    <div *ngIf="title" class="mr-auto"
      style="background-color: #7694B7; height: 30px; width: 30px; border-radius: 100%; margin-top:-2%">
      <img src="assets/images/icons/info.svg" title="{{title}}" style="width:30px; height:30px;">
    </div>
    <button (click)="cancel()" class="modal-cancel-btn">
      Cancel
    </button>
    <button class="modal-scs-btn" (click)="insertAction()" [disabled]="!myActionForm.form.valid">
      <span *ngIf="!actionToEdit">
        Insert Action
      </span>
      <span *ngIf="actionToEdit">
        Update Action
      </span>
    </button>
  </div>
</form>