<div class="modal-header" draggableModal>
    <label class="modal-title">Get MWI Status</label>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form (keydown.enter)="$event.preventDefault()" #myActionForm="ngForm">
    <div class="modal-body">
        <div class="mycontainer">
            <div class="form-group row">
                <label for="device" class="col-sm-2 col-form-label phone-label">Resource</label>
                <div class="col-sm-3">
                    <select required forbiddenValue="" class="form-control" [(ngModel)]="selectedDevice" id="device"
                        name="device" #device="ngModel">
                        <option disabled selected value="">Select Phone</option>
                        <option *ngFor="let resource of resources" value="{{resource.name}}">{{resource.name}}</option>
                    </select>
                </div>
                <label for="result" class="col-sm-3 col-form-label phone-label" style="padding-left: 75px;">
                    Result In</label>
                <div class="col-sm-4">
                    <input required type="text" name="resultField" placeholder="Enter result" class="form-control"
                        [(ngModel)]="result" #resultField="ngModel">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div *ngIf="title" class="mr-auto"
            style="background-color: #7694B7; height: 30px; width: 30px; border-radius: 100%; margin-top:-2%">
            <img src="assets/images/icons/info.svg" title="{{title}}" style="width:30px; height:30px;">
        </div>
        <button (click)="cancel()" class="modal-cancel-btn">
            Cancel
        </button>
        <button class="modal-scs-btn" (click)="insertAction()" [disabled]="!myActionForm.form.valid">
            <span *ngIf="!actionToEdit">
                Insert Action
            </span>
            <span *ngIf="actionToEdit">
                Update Action
            </span>
        </button>
    </div>
</form>