<div class="custom-dialog" style="max-height: 80vh; overflow-y: auto;">
  <button mat-icon-button (click)="onCloseDialog()" class="close-button">
    <mat-icon>close</mat-icon>
  </button>
  <h2 mat-dialog-title class="title">{{ dialogService.dialogData.title }}</h2>
  <p  *ngIf="dialogService.dialogData.summary" class="summary">{{ dialogService.dialogData.summary }}</p>
  <div *ngFor="let section of dialogService.dialogData.sections">
    <h2 class="section-name" *ngIf="section.name">{{ section.name }}</h2>
    <div *ngFor="let element of section.elements">
      <div class="description-container">
        <ng-container *ngIf="element.description && element.subtitle !== ''; else noDots">
          <h3 class="subtitle">{{ element.subtitle}}: </h3>
        </ng-container>
        <ng-template #noDots>
          <h3 class="subtitle">{{ element.subtitle}} </h3>
        </ng-template>
        <p class="description" *ngIf="element.description">{{ element.description }}</p>
      </div>
      <ul>
        <li class="description" *ngFor="let description of element.descriptions">{{ description }}</li>
      </ul>
    </div>
  </div>
</div>