<div class="modal-header" draggableModal>
    <label class="modal-title">Call Escalation</label>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form (keydown.enter)="$event.preventDefault()" #myActionForm="ngForm">
    <div class="modal-body">
        <div class="mycontainer">
            <div class="form-group row">
                <label for="convId" class="col-sm-2 col-form-label phone-label">Conversation ID</label>
                <div class="col-sm-3">
                    <select required (change)="onChangeConversations()" forbiddenValue="" class="form-control"
                        [(ngModel)]="selectedConversation" id="convId" name="convId" #convId="ngModel"
                        title="Select Conversation">
                        <option disabled selected value="">Select Conversation</option>
                        <option value="{{item}}" *ngFor="let item of conversations">{{item}}</option>
                    </select>
                </div>
                <label for="phoneField" class="col-sm-2 col-form-label phone-label"> Phone </label>
                <div class="col-sm-3">
                    <select [title]="selectedPhone" required forbiddenValue="" class="form-control" (change)="onChangePhone()"
                        [(ngModel)]="selectedPhone" id="phone" name="phone" #phone="ngModel">
                        <option disabled selected value="">Select Phone</option>
                        <option *ngFor="let resource of resources" value="{{resource.name}}">{{resource.name}}
                        </option>
                    </select>
                </div>
            </div>
            <hr class="separator" *ngIf="selectedPhone!=''">
            <div class="form-group row" *ngIf="selectedPhone!=''">
                <label for="addOrRemoveParticipantsOptionField"
                    class="col-sm-2 col-form-label phone-label">Option</label>
                <div class="col-sm-3">
                    <select [title]="selectedOption" required forbiddenValue="" class="form-control"
                        [(ngModel)]="selectedOption" id="addOrRemoveParticipantsOptionField"
                        name="addOrRemoveParticipantsOptionField" (change)="onChangeOptions($event.target.value)"
                        #addOrRemoveParticipantsOptionField="ngModel">
                        <option disabled selected value="">Select Option</option>
                        <option *ngFor="let item of options" value="{{item}}">{{item}}
                        </option>
                    </select>
                </div>
                <label for="inviteParticipentResourcesField" *ngIf="selectedOption===ADD_PARTICIPANTS"
                    class="col-sm-2 col-form-label phone-label">Add Participants</label>
                <div class="col-sm-4" *ngIf="selectedOption===ADD_PARTICIPANTS">
                    <ng-select class="form-control" [items]="filteredResourceList" bindLabel="name" bindValue="name"
                        required forbiddenValue="" [multiple]="true" [(ngModel)]="selectedParticipantsToAdd"
                        id="inviteParticipentResourcesField" (change)="onChangeParticipant($event)"
                        name="inviteParticipentResourcesField" #inviteParticipentResourcesField="ngModel"
                        [virtualScroll]="true" placeholder="Select Participants">
                    </ng-select>
                </div>
                <label for="participent" *ngIf="selectedOption===REMOVE_PARTICIPANTS"
                    class="col-sm-2 col-form-label phone-label">Remove Participants</label>
                <div class="col-sm-4" *ngIf="selectedOption===REMOVE_PARTICIPANTS">
                    <select [title]="selectedParticipantsToRemove" required forbiddenValue="" class="form-control"
                        [(ngModel)]="selectedParticipantsToRemove" id="removeParticipentResources" (change)="onChangeRemoveParticipant($event.target.value)"
                        name="removeParticipentResources" #removeParticipentResources="ngModel">
                        <option disabled selected value="">Select Participants</option>
                        <option *ngFor="let resource of filteredResourceList" value="{{resource.name}}">
                            {{resource.name}}
                        </option>
                    </select>
                    <!-- <span class=" participentResources col-form-label phone-label"
                        *ngIf="participentResources == selectedPhone">** can't choose same user **</span> -->
                </div>
            </div>
            <hr class="separator">
            <span class=" participentResources col-form-label phone-label" *ngIf="selectedParticipantsToAdd.length>3">**
                Can't enter more than 3 users **</span>
            <div class="row form-group">
                <label for="failure" class="col-sm-3 col-form-label phone-label">Continue On Failure</label>
                <div class="col-sm-3" style="margin-top: 5px; padding-left:0px;">
                    <label class="phone-label">
                        <input type="radio" name="failure" [value]="true" [(ngModel)]="continueOnFailure"
                            #failure="ngModel">&nbsp;
                        <span>True</span>
                    </label>&nbsp;
                    <label class="phone-label">
                        <input type="radio" name="failure" [value]="false" [(ngModel)]="continueOnFailure"
                            #failure="ngModel">
                        &nbsp;
                        <span>False</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="modal-cancel-btn" (click)="cancel()">
            Cancel
        </button>
        <button class="modal-scs-btn" (click)="insertAction()" [disabled]="selectedParticipantsToAdd.length>3">
            <span *ngIf="!actionToEdit">
                Insert Action
            </span>
            <span *ngIf="actionToEdit">
                Update Action
            </span>
        </button>
    </div>
</form>