.phones-panel {
    height: 300px;
    background-color: #eaeaea;
    opacity: 1;
}

.modal-table {
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Helvetica Neue Regular';
    color: #414141;
    font-size: 14px;
}

.phoneNames {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333F4D;
}