<div class="modal-header" draggableModal>
    <label class="modal-title pull-left">Update Phone List - {{currentList.name}}</label>
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal();">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form (keydown.enter)="$event.preventDefault()" #listForm="ngForm">
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="listName" class="form-label"> Resource List name </label>
                    <input required type="text" [(ngModel)]="currentList.name" name="listName" class="form-control"
                        #listName="ngModel">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label for="selectedPhones" class="form-label">Available Phones - Total:
                    {{allAvailablePhones.length}}</label>
                <div class="phones-panel">
                    <table style="margin: 10px;">
                        <tbody style="position: absolute; height:300px;width: 90%;" class="modal-table">
                            <tr style="vertical-align: middle" *ngFor="let phone of allAvailablePhones"
                                class="modal-table">
                                <td style="width:25px;">
                                    <input type="checkbox" [(ngModel)]="phone.selected"
                                        [ngModelOptions]="{standalone: true}">
                                </td>
                                <td style="text-align: left" class="phoneNames">{{phone.name}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-6">
                <label for="selectedPhones" class="form-label">Current List Phones - Total:
                    {{getMarkedPhones()}}</label>
                <div class="phones-panel">
                    <table style="margin: 10px;">
                        <tbody style="position: absolute; height:300px;width: 90%;" class="modal-table">
                            <tr style="vertical-align: middle" *ngFor="let phone of allAvailablePhones"
                                class="modal-table">
                                <td style="width:25px;" *ngIf="phone.selected">
                                    <input type="checkbox" [(ngModel)]="phone.selected"
                                        [ngModelOptions]="{standalone: true}">
                                </td>
                                <td *ngIf="phone.selected" style="text-align-last: left" class="phoneNames">
                                    {{phone.name}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="modal-cancel-btn" (click)="hideModal();">
            Cancel
        </button>
        <button class="modal-scs-btn" [disabled]="!listForm.form.valid" (click)="updatePhoneList()">
            Update
        </button>
    </div>
</form>