.btn-container {
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.fw-500 {
    font-weight: 500 !important;
}

.test-reports-heading {
    margin: 0;
    padding: 0;
    height: 0;
}

.table-container {
    position: relative;
    min-height: 200px;
    overflow: auto;
}

.no-data-found {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 50px;
}

@media (orientation: landscape) and (min-width: 1282px){
    #customCol {
      margin-top: 4%;
    }
}

@media (orientation: landscape) and (max-width: 1281px){
    #customCol {
      margin-top: 4%;
    }
}
