.btn-container {
    margin: 10px 0px;
    /* display: flex;
    justify-content: space-between; */
}

.fw-500 {
    font-weight: 500 !important;
}

.test-reports-heading {
    margin: 0;
    padding: 0;
    height: 0;
}

.table-container {
    position: relative;
    min-height: 200px;
    overflow: auto;
}

.no-data-found {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 50px;
}

.col-3 {
    width: 20%;
    float: left;
}

@media (orientation: landscape) and (min-width: 1282px){
    #customCol {
      margin-top: 4%;
    }
}

@media (orientation: landscape) and (max-width: 1281px){
    #customCol {
      margin-top: 4%;
    }
}

@media (max-width: 426px) {
    .col-3 {
      width: 80%;
      float: none;
    }
    #form-styles {
        display: flex;
        flex-direction: column;
    }
}

.text-container{
    display: flex;
    position: relative;
    width:38%;
    margin: 0 auto;
}

.text-content1{
    display: flex;
    align-items: center;
    font-size:large;
    margin-left: 8%;
}

.text-content2{
    display: flex;
    align-items: center;
    font-size:large;
    margin-left: 5%;
    margin-right: 2%;
}

.custom-btn {
    background-color: #23578f;
    color: white;
    margin-bottom: 1%;
}

.example-card {
    max-width: 35vw;
    max-height: 40vh;
    
}

.mat-card-header {
    justify-content: center;
}
.mat-button-toggle-checked {
    background-color:#23578f ;
    color: white;
}
.mat-card {
    background-color: rgb(252, 252, 182);
}
