.card-header {
    background: #7694B7;
    color: white;
}
.card-header h1{
    margin-bottom: 8px;
    margin-top: 8px;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
}

.card-header mat-icon {
    margin-left: 15px;
}

.network-quality {
    font-size: 22px;
    margin-top: -15px;
}

mat-form-field {
    width: 100%;
}

.card-animation .lights-container {
    z-index: 0 !important;
    overflow: hidden;
}
.blue-label {
    color: #7694B7;
}

.apply-bttn{
    position: relative;
    bottom: 5px;
    right: -10px;
}

.metric-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.metric-header label {
    margin-bottom: 0;
}

@media (max-width: 600px) {
    .metrics-values mat-icon{
        align-items: center;
        margin-right: 3px;
    }
    .metrics-values p{
        align-items: center;
        margin-bottom: 0; 
        margin-left: 2px;
    }
    .metrics label{
        clear: left;
    }
    .metrics-values{
        display: flex;
        justify-content: center !important;
        align-items: center !important; 
        margin-bottom: 8px;
    }
}

.subtitle h2{
    /* margin-bottom: 8px; */
    /* margin-top: 8px; */
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
}

.subtitle mat-icon {
    margin-left: 15px;
}