<ng-container *ngIf="!isLoading && !privateIsLoading">
<div class="col-12 p-0">
    <div class="card text-center mt-2">
        <div class="card-header">
            <h1>Customer Network Quality <mat-icon matTooltip="Represents the customer's network quality with the detailed reports of Packet loss , Round trip time , Jitter and POLQA.">info_outline</mat-icon></h1>
        </div>
        <div class="card-body container-fluid">
            <form [formGroup]="filters" class="row justify-content-center mt-2 mb-2">
                <div class="justify-content-center" style="align-items: center; white-space: nowrap;">
                    <div style="display: inline-block; padding-right: 15px;">
                        <mat-form-field appearance="outline">
                            <mat-label>User</mat-label>
                            <input type="text"
                                placeholder="User"
                                matInput
                                formControlName="user"
                                [matAutocomplete]="userAuto">
                            <mat-autocomplete autoActiveFirstOption #userAuto="matAutocomplete">
                                <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                                    {{user}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div style="display: inline-block; padding-right: 15px; margin-top: 8px;">
                        <button class="apply-bttn" mat-raised-button
                                id="add-customer-button" (click)="reloadCharts()" [disabled]="filters.disabled">Apply</button>
                    </div>
                </div> 
            </form>
            
            <div class="card-animation" *ngIf="customerNetworkQualityLoading else charts" style="height: 600px; position: relative;">
                <div class="lights-container" >
                    <div>
                        <div class="spotlight"></div>
                    </div>
                    <div>
                        <div class="mirror-spotlight"></div>
                    </div>
                </div>
            </div>
            <ng-template #charts>
                <div class="row mt-2">
                    <div class="network-quality">
                        <div class="row mt-4 justify-content-center">
                            <div class="border">
                                <div class="metric-header">
                                    <mat-icon>call</mat-icon>
                                    <label class="ps-2 blue-label">Calls With Network Stats:</label>
                                    <span class="ms-1">{{ customerNetworkQualitySummary.totalCalls }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="subtitle">
                                <h2 class="mb-3">Calls Above Threshold Metrics <mat-icon matTooltip="Number of calls that exceed the recommended threshold for a particular metric.">info_outline</mat-icon></h2>
                            </div>
                            <div class="col-md-4 p-2 border metrics">
                                <p>{{ customerNetworkQualitySummary.aboveThreshold.jitter }}</p>
                                <label class="blue-label">Jitter (> 30ms)</label>
                            </div>
                            <div class="col-md-4 p-2 border metrics">
                                <p>{{ customerNetworkQualitySummary.aboveThreshold.packetLoss }}</p>
                                <label class="blue-label">Packet Loss(> 2%)</label>
                            </div>
                            <div class="col-md-4 p-2 border metrics">
                                <p>{{ customerNetworkQualitySummary.aboveThreshold.roundTripTime }}</p>
                                <label class="blue-label">Round Trip Time</label>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-3 p-2 border metrics">
                                <div class="metrics-values">
                                    <mat-icon>power_off</mat-icon>
                                    <p>{{ customerNetworkQualitySummary.overall.packetLoss }}</p>
                                </div>
                                <label class="blue-label">Max. Packet Loss Rate (%)</label>
                            </div>
                            <div class="col-md-3 p-2 border metrics">
                                <div class="metrics-values">
                                    <mat-icon>waves</mat-icon>
                                    <p>{{ customerNetworkQualitySummary.overall.jitter }}</p>
                                </div>
                                <label class="blue-label">Max. Jitter (ms)</label>
                            </div>
                            <div class="col-md-3 p-2 border metrics">
                                <div class="metrics-values">
                                    <mat-icon>update</mat-icon>
                                    <p>{{ customerNetworkQualitySummary.overall.roundTripTime }}</p>
                                </div>
                                <label class="blue-label">Max. Round Trip Time (ms)</label>
                            </div>
                            <div class="col-md-3 p-2 border metrics">
                                <div class="metrics-values">
                                    <mat-icon>call_quality</mat-icon>
                                    <p>{{ customerNetworkQualitySummary.overall.polqa }}</p>
                                </div>
                                <label class="blue-label">Min. POLQA</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto mt-3">
                        <mat-button-toggle-group [(ngModel)]="selectedGraph" name="graphSelector"
                                                (ngModelChange)="changeGraph()">
                            <mat-button-toggle value="jitter">Jitter</mat-button-toggle>
                            <mat-button-toggle value="packetLoss">Packet Loss</mat-button-toggle>
                            <mat-button-toggle value="roundTripTime">Round Trip Time</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <div class="col-12 mt-3" style="height: 450px">
                        <apx-chart #polqaChart
                                [series]="polqaChartOptions.series"
                                [chart]="polqaChartOptions.chart"
                                [xaxis]="polqaChartOptions.xAxis"
                                [yaxis]="polqaChartOptions.yAxis"
                                [dataLabels]="polqaChartOptions.dataLabels"
                                [grid]="polqaChartOptions.grid"
                                [stroke]="polqaChartOptions.stroke"
                                [title]="polqaChartOptions.title"
                                [markers]="polqaChartOptions.markers"
                                [legend]="polqaChartOptions.legend"
                                [colors]="polqaChartOptions.colors">
                        </apx-chart>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>
</ng-container>
