<div class="modal-header" draggableModal>
    <label class="modal-title" style="margin-left: 2% !important;">Change Password</label>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form (keydown.enter)="$event.preventDefault()" #passForm="ngForm">
    <div class="modal-body">
        <div class="mycontainer">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="oldPasswordField" class="form-label">Old Password:</label>
                        <input required type="password" name="oldPasswordField" placeholder="Old Password"
                            class="form-control" [(ngModel)]="oldPassword" id="oldPasswordField"
                            #oldPasswordField="ngModel">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="newPasswordField" class="form-label">New Password:</label>
                        <input required type="password" name="newPasswordField" placeholder="New Password"
                            class="form-control" [(ngModel)]="newPassword" id="newPasswordField"
                            #newPasswordField="ngModel">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="closeModal()" class="modal-cancel-btn">
            Cancel
        </button>
        <button class="modal-scs-btn" [disabled]="!passForm.form.valid" (click)="changePassword()">
            Update
        </button>
    </div>
</form>