<div class="modal-header" draggableModal>
    <label class="modal-title">New Role</label>
    <button type="button" class="close" aria-label="Close" (click)="cancelForm()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form (keydown.enter)="$event.preventDefault()" #userForm="ngForm">
    <div class="modal-body">
        <div class="mycontainer">
            <!--   Name   -->
            <div class="form-group row" style="margin-bottom: 0;">
                <div class="col">
                    <div class="form-group">
                        <label for="userName" class="form-label">Name:</label>
                        <input required type="text" name="userName" placeholder="Enter Name" class="form-control" minlength="3"
                               [(ngModel)]="userProfileRole.name" id="userName" #userName="ngModel">
                    </div>
                </div>
            </div>
            <!--   Description  -->
            <div class="form-group row" style="margin-bottom: 0;">
                <div class="col">
                    <div class="form-group">
                        <label class="form-label">Description:</label>
                        <input type="text" name="description" placeholder="Enter Description" class="form-control"
                               [(ngModel)]="userProfileRole.description">
                    </div>
                </div>
            </div>
            <!--   Admin/User  -->
            <div class="form-group row" style="margin-bottom: 0;">
                <!--   Admin   -->
                <div class="col-3">
                    <!--<div class="form-group">
                        <label for="admin" class="form-label">Admin</label> &nbsp;
                        <input type="checkbox" [(ngModel)]="userProfileRole.isAdmin" name="admin" id="admin"
                               [required]="!userProfileRole.isUser"
                               #admin="ngModel" (change)="onSelectAdmin()">
                    </div>-->
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="chekboxcontainer">
                                <input type="checkbox" style="width: 30%; height: 100%;"
                                       [(ngModel)]="userProfileRole.isAdmin" name="admin" id="admin"
                                       [required]="!userProfileRole.isUser"
                                       #admin="ngModel" (change)="onSelectAdmin()">
                                <span class="checkmarkTCP"
                                      [style.outline-color]="!userProfileRole.isAdmin ? '#BEBEBE' : '#203C66'"></span>
                            </label>
                        </div>
                        <div class="col-5" style="margin-top: 2%;">
                            <span>Admin</span>
                        </div>
                    </div>
                </div>
                <!--   User   -->
                <div class="col-3">
                    <!--
                                        <div class="form-group">
                                            <label for="admin" class="form-label">User</label> &nbsp;
                                            <input type="checkbox" [(ngModel)]="userProfileRole.isUser" name="user" id="user"
                                                   [required]="!userProfileRole.isAdmin"
                                                   #admin="ngModel" (change)="onSelectUser()">
                                        </div>
                    -->
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="chekboxcontainer">
                                <input type="checkbox" [(ngModel)]="userProfileRole.isUser" name="user" id="user"
                                       style="width: 30%; height: 100%;" [required]="!userProfileRole.isAdmin"
                                       #admin="ngModel" (change)="onSelectUser()">
                                <span class="checkmarkTCP"
                                      [style.outline-color]="!userProfileRole.isUser ? '#BEBEBE' : '#203C66'"></span>
                            </label>
                        </div>
                        <div class="col-5" style="margin-top: 2%;">
                            <span>User</span>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-6" *ngIf="!userProfileRole.isAdmin">
                     <div class="form-group" style="margin-top: -2px;">
                         <label *ngIf="!enabledPermissions" class="form-label">Enable Permissions&nbsp;</label>
                         <button *ngIf="!enabledPermissions" style="margin-left:1.5px;" class="plus-btn"
                                 (click)=showPermissions()><i class="fa fa-plus" aria-hidden="true"
                                                              style="color: #7694B7;"></i></button>

                         <label *ngIf="enabledPermissions" class="form-label">Hide Permissions&nbsp;</label>
                         <button *ngIf="enabledPermissions" class="plus-btn" (click)=showPermissions()><i
                                 class="fa fa-minus" aria-hidden="true" style="color: #7694B7;"></i></button>
                     </div>
                 </div>-->
            </div>
        </div>
        <!-- hierarchy  -->
        <!--
                <div class="form-group row" *ngIf="user.isUser && enabledPermissions">
                    <label class="form-label" [title]="hierarchyTitle"
                           style="font-weight: bold;margin-left: 40%;">Hierarchy</label>
                </div>
                <div class="form-group" *ngIf="user.isUser && enabledPermissions">
                    <label for="uName" class="form-label">User Name:</label>
                    <input type="text" name="uName" placeholder="Enter User Name" class="form-control"
                           [(ngModel)]="user.hierarchyUserName" id="uName" #userName="ngModel">
                </div>
                <div class="form-group" *ngIf="user.isUser && enabledPermissions">
                    <label for="pwd" class="form-label">Password:</label>
                    <input type="password" name="pwd" placeholder="Enter Password" class="form-control"
                           [(ngModel)]="user.hierarchyPassword" id="pwd" #pwd="ngModel">
                </div>
        -->
        <!--   User permission   -->
        <div class="permissions" *ngIf="userProfileRole.isUser">
            <!--
                        <div class="row form-group">
                            <table>
                                <tbody class="modal-table">
                                    <tr style="text-align: left;">{{selectAll ? 'Unselect All' : 'Select All'}}
                                        <input name="selectAllPermission" (change)="onSelectAll()" type="checkbox"
                                            [(ngModel)]="selectAll"></tr>
                                    <tr style="font-weight: bold;">Management Actions</tr>
                                    <tr *ngFor="let item of userPermissions[0]['actions']" class="modal-table">
                                        <td style="text-align:left !important;">{{item.name}}</td>
                                        <td>
                                            <input type="checkbox" [(ngModel)]="item.enabled" (change)="onChangePermissions(item)"
                                                id="createManagementPermission_{{item.value}}"
                                                name="createManagementPermission_{{item.value}}">
                                        </td>
                                    </tr>
                                    <tr style="font-weight: bold;">License Management</tr>
                                    <tr *ngFor="let item of userPermissions[1]['actions']" class="modal-table">
                                        <td style="text-align:left !important;">{{item.name}}</td>
                                        <td>
                                            <input type="checkbox" [(ngModel)]="item.enabled" id="permission_{{item.value}}"
                                                   (change)="onChangePermissions(item)" name="permission_{{item.value}}">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
            -->
            <div class="list-item">
                <div class="row-test-plan">
                    <div class="row">
                        <div class="col-12" style="text-align: center;font-weight: bold;">
                            <label>Assign Privilege(s)</label>
                        </div>
                    </div>
                    <div class="row">
                        <!--<div class="col-1" style="margin-left: 2%;">
                            <input type="checkbox" name="selectAllPermission" data-md-icheck [(ngModel)]="selectAll"
                                   (change)="onSelectAll()">
                            <span [style.outline-color]="!selectAll ? '#BEBEBE' : '#203C66'"></span>
                        </div>
                        <div class="col-5">
                            <span style="outline-color: rgb(190, 190, 190);font-weight: bold;">{{selectAll ? 'Unselect All' : 'Select All'}}</span>
                        </div>-->
                        <div class="col-1" style="margin-bottom: 3%">
                            <label class="chekboxcontainer select-all">
                                <input type="checkbox" [(ngModel)]="selectAll" data-md-icheck name="selectAllPermission"
                                       (change)="onSelectAll();" style="width: 30%; height: 100%;"/>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-6" style="margin-top: 1%;">
                            <span style="font-weight: 500;">{{selectAll ? 'Unselect All' : 'Select All'}}</span>
                        </div>
                    </div>
                    <div class="row" *ngFor="let item of allPermissions">
                        <div class="col-1">
                            <label class="chekboxcontainer">
                                <input type="checkbox" id="permission_{{item.value}}" name="permission_{{item.value}}"
                                       [(ngModel)]="item.enabled" data-md-icheck (change)="onChangePermissions(item);">
                                <span class="checkmarkTCP"
                                      [style.outline-color]="!item.enabled ? '#BEBEBE' : '#203C66'"></span>
                            </label>
                        </div>
                        <div class="col-5" style="padding-right: 0;">
                            <div class="titleCase"><span class="item-name" style="cursor:pointer;">{{item.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="cancelForm()" class="modal-cancel-btn">
            Cancel
        </button>
        <button class="modal-scs-btn" (click)="createNewRole()" [disabled]="!userForm.form.valid"
                (keydown.enter)="$event.preventDefault()">
            Create
        </button>
    </div>
</form>
