.form-label {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    color: #414141;
}

.lines-label {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #414141;
}

.form-label-clear {
    font-size: 14px;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #BEBEBE;
}

.form-control {
    color: #414141;
    font-size: 14px;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-control::placeholder {
    color: #BEBEBE;
    font-style: italic;
}

.linesContainer {
    min-height: 100px;
}

.plus-btn {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: thin solid #EAEAEA;
    cursor: pointer;
    overflow: hidden;
    border-radius: 45px;
    outline: none;
}

.close {
    margin-right: -18px;
    margin-top: -15px;
}

.close:focus {
    outline: none;
    box-shadow: none;
}

.file-btn {
    color: #7694B7;
    border: none;
}

.btn-delete {
    margin-top: 5px;
    padding: 5px;
    padding-bottom: 0;
    padding-top: 0;
    color: #ffffff;
    background: #ce0d0db2;
    border-radius: 15%;
    opacity: 100%;
}

.btn-upload {
    margin-top: 5px;
    padding: 5px;
    padding-bottom: 0;
    padding-top: 0;
    color: #ffffff;
    background: #7694B7;
    border-radius: 15%;
    opacity: 100%;
}

.btn-validate {
    margin-top: 5px;
    padding: 5px;
    padding-bottom: 0;
    padding-top: 0;
    color: #ffffff;
    background: green;
    border-radius: 15%;
    opacity: 100%;
}