<div class="modal-header" draggableModal>
    <label class="modal-title">Edit Call Server</label>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form (keydown.enter)="$event.preventDefault()" #instanceForm="ngForm">
    <div class="modal-body">
        <div class="mycontainer">
            <div class="form-group row">
                <!-- name -->
                <div class="col">
                    <div class="form-group">
                        <label for="instanceName" class="form-label">Server Name:</label>
                        <input required type="text" name="instanceName" placeholder="Enter name" class="form-control"
                            [(ngModel)]="instance.name" id="instanceName" #instanceName="ngModel">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <!-- IPv4/FQDN -->
                <div class="col-6">
                    <div class="form-group">
                        <label for="ipAddress" class="form-label">IP address</label>
                        <input required type="text" name="ipAddress" placeholder="Enter IP address" class="form-control"
                            [(ngModel)]="instance.ipAddress" id="ipAddress" #ipAddress="ngModel">
                    </div>
                </div>
                <!-- Port -->
                <div class="col-6">
                    <div class="form-group">
                        <label for="port" class="form-label">Port:</label>
                        <input required type="number" pattern="[0-9]*" name="port" placeholder="Enter port"
                            class="form-control" [(ngModel)]="instance.port" id="port" #port="ngModel">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <!-- IPv6 -->
                <div class="col-6">
                    <div class="form-group">
                        <label for="ipSixAddress" class="form-label">IPv6</label>
                        <input type="text" name="ipSixAddress" placeholder="Enter IPv6" class="form-control"
                            [(ngModel)]="instance.ipSixAddress" id="ipSixAddress" #ipSixAddress="ngModel">
                    </div>
                </div>
                <!-- DPort -->
                <div class="col-6">
                    <div class="form-group">
                        <label for="dport" class="form-label">D Port:</label>
                        <input type="number" pattern="[0-9]*" name="dport" placeholder="Enter Dport"
                            class="form-control" [(ngModel)]="instance.dport" id="dport" #dport="ngModel">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <!-- Protocol -->
                <div class="col-6">
                    <div class="form-group">
                        <label for="connectionProtocol" class="form-label">Protocol:</label>
                        <select disabled required forbiddenValue="" [(ngModel)]="instance.connectionProtocol"
                            name="connectionProtocol" id="connectionProtocol" class="form-control"
                            #connectionProtocol="ngModel">
                            <option selected value="">Select Protocol</option>
                            <option *ngFor="let type of protocolList" value="{{type}}">{{type}}</option>
                        </select>
                    </div>
                </div>
                <!-- Relay -->
                <div class="col-6">
                    <div class="form-group">
                        <label for="relay" class="form-label">Relay Name:</label>
                        <ng-select class="form-control" [items]="relaysList" name="relay" labelForId="relay"
                            bindLabel="name" bindValue="id" placeholder="Select Relay Name"
                            [(ngModel)]="instance.onPOINTOprId" (change)="onChangeRelay($event)" [virtualScroll]="true">
                            <ng-template ng-option-tmp let-item="item">
                                <div [title]="item.name">{{item.name}}</div>
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
            </div>
            <!-- username -->
            <div class="form-group row">
                <div class="col">
                    <div class="form-group">
                        <label for="userName" class="form-label">Username:</label>
                        <input required type="text" name="userName" placeholder="Enter username" class="form-control"
                            [(ngModel)]="instance.userName" id="userName" #userName="ngModel">
                    </div>
                </div>
            </div>
            <!-- password -->
            <div class="form-group row">
                <div class="col">
                    <div class="form-group">
                        <label for="password" class="form-label">Password:</label>
                        <input required type="password" name="password" placeholder="Enter password"
                            class="form-control" [(ngModel)]="instance.password" id="password" #password="ngModel">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button (click)="closeModal()" class="modal-cancel-btn">
            Cancel
        </button>
        <button class="modal-scs-btn" (click)="updateInstance()"
            [disabled]="!instanceForm.form.valid || !instanceForm.form.dirty">
            Update
        </button>
    </div>
</form>