<div class="modal-header" draggableModal>
    <label class="modal-title">Schedule Project</label>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form (keydown.enter)="$event.preventDefault()" #schedulerForm="ngForm">
    <div class="modal-body">
        <div class="form-group row">
            <div class="col">
                <label for="scheduleStatus" class="form-label title">
                    <input name="scheduleStatus" type="checkbox" [(ngModel)]="status">&nbsp;Schedule Project </label>
                &nbsp;
                <label class="desc-label">(This needs to be checked to enable schedule)</label>
            </div>
        </div>

        <div class="form-group row">
            <label for="projectName" class="col-sm-3 col-form-label form-label">Project Name:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="projectName" disabled [(ngModel)]="project.name"
                    #projectName="ngModel">
            </div>
        </div>
        <hr>
        <div class="form-group row">
            <label for="startDateRes" class="col-sm-3 col-form-label form-label">Start Date:</label>
            <div class="col-sm-4">
                <input type="text" name="startDateRes" autocomplete="off" placeholder="Start Date" class="form-control"
                    bsDatepicker
                    [bsConfig]="{ showWeekNumbers:false, adaptivePosition: true, isAnimated:true, containerClass: 'theme-blue', dateInputFormat: 'MM-DD-YY'}"
                    [(ngModel)]="startDate" (ngModelChange)="startDateSelected()" #startDateRes="ngModel"
                    [minDate]="today">
            </div>
        </div>
        <div class="form-group row">
            <label for="myTime" class="col-sm-3 col-form-label form-label">Start Time:</label>
            <div class="col-sm-9">
                <timepicker name="myTime" [(ngModel)]="time" [showMeridian]="true" [showSpinners]="false"
                    [showSeconds]="true" #myTime="ngModel">
                </timepicker>
            </div>
        </div>
        <div class="form-group row" style="margin-top:-15px;">
            <label class="col-sm col-form-label form-label" style="text-align: center;"><b>Server Time: </b>
                {{serverDateTime}}</label>
        </div>
        <hr>
        <!--   run times    -->
        <div class="form-group row">
            <div class="col-3" style="margin-top: 1% !important;">
                <input type="radio" [value]="'once'" [checked]="runType === 'once'" [(ngModel)]="runType" name="once"
                    (change)="clearQty()">&nbsp;
                <label class="run-opts">Run Once</label>
            </div>
            <div class="col-9">
                <input type="radio" [value]="'times'" [(ngModel)]="runType" name="times">&nbsp;
                <label class="run-opts">Run</label>&nbsp;
                <input type="number" [(ngModel)]="runsQty" min="0" name="disabled" class="form-control"
                    style="width: 30%;display: inline-block;" [disabled]="runType!=='times'">&nbsp;
                <label class="run-opts">time(s)</label>
            </div>
        </div>
        <hr>
        <!-- Recurrence Pattern -->
        <div class="form-group row">
            <label class="col-sm-3 col-form-label form-label">
                <input name="enableRecurrence" type="checkbox" (change)="onChangeEnableRecurrenceOption()"
                    [(ngModel)]="enableRecurrence">&nbsp;Recurrence
            </label>
            <label class="col-sm-4 col-form-label form-label" for="selectRecurrence">
                &nbsp;&nbsp;Recurrence Pattern
            </label>
            <div class="col-sm-5">
                <select class="form-control" name="selectRecurrence" (change)="setDefault()"
                    [disabled]="!enableRecurrence" [(ngModel)]="recurrencePattern"
                    [ngStyle]="{'border-left':(enableRecurrence ==true &&recurrencePattern == '' )?'5px solid #BC2426': enableRecurrence ==false? 'none': '5px solid #42a948'}">
                    <option value="">Select Recurrence</option>
                    <option *ngFor="let recurrenceOption of recurrences" [value]="recurrenceOption">{{recurrenceOption}}
                    </option>
                </select>
            </div>
        </div>
        <!-- Recurrence Minutes -->
        <div class="form-group row" *ngIf="recurrencePattern == 'Minutes'">
            <div class="col-sm-1"></div>
            <label for="recursiveValue" class="col-sm-3 col-form-label form-label">
                Recur every
            </label>
            <div class="col-sm-3">
                <input type="number" class="form-control" name="recursiveValue" [(ngModel)]="recurEvery" min="0">
            </div>
            <label class="col-sm-1 col-form-label form-label">Minute(s)</label>
        </div>
        <!-- Recurrence Hours-->
        <div class="form-group row" *ngIf="recurrencePattern == 'Hours'">
            <div class="col-sm-1"></div>
            <label for="recursiveValue" class="col-sm-3 col-form-label form-label">
                Recur every
            </label>
            <div class="col-sm-3">
                <input type="number" class="form-control" name="recursiveValue" [(ngModel)]="recurEvery" min="0">
            </div>
            <label class="col-sm-1 col-form-label form-label">Hour(s)</label>
        </div>
        <!-- Recurrence Daily-->
        <div class="form-group row" *ngIf="recurrencePattern == 'Daily'">
            <div class="col-sm-1"></div>
            <label class="col-sm-4 col-form-label form-label">
                <input type="radio" value="singleDaily" [(ngModel)]="selectedWeekly" name="weekdaySel"
                    min="0">&nbsp;Every
                Weekday&nbsp;
            </label>
        </div>
        <div class="form-group row" *ngIf="recurrencePattern == 'Daily'">
            <div class="col-sm-1"></div>
            <label class="col-sm-3 col-form-label form-label">
                <input type="radio" value="recursiveDaily" [(ngModel)]="selectedWeekly"
                    name="weekdaySel">&nbsp;Every&nbsp;
            </label>
            <div class="col-sm-3">
                <input type="number" [disabled]="selectedWeekly == 'singleDaily'" class="form-control"
                    [(ngModel)]="recurEvery" name="recursiveValue" min="0">
            </div>
            <label class="col-sm-1 col-form-label form-label">day(s)</label>
        </div>

        <!-- Recurrence Weekly -->
        <div class="form-group row" *ngIf="recurrencePattern == 'Weekly'">
            <div class="col-sm-1"></div>
            <label for="weekInterval" class="col-sm-3 col-form-label form-label">Recur Every</label>
            <div class="col-sm-3">
                <input type="number" class="form-control" name="weekInterval" [(ngModel)]="recurEvery" min="0">
            </div>
            <label class="col-sm-3 col-form-label form-label">week(s) on:</label>
        </div>
        <div class="form-group row" *ngIf="recurrencePattern === 'Weekly'">
            <div class="col-sm-1"></div>
            <label for="sunday" class="form-label col-sm-2">
                <input name="sunday" type="checkbox" (change)="checkSelectedDays($event.target.checked, 'SUN');"
                    [(ngModel)]="days[0]">&nbsp;Sunday
            </label>
            <label for="monday" class="form-label col-sm-2">
                <input name="monday" type="checkbox" (change)="checkSelectedDays($event.target.checked, 'MON');"
                    [(ngModel)]="days[1]">&nbsp;Monday
            </label>
            <label for="tuesday" class="form-label col-sm-2">
                <input name="tuesday" type="checkbox" (change)="checkSelectedDays($event.target.checked, 'TUE');"
                    [(ngModel)]="days[2]">&nbsp;Tuesday
            </label>
            <label for="wednesday" class="form-label col-sm-2">
                <input name="wednesday" type="checkbox" (change)="checkSelectedDays($event.target.checked, 'WED');"
                    [(ngModel)]="days[3]">&nbsp;Wednesday
            </label>
        </div>
        <div class="form-group row" *ngIf="recurrencePattern === 'Weekly'">
            <div class="col-sm-1"></div>
            <label for="thursday" class="form-label col-sm-2">
                <input name="thursday" type="checkbox" (change)="checkSelectedDays($event.target.checked, 'THU');"
                    [(ngModel)]="days[4]">&nbsp;Thursday
            </label>
            <label for="friday" class="form-label col-sm-2">
                <input name="friday" type="checkbox" (change)="checkSelectedDays($event.target.checked, 'FRI');"
                    [(ngModel)]="days[5]">&nbsp;Friday
            </label>
            <label for="saturday" class="form-label col-sm-2">
                <input name="saturday" type="checkbox" (change)="checkSelectedDays($event.target.checked, 'SAT');"
                    [(ngModel)]="days[6]">&nbsp;Saturday
            </label>
        </div>
        <!-- Recurrence Monthly -->
        <div class="form-group row" *ngIf="recurrencePattern === 'Monthly'">
            <!-- <div class="col-sm-1"></div> -->
            <label for="monthInterval" class="col-sm-1 col-form-label form-label">Day
            </label>
            <div class="col-sm-3">
                <input type="number" class="form-control" name="intervaly" [(ngModel)]="dayInterval" min="0">
            </div>
            <label class="col-sm-3 col-form-label form-label">of every</label>
            <div class="col-sm-3">
                <input type="number" class="form-control" name="everyRecurrence" [(ngModel)]="recurEvery" min="0">
            </div>
            <label class="col-sm-2 col-form-label form-label">month(s)</label>
        </div>
        <hr>

        <!-- END DATE -->
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <label for="noEndDate" class="col-sm-4 col-form-label form-label">
                <input type="radio" value="noEndDate" [(ngModel)]="endOption" name="noEndDate"
                    [disabled]="!enableRecurrence" (change)="resetEnd()">&nbsp;No end Date&nbsp;
            </label>
        </div>
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <label for="occurrencesL" class="col-sm-3 col-form-label form-label">
                <input type="radio" value="occurrences" [(ngModel)]="endOption" (click)="ocurrencesSelected()"
                    [disabled]="!enableRecurrence" name="occurrencesL" (change)="resetEnd()">&nbsp;End After:&nbsp;
            </label>
            <div class="col-sm-3">
                <input type="number" class="form-control" name="occurrencesOp" required min="0"
                    [disabled]="endOption == 'noEndDate' || endOption=='endDate' || !enableRecurrence"
                    [(ngModel)]="endOccurance">
            </div>
            <label class="col-sm-1 col-form-label form-label">Occurrences</label>
        </div>
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <label for="endDate" class="col-sm-3 col-form-label form-label">
                <input type="radio" value="endDate" [(ngModel)]="endOption" name="endDate"
                    [disabled]="!enableRecurrence" (change)="resetEnd()">&nbsp;End Date:&nbsp;
            </label>
            <div class="col-sm-4">
                <input type="text" name="endDateInput" autocomplete="off" placeholder="End Date" class="form-control"
                    bsDatepicker
                    [bsConfig]="{ showWeekNumbers:false, adaptivePosition: true, isAnimated:true, containerClass: 'theme-blue', dateInputFormat: 'MM-DD-YY'}"
                    [(ngModel)]="endDate" [disabled]="endOption!=='endDate'" #endDateInput="ngModel" [minDate]="today">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <button class="modal-cancel-btn" (click)="closeModal()">
                Cancel
            </button>
            <button type="submit" class="modal-scs-btn" (click)="scheduleProject()"
                [disabled]="!schedulerForm.form.valid || !startDate">
                Save
            </button>
        </div>
    </div>
</form>