.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #43425d;
    font-size: 18px;
    font-style: normal;
}

.form-label {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    color: #414141;
}

.form-label-clear {
    font-size: 14px;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #BEBEBE;
}

.form-control {
    color: #414141;
    font-size: 14px;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-control::placeholder {
    color: #BEBEBE;
    font-style: italic;
}


.desc-label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 12px;
    color: #414141;
}

.run-opts {
    text-align: left;
    font-family: 'Helvetica Neue Regular';
    color: rgb(0, 0, 0);
    font-size: 13px;
}
