<div class="modal-header" draggableModal>
    <label class="modal-title">Simulate Key Event</label>
    <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form (keydown.enter)="$event.preventDefault()" #myActionForm="ngForm">
    <div class="modal-body">
        <div class="mycontainer">
            <div class="row">
                <div class="col-1">
                    <label class="phone-label">Phone</label>
                </div>
                <div class="col-3">
                    <select required forbiddenValue="" class="form-control" [(ngModel)]="selectedPhone" id="phone"
                        (change)="onChangeResource()" name="phone" #phone="ngModel">
                        <option disabled selected value="">Select Phone</option>
                        <option *ngFor="let resource of resources" value="{{resource.name}}">{{resource.name}}</option>
                    </select>
                </div>
                <div class="col-1">
                    <label class="phone-label">Type</label>
                </div>
                <div class="col-3">
                    <select required [disabled]="selectedResourceType==='polycom'" forbiddenValue=""
                        class="form-control" [(ngModel)]="selectedType" id="typeField" name="typeField"
                        #typeField="ngModel">
                        <option disabled value="">Select Type</option>
                        <option *ngFor="let item of actionTypeList" [value]="item">
                            {{item | titlecase}}</option>
                    </select>
                </div>
                <div class="col-1">
                    <label for="findByField" class="col-sm-1 col-form-label phone-label">Key</label>
                </div>
                <div class="col-sm-3">
                    <select required forbiddenValue="" class="form-control" [(ngModel)]="selectedKey"
                        (change)="onChangeKey()" id="findByKey" name="findByKey" #findByKey="ngModel">
                        <option disabled selected value="">Select Key</option>
                        <option value="Key Name">Key Name</option>
                        <option *ngIf="selectedResourceType!=='mpp'" value="Key Label">Key Label</option>
                    </select>
                </div>
            </div>
            <hr class="separator">
            <div class="row form-group">
                <div class="col-1" *ngIf="selectedKey==='Key Label' && selectedResourceType!=='yealink'">
                    <label for="resultKeyField" class="col-form-label phone-label"> ResultIn</label>
                </div>
                <div class="col-3" *ngIf="selectedKey==='Key Label' && selectedResourceType!=='yealink'">
                    <select forbiddenValue="" class="resultKeyField form-control" [(ngModel)]="selectedResourceKey"
                        required forbiddenValue="" name="resultKeyField" id="resultKeyField" #resultKeyField="ngModel">
                        <option disabled selected value="">Select ResultIn</option>
                        <option *ngFor="let key of resourceKeyList" [value]="key">{{key}}</option>
                    </select>
                </div>
                <!-- only for yealink -->
                <div class="col-1" *ngIf="selectedKey==='Key Label' && (selectedResourceType==='polycom' || selectedResourceType==='yealink')">
                    <label for="labelField" class="col-form-label phone-label"> Label</label>
                </div>
                <div class="col-3" *ngIf="selectedKey==='Key Label' && (selectedResourceType==='yealink' || selectedResourceType==='polycom')">
                    <select forbiddenValue="" class="form-control" [(ngModel)]="selectedLabel" required
                        forbiddenValue="" name="labelField" id="labelField" #labelField="ngModel">
                        <option disabled selected value="">Select Label</option>
                        <option *ngFor="let labelName of yealinkLabelList" [value]="labelName">{{labelName}}</option>
                    </select>
                </div>

                <div class="col-1" *ngIf="selectedKey==='Key Label'">
                    <label for="displayNameField" style="margin-top: -8px;" class="col-form-label phone-label">
                        Display Name
                    </label>
                </div>
                <div class="col-sm-3" *ngIf="selectedKey==='Key Label'">
                    <input required type="text" name="displayNameField" id="displayNameField"
                        placeholder="Enter Display Name" forbiddenValue='' class="form-control"
                        [(ngModel)]="selectedDisplayName" #displayNameField="ngModel">
                </div>
                <div *ngIf="selectedKey==='Key Name'" class="col-1">
                    <label class="phone-label">Key Name</label>
                </div>
                <div *ngIf="selectedKey==='Key Name'" class="col-3">
                    <select required forbiddenValue="" class="form-control" [(ngModel)]="selectedKeyName"
                        id="keyNameField" name="keyNameField" #keyNameField="ngModel">
                        <option disabled value="">Select Key</option>
                        <option *ngFor="let key of keyNameList" value="{{key}}">{{key}}</option>
                    </select>
                </div>
            </div>
            <hr class="separator">
            <div class="form-group row">
              <label for="failure" class="col-sm-3 col-form-label phone-label">Continue OnFailure</label>
              <div class="col-sm-3" style="margin-top: 5px; padding-left:0px;">
                <label class="phone-label">
                  <input type="radio" name="failure" [value]="true" [(ngModel)]="continueOnFailure" #failure="ngModel">&nbsp;
                  <span>True</span>
                </label>&nbsp;
                <label class="phone-label">
                  <input type="radio" name="failure" [value]="false" [(ngModel)]="continueOnFailure" #failure="ngModel">
                  &nbsp;
                  <span>False</span>
                </label>
              </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div *ngIf="title" class="mr-auto"
            style="background-color: #7694B7; height: 30px; width: 30px; border-radius: 100%; margin-top:-2%">
            <img src="assets/images/icons/info.svg" title="{{title}}" style="width:30px; height:30px;">
        </div>
        <button (click)="cancel()" class="modal-cancel-btn">
            Cancel
        </button>
        <button class="modal-scs-btn" (click)="insertAction()" [disabled]="!myActionForm.form.valid">
            <span *ngIf="!actionToEdit">
                Insert Action
            </span>
            <span *ngIf="actionToEdit">
                Update Action
            </span>
        </button>
    </div>
</form>