.subtitle-label {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    color: #414141;
}

.close {
    margin-right: -18px;
    margin-top: -15px;
}

.close:focus {
    outline: none;
    box-shadow: none;
}

.regular-text {
    font-family: 'Helvetica Neue Regular';
    color: #414141;
    font-size: 14px;
}

td {
    text-align: center;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    line-height: 2.5;
}

thead {
    background-color: #7694B7;
    border: 1px solid #7694B7;
}

th {
    cursor: pointer;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    font-family: 'Helvetica Neue Regular';
}