<div *ngIf="false" class="container-fluid" style="height: 90vh;">
    <div class="content">
        <div style="margin:auto !important">
            <mat-card class="card">
                <mat-card-title>
                    <img height="50" src="assets/images/tekVizion.png" alt="">
                </mat-card-title>
                <mat-card-content>
                    <p>
                        {{redirectingMsg}}
                    </p>
                </mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-footer>
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>
<div>
    <app-loading></app-loading>
</div>