.title {
    font-family: "Helvetica Neue Regular";
    color: #0E2346 !important;
    font-size: 18px;
    float: left;
    padding-left: 15px;
    padding-top: 10px;
}

.btn-opt {
    background: none;
    border: 0;
}

.btn-opt:focus {
    outline: none;
    box-shadow: none;
}

.pop-option {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-family: 'Helvetica Neue Regular';
    color: #7694B7;
    font-size: 12px;
}

.circle-menu {
    color: #6A6A6A;
    font-size: 4px;
}

.menu {
    padding: 0.2em;
    text-align: center;
}

:host>>>.popover>.arrow {
    display: none;
}

:host>>>.popover {
    background-color: #FFFFFF;
    color: #FFFFFF;
}

:host>>>.popover.bottom {
    margin-top: -5px !important;
    margin-left: -55px !important;
}

.space {
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* text-align: left; */
    width: 25% !important;
}

.offline {
    color: red;
}

.online {
    color: green;
}

.check {
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 25% !important;
}