.content {
  padding: 20px;
}

table {
  width: 100%;
}

.table-section {
  margin-top: 5%;
}

th.mat-sort-header-sorted {
  color: black;
}

.btn-section {
  float: right;
}

.example-form-field {
  margin-right: 20px;
}

.month-picker {
  margin-left: 20px;
}

.mt-4 {
  margin-top: auto;
}

h1 {
  font-weight: 500;
}

.page-title {
  text-align: center;
}

.table-container {
  position: relative;
  height: 400px;
  overflow: auto;
}

.confirm-button {
  background-color: #6E76B4;
  color: white;
}

.full-width {
  width: 100%;
}

.bold-field {
  font-weight: 500;
}

@media (max-width: 575.98px) {
  .add-btn {
    font-size: 11px;
  }

  #btn-group {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .filter-container {
    display: flex;
  }
}