<div class="container-fluid content">
    <main>
        <div class="row mb-2">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h1 id="page-title">{{customerSubaccountDetails.customerName}} - {{customerSubaccountDetails.name}}</h1>
            </div>
            <!-- license filter -->
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
                <form [formGroup]="licenseForm">
                    <mat-form-field id="license-period-form" appearance="outline" class="full-width example-form-field">
                        <mat-label><b>TekVizion 360 Subscription</b></mat-label>
                        <mat-select class="bold-field" formControlName="selectedLicense"
                            (valueChange)="onChangeLicense($event)">
                            <mat-option *ngFor="let license of licensesList" [value]="license.id" title="{{license.description}}">
                                {{license.description}} ({{license.startDate}} - {{license.renewalDate}})
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5">
                <mat-button-toggle-group class="float-xl-right" name="fontStyle" aria-label="Font Style" id="btn-group">
                    <mat-button-toggle *lcCheckAccessFor="'addLicense'" value="add-new-license" id="add-license-button"
                        (change)="onChangeToggle($event)" class="add-btn">
                        Add TekVizion 360 Subscription
                    </mat-button-toggle>
                    <mat-button-toggle *ngIf="hasAddConsumptionPermission && !newLicenseConsumptionLogicFlag" value="add-license-consumption"
                        id="add-license-consumption" [disabled]="!isLicenseListLoaded" (change)="onChangeToggle($event)"
                        class="add-btn" title="add-tek-token-consumption">
                        Add tekToken Consumption
                    </mat-button-toggle>
                    <mat-button-toggle *ngIf="hasAddConsumptionPermission && newLicenseConsumptionLogicFlag" value="add-license-consumption"
                        id="add-license-consumption" [disabled]="!isLicenseListLoaded" (change)="onChangeToggle($event)"
                        class="add-btn" title="add-labs-consumption">
                        Add Labs Consumption
                    </mat-button-toggle>
                    <mat-button-toggle *ngIf="hasAddConsumptionPermission && newLicenseConsumptionLogicFlag" value="add-other-consumption"
                        id="add-other-consumption" [disabled]="!isLicenseListLoaded" (change)="onChangeToggle($event)"
                        class="add-btn" title="add-other-consumption">
                        Add Other Consumption
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </main>
    <h2 id="first-section-title">tekToken Consumption Summary</h2>
    <section>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-2">
                <div id="tektokens-summary-table" class="mat-elevation-z8">
                    <app-data-table [tableData]="data" [tableColumns]="tekTokensSummaryColumns" [isFilterable]="false"
                        [isPageable]="false" [isLoadingResults]="isLicenseSummaryLoadingResults"
                        [isRequestCompleted]="isLicenseSummaryRequestCompleted" [paginationSizes]="[5,10,20]"
                        [defaultPageSize]="5">
                    </app-data-table>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-2">
                <div id="automation-summary-table" class="mat-elevation-z8">
                    <app-data-table [tableData]="data" [tableColumns]="automationSummaryColumns" [isFilterable]="false"
                        [isPageable]="false" [isLoadingResults]="isLicenseSummaryLoadingResults"
                        [isRequestCompleted]="isLicenseSummaryRequestCompleted" [paginationSizes]="[5,10,20]"
                        [defaultPageSize]="5">
                    </app-data-table>
                </div>
            </div>
        </div>
    </section>
    <br>
    <!-- Detailed Consumption for selection -->
    <section>
        <!-- filters -->
        <div class="filter-container">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <mat-radio-group id="period-filter">
                    <mat-radio-button color="primary" value="period" [checked]="aggregation === 'period'"
                        (change)="getMultipleChoiceAnswer($event.value)">License Period</mat-radio-button>
                    <br>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-4 ">
                            <mat-radio-button color="primary" value="week" [checked]="aggregation === 'week'"
                                [disabled]="!isLicenseListLoaded" (change)="getMultipleChoiceAnswer($event.value)">Week
                            </mat-radio-button>
                            <br>
                            <mat-radio-button color="primary" value="month" [checked]="aggregation === 'month'"
                                [disabled]="!isLicenseListLoaded" (change)="getMultipleChoiceAnswer($event.value)">Month
                            </mat-radio-button>
                            <br>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-8 d-flex justify-content-center">
                            <mat-form-field id="date-form" appearance="outline">
                                <mat-label>{{getDatePickerLabel()}}</mat-label>
                                <mat-date-range-input [formGroup]="range" [rangePicker]="picker" [min]="startDate"
                                    [max]="endDate">
                                    <input formControlName="start" matStartDate placeholder="Start date"
                                        [readonly]="true">
                                    <input formControlName="end" matEndDate placeholder="End date" [readonly]="true"
                                        (dateChange)="setWeek()">
                                </mat-date-range-input>
                                <mat-datepicker-toggle [disabled]="aggregation === 'period'" matSuffix [for]="picker">
                                </mat-datepicker-toggle>
                                <mat-date-range-picker lcDateRange [minDate]="startDate" [maxDate]="endDate"
                                    [month]="aggregation === 'month'" #picker
                                    [startView]="aggregation === 'month'?'year':'month'"
                                    (monthSelected)="setMonthAndYear($event, picker)">
                                </mat-date-range-picker>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-radio-group>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 d-flex justify-content-center">
                <mat-form-field id="project-form" appearance="outline">
                    <mat-label>Project</mat-label>
                    <mat-select [(value)]="selectedProject" (valueChange)="getProject($event)"
                        [disabled]="!isLicenseListLoaded">
                        <mat-option value="">All</mat-option>
                        <mat-option *ngFor="let project of projects" [value]="project.id">
                            {{project.projectName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 d-flex justify-content-center">
                <mat-form-field id="consumption-type-form" appearance="outline">
                    <mat-label>Consumption Type</mat-label>
                    <mat-select (valueChange)="getType($event)" [disabled]="!isLicenseListLoaded">
                        <mat-option value="">All</mat-option>
                        <mat-option value="Configuration">Configuration</mat-option>
                        <mat-option value="AutomationPlatform">Automation Platform</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <div id="tektokens-consumption-table" class="overflow-auto mat-elevation-z8">
                    <app-data-table [tableData]="tokenConsumptionData" [tableColumns]="tekTokenConsumptionColumns"
                        [isFilterable]="false" [isPageable]="false"
                        [isLoadingResults]="isDetailedConsumptionSupplementalLoadingResults"
                        [isRequestCompleted]="isDetailedConsumptionSupplementalRequestCompleted">
                    </app-data-table>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-2">
                <div id="weekly-consumption-table" class="table-container mat-elevation-z8">
                    <app-data-table [tableData]="weeklyConsumptionData" [tableColumns]="weeklyConsumptionColumns"
                        [isFilterable]="false" [isPageable]="false"
                        (sort)="sortData($event, weeklyConsumptionData,'weeklyList')"
                        [isLoadingResults]="isDetailedConsumptionSupplementalLoadingResults"
                        [isRequestCompleted]="isDetailedConsumptionSupplementalRequestCompleted"
                        [paginationSizes]="[5,10,20]" [defaultPageSize]="5">
                    </app-data-table>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 mb-2">
                <div id="project-consumption-table" class="table-container mat-elevation-z8">
                    <app-data-table [tableData]="projectConsumptionData" [tableColumns]="projectConsumptionColumns"
                        [isFilterable]="false" [isPageable]="false"
                        (sort)="sortData($event, projectConsumptionData,'projectList')"
                        [isLoadingResults]="isDetailedConsumptionSupplementalLoadingResults"
                        [isRequestCompleted]="isDetailedConsumptionSupplementalRequestCompleted"
                        [paginationSizes]="[5,10,20]" [defaultPageSize]="5">
                    </app-data-table>
                </div>
            </div>
        </div>
        <br>
        <ng-container *lcCheckAccessFor="'addLicenseConsumption'">
            <div *ngIf="!newLicenseConsumptionLogicFlag" class="row">
                <div class="col-2 ms-auto">
                    <button *ngIf="!detailedConsumptionTableSelectable" id="clone-consumption"
                        (click)="toggleSelectableConsumptions()" [disabled]="!isLicenseListLoaded" mat-raised-button
                        style="float: right">Clone Consumption
                    </button>
                    <button class="confirm-button" *ngIf="detailedConsumptionTableSelectable" style="float: right"
                        id="confirm-cloning" (click)="cloneConsumptions()" mat-raised-button>Confirm Cloning
                    </button>

                </div>
            </div>
            <br>
        </ng-container>
        <div class="row">
            <div class="col-12">
                <div id="detailed-consumption-table" class="table-container mat-elevation-z8">
                    <app-data-table [tableData]="detailedConsumptionData" [tableColumns]="detailedConsumptionColumns"
                        [isFilterable]="false" [isPageable]="true"
                        [isLoadingResults]="isDetailedConsumptionLoadingResults"
                        [isRequestCompleted]="isDetailedConsumptionRequestCompleted" [paginationSizes]="[6, 10, 20, 50]"
                        [defaultPageSize]="6" (sort)="sortData($event, detailedConsumptionData,'detailedList')"
                        [rowActionIcon]="'more_vert'" (rowAction)="licConsumptionRowAction($event)"
                        [actionMenuList]="licConsumptionActionMenuOptions" [serverSidePagination]="true"
                        (pageChanged)="onPageChange($event)" [length]="detailedConsumptionDataLength"
                        [isSelectable]="detailedConsumptionTableSelectable" [selectionById]="true"
                        #detailsConsumptionTable>
                    </app-data-table>
                </div>
            </div>
        </div>
    </section>
    <br>
    <!-- Equipment summary section -->
    <h2 id="third-section-title">Equipment Summary</h2>
    <section>
        <div id="equipment-summary-table" class="table-container mat-elevation-z8">
            <app-data-table [tableData]="equipmentData" [tableColumns]="equipmentSummaryColumns" [isFilterable]="false"
                [isPageable]="false" [isLoadingResults]="isEquipmentSummaryLoadingResults"
                [isRequestCompleted]="isEquipmentSummaryRequestCompleted" [paginationSizes]="[5,10,20]"
                [defaultPageSize]="5" (sort)="sortData($event, equipmentData,'equipmentList')">
            </app-data-table>
        </div>
    </section>
</div>
