<app-banner [stylesflag]="'notes'"></app-banner>
<div class="btn-container">
    <div class="note-heading">
        <h2 id="main-title">Notes</h2>
    </div>
    <div>
        <span class="fw-500" >Open</span>
        &nbsp;
        <mat-slide-toggle id="mat-toggle" [color]="'primary'" (change)="onChangeToggle($event.checked)"></mat-slide-toggle>
        &nbsp;
        <span class="fw-500 p-2" >Closed</span>
        &nbsp;
        <button *lcCheckAccessFor="'addSpotlightNote'" style="margin-left: auto;" mat-raised-button id="add-customer-button" (click)="addNote()" [disabled]="addNoteDisabled">
            Add Note
        </button>
    </div>


</div>

<section class="table-section">
    <div id="notes-table" class="table-container mat-elevation-z8" [style.max-height.px]="tableMaxHeight">
        <app-data-table
                [tableData]="notesData"
                [tableColumns]="displayedColumns"
                [isFilterable]="false"
                [isPageable]="false"
                [isLoadingResults]="isLoadingResults"
                [isRequestCompleted]="isRequestCompleted"
                [paginationSizes]="[5,10,20]"
                [defaultPageSize]="5"
                (sort)="sortData($event)"
                (rowAction)="rowAction($event)"
                [rowActionIcon]="actionMenuOptions.length > 0 && 'more_vert'"
                [actionMenuList]="actionMenuOptions">
        </app-data-table>
    </div>
</section>
