<div class="modal-header" draggableModal>
    <label class="modal-title">Edit User</label>
    <button type="button" class="close" aria-label="Close" (click)="cancelForm()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form (keydown.enter)="$event.preventDefault()" #userForm="ngForm">
    <div class="modal-body" [ngStyle]="{'height': bodyHeight}" id="modalBody">
        <div class="mycontainer">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="name" class="form-label">Name:</label>
                        <input type="text" name="name" placeholder="Enter Name" class="form-control"
                            [(ngModel)]="user.name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="username" class="form-label">Email ID:</label>
                        <input #email="ngModel" pattern="^\w+@[0-9a-zA-Z_]+?\.[a-zA-Z]{2,3}$" type="text" name="email"
                            placeholder="Enter Email" class="form-control" [(ngModel)]="user.email">
                    </div>
                </div>
            </div>
            <!--<div class="form-group row" *ngIf="!user.isAdmin">
                <div class="col-6">
                    <div class="form-group">
                        <label *ngIf="!enabledPermissions" class="form-label">Show Permissions&nbsp;</label>
                        <button *ngIf="!enabledPermissions" style="margin-left:1.5px;" class="plus-btn"
                            (click)=showPermissions()><i class="fa fa-plus" aria-hidden="true"
                                style="color: #7694B7;"></i></button>
                        <label *ngIf="enabledPermissions" class="form-label">Hide Permissions&nbsp;</label>
                        <button *ngIf="enabledPermissions" class="plus-btn" (click)=showPermissions()><i
                                class="fa fa-minus" aria-hidden="true" style="color: #7694B7;"></i></button>
                    </div>
                </div>
            </div>-->
            <!--  roles   -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label phone-label">Role:</label>
                <div class="col-sm-6">
         <ng-select  [items]="roles" name="role" labelForId="role" class="form-control"
         bindLabel="name" bindValue="id" placeholder="Select Role"   style="width:120%; height: auto !important;"
         [virtualScroll]="true" [(ngModel)]="selectedRole" [dropdownPosition] ="'bottom'" (change)="onSelectRole($event)"
         [ngStyle]="{'border-left':(selectedRole == undefined)?'5px solid #BC2426':'5px solid #42a948'}" (open)="resizeBody('open');" (close)="resizeBody('close')" >
     </ng-select>
                </div>
            </div>

            <!-- hierarchy -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label phone-label">Hierarchy:</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" name="hierarchyName" disabled
                        [(ngModel)]="selectedHierarchy.name">
                </div>
                <div class="col-sm-2">
                    <button (click)="this.showHierarchy = !this.showHierarchy;"
                        class="action-btn">{{(showHierarchy) ? 'Done' : 'Change'}}</button>
                </div>
            </div>
            <!-- hierarchy breadcrumb-->
            <div class="row" *ngIf="hierarchyBreadCrumbList.length>=3 && showHierarchy">
                <div>
                    <button (click)="onPreviousSearchPosition('rightEnd')" class="action-arrows">
                        <strong>{{'<<'}}</strong>
                    </button>
                    <button (click)="onPreviousSearchPosition('right')" class="action-arrows">
                        <strong>{{'<'}}</strong>
                    </button>
                </div>
                <div class="col-sm-9" id="panel">
                    <nav aria-label="breadcrumb" style="overflow: hidden;white-space: nowrap;height: 14vh;" #panel
                        (scroll)="onScroll()">
                        <ol class="breadcrumb" style="display: inline-block">
                            <li class="breadcrumb-item" style="font-size:14px;cursor: pointer;display: inline-block;"
                                [ngStyle]="{'font-weight':(i==hierarchyBreadCrumbList.length-1)?'500':'400'}"
                                *ngFor="let item of hierarchyBreadCrumbList;let i=index;"
                                (click)="onBreadCrumbAction(i)">
                                <a>{{((item.name=='parent')?'System':item?.name)}}</a></li>
                        </ol>
                        <ng-select *ngIf="hierarchyList.length>0" class="form-control custom" [items]="hierarchyList"
                            bindLabel="nameAndType" bindValue="name" style="width: 50%;" name="hierarchy"
                            (change)="onChangeHierarchy($event)" [(ngModel)]="selectedHierarchyName"
                            [virtualScroll]="true" placeholder="Select Hierarchy">
                            <!-- tool tip -->
                            <ng-template ng-option-tmp let-item="item">
                                <div title="{{item.nameAndType}}">{{item.nameAndType}}</div>
                            </ng-template>
                        </ng-select>
                    </nav>
                </div>
                <div>
                    <button (click)="onNextSearchPosition('left')" class="action-arrows">
                        <strong>{{'>'}}</strong>
                    </button>
                    <button (click)="onNextSearchPosition('leftEnd')" class="action-arrows">
                        <strong>{{'>>'}}</strong>
                    </button>
                </div>
            </div>
            <div class="row" *ngIf="hierarchyBreadCrumbList.length<3 && showHierarchy">
                <nav aria-label="breadcrumb" #panel style="width: 100%;height: 14vh;">
                    <ol class="breadcrumb" style="display: inline-block;">
                        <li class="breadcrumb-item" style="font-size:14px;cursor: pointer;display: inline-block;"
                            [ngStyle]="{'font-weight':(i==hierarchyBreadCrumbList.length-1)?'500':'400'}"
                            *ngFor="let item of hierarchyBreadCrumbList;let i=index;" (click)="onBreadCrumbAction(i)">
                            <a>{{((item.name=='parent')?'System':item?.name)}}</a></li>
                    </ol>
                    <ng-select *ngIf="hierarchyList.length>0" class="form-control custom" [items]="hierarchyList"
                        name="hierarchy" bindLabel="nameAndType" bindValue="name"
                        style="width: 30%;display: inline-block;" (change)="onChangeHierarchy($event)"
                        [(ngModel)]="selectedHierarchyName" [virtualScroll]="true" placeholder="Select Hierarchy">
                        <!-- tool tip -->
                        <ng-template ng-option-tmp let-item="item">
                            <div title="{{item.nameAndType}}">{{item.nameAndType}}</div>
                        </ng-template>
                    </ng-select>
                </nav>
            </div>
        </div>
        <!--  Admin permission -->
        <!-- <div class="permissions" *ngIf="enabledPermissions && !user.isAdmin">
             <div class="row">
                 <table>
                     <thead class="modal-table">
                     <tr>
                         <th>Action</th>
                         <th>Create</th>
                         <th>Modify</th>
                         <th>Delete</th>
                         <th>Read</th>
                     </tr>
                     </thead>
                     <tbody class="modal-table">
                     <tr *ngFor="let permission of permissions" class="modal-table">
                         <td style="text-align:left !important;">{{permission.name}}</td>
                         <td class="center-align" *ngFor="let value of permission.permissions; let i = index">
                             <input type="checkbox" [disabled]="value.value.includes('READONLY')"
                                    [(ngModel)]="value.enabled" name="permission_{{value.value}}"
                                    id="permission_{{value.value}}" #permission_{{value.value}}="ngModel"
                                    (change)="verify(permission);">
                         </td>
                     </tr>
                     </tbody>
                 </table>
             </div>
         </div>-->
        <!-- Hierarchy dropdown -->
        <!--
                <div style="display: block" *ngIf="user.isUser && enabledPermissions">
                    <div class="row form-group">
                        <div class="col-2">
                            <label style="margin-top: 10px;" for="admin" class="form-label">Hierarchy</label> &nbsp;
                        </div>
                        <div class="col-10">
                            <ng-select class="form-control custom" [items]="hierarchyList"
                                       bindLabel="name" bindValue="value"
                                       [multiple]="true"
                                       (change)="onChangeHierarchy($event)"
                                       [virtualScroll]="true" placeholder="Select Hierarchy">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <br *ngIf="selectedHierarchy.length>7">
        -->
        <!--<div class="form-group row" *ngIf="user.isUser && enabledPermissions">
            <label class="form-label" [title]="hierarchyTitle"
                style="font-weight: bold;margin-left: 40%;">Hierarchy</label>
        </div>
        <div class="form-group" *ngIf="user.isUser && enabledPermissions">
            <label for="uName" class="form-label">User Name:</label>
            <input type="text" name="uName" placeholder="Enter User Name" class="form-control"
                [(ngModel)]="user.hierarchyUserName" id="uName" #userName="ngModel">
        </div>
        <div class="form-group" *ngIf="user.isUser && enabledPermissions">
            <label for="pwd" class="form-label">Password:</label>
            <input type="password" name="pwd" placeholder="Enter Password" class="form-control"
                [(ngModel)]="user.hierarchyPassword" id="pwd" #pwd="ngModel">
        </div>-->
        <!--   User permission   -->
        <!--<div class="permissions" *ngIf="user.isUser && enabledPermissions">
            <div class="row form-group">
                <table>
                    <tbody class="modal-table">
                        <tr style="font-weight: bold;">Management Actions</tr>
                        <tr *ngFor="let item of userPermissions[0]['actions']" class="modal-table">
                            <td style="text-align:left !important;">{{item.name}}</td>
                            <td>
                                <input type="checkbox" [(ngModel)]="item.enabled"
                                    id="createManagementPermission_{{item.value}}"
                                    name="createManagementPermission_{{item.value}}">
                            </td>
                        </tr>
                        <tr style="font-weight: bold;">License Management</tr>
                        <tr *ngFor="let item of userPermissions[1]['actions']" class="modal-table">
                            <td style="text-align:left !important;">{{item.name}}</td>
                            <td>
                                <input type="checkbox" [(ngModel)]="item.enabled" id="permission_{{item.value}}"
                                    name="permission_{{item.value}}">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>-->
    </div>
    <div class="modal-footer">
        <button (click)="cancelForm()" class="modal-cancel-btn">
            Cancel
        </button>
        <button class="modal-scs-btn" (click)="updateUser()" [disabled]="!userForm.form.valid">
            Update
        </button>
    </div>
</form>
