.form-label {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    color: #414141;
}

.form-label-clear {
    font-size: 14px;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #BEBEBE;
}

.form-control {
    color: #414141;
    font-size: 14px;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-control::placeholder {
    color: #BEBEBE;
    font-style: italic;
}

.regular-text {
    font-family: 'Helvetica Neue Regular';
    color: #414141;
    font-size: 14px;
}

.center-align {
    text-align: center;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.plus-btn {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: thin solid #EAEAEA;
    cursor: pointer;
    overflow: hidden;
    border-radius: 45px;
    outline: none;
}

.close {
    margin-right: 15px;
    margin-top: -12px;
}

.close:focus {
    outline: none;
    box-shadow: none;
}

.modal-table {
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Helvetica Neue Regular';
    color: #414141;
    font-size: 14px
}

.form-control.ng-select {
    padding: 0;
}

.ng-select.custom {
    background-color: #e9ecef !important;
    color: #203C66 !important;
    height: 39px;
    border: none;
    outline: none;
}

ng.select {
    width: 30%;
    display: inline-block;
    border: none;
    outline: 0px;
}

.ng-select.custom ::ng-deep .ng-select-container {
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: #e9ecef !important;
    color: #203C66 !important;
    height: 36px;
    border-bottom: #203c66;
    border-bottom-style: groove;
    border-bottom-width: 3px;
    outline: 0px;
}

.ng-select.custom ::ng-deep .ng-select-container .ng-value-container .ng-placeholder {
    color: #203c66;
    border: none;
    outline: none;
}

.ng-placeholder {
    color: #203c66 !important;
}

.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: ">";
}

.oldSelect {
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
}

.lastSelect {
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
}

.breadcrumb {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    padding: .4rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: .25rem;
}

ng-select {
    width: 45%;
    display: inline-block;
    margin-left: 5px;
    /*float: right;*/
    margin-top: 3px;
}

.action-arrows {
    color: #203C66;
    font-family: "FontAwesome", "HelveticaNeue-Regular", "Helvetica Neue Regular",
    "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    background: none;
    border: none;
}

.action-btn {
    color: #203C66;
    font-family: "FontAwesome", "HelveticaNeue-Regular", "Helvetica Neue Regular",
    "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    background: none;
    border: none;
}
