<div class="modal-header" draggableModal>
    <label class="modal-title">Validate Caller Id</label>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form (keydown.enter)="$event.preventDefault()" #myActionForm="ngForm">
    <div class="modal-body">
        <div class="mycontainer">
            <div class="form-group row">
                <!-- conversation -->
                <label for="conversation" class="col-sm-2 col-form-label phone-label">Conversation ID</label>
                <div class="col-sm-3">
                    <select required forbiddenValue="" (change)="onChangeConversations()" class="form-control" [(ngModel)]="selectedConversation" id="conversation" name="conversation" #deviceLine="ngModel" title="Select Conversation">
                        <option disabled selected value="">Select Conversation</option>
                        <option *ngFor="let conversation of conversations" value="{{conversation}}">{{conversation}}
                        </option>
                    </select>
                </div>
                <!-- resource -->
                <label for="resourceField" class="col-sm-2 col-form-label phone-label">Resource</label>
                <div class="col-sm-3">
                    <select required forbiddenValue="" class=" form-control" [(ngModel)]="selectedPhone" id="resourceField" name="resourceField" #resourceField="ngModel">
                        <option disabled selected value="">Select resource</option>
                        <option *ngFor="let resource of resources" value="{{resource.name}}">{{resource.name}}</option>
                    </select>
                </div>
            </div>
            <div class="linesContainer" style="border: thin solid #EAEAEA" *ngIf="!actionToEdit">
                <div style="margin-left:15px;">
                    <label for="parameter" class="parameters-label">Validation Type &nbsp;</label>
                    <div *ngFor="let parameter of selectedValidationType; let i = index" style="margin-right:10px;">
                        <hr>
                        <div class="row">
                            <div class="col-1" style="text-align: center;padding-top: 35px;vertical-align: middle;">
                                <button class="plus-btn" (click)=deleteParameter(i)><i class="fa fa-minus"
                                        aria-hidden="true" style="color: #7694B7;"></i>
                                </button>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <label class="col-sm-1 col-form-label phone-label">Type</label>
                                    <div class="col-3">
                                        <select required forbiddenValue="" class="form-control" [(ngModel)]="selectedValidationType[i].type" name="typeField{{i}}" id="typeField{{i}}" #typeField="ngModel">
                                            <option disabled selected value="">Select Type</option>
                                            <ng-container *ngFor="let type of validationType">
                                                <option [value]="type">{{type}}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                    <label class="col-sm-2 col-form-label phone-label">Operator</label>
                                    <div class="col-3">
                                        <select required forbiddenValue="" class="form-control" [(ngModel)]="selectedValidationType[i].operator" name="operatorField{{i}}" id="operatorField{{i}}" #operatorField="ngModel">
                                            <option disabled selected value="">Select Operator</option>
                                            <ng-container *ngFor="let resource of operators">
                                                <option [value]="resource">
                                                    {{resource}}</option>
                                            </ng-container>
                                            <option value="-contains-">contains</option>
                                            <option value="-startsWith-">startsWith</option>
                                            <option value="-endsWith-">endsWith</option>                                        
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <label class="col-sm-1 col-form-label phone-label">Value</label>
                                    <div class="col-3">
                                        <input required forbiddenValue="" type="text" name="value{{i}}" placeholder="Enter Value" class="form-control" [(ngModel)]="selectedValidationType[i].value" #value="ngModel">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button *ngIf="selectedValidationType.length<=1" class="plus-btn" (click)=addParameter() style="margin-left: 2px;"><i class="fa fa-plus" aria-hidden="true"
                            style="color: #7694B7;"></i></button>
                </div>
            </div>
            <hr class="seperator" *ngIf="actionToEdit">
            <div class="row form-group" *ngIf="actionToEdit">
                <label class="col-sm-1 col-form-label phone-label">Type</label>
                <div class="col-3">
                    <select required forbiddenValue="" class="form-control" [(ngModel)]="selectedValidationType[0].type" name="typeField" id="typeField" #typeField="ngModel">
                        <option disabled selected value="">Select Type</option>
                        <ng-container *ngFor="let type of validationType">
                            <option [value]="type">{{type}}</option>
                        </ng-container>
                    </select>
                </div>
                <label class="col-sm-1 col-form-label phone-label">Operator</label>
                <div class="col-3">
                    <select required forbiddenValue="" class="form-control" [(ngModel)]="selectedValidationType[0].operator" name="operatorField" id="operatorField" #operatorField="ngModel">
                        <option disabled selected value="">Select Operator</option>
                        <ng-container *ngFor="let resource of operators">
                            <option [value]="resource">
                                {{resource}}</option>
                        </ng-container>
                        <option value="-contains-">contains</option>
                        <option value="-startsWith-">startsWith</option>
                        <option value="-endsWith-">endsWith</option> 
                    </select>
                </div>
                <label class="col-sm-1 col-form-label phone-label">Value</label>
                <div class="col-3">
                    <input required forbiddenValue="" type="text" name="value" placeholder="Enter Value" class="form-control" [(ngModel)]="selectedValidationType[0].value" #value="ngModel">
                </div>
            </div>
            <hr class="separator">
            <div class="row">
                <label for="failure" class="col-sm-3 col-form-label phone-label">Continue On
                    Failure</label>
                <div class="col-sm-3" style="margin-top: 5px; padding-left:0px;">
                    <label class="phone-label">
                    <input type="radio" name="failure" [value]="true" [(ngModel)]="continueOnFailure" #failure="ngModel">&nbsp;
                    <span>True</span>
                    </label>&nbsp;
                    <label class="phone-label">
                    <input type="radio" name="failure" [value]="false" [(ngModel)]="continueOnFailure" #failure="ngModel">
                    &nbsp;
                    <span>False</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="cancel()" class="modal-cancel-btn">
            Cancel
        </button>
        <button class="modal-scs-btn" (click)="insertAction()" [disabled]="!myActionForm.form.valid">
            <span *ngIf="!actionToEdit">
                Insert Action
            </span>

            <span *ngIf="actionToEdit">
                Update Action
            </span>

        </button>
    </div>
</form>