<ng-sidebar-container style="height: 91vh;">
    <ng-sidebar [(opened)]="sideBar" position="right" animate="true">
        <!-- Compare test cases -->
        <div class="container" *ngIf="enableTCSideBar">
            <div class="header">
                <label class="title">Test Cases</label>
                <button style="height: 70px;" title="Close" type="button" class="close" aria-label="Close" (click)="openSidebar('testcases')">
                    <span aria-hidden="true" style="margin-left: -40px;">&times;</span>
                </button>
            </div>
            <input type="text" placeholder="Search" name="name" class="search-bar" [(ngModel)]="sideBarQuery">
            <div class="body testcase-body">
                <div class="row" *ngFor="let test of testCases | filter:{ name: sideBarQuery, description: sideBarQuery, ownerName: sideBarQuery, tags: sideBarQuery}" (click)="changeTwoPanels(test)">
                    <div class="col-12">
                        <div class="testCase" style="cursor:pointer;" *ngIf="test.id != testCase?.id">
                            <div class="titleCase col">
                                <span>
                                    {{test.name}}
                                </span>
                            </div>
                            <div class="item-modified col">
                                Last modified {{test.lastModified}}
                            </div>
                            <div class="item-description col">
                                {{test.description}}
                            </div>
                            <span *ngFor="let tag of test.tagArray" class="item-tags">{{tag}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Run a script -->
        <div class="container" *ngIf="enableRunSideBar">
            <div class="header">
                <label for="runAScriptTitle" class="title">Run a script</label>
                <button style="height: 70px;" title="Close" type="button" class="close" aria-label="Close" (click)="openSidebar('run')">
                    <span aria-hidden="true" style="margin-left: -40px;">&times;</span>
                </button>
            </div>
            <div class="body run-script-body">
                <ng-template [ngIf]="enableRunButton()" [ngIfElse]="showExecutionStatus">
                    <div class="row" *ngFor="let item of inventoryListForRun;let i=index;">
                        <div class="col-12">
                            <div class="form-group col variable-title">
                                <span style="font-size: 14px;">
                                    Variable: {{item.name}}
                                </span>
                                <select *ngIf="item?.type==='Phone' || item?.type==='Server'" [disabled]="!disableSelectPhoneOptions()" required forbiddenValue="" class="form-control variable-dropdown" [(ngModel)]="item.selectedPhone" (change)="onChangePhones(item)" id="phonesList{{i}}"
                                    name="phonesList{{i}}">
                                <option selected value="" >Select Phone</option>
                                <option *ngFor="let phone of item.phones" [value]="phone.id">{{phone.name}}</option>
                            </select>
                                <select *ngIf="item?.type==='User'" [disabled]="!disableSelectPhoneOptions()" required forbiddenValue="" class="form-control variable-dropdown" [(ngModel)]="item.selectedPhone" (change)="onChangePhones(item)" id="phonesList{{i}}" name="phonesList{{i}}">
                                <option selected value="" >Select User</option>
                                <option *ngFor="let user of item.users" [value]="user.id">{{user.userName}}</option>
                            </select>
                            </div>
                        </div>
                    </div>
                    <div class="row below-variable" *ngIf="scriptStatus!='' && executionResult && enableRunSideBar" style="float:left">
                        <!-- <div class="col-5 view-status" style="margin-top: 10%;">
                            <span class="status">Execution</span>
                        </div>
                        <div class="col-6  view-status" style="margin-top: 10%;">
                            <span class="status" style="font-weight: bold;" [style.color]="getColor(scriptStatus)"> 
                                {{scriptStatus | titlecase}}
                            </span>
                        </div> -->
                        <div class="col-12 view-stauts" style="margin-top: 10%;">
                            <span class="status">
                                Execution {{scriptStatus | titlecase}}.
                            </span>
                            <span class="status">
                                Result: <span class="status" style=" font-weight: bold;" [style.color]="getColor(executionResultStatus)"> {{executionResultStatus | titlecase}} </span>
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="row" *ngIf="executionResult && enableRunSideBar" style="margin: 5px;float: right !important;">
                        <div class="col-12 view-stauts">
                            <!-- <button class="btn-results" (click)="showResults(template)">Detail Test Result</button> -->
                            <button class="action-btn" style="padding: 0px;" (click)="showResults(template)">Detail Test Result >>></button>
                        </div>
                    </div>
                    <div class="row below-variable" style="float: right;">
                        <div class="col-12 buttons" style="margin:5px 12px;">
                            <button class="btn btn-normal btn-clear option-btn" *ngIf="enableRunButton()" (click)="clearAllSelectedPhones()" [disabled]="!disableClearAllButton()" style="padding-top: 4px ">
                                Clear
                            </button>
                            <button class="btn btn-normal btn-run option-btn" *ngIf="enableRunButton()" (click)="runTheScript() " [disabled]="!disableRunButton() || isRunButtonClicked" style="padding-top: 4px ">
                                Run
                            </button>
                        </div>
                    </div>
                </ng-template>
                <ng-template #showExecutionStatus>
                    <div class="row below-variable" style="padding-top: 10px;">
                        <div class="col" style="text-align: center;">
                            <span class="status" [style.color]="getColor(scriptStatus)" style="font-size: 16px;">
                            {{scriptStatus | titlecase}}
                        </span>
                            <span>
                            <img src="assets/images/icons/fading-circles.gif" width="20" alt="fading circles">
                        </span>
                        </div>
                    </div>
                    <div class="row below-variable" style="float: right;" *ngIf="enableStopButton()">
                        <div class="col">
                            <button class="btn btn-normal stop-btn" title="Stop the script" [disabled]="isStopButtonClicked" (click)="stopTheScript()">Stop </button>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </ng-sidebar>
    <div ng-sidebar-content class="editor">
        <div class="row" style="margin-bottom:5px; background: #F4F4F4;">
            <div class="col-md-2" style="text-align: center;">
                <button class="btn-blue" style="margin-top:7px;" (click)="pressedBack(backModal);">
                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i>&nbsp;Back
                </button>
            </div>
            <div class="col-md-5">
                <div [ngClass]="twoPanels? 'text-overlap' : 'text-general'">
                    <a class="test-title" title="{{mainTestInfo.title}}">{{mainTestInfo.title}}</a>
                    <div class="edited">
                        <span>Owned By: {{mainTestInfo.ownerName}}</span> &nbsp; &nbsp;
                        <span>Created at {{mainTestInfo.created}}</span> &nbsp; &nbsp;
                        <span>Last modified {{mainTestInfo.edited}}</span>
                    </div>
                    <!-- <div *ngIf="mainTestInfo.created == mainTestInfo.edited" class="edited">Created at
                        {{mainTestInfo.created}}</div>
                    <div *ngIf="mainTestInfo.created !== mainTestInfo.edited" class="edited">Last modified
                        {{mainTestInfo.edited}}</div> -->

                </div>
            </div>
            <div class="col-md-5 pl-0">
                <div class="nav-item col-8 pl-0" style="align-items:baseline;" *ngIf="twoPanels">
                    <div class="subtitle secondary-editor-text">
                        <a class="test-title" title="{{auxTestInfo.subtitle}}">{{auxTestInfo.subtitle}}</a></div>
                    <div class="edited" *ngIf="auxTestInfo.created == auxTestInfo.edited">Created at {{auxTestInfo.created}}
                    </div>
                    <div class="edited" *ngIf="auxTestInfo.created != auxTestInfo.edited">Last modified {{auxTestInfo.edited}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-left:0;">
            <div class="col-lg-2 col-md-2 action-list" style="height: 102%;">
                <div style="margin-top:10px;">
                    <input type="text" placeholder="Search" name="name" id="searchbar" class="search-bar" [(ngModel)]="query">
                </div>
                <div class="scrollable">
                    <div *ngFor="let category of actionsMenu | actionsFilter : query; let i = index;">
                        <i class="fa fa-angle-down" *ngIf="category.status==true || query !== ''" (click)="changeVisibility(i);">
                            <label class="category">&nbsp;{{category.category}}</label>
                        </i>
                        <i class="fa fa-angle-right" *ngIf="category.status==false && query==''" (click)="changeVisibility(i);">
                            <label class="category">&nbsp;{{category.category}}</label>
                        </i>
                        <div class="actions" *ngIf="category.status==true || query !== ''">
                            <div style="border-bottom: 1px solid #dbdbdb;margin-right:10px;" *ngFor="let actionItem of category.actionItems">
                                <button style="text-align: left;" [ngStyle]="{'width': (actionItem.name.toString().toLowerCase()=='broadworks provisioning')?'50%':''}" class="action" [ngClass]="{'category-name': (actionItem.name.length>=20),'pointer-block ': !isScriptExecuting()}" [disabled]="!isScriptExecuting()"
                                    [title]="actionMenuToolTipContext" (click)="openAction(actionItem,category)">
                                    {{actionItem.name}}
                                    <sup [ngStyle]="{'top': (actionItem.name.toString().toLowerCase()=='broadworks provisioning')?'15%':''}"
                                        *ngIf="actionItem.title">
                                        <i class="fa fa-info-circle" aria-hidden="true"
                                            title="{{actionItem?.title}}"></i></sup>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- style="padding-left:0; padding-right:0; height:84vh;" -->
            <div class="editor-scroll col-lg-10 col-md-10">
                <div class="col-lg-12 col-md-12" [ngClass]="{'editorOnePanelsDiv': !twoPanels , 'editorTwoPanelsDiv': twoPanels}">
                    <td-code-editor #mainEditor [ngClass]="{'onePanel': !twoPanels, 'twoPanels': twoPanels }" editorStyle="border:0;" flex theme="vs-dark" language="javascript" [(ngModel)]="instructionSet" [editorOptions]="{readOnly:true, minimap:{enabled:false},wordWrap:'on'}"
                        (editorInitialized)="initedEditor($event)">
                    </td-code-editor>
                    <div class="vl" *ngIf="twoPanels"></div>
                    <td-code-editor #secondaryEditor class="twoPanels" *ngIf="twoPanels" editorStyle="border:0;" flex theme="vs-dark" language="javascript" [(ngModel)]="secondaryInstructionSet" [editorOptions]="{readOnly:true, minimap:{enabled:false}}" (editorInitialized)="initedSecondaryEditor($event)"></td-code-editor>
                </div>
                <div class="editor-btns col-lg-12">
                    <!-- && !enableRunSideBar -->
                    <div *ngIf="lastSavedTime" class="edited last-saved">
                        Last saved at {{lastSavedTime}}
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                        </div>
                        <div class="col-lg-8 buttons buttons-area text-right">
                            <button *ngIf="twoPanels" class="btn btn-normal btn-copy" (click)="copyTest(copyModal)" style="padding-top: 4px" [ngClass]="{'pointer-block ': !isScriptExecuting()}" [disabled]="!isScriptExecuting()">Copy</button>&nbsp;
                            <button class="btn btn-normal btn-trash" (click)="clearValidation(deleteModal)" [ngClass]="{'pointer-block ': !isScriptExecuting()}" [disabled]="buttonStatus.clear || !isScriptExecuting()" style="padding-top: 4px">Clear</button>&nbsp;
                            <button class="btn btn-normal btn-pub" (click)="publish()" *ngIf="!testCase?.published" [ngClass]="{'pointer-block ': !isScriptExecuting()}" [disabled]="(buttonStatus.publish || testCase?.inventory == null || !isScriptExecuting())" style="padding-top: 4px">Publish</button>                            &nbsp;
                            <!-- [disabled]="buttonStatus.save" -->
                            <button class="btn btn-normal btn-sav" (click)="save()" style="padding-top: 4px" [ngClass]="{'pointer-block ': !isScriptExecuting()}" [disabled]="!isScriptExecuting()"> Save</button> &nbsp;
                        </div>

                    </div>
                    <!-- <div class="row" *ngIf="executionResult && enableRunSideBar">
                        <div class="col-lg-9"></div>
                        <div class="col-lg-3 buttons buttons-area view-status ">
                            <span>View Results: </span>&nbsp;&nbsp;
                            <span style="cursor: pointer;" [style.color]="getColor(executionResultStatus)" (click)="showResults(template)"> <b>{{executionResultStatus | titlecase}}</b> </span>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-6 ">
                <img title="Compare TestCases " [ngStyle]="{ 'right':(twoPanels)? '40px': '80px'} " (click)="openSidebar( 'testcases') " class="logoClose " id="imgNewTestCase " src="assets/images/icons/tests_icon.svg ">
            </div>
            <div class="col-6 " *ngIf="!enableTCSideBar&&!twoPanels ">
                <img *ngIf="!isScriptExecuting()" title="Stop the Script" (click)="openSidebar( 'run')" class="runLogoClose " id="runTestCase " src="assets/images/icons/stop-button.png">
                <img title="Run the Script" *ngIf="isScriptExecuting()" (click)="openSidebar( 'run')" class="runLogoClose " id="runTestCase " src="assets/images/icons/play.png">
            </div>
        </div>
    </div>
</ng-sidebar-container>
<ng-template #deleteModal>
    <div class="modal-header " draggableModal>
        <label class="modal-title pull-left ">Confirm Clear</label>
        <button type="button " class="close pull-right " aria-label="Close " (click)="selectedOption( 'close') ">
            <span aria-hidden="true ">&times;</span>
        </button>
    </div>
    <div class="modal-body ">
        <div class="row ">
            <div class="col-lg-12 ">
                <label class="form-label regular-text ">Current script will be deleted, do you want to proceed?</label>
            </div>
        </div>
    </div>
    <div class="modal-footer ">
        <button class="cancel-btn " (click)="selectedOption( 'close') ">
            No
        </button>
        <button class="create-btn " (click)="selectedOption( 'accepted') ">
            Yes
        </button>
    </div>
</ng-template>

<ng-template #copyModal>
    <div class="modal-header " draggableModal>
        <label class="modal-title pull-left ">Confirm Copy</label>
        <button type="button " class="close pull-right " aria-label="Close " (click)="selectedOption( 'close') ">
            <span aria-hidden="true ">&times;</span>
        </button>
    </div>
    <div class="modal-body ">
        <div class="row ">
            <div class="col-lg-12 ">
                <label class="form-label regular-text ">Current script will be cleared and replaced with the content that
                    has
                    been copied. Do
                    you wish to proceed?</label>
            </div>
        </div>
    </div>
    <div class="modal-footer ">
        <button class="cancel-btn " (click)="selectedOption( 'close') ">
            No
        </button>
        <button class="create-btn " (click)="selectedOption( 'accepted') ">
            Yes
        </button>
    </div>
</ng-template>

<ng-template #backModal>
    <div class="modal-header " draggableModal>
        <label class="modal-title pull-left ">Unsaved Changes</label>
        <button type="button " class="close pull-right " aria-label="Close " (click)="selectedOption( 'close') ">
            <span aria-hidden="true ">&times;</span>
        </button>
    </div>
    <div class="modal-body ">
        <div class="row ">
            <div class="col-lg-12 ">
                <label class="form-label regular-text ">
                    You have unsaved changes! If you leave, your changes will be lost. Do you want to proceed?
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer ">
        <button class="cancel-btn " (click)="selectedOption( 'close') ">
            No
        </button>
        <button class="create-btn " (click)="goBack() ">
            Yes
        </button>
    </div>
</ng-template>

<!-- delete conversatoin confirmation -->
<ng-template #deleteTemplate>
    <div class="modal-header" draggableModal>
        <label class="modal-title">Confirm</label>
        <button type="button" class="close" aria-label="Close" (click)="hideDeleteModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="padding-bottom: 30px;">
        <div class="row">
            <div class="col">
                Selected conversation is in use, are you sure to delete ?
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="modal-cancel-btn" (click)="hideDeleteModal()">
            No
        </button>
        <button class="modal-scs-btn" (click)="deleteAddToConversation()">
            Yes
        </button>

    </div>
</ng-template>
<!-- results -->
<ng-template #template>
    <div class="modal-header" draggableModal>
        <label class="modal-title">{{currentDetail.index }}</label>
        <button type="button" class="close" aria-label="Close" (click)="hideModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="padding-bottom: 30px">
        <div class="row">
            <div class="col-md-5">
                <label class="status" style="font-weight:bold;font-size: 14px;">Execution Result:
                </label> &nbsp; <label class="status" [style.color]="getColor(currentDetail.status)">{{currentDetail.status | titlecase}}</label>
            </div>
            <div class="col-md-5">
            </div>
            <div class="col-md-1">
                <button class="btn-logs" (click)="downloadLog();">Logs</button>
            </div>
        </div>
        <div class="row" style="margin-left: 0px;margin-top: 15px;">
            <div class="col-lg-2" style="background: #C2C3C6">
                <label class="opt-title">Start Time</label><br>
            </div>
            <div class="col-lg-2" style="background: #F1F0F0">
                <label class="opt-title">End Time</label><br>
            </div>
            <div class="col-lg-2" style="background: #C2C3C6">
                <label class="opt-title">Calling #</label><br>
            </div>
            <div class="col-lg-2" style="background: #F1F0F0">
                <label class="opt-title">Called #</label><br>
            </div>
            <div class="col-lg-2" *ngIf="currentDetail.conferenceParties&&currentDetail.conferenceParties.length > 0" style="background: #C2C3C6">
                <label class="opt-title">Conferencing</label><br>
            </div>
            <div class="col-lg-2" *ngIf="currentDetail.transferees&&currentDetail.transferees.length > 0" style="background: #F1F0F0">
                <label class=" opt-title">Transferee</label><br>
            </div>
        </div>
        <div class="row" style="margin-left: 0px;">
            <div class="col-lg-2" style="background: #C2C3C6">
                <!-- <label class="opt-value">{{currentDetail.startDate | date: 'dd/MM/yyyy HH:mm'}}</label> -->
                <label class="opt-value" style="max-width:140px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{currentDetail.startDateString }}</label>
            </div>
            <div class="col-lg-2" style="background: #F1F0F0">
                <!-- <label class="opt-value">{{currentDetail.endDate | date: 'dd/MM/yyyy HH:mm'}}</label> -->
                <label class="opt-value" style="max-width:140px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{currentDetail.endDateString}}</label>

            </div>
            <div class="col-lg-2" style="background: #C2C3C6">
                <label class="opt-value" style="max-width:140px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="{{currentDetail.callingNumber}}">{{currentDetail.callingNumber}}</label>
            </div>
            <div class="col-lg-2" style="background: #F1F0F0">
                <label class="opt-value" style="max-width:140px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="{{currentDetail.calledNumber}}">{{currentDetail.calledNumber}}</label>
            </div>
            <div class="col-lg-2" style="background: #C2C3C6" *ngIf="currentDetail.conferenceParties&&currentDetail.conferenceParties.length > 0">
                <label class="opt-value" *ngFor="let item of currentDetail.conferenceParties">
                    {{item}}
                </label>
            </div>
            <div class="col-lg-2" style="background: #F1F0F0" *ngIf="currentDetail.transferees&&currentDetail.transferees.length > 0">
                <label class="opt-value" *ngFor="let item of currentDetail.transferees">
                    {{item}}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="actions-list">
                    <data-table [columnDefs]="stepColumns" [data]="(currentDetail.resources == null || currentDetail.resources.length==0) ?phoneDetails:currentDetail.resources" [selectedHeight]="'200px'" [colsTag]="'test-details'">
                        <tableRow>
                            <ng-template let-item="item" class="templateClass">
                                <tr class="strip-table">
                                    <td class="regular-text" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" [width]="getStepsWidth(stepColumns[0])">
                                        {{(currentDetail.resources == null || currentDetail.resources.length == 0) ? item?.phoneTag : item?.id}}
                                    </td>
                                    <td class="regular-text" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" [width]="getStepsWidth(stepColumns[1])">{{item?.macAddress}}</td>
                                    <td class="regular-text" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" [width]="getStepsWidth(stepColumns[2])">{{item?.ipAddress}}</td>
                                    <td class="regular-text" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" [width]="getStepsWidth(stepColumns[3])">{{item?.primaryUser}}</td>
                                    <td class="regular-text" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" [width]="getStepsWidth(stepColumns[4])">
                                        {{(currentDetail.resources == null || currentDetail.resources.length == 0) ? item?.primaryExtn : item?.primaryExtension}}
                                    </td>
                                    <td class="regular-text" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" [width]="getStepsWidth(stepColumns[5])">
                                        {{item?.email}}
                                    </td>
                                </tr>
                            </ng-template>
                        </tableRow>
                    </data-table>
                </div>
            </div>
        </div>
        <!--   MOS SCORE     -->
        <!-- <div *ngIf="mosScoreValues.length>0">
            <div class="row">
                <div class="col-6" *ngFor="let item of mosScoreValues;">
                    <label style="font-size: 14px;font-weight: bold">
                        {{item.name}}
                    </label> &nbsp;&nbsp;
                    <label style="font-size: 12px;">{{item.label}}</label>
                    <br>
                    <progressbar style="height: 10px !important;font-size: 8px;" [max]="MAX_VALUE" class="customClass" [value]="item.value" [striped]="false" [animate]="false">
                        <i style="color: black">
                            {{item.value}}
                        </i>
                    </progressbar>
                </div>
            </div>
            <br *ngIf="mosScoreDetailsList.length>0">
            <div class="row" *ngIf="mosScoreDetailsList.length>0">
                <div class="col-6">
                    <button class="btn-details" (click)="_showCallStats=true">View Details</button>
                </div>
            </div>
            <br *ngIf="_showCallStats">
            <div class="row" *ngIf="_showCallStats">
                <div class="col-lg-2 table-responsive table-nowrap">
                    <table id="callStatsVariable" class="table">
                        <thead style="width:100%; border: 0;">
                            <tr>
                                <th class="boundary"> Name </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let action of mosScoreDetailsList">
                                <td [title]="action.name" style="text-align: left !important;">
                                    {{action.name}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-10 table-responsive text-nowrap">
                    <table id="callStats" class="table">
                        <thead style="width:100%; border: 0;">
                            <tr style="display: flex;">
                                <th class="boundary" [title]="action.label" *ngFor="let action of mosScoreDetailsList[0]['mosScoreKeyalueArray'];">
                                    {{action.label}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="display: flex;" *ngFor="let action of mosScoreDetailsList">
                                <td [title]=" item.value" *ngFor="let item of action.mosScoreKeyalueArray">
                                    {{item.value | blank}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> -->
        <div *ngIf="mosScoreValues.length>0">

            <br *ngIf="mosScoreDetailsList.length>0">
            <div class="row" *ngIf="mosScoreDetailsList.length>0">
                <div class="col-6">
                    <button class="btn-details" *ngIf="!_showCallStatsDetails" (click)="viewOrCloseMediaStats()">View Media
                        Stats</button>
                    <button class="btn-details" *ngIf="_showCallStatsDetails" (click)="viewOrCloseMediaStats()">Close Media
                        Stats</button>
                </div>
            </div>
            <div class="row" *ngIf="_showCallStatsDetails">
                <div class="col-lg-12 table-responsive text-nowrap">
                    <div class="row pl-4 pr-4" *ngFor="let action of mosScoreDetailsList">
                        <div class="col-sm-1 pt-1 pb-1 ">
                            <span class="status" style="font-weight:bold;font-size: 15px;"> Name :
                                {{action.name}}</span>
                        </div>
                        <div class="col-sm-11"></div>
                        <br>
                        <div class="col-sm-4" style="border-bottom: 1px solid #d6dfe9;"
                            *ngFor="let item of action['mosScoreKeyalueArray'];">
                            <div class="row">
                                <div class="col-sm-6 " style="background: #C2C3C6; overflow: hidden;
                                            text-overflow: ellipsis;
                                            vertical-align: middle;">
                                    <span class="action-space"> {{item.label}}</span>
                                </div>
                                <div class="col-sm-6" style="background: #F1F0F0; overflow: hidden;
                                            text-overflow: ellipsis;
                                            vertical-align: middle;">
                                    <span>{{item.value | blank}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  Test Case Steps -->
        <div class="row" *ngIf="currentDetail.actionReportDtos&&currentDetail.actionReportDtos.length > 0" style="margin-top: 15px;">
            <div class="col-md-3">
                <label class="status" style="font-weight:bold;font-size: 15px;">Test Case Steps</label>
            </div>
        </div>
        <div class="row" *ngIf="currentDetail.actionReportDtos&&currentDetail.actionReportDtos.length > 0">
            <div class="col-md-12">
                <div class="actions-list">
                    <table class="table strip-table inner-table">
                        <tbody style="max-height: 270px;">
                            <tr *ngFor="let action of currentDetail.actionReportDtos" style="table-layout: fixed">
                                <td class="regular-text" style="text-align: left !important; width: 10%;">
                                    {{action.action}}</td>
                                <td class="regular-text" style="text-align:left;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" width="70%" title="{{action.description}}">
                                    {{action.description}}</td>
                                <td class="regular-text" width="20%" [style.color]="getColor(action.result)">
                                    {{action.result}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:15px;">
            <div class="col-md-12">
                <label class="status" style="font-size: 15px;font-weight: bold;">Logs</label><br>
                <textarea [(ngModel)]="logAsText" disabled class="logs-area"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="modal-scs-btn" (click)="hideModal()">
            OK
        </button>
    </div>
</ng-template>

<ng-template #popConf>
    <div class="col-splitter">
        <label *ngFor="let item of currentDetail.conferenceParties">
            {{item}}
        </label>
    </div>
</ng-template>

<ng-template #popTrans>
    <div class="col-splitter">
        <label *ngFor="let item of currentDetail.transferees">
            {{item}}
        </label>
    </div>
</ng-template>