.card-width {
  width: max-content;
}

.card-size {
  width: 100px;
  border-radius: 5px;
}

.card {
  border-radius: 5px;
  /* padding: 10px 0px; */
}

.sub-heading {
  font-size: medium;
  font-weight: bold;
}

.value {
  font-size: medium;
}

.dashboard-content {
  padding: 20px;
}

table {
  width: 100%;
}

.table-section {
  /* margin-top: 5%; */
}

th.mat-sort-header-sorted {
  color: black;
}

.clickable-item {
  cursor: pointer;
  color: darkblue;
  text-decoration: underline !important;
}

.table-container {
  position: relative;
  min-height: 200px;
  overflow: auto;
}

.no-data-found {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 50px;
}

.btn-container {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
}

.stakeholder-heading {
  margin: 0;
  padding: 0;
  height: 0;
}

.fw-500 {
  font-weight: 500 !important;
}

mat-card {
  height: 215px;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}


::ng-deep tr.mat-header-row {
  background: #e4e5e5;
}

::ng-deep #Region {
  max-width: 200px;
}

.font-s {
  font-size: 16px;
  font-weight: 600;
}

.text-s {
  font-size: 20px;
  font-weight: 700;
}

.accordian-container .mat-expanded .mat-expansion-panel-header {
  background: lightgray;
}

.inner-accor {
  list-style-type: none !important;
  display: flex !important;
  justify-content: space-between !important;
  flex: 1 1 auto !important;
  align-items: center !important;
  margin: 0 !important;
  padding: 0 !important;
}