<div class="container-fluid">
    <ng-container *ngIf="hasDashboardDetails; then reportView; else blankView"></ng-container>
</div>
<!-- blank view -->
<ng-template #blankView>
    <div class="jumbotron d-flex align-items-center bg-transparent text-center">
        <div class="container">
            <img *ngIf="isLoadingResults" height="80" width="80" src="assets/images/spinner.gif"
                alt="loading spinner gif">
            <h2 *ngIf="!isLoadingResults">
                Failed to load the detailed test report. Please reach out to tekVizion support.
            </h2>
        </div>
    </div>
</ng-template>
<!-- report view -->
<ng-template #reportView>
    <div class="row mt-3">
        <div class="col-4">
            <h1 class="text-start text-s" *ngIf="type===CALL_RELIABILITY">Call Reliability</h1>
            <h1 class="text-start text-s" *ngIf="type===FEATURE_FUNCTIONALITY">Feature Functionality</h1>
        </div>
        <div class="col-8 text-right">
            <button mat-raised-button [disabled]="canDisableDownloadBtn" (click)="downloadDetailedTestReportByType()">
                Download Report
                <mat-icon>download</mat-icon>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h1 class="text-start font-s">Summary</h1>
            <mat-card class="card" style="padding: 10px 0px;">
                <mat-card-content style="padding: 1%;">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th scope="row">Test Cases Executed</th>
                                <td> {{sampleJsonData.summary.total }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Passed</th>
                                <td> {{sampleJsonData.summary.passed }} </td>
                            </tr>
                            <tr>
                                <th scope="row">Failed</th>
                                <td>{{sampleJsonData.summary.failed }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Start Time</th>
                                <td>{{sampleJsonData.summary. startTime }}</td>
                            </tr>
                            <tr>
                                <th scope="row">End Time</th>
                                <td>{{sampleJsonData.summary. endTime }}</td>
                            </tr>
                        </tbody>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-8">
            <h1 class="text-start font-s">Endpoint Resources</h1>
            <section class="table-section">
                <mat-card class="card">
                    <mat-card-content [style.max-height.px]="tableMaxHeight">
                        <app-data-table class="table-container mat-elevation-z8" 
                        [tableData]="sampleJsonData.endpoints"
                        [isLoadingResults]="isLoadingResults"
                        [isRequestCompleted]="isRequestCompleted"
                        [tableColumns]="endpointDisplayedColumns"></app-data-table>
                    </mat-card-content>
                </mat-card>
            </section>
        </div>
    </div>
    <br>
    <section class="table-section" *ngIf="type===FEATURE_FUNCTIONALITY">
        <mat-card class="card">
            <mat-card-content [style.max-height.px]="tableMaxHeight">
                <app-data-table class="table-container mat-elevation-z8"
                    [tableData]="sampleJsonData.featureFunctionality"
                    [isLoadingResults]="isLoadingResults"
                    [isRequestCompleted]="isRequestCompleted"
                    [tableColumns]="featureFunctionalityDisplayedColumns">
                </app-data-table>
            </mat-card-content>
        </mat-card>
    </section>
    <section class="table-section" *ngIf="type===CALL_RELIABILITY">
        <mat-card class="card" style="overflow: hidden;height: auto;">
            <mat-card-content>
                <!-- <app-data-table class="table-container mat-elevation-z8"
                    [tableData]="sampleJsonData.callReliability"
                    [isLoadingResults]="isLoadingResults"
                    [isRequestCompleted]="isRequestCompleted"
                    [tableColumns]="featureFunctionalityDisplayedColumns" [nestedKey] = "'call-reliability'">
                </app-data-table> -->
                <div style="overflow: auto;" [style.height]="openFlag ? '60vh' : 'auto'">
                    <ng-container>
                        <mat-accordion>
                            <mat-expansion-panel hideToggle disabled style="background-color: #e4e5e5;">
                                <mat-expansion-panel-header>
                                    <mat-panel-title style="width:25%;color: black;font-weight: 500;"> Test Case
                                    </mat-panel-title>
                                    <mat-panel-title style="width:25%;color: black;font-weight: 500;"> Start Date
                                    </mat-panel-title>
                                    <mat-panel-title style="width:25%;color: black;font-weight: 500;"> Status
                                    </mat-panel-title>
                                    <mat-panel-title style="width:25%;color: black;font-weight: 500;"> Error Category
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <mat-accordion *ngFor="let key of callReliabilityDetails; let i = index"
                            class="accordian-container">
                            <mat-expansion-panel (closed)="close(i)" hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title style="width:25%">
                                        {{key.testCaseName}}
                                    </mat-panel-title>
                                    <mat-panel-title style="width:25%">
                                        {{key.startTime}}
                                    </mat-panel-title>
                                    <mat-panel-title style="width:25%">
                                        {{key.status}}
                                    </mat-panel-title>
                                    <mat-panel-title style="width:25%">
                                        {{key.errorCategory}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div style="padding: 1%;">
                                    <div class="row">
                                        <div class="col-6">
                                            <table class="table table-hover">
                                                <tbody>
                                                    <tr>
                                                        <th scope="row" style="width: 20%;"> Start Date </th>
                                                        <td> {{key.nestedData.startTime}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" style="width: 20%;"> End Date </th>
                                                        <td> {{key.nestedData.endTime}} </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" style="width: 20%;"> Status </th>
                                                        <td>{{key.nestedData.status}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" style="width: 20%;">Error Category</th>
                                                        <td>{{key.nestedData.errorCategory}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" style="width: 20%;"> Reason </th>
                                                        <td>{{key.nestedData.reason}}</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-6">
                                            <table class="table table-hover">
                                                <tbody>
                                                    <tr *ngFor="let from of key.duts.from.mediaStats">
                                                        <td>
                                                            <mat-accordion>
                                                                <mat-expansion-panel hideToggle
                                                                    [expanded]="obj['key' + i] === 1"
                                                                    (opened)="setStep(1, i)">
                                                                    <mat-expansion-panel-header
                                                                        style="background-color: white;">
                                                                        <mat-panel-title>
                                                                            <ul class="inner-accor">
                                                                                <li> From </li>
                                                                                <li> {{key.duts.from.DID}} </li>
                                                                            </ul>
                                                                        </mat-panel-title>
                                                                    </mat-expansion-panel-header>
                                                                    <table class="table table-hover">
                                                                        <tbody>
                                                                            <tr>
                                                                                <th scope="row"> Avg Audio Degradation
                                                                                </th>
                                                                                <td> {{from.avgAudioDegradation}} </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th scope="row"> Stream Direction </th>
                                                                                <td> {{from.streamDirection}} </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th scope="row"> Audio Codec </th>
                                                                                <td> {{from.audioCodec}} </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th scope="row"> Avg Jitter </th>
                                                                                <td>{{from.avgJitter}}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th scope="row"> Connection Type(Wired/Wireless) </th>
                                                                                <td>{{from.connectionType}}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th scope="row"> Network Transport Protocol </th>
                                                                                <td>{{from.networkTransportProtocol}}</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </mat-expansion-panel>
                                                            </mat-accordion>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <mat-accordion>
                                                                <mat-expansion-panel hideToggle
                                                                    [expanded]="obj['key' + i] === 2"
                                                                    (opened)="setStep(2, i)">
                                                                    <mat-expansion-panel-header
                                                                        style="background-color: white;">
                                                                        <mat-panel-title>
                                                                            <ul class="inner-accor">
                                                                                <li> To </li>
                                                                                <li> {{key.duts.to}} </li>
                                                                            </ul>
                                                                        </mat-panel-title>
                                                                    </mat-expansion-panel-header>
                                                                    <table class="table table-hover">
                                                                        <tbody>
                                                                            <tr>
                                                                                <th scope="row"> Received packet loss
                                                                                </th>
                                                                                <td> 0 </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th scope="row"> Sent bitrate </th>
                                                                                <td> 47.2 Kbps </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th scope="row"> Received Jitter </th>
                                                                                <td> 8.89 ms </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th scope="row"> Round trip time </th>
                                                                                <td>--</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th scope="row"> Sent codec </th>
                                                                                <td>SATIN</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th scope="row"> Received packets </th>
                                                                                <td>1249</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th scope="row"> Received codec </th>
                                                                                <td>SATIN</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th scope="row"> Sent packets </th>
                                                                                <td>1248</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </mat-expansion-panel>

                                                            </mat-accordion>
                                                        </td>
                                                    </tr>
                                                    <tr *ngFor="let data of key.duts.otherParties; let j = index">
                                                        <td>
                                                            <mat-accordion>
                                                                <mat-expansion-panel hideToggle
                                                                    [expanded]="obj['key' + i] === (3 + j)"
                                                                    (opened)="setStep((3 + j), i)" hideToggle>
                                                                    <mat-expansion-panel-header
                                                                        style="background-color: white;">
                                                                        <mat-panel-title>
                                                                            <ul class="inner-accor">
                                                                                <li> Other party </li>
                                                                                <li> {{data}} </li>
                                                                            </ul>
                                                                        </mat-panel-title>
                                                                    </mat-expansion-panel-header>
                                                                </mat-expansion-panel>
                                                            </mat-accordion>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </ng-container>
                </div>
            </mat-card-content>
        </mat-card>
    </section>
</ng-template>