<app-banner [stylesflag] = "'testsuite'"></app-banner>
<div class="suites-content">
    <div class="test-suite-container">
        <div>
            <h1 id="page-title">Test Suites</h1>
        </div>
        <div class="row align-items-center">
            <div class="col-auto ms-auto justify-content-end">
                <button *lcCheckAccessFor="'addTestSuite'" mat-raised-button (click)="addTestSuite()"
                    id="add-test-suite-button">Add Test Suite</button>
            </div>
        </div>
    </div>
    <section class="table-section">
        <div id="test-suites-table" class="table-container mat-elevation-z8" [style.max-height.px]="tableMaxHeight">
            <app-data-table [tableData]="testSuites" [tableColumns]="displayedColumns" [isFilterable]="false"
                [isPageable]="false" [isLoadingResults]="isLoadingResults" [isRequestCompleted]="isRequestCompleted"
                [paginationSizes]="[5,10,20]" [defaultPageSize]="5" (sort)="sortData($event)"
                [rowActionIcon]="actionMenuOptions.length>0&&'more_vert'" (rowAction)="rowAction($event)"
                [actionMenuList]="actionMenuOptions">
            </app-data-table>
        </div>
    </section>
</div>