<div class="modal-header" draggableModal>
    <label class="modal-title">Resource Lists - {{currentProject.name}}</label>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="mycontainer">
        <div class="row">
            <div class="col-lg-4">
                <label for="phoneLists" class="subtitle-label">Resource Lists - Count:
                    {{projectLists.length}}</label><br>
                <div class="lists-panel" style="max-height: 500px;">
                    <data-table [columnDefs]="listColumns" [data]="projectLists" [selectedHeight]="'30vh'" [colsTag]="'list-associated-phones'" [dataflow]="phoneListRequestCompleted">
                        <tableRow>
                            <ng-template let-item="item " class="templateClass ">
                                <tr class="strip-table " (click)="setCurrentList(item) " [ngClass]="{ 'active' : item.active} ">
                                    <td class="regular-text " style="max-width:50px;overflow: hidden; text-align: center; text-overflow: ellipsis; white-space: nowrap; " [width]="getColumnWidth(phoneColumns[0]) " title="{{item.tagName}} ">
                                        {{item.tagName |blank}}
                                    </td>
                                    <td class="regular-text " *ngIf="item.phonePoolDto " style="max-width:50px;overflow: hidden; text-align: center; text-overflow: ellipsis; white-space: nowrap; " [width]="getColumnWidth(phoneColumns[0]) " title="{{item.phonePoolDto.name}} ">
                                        {{item.phonePoolDto.name |blank}}
                                    </td>
                                    <td class="regular-text " *ngIf="item.callServerDto " style="max-width:50px;overflow: hidden; text-align: center; text-overflow: ellipsis; white-space: nowrap; " [width]="getColumnWidth(phoneColumns[0]) " title="{{item.callServerDto.name}} ">
                                        {{item.callServerDto.name |blank}}
                                    </td>
                                    <td class="regular-text " *ngIf="item.deviceUserListDto " style="max-width:50px;overflow: hidden; text-align: center; text-overflow: ellipsis; white-space: nowrap; " [width]="getColumnWidth(phoneColumns[0]) " title="{{item.deviceUserListDto.name}} ">
                                        {{item.deviceUserListDto.name |blank}}
                                    </td>
                                </tr>
                            </ng-template>
                        </tableRow>
                    </data-table>
                </div>
            </div>
            <div class="col-lg-8 " *ngIf="displayServerDetails ">
                <label class="subtitle-label ">{{currentList.name}} - Server Details</label><br>
                <div class="lists-panel " style="max-height: 500px; ">
                    <data-table [columnDefs]="callServerColumns " [data]="currentList.servers " [selectedHeight]=" '30vh' " [colsTag]=" 'associated-servers' " [dataflow]="isRequestCompleted ">
                        <tableRow>
                            <ng-template let-item="item " class="templateClass ">
                                <tr class="strip-table ">
                                    <td class="regular-text " style="max-width:50px;overflow: hidden; text-align: left; text-overflow: ellipsis; white-space: nowrap; " [width]="getColumnWidth(callServerColumns[0]) " title="{{item.name}} ">
                                        {{item.name |blank}}
                                    </td>
                                    <td class="regular-text " style="max-width:50px;overflow: hidden; text-align: center; text-overflow: ellipsis; white-space: nowrap; " [width]="getColumnWidth(callServerColumns[1]) " title="{{item.vendor |poly}} ">
                                        {{item.vendor |blank |poly}}
                                    </td>
                                    <td class="regular-text " style="max-width:50px;overflow: hidden; text-align: center; text-overflow: ellipsis; white-space: nowrap; " [width]="getColumnWidth(callServerColumns[2]) " title="{{item.model}} ">
                                        {{item.model |blank}}
                                    </td>
                                    <td class="regular-text " style="max-width:50px;overflow: hidden; text-align: center; text-overflow: ellipsis; white-space: nowrap; " [width]="getColumnWidth(callServerColumns[3]) " title="{{item.ipAddress}} ">
                                        {{item.ipAddress |blank}}
                                    </td>
                                </tr>
                            </ng-template>
                        </tableRow>
                    </data-table>
                </div>
            </div>
            <div class="col-lg-8 " *ngIf="displayDetails ">
                <label class="subtitle-label ">{{currentList.name}} - Resource List Members</label><br>
                <div class="lists-panel " style="max-height: 500px; ">
                    <data-table [columnDefs]="phoneColumns " [data]="currentList.phones " [selectedHeight]=" '30vh' " [colsTag]=" 'associated-phones' " [dataflow]="isRequestCompleted ">
                        <tableRow>
                            <ng-template let-item="item " class="templateClass ">
                                <tr class="strip-table ">
                                    <td class="regular-text " style="max-width:50px;overflow: hidden; text-align: left; text-overflow: ellipsis; white-space: nowrap; " [width]="getColumnWidth(phoneColumns[0]) " title="{{item.name}} ">
                                        {{item.name |blank}}
                                    </td>
                                    <td class="regular-text " style="max-width:40px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; " [width]="getColumnWidth(phoneColumns[1]) " title="{{item.macAddress}} ">
                                        {{item.macAddress|blank}}</td>
                                    <td class="regular-text " style="max-width:40px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; " [width]="getColumnWidth(phoneColumns[2]) " title="{{item.ipAddress}} ">
                                        {{item.ipAddress|blank}}</td>
                                    <td class="regular-text " style="max-width:40px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; " [width]="getColumnWidth(phoneColumns[3]) " title="{{item.primaryUser}} ">
                                        {{item.primaryUser|blank}}</td>
                                    <td class="regular-text " style="max-width:30px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; " [width]="getColumnWidth(phoneColumns[4]) " title="{{item.primaryExtension}} ">
                                        {{item.primaryExtension|blank}}</td>
                                    <td class="regular-text " style="max-width:40px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; " [width]="getColumnWidth(phoneColumns[5]) " title="{{item.primaryDid}} ">
                                        {{item.primaryDid|blank}}</td>
                                    <td class="regular-text " style="max-width:40px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; " [width]="getColumnWidth(phoneColumns[6]) " title="{{item.vendor |poly}} ">
                                        {{item.vendor |blank |poly}}</td>
                                    <td class="regular-text " style="max-width:40px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; " [style.color]="getColor(item.phoneState) " [width]="getColumnWidth(phoneColumns[7]) " title="{{item.phoneState
                        | titlecase}} ">
                                        {{item.phoneState | titlecase}}</td>
                                </tr>
                            </ng-template>
                        </tableRow>
                    </data-table>
                </div>
            </div>
            <div class="col-lg-8 " *ngIf="displayUserDetails">
                <label class="subtitle-label ">{{currentList.name}} - Resource List Members</label><br>
                <div class="lists-panel " style="max-height: 500px; ">
                    <data-table [columnDefs]="userColumns " [data]="currentList.users " [selectedHeight]=" '30vh' " [colsTag]=" 'associated-users' " [dataflow]="isRequestCompleted ">
                        <tableRow>
                            <ng-template let-item="item " class="templateClass ">
                                <tr class="strip-table ">
                                    <td class="regular-text " style="max-width:50px;overflow: hidden; text-align: left; text-overflow: ellipsis; white-space: nowrap; " [width]="getColumnWidth(userColumns[0]) " title="{{item.userName}} ">
                                        {{item.userName |blank}}
                                    </td>
                                    <td class="regular-text " style="max-width:40px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; " [width]="getColumnWidth(userColumns[1]) " title="{{item.email}} ">
                                        {{item.email|blank}}</td>
                                    <td class="regular-text " style="max-width:40px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; " [width]="getColumnWidth(userColumns[2]) " title="{{item.did}} ">
                                        {{item.did |blank}}</td>
                                </tr>
                            </ng-template>
                        </tableRow>
                    </data-table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer ">
    <button class="modal-scs-btn " (click)="closeModal() ">
        Close
    </button>
</div>