<app-banner *lcCheckAccessFor="'showBanner'"></app-banner>
<div class="container-fluid">
    <div class="row mt-2">
        <div class="col">
            <mat-button-toggle-group [(ngModel)]="selectedPeriod" name="periodSelector">
                <mat-button-toggle value="daily">Daily</mat-button-toggle>
                <mat-button-toggle value="weekly">Weekly</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div *lcFeatureToggle="'powerbiRefreshFeature';subaccountId:getSubaccountId()" class="col-auto ms-auto timer">
            <p style="display: inline-block;">Elapsed Time: {{ seconds }}s {{ milliseconds | number: '3.0' }}ms&emsp;</p>
            <button class="refreshButton" mat-raised-button aria-label="Font Style" (click)="refreshDashboard()">
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
    </div>
    <div class="lights-container" *ngIf="isloading">
        <div>
            <div class="spotlight"></div>
        </div>
        <div>
            <div class="mirror-spotlight"></div>
        </div>
    </div>
    <figure *ngIf="isloading && !isRefreshing else updateMessage" class="reportLoading">
        <img class="spinner" height="80" width="80" src="assets/images/spinner.gif"
        alt="loading spinner gif">
        <figcaption class= "loadingMessage">Please wait while we prepare your Spotlight Dashboard.</figcaption>
    </figure>
    <ng-template #updateMessage>
        <figure *ngIf="isloading && isRefreshing" class="reportLoading">
          <img height="80" width="80" src="assets/images/spinner.gif"
          alt="loading spinner gif">
          <figcaption class= "loadingMessage">Please wait while we update your Dashboard visuals.</figcaption>
        </figure>
      </ng-template>
    <ng-container *ngIf="selectedPeriod === 'daily'">
        <ng-container *ngIf="!isloading">
            <div class="row">
                <h1 class="text-center">Daily Report | {{ selectedDate.format('MMMM-DD-YYYY') }}</h1>
            </div>
            <form [formGroup]="filters" class="row justify-content-center mt-2 mb-2">
                <div class="col-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Date</mat-label>
                        <input [max]="maxDate" matInput [matDatepicker]="dp" formControlName="date">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Region</mat-label>
                        <input type="text"
                               placeholder="Region"
                               matInput
                               formControlName="region"
                               [matAutocomplete]="regionAuto">
                        <mat-autocomplete autoActiveFirstOption #regionAuto="matAutocomplete" [displayWith]="regionDisplayFn">
                            <mat-option *ngFor="let region of filteredRegions | async" [value]="region">
                                {{region.displayName}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-auto align-items-start">
                    <button class="mt-2" *lcCheckAccessFor="'addCustomer'" mat-raised-button
                            id="add-customer-button" (click)="reloadCharts()" [disabled]="filters.disabled">Apply</button>
                </div>
            </form>
            <div class="row">
                <div class="col-6">
                    <app-gauge-chart [title]="'Calling Reliability'" [value]="callingReliability.value"
                                     [timePeriod]="callingReliability.period"
                                     [numberCalls]="callingReliability.total"
                                     [p2pCalls]="callingReliability.p2p"
                                     [onNetCalls]="callingReliability.onNet"
                                     [offNetCalls]="callingReliability.offNet"
                                     (viewDetailedTableEvent)="navigateToDetailedTable(ReportType.DAILY_CALLING_RELIABILITY)"></app-gauge-chart>
                </div>
                <div class="col-6">
                    <app-gauge-chart [title]="'Feature Functionality'" [value]="featureFunctionality.value"
                                     [timePeriod]="featureFunctionality.period"
                                     [numberCalls]="featureFunctionality.total"
                                     [p2pCalls]="featureFunctionality.p2p"
                                     [onNetCalls]="featureFunctionality.onNet"
                                     [offNetCalls]="featureFunctionality.offNet"
                                     (viewDetailedTableEvent)="navigateToDetailedTable(ReportType.DAILY_FEATURE_FUNCTIONALITY)"></app-gauge-chart>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="card text-center mt-2">
                        <div class="card-header">
                            <h1>Voice Quality</h1>
                        </div>
                        <div class="card-body container-fluid">
                            <div class="row">
                                <div class="col">
                                    <apx-chart #vqChart
                                               [series]="vqChartOptions.series"
                                               [chart]="vqChartOptions.chart"
                                               [xaxis]="vqChartOptions.xAxis"
                                               [yaxis]="vqChartOptions.yAxis"
                                               [dataLabels]="vqChartOptions.dataLabels"
                                               [markers]="vqChartOptions.markers"
                                               [plotOptions]="vqChartOptions.plotOptions">
                                    </apx-chart>
                                </div>
                            </div>
                            <button  class="viewDetail-button" mat-raised-button (click)="navigateToDetailedTable(ReportType.DAILY_VQ)">View
                                Detailed Table
                            </button>
                        </div>
                        <div class="card-footer">
                            <div class="footer-text">
                                <mat-icon>timer</mat-icon>
                                <label class="ps-1">Execution time period: {{ vq.period }}</label>
                            </div>
                            <br>
                            <div class="footer-text">
                                <mat-icon>call</mat-icon>
                                <label class="ps-1">Number of calls: {{ vq.calls }} | Number of
                                    streams: {{ vq.streams }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card text-center mt-2">
                        <div class="card-header">
                            <h1>Failed Calls</h1>
                        </div>
                        <div class="card-body container-fluid">
                            <div class="row justify-content-center failed-calls-body">
                                <div class="col-5 blue-label">
                                    <mat-icon>call</mat-icon>
                                    <label class="ps-2">Total Calls</label>
                                    <br>
                                    <p class="mt-2 failed-calls-value">{{ calls.total }}</p>
                                </div>
                                <div class="vr p-0" style="color: black"></div>
                                <div class="col-5 red-label">
                                    <mat-icon>phone_disabled</mat-icon>
                                    <label class="ps-2">Failed Calls</label>
                                    <br>
                                    <p class="mt-2 failed-calls-value">{{ calls.failed }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <apx-chart
                                            [series]="failedCallsChartOptions.series"
                                            [chart]="failedCallsChartOptions.chart"
                                            [plotOptions]="failedCallsChartOptions.plotOptions"
                                            [labels]="failedCallsChartOptions.labels"
                                            [fill]="failedCallsChartOptions.fill"
                                            [grid]="failedCallsChartOptions.grid"
                                            [states]="failedCallsChartOptions.states">
                                    </apx-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <app-customer-network-quality #customerNetworkQuality [date]="this.filters.get('date').value" [region]="this.filters.get('region').value" [users]="this.users" (chartStatus)="chartsStatus($event)"></app-customer-network-quality>
        <app-network-quality-trends #dailyNetworkTrends [date]="this.filters.get('date').value" [region]="this.filters.get('region').value" [users]="this.users" (chartStatus)="chartsStatus($event)"></app-network-quality-trends>
        <br>
    </ng-container>
    <ng-container *ngIf="selectedPeriod === 'weekly'">
        <div class="row">
            <div class="col-12">
                <div class="card text-center mt-2">
                    <div class="card-header">
                        <h1>Calling Reliability</h1>
                    </div>
                    <div class="card-body container-fluid">
                        <div class="row">
                            <div class="col">
                                <apx-chart #weeklyFeatureFunctionality
                                           [series]="weeklyCallingReliabilityChartOptions.series"
                                           [chart]="weeklyCallingReliabilityChartOptions.chart"
                                           [xaxis]="weeklyCallingReliabilityChartOptions.xAxis"
                                           [yaxis]="weeklyCallingReliabilityChartOptions.yAxis"
                                           [dataLabels]="weeklyCallingReliabilityChartOptions.dataLabels"
                                           [grid]="weeklyCallingReliabilityChartOptions.grid"
                                           [stroke]="weeklyCallingReliabilityChartOptions.stroke"
                                           [title]="weeklyCallingReliabilityChartOptions.title"
                                           [markers]="weeklyCallingReliabilityChartOptions.markers"
                                           [legend]="weeklyCallingReliabilityChartOptions.legend"
                                           [colors]="weeklyCallingReliabilityChartOptions.colors">
                                </apx-chart>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <mat-icon>timer</mat-icon>
                        <label class="ps-1">Execution time period: 4/15/2023 00:02:07 AM UTC to 4/21/2023 16:54:31
                            PM UTC</label>
                        <br>
                        <mat-icon>call</mat-icon>
                        <label class="ps-1">Number of calls: 828</label>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>


