<app-banner *lcCheckAccessFor="'showBanner'"></app-banner>
<div class="container-fluid">
    <div class="row mt-2">
        <div class="col">
            <mat-button-toggle-group [(ngModel)]="selectedPeriod" name="periodSelector" (change)="loadCharts()">
                <mat-button-toggle value="daily">Daily</mat-button-toggle>
                <mat-button-toggle value="weekly">Weekly</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div *lcFeatureToggle="'powerbiRefreshFeature';subaccountId:getSubaccountId()" class="col-auto ms-auto timer">
            <p style="display: inline-block;">Elapsed Time: {{ seconds }}s {{ milliseconds | number: '3.0' }}ms&emsp;</p>
            <button class="refreshButton" mat-raised-button aria-label="Font Style" (click)="loadCharts()">
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
    </div>
    <div class="lights-container" *ngIf="isloading">
        <div>
            <div class="spotlight"></div>
        </div>
        <div>
            <div class="mirror-spotlight"></div>
        </div>
    </div>
    <figure *ngIf="isloading" class="reportLoading">
        <img class="spinner" height="80" width="80" src="assets/images/spinner.gif"
        alt="loading spinner gif">
        <figcaption class= "loadingMessage">Please wait while we prepare your Spotlight Dashboard.</figcaption>
    </figure>
    <ng-container *ngIf="selectedPeriod === 'daily'">
        <ng-container *ngIf="!isloading">
            <div class="row">
                <h1 class="text-center">Daily Report | {{ selectedDate.format('MMMM-DD-YYYY') }}</h1>
            </div>
            <form [formGroup]="filters" class="row justify-content-center mt-2 mb-2">
                <div class="col-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Date</mat-label>
                        <input [max]="maxDate" matInput [matDatepicker]="dp" formControlName="date">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Region</mat-label>
                        <input type="text"
                               placeholder="Region"
                               matInput
                               formControlName="region"
                               [matAutocomplete]="regionAuto">
                        <mat-autocomplete autoActiveFirstOption #regionAuto="matAutocomplete" [displayWith]="regionDisplayFn">
                            <mat-option *ngFor="let region of filteredRegions | async" [value]="region">
                                {{region.displayName}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-auto align-items-start">
                    <button class="mt-2" mat-raised-button id="apply-filters-button" (click)="loadCharts()" [disabled]="filters.disabled">Apply</button>
                </div>
            </form>
            <div class="row">
                <div class="col-6">
                    <app-gauge-chart [title]="'Calling Reliability'" [value]="callingReliability.value"
                                     [timePeriod]="callingReliability.period"
                                     [numberCalls]="callingReliability.total"
                                     [p2pCalls]="callingReliability.p2p"
                                     [onNetCalls]="callingReliability.onNet"
                                     [offNetCalls]="callingReliability.offNet"
                                     (viewDetailedTableEvent)="navigateToDetailedTable(ReportType.DAILY_CALLING_RELIABILITY)"></app-gauge-chart>
                </div>
                <div class="col-6">
                    <app-gauge-chart [title]="'Feature Functionality'" [value]="featureFunctionality.value"
                                     [timePeriod]="featureFunctionality.period"
                                     [numberCalls]="featureFunctionality.total"
                                     [p2pCalls]="featureFunctionality.p2p"
                                     [onNetCalls]="featureFunctionality.onNet"
                                     [offNetCalls]="featureFunctionality.offNet"
                                     (viewDetailedTableEvent)="navigateToDetailedTable(ReportType.DAILY_FEATURE_FUNCTIONALITY)"></app-gauge-chart>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="card text-center mt-2">
                        <div class="card-header">
                            <h1>Voice Quality</h1>
                        </div>
                        <div class="card-body container-fluid">
                            <div class="row">
                                <div class="col">
                                    <apx-chart #vqChart
                                               [series]="vqChartOptions.series"
                                               [chart]="vqChartOptions.chart"
                                               [xaxis]="vqChartOptions.xAxis"
                                               [yaxis]="vqChartOptions.yAxis"
                                               [dataLabels]="vqChartOptions.dataLabels"
                                               [markers]="vqChartOptions.markers"
                                               [plotOptions]="vqChartOptions.plotOptions">
                                    </apx-chart>
                                </div>
                            </div>
                            <button  class="viewDetail-button" mat-raised-button (click)="navigateToDetailedTable(ReportType.DAILY_VQ)">View
                                Detailed Table
                            </button>
                        </div>
                        <div class="card-footer">
                            <div class="footer-text">
                                <mat-icon>timer</mat-icon>
                                <label class="ps-1">Execution time period: {{ vq.period }}</label>
                            </div>
                            <br>
                            <div class="footer-text">
                                <mat-icon>call</mat-icon>
                                <label class="ps-1">Number of calls: {{ vq.calls }} | Number of
                                    streams: {{ vq.streams }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card text-center mt-2">
                        <div class="card-header">
                            <h1>Failed Calls</h1>
                        </div>
                        <div class="card-body container-fluid">
                            <div class="row justify-content-center failed-calls-body">
                                <div class="col-5 blue-label">
                                    <mat-icon>call</mat-icon>
                                    <label class="ps-2">Total Calls</label>
                                    <br>
                                    <p class="mt-2 failed-calls-value">{{ calls.total }}</p>
                                </div>
                                <div class="vr p-0" style="color: black"></div>
                                <div class="col-5 red-label">
                                    <mat-icon>phone_disabled</mat-icon>
                                    <label class="ps-2">Failed Calls</label>
                                    <br>
                                    <p class="mt-2 failed-calls-value">{{ calls.failed }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <apx-chart
                                            [series]="failedCallsChartOptions.series"
                                            [chart]="failedCallsChartOptions.chart"
                                            [plotOptions]="failedCallsChartOptions.plotOptions"
                                            [labels]="failedCallsChartOptions.labels"
                                            [fill]="failedCallsChartOptions.fill"
                                            [grid]="failedCallsChartOptions.grid"
                                            [states]="failedCallsChartOptions.states">
                                    </apx-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--        TODO: Refactor into new component-->
            <div class="col-12 p-0">
                <div class="card text-center mt-2">
                    <div class="card-header">
                        <h1>Customer Network Quality</h1>
                    </div>
                    <div class="card-body container-fluid">
                        <form [formGroup]="filters" class="row justify-content-center mt-2 mb-2">
                            <div class="col-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>User</mat-label>
                                    <input type="text"
                                           placeholder="User"
                                           matInput
                                           formControlName="user"
                                           [matAutocomplete]="userAuto">
                                    <mat-autocomplete autoActiveFirstOption #userAuto="matAutocomplete">
                                        <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                                            {{user}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <div class="col-auto align-items-start">
                                <button class="mt-2" *lcCheckAccessFor="'addCustomer'" mat-raised-button
                                        id="add-customer-button" (click)="reloadCNQCharts()" [disabled]="filters.disabled">Apply</button>
                            </div>
                        </form>
                        
                        <div class="card-animation" *ngIf="customerNetworkQualityLoading else charts" style="height: 600px; position: relative;">
                            <div class="lights-container" >
                                <div>
                                    <div class="spotlight"></div>
                                </div>
                                <div>
                                    <div class="mirror-spotlight"></div>
                                </div>
                            </div>
                        </div>
                        <ng-template #charts>
                            <div class="row mt-2">
                                <div class="network-quality">
                                    <div class="row mt-4 justify-content-center">
                                        <div class="border">
                                            <mat-icon>call</mat-icon>
                                            <label class="ps-2 blue-label">Calls With Network Stats:</label>
                                            <span class="ms-1">{{ customerNetworkQualitySummary.totalCalls }}</span>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <h2 class="mb-3">Calls Above Threshold Metrics</h2>
                                        <div class="col-4 p-2 border">
                                            <p>{{ customerNetworkQualitySummary.aboveThreshold.jitter }}</p>
                                            <label class="blue-label">Jitter (> 30ms)</label>
                                        </div>
                                        <div class="col-4 p-2 border">
                                            <p>{{ customerNetworkQualitySummary.aboveThreshold.packetLoss }}</p>
                                            <label class="blue-label">Packet Loss(> 2%)</label>
                                        </div>
                                        <div class="col-4 p-2 border">
                                            <p>{{ customerNetworkQualitySummary.aboveThreshold.roundTripTime }}</p>
                                            <label class="blue-label">Round Trip Time</label>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-3 p-2 border">
                                            <mat-icon>call_quality</mat-icon>
                                            <p>{{ customerNetworkQualitySummary.overall.packetLoss }}</p>
                                            <label class="blue-label">Max. Packet Loss Rate (%)</label>
                                        </div>
                                        <div class="col-3 p-2 border">
                                            <mat-icon>waves</mat-icon>
                                            <p>{{ customerNetworkQualitySummary.overall.jitter }}</p>
                                            <label class="blue-label">Max. Jitter (ms)</label>
                                        </div>
                                        <div class="col-3 p-2 border">
                                            <mat-icon>update</mat-icon>
                                            <p>{{ customerNetworkQualitySummary.overall.roundTripTime }}</p>
                                            <label class="blue-label">Max. Round Trip Time (ms)</label>
                                        </div>
                                        <div class="col-3 p-2 border">
                                            <mat-icon>call_quality</mat-icon>
                                            <p>{{ customerNetworkQualitySummary.overall.polqa }}</p>
                                            <label class="blue-label">Min. POLQA</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto mt-3">
                                    <mat-button-toggle-group [(ngModel)]="selectedGraph" name="graphSelector"
                                                            (ngModelChange)="changeGraph()">
                                        <mat-button-toggle value="jitter">Jitter</mat-button-toggle>
                                        <mat-button-toggle value="packetLoss">Packet Loss</mat-button-toggle>
                                        <mat-button-toggle value="roundTripTime">Round Trip Time</mat-button-toggle>
                                    </mat-button-toggle-group>
                                </div>
                                <div class="col-12 mt-3" style="height: 450px">
                                    <apx-chart #polqaChart
                                            [series]="polqaChartOptions.series"
                                            [chart]="polqaChartOptions.chart"
                                            [xaxis]="polqaChartOptions.xAxis"
                                            [yaxis]="polqaChartOptions.yAxis"
                                            [dataLabels]="polqaChartOptions.dataLabels"
                                            [grid]="polqaChartOptions.grid"
                                            [stroke]="polqaChartOptions.stroke"
                                            [title]="polqaChartOptions.title"
                                            [markers]="polqaChartOptions.markers"
                                            [legend]="polqaChartOptions.legend"
                                            [colors]="polqaChartOptions.colors">
                                    </apx-chart>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </ng-container>
        <app-network-quality-trends #dailyNetworkTrends [date]="this.filters.get('date').value" [users]="this.users"></app-network-quality-trends>
        <br>
    </ng-container>
    <ng-container *ngIf="selectedPeriod === 'weekly'">
        <ng-container *ngIf="!isloading">
            <div class="row">
                <h1 class="text-center">Weekly Report | {{ selectedDate.format('MMMM-DD-YYYY') }}</h1>
            </div>
            <form [formGroup]="filters" class="row justify-content-center mt-2 mb-2">
                <div class="col-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Date</mat-label>
                        <input [max]="maxDate" matInput [matDatepicker]="dp" formControlName="date">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Region</mat-label>
                        <input type="text"
                               placeholder="Region"
                               matInput
                               formControlName="region"
                               [matAutocomplete]="regionAuto">
                        <mat-autocomplete autoActiveFirstOption #regionAuto="matAutocomplete" [displayWith]="regionDisplayFn">
                            <mat-option *ngFor="let region of filteredRegions | async" [value]="region">
                                {{region.displayName}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-auto align-items-start">
                    <button class="mt-2" mat-raised-button id="apply-filters-button" (click)="loadCharts()" [disabled]="filters.disabled">Apply</button>
                </div>
            </form>
            <div class="row">
                <div class="col-12">
                    <div class="card text-center mt-2">
                        <div class="card-header">
                            <h1>Feature Functionality</h1>
                        </div>
                        <div class="card-body container-fluid">
                            <div class="row">
                                <div class="col">
                                    <apx-chart #weeklyFeatureFunctionality
                                            [series]="weeklyFeatureFunctionalityChartOptions.series"
                                            [chart]="weeklyFeatureFunctionalityChartOptions.chart"
                                            [xaxis]="weeklyFeatureFunctionalityChartOptions.xAxis"
                                            [yaxis]="weeklyFeatureFunctionalityChartOptions.yAxis"
                                            [dataLabels]="weeklyFeatureFunctionalityChartOptions.dataLabels"
                                            [grid]="weeklyFeatureFunctionalityChartOptions.grid"
                                            [stroke]="weeklyFeatureFunctionalityChartOptions.stroke"
                                            [title]="weeklyFeatureFunctionalityChartOptions.title"
                                            [markers]="weeklyFeatureFunctionalityChartOptions.markers"
                                            [legend]="weeklyFeatureFunctionalityChartOptions.legend"
                                            [colors]="weeklyFeatureFunctionalityChartOptions.colors">
                                    </apx-chart>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <mat-icon>timer</mat-icon>
                            <label class="ps-1">Execution time period: 4/15/2023 00:02:07 AM UTC to 4/21/2023 16:54:31
                                PM UTC</label>
                            <br>
                            <mat-icon>call</mat-icon>
                            <label class="ps-1">Number of calls: 828</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card text-center mt-2">
                        <div class="card-header">
                            <h1>Calling Reliability</h1>
                        </div>
                        <div class="card-body container-fluid">
                            <div class="row">
                                <div class="col">
                                    <apx-chart #weeklyCallingReliability
                                            [series]="weeklyCallingReliabilityChartOptions.series"
                                            [chart]="weeklyCallingReliabilityChartOptions.chart"
                                            [xaxis]="weeklyCallingReliabilityChartOptions.xAxis"
                                            [yaxis]="weeklyCallingReliabilityChartOptions.yAxis"
                                            [dataLabels]="weeklyCallingReliabilityChartOptions.dataLabels"
                                            [grid]="weeklyCallingReliabilityChartOptions.grid"
                                            [stroke]="weeklyCallingReliabilityChartOptions.stroke"
                                            [title]="weeklyCallingReliabilityChartOptions.title"
                                            [markers]="weeklyCallingReliabilityChartOptions.markers"
                                            [legend]="weeklyCallingReliabilityChartOptions.legend"
                                            [colors]="weeklyCallingReliabilityChartOptions.colors">
                                    </apx-chart>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <mat-icon>timer</mat-icon>
                            <label class="ps-1">Execution time period: 4/15/2023 00:02:07 AM UTC to 4/21/2023 16:54:31
                                PM UTC</label>
                            <br>
                            <mat-icon>call</mat-icon>
                            <label class="ps-1">Number of calls: 828</label>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>