.chart-label {
    color: #42a948;
    font-weight: bold;
    font-size: 18px;
}

.card-header {
    background: #7694B7;
    color: white;
}

.card-footer {
    background: #F2F3F4;
}

.timer {
    font-size: 14px;
    font-weight: 500;
}

.failed-calls-body {
    font-size: 22px;
}

.blue-label {
    color: #7694B7;
}

.red-label {
    color: #B80000;
}

.failed-calls-value {
    font-weight: bold;
    color: black;
}

.network-quality {
    font-size: 22px;
}

mat-form-field {
    width: 100%;
}

.lights-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: white;
    opacity: 1;
}

.spotlight {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(65, 121, 204, 0.2), transparent);
    position: absolute;
    top: 200px;
    right: 23%;
    animation: move-mirror 15s linear infinite;
}

.mirror-spotlight {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(65, 121, 204, 0.2), transparent);
    position: absolute;
    top: 200px;
    left: 23%;
    animation: move 15s linear infinite;
}

@keyframes move {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(25vw, 7vh);
    }
    28.57% {
        transform: translate(30vw, 25vh);
    }
    32.86% {
        transform: translate(35vw, 30vh);
    }
    45.14% {
        transform: translate(15vw, 25vh);
    }
    56% {
        transform: translate(25vw, 15vh);
    }
    63% {
        transform: translate(20vw, 35vh);
    }
    67% {
        transform: translate(35vw, 25vh);
    }
    100% {
        transform: translate(0, 0);
    }
}
@keyframes move-mirror {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(-25vw, 7vh);
    }
    28.57% {
        transform: translate(-30vw, 25vh);
    }
    32.86% {
        transform: translate(-35vw, 30vh);
    }
    45.14% {
        transform: translate(-15vw, 25vh);
    }
    56% {
        transform: translate(-25vw, 15vh);
    }
    63% {
        transform: translate(-20vw, 35vh);
    }
    67% {
        transform: translate(-35vw, 25vh);
    }
    100% {
        transform: translate(0, 0);
    }
}
