<i *ngIf="detailed" class="fa fa-circle event" [style.color]="getColor()" aria-hidden="true">
  <span [ngClass]="position" class="regular-text">&nbsp;{{event.details}} -
    {{event.date_tsString}}</span>
</i>

<i *ngIf="!detailed && event.type.toLowerCase() !== 'firmware_upgrade'" class="fa fa-circle event"
  [style.color]="getColor()" [style.background]="bgColor" id="event-{{index}}" aria-hidden="true"
  [ngClass]="activeClass" popover="{{event.date_tsString}}" popoverTitle="{{event.details}}"
  placement="top" triggers="mouseenter:mouseleave" (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)"
  [isOpen]="isOpen">
</i>

<i *ngIf="!detailed && event.type.toLowerCase() === 'firmware_upgrade'" class="fa fa-circle event"
  [style.color]="getColor()" [style.background]="bgColor" id="event-{{index}}" aria-hidden="true"
  [ngClass]="activeClass" popover="{{event.details}}" popoverTitle="Firmware Upgrade" placement="top"
  triggers="mouseenter:mouseleave" (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)" [isOpen]="isOpen">
</i>