.event {
    display: inline-block;
    /* margin-right: 15px; */
    margin-right: -.25em;
    padding: .75em 1em;
    position: relative;
}

:host>>>.popover.bottom {
    margin-left: 25px !important;
}

:host>>>.popover {
    width: max-content;
}

.rotatedUp {
    display: inline-block;
    -ms-transform: rotate(-45deg);
    /* IE 9 */
    -ms-transform-origin: -55% 10%;
    /* IE 9 */
    -webkit-transform: rotate(-45deg);
    /* Safari 3-8 */
    -webkit-transform-origin: -55% 10%;
    /* Safari 3-8 */
    transform: rotate(-45deg);
    transform-origin: -55% 10%;
    max-width: 15px;
}

.regular-text {
    font-family: 'Helvetica Neue Regular';
    color: #414141;
    font-size: 12px;
}

.rotatedDown {
    display: inline-block;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -ms-transform-origin: -55% 50%;
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Safari 3-8 */
    -webkit-transform-origin: -55% 50%;
    /* Safari 3-8 */
    transform: rotate(45deg);
    transform-origin: -55% 50%;
    max-width: 15px;
}

.active {
    border-radius: 100%;
    border: 0.5px solid;
    line-height: 20px;
    margin: -2px;
}

.inactive {}