<div [@growDown] class="banner-container" [ngClass]="['banner-'+type]" *ngIf="opened">
        <p class="title" [innerHTML]="title" id="alert-banner-title"
                [ngClass]="{'col-12': !displayClose, 'col-11' : displayClose === true }"></p>

        <p class="message col-12" [innerHTML]="message" id="alert-banner-message"></p>
        <div class="col-11 d-flex justify-content-start hide-tag" *ngIf="displayClose">
                <mat-checkbox class="checkbox-margin" [color]="'primary'" [(ngModel)]="hideForever">Don't show
                        again</mat-checkbox>
        </div>
        <div class="col-1 d-flex justify-content-end" *ngIf="displayClose">
                <button mat-raised-button title="Close Banner" color="warn" (click)="regularClose()">Close</button>
        </div>
</div>