<div [@growDown] class="banner-container" [ngClass]="['banner-'+type]" *ngIf="opened">
        <p class="title" [innerHTML]="title" id="alert-banner-title"
                [ngClass]="{'col-12': !displayClose, 'col-7' : displayClose === true }"></p>
        <div class="col-5 d-flex justify-content-end hide-tag" *ngIf="displayClose">
                <mat-checkbox class="checkbox-margin" [color]="'primary'" [(ngModel)]="hideForever">Don't show
                        again</mat-checkbox> &nbsp;
                <button mat-raised-button title="Close Banner" color="warn" (click)="regularClose()">Close</button>
        </div>
        <!-- <div class="col-1 d-flex justify-content-start" *ngIf="displayClose">
                </div> -->

        <p class="message col-12" [innerHTML]="message" id="alert-banner-message"></p>
</div>