<ng-container *ngIf="!isLoading && !hideChart">
    <div class="col-12 p-0">
        <div class="card text-center mt-2">
            <div class="card-header">
                <h1>Network Quality
                    <mat-icon matTooltip="Represents the customer's network quality summary along with the detailed reports of Received Packet Loss, Round Trip Time, Jitter, Sent Bit Rate and POLQA.">
                        info_outline
                    </mat-icon>
                </h1>
            </div>
            <div class="card-body container-fluid">
                <form [formGroup]="filters">
                    <div class="justify-content-center" style="align-items: center; white-space: nowrap;">
                        <div style="display: inline-block; padding-right: 5px;">
                            <div class="row justify-content-center">
                                <div class="col-auto">
                                    <mat-form-field style="margin-bottom: -1.25em" appearance="outline">
                                        <mat-label id="type-filter-label">Selected Value:</mat-label>
                                        <mat-select formControlName="selectedValue" [value]="defaultValue" [(ngModel)]="defaultValue" (selectionChange)="onChangeValue($event.value)">
                                            <mat-option *ngFor="let value of filterNetworkQualityForm" [value]="value">
                                                {{value}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-auto">
                                    <mat-form-field appearance="outline">
                                        <mat-label>User</mat-label>
                                        <input type="text"
                                               placeholder="User"
                                               matInput
                                               #userInput
                                               formControlName="user"
                                               [matAutocomplete]="userAuto">
                                        <mat-autocomplete autoActiveFirstOption #userAuto="matAutocomplete" (optionSelected)="selected()">
                                            <mat-option *ngFor="let user of usersForDropdown" [value]="user">
                                                {{user}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div class="col-auto">
                                    <div style="display: inline-block; padding-right: 15px; margin-top: 16px;">
                                        <button class="apply-bttn" mat-raised-button
                                                id="add-customer-button" (click)="reloadCharts()" [disabled]="filters.disabled">
                                            Apply
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row" *ngIf="this.selectedUsers.length>0">
                    <div class="col-md-6 offset-md-3">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                    <h2 class="mb-0">Selected User(s)&nbsp;</h2>
                                    <button [disabled]="this.selectedUsers.length===0" (click)="clearUsersFilter()" class="clear-button text-center" mat-raised-button>
                                        <small>Clear All</small>
                                    </button>
                            </div>
                            <mat-chip-list #chipList aria-label="Region selection">
                                <mat-chip
                                  *ngFor="let user of selectedUsers"
                                  (removed)="remove(user)">
                                  {{user}}
                                  <button matChipRemove>
                                    <mat-icon>cancel</mat-icon>
                                  </button>
                                </mat-chip>
                            </mat-chip-list>
                    </div>
                </div>
                <div *ngIf="isChartLoading else charts" style="height: 600px; position: relative;">
                    <div class="lights-container">
                        <div>
                            <div class="spotlight"></div>
                        </div>
                        <div>
                            <div class="mirror-spotlight"></div>
                        </div>
                    </div>
                </div>
                <ng-template #charts>
                    <div class="row mt-2">
                        <div class="network-quality summary">
                            <div class="row mt-4 justify-content-center">
                                <div class="border">
                                    <div class="metric-header">
                                        <mat-icon>call</mat-icon>
                                        <label class="ps-2 blue-label">Calls With Network Stats:</label>
                                        <span class="ms-1">{{ summary.totalCalls }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="subtitle">
                                    <h2 class="mb-3">Calls Above Threshold Metrics
                                        <mat-icon matTooltip="Number of calls that exceed the recommended threshold for a particular metric.">
                                            info_outline
                                        </mat-icon>
                                    </h2>
                                </div>
                                <div class="col-md-4 p-2 border metrics">
                                    <p>{{ summary.aboveThreshold.jitter }}</p>
                                    <label class="blue-label">Jitter (> {{ MetricsThresholds.receivedJitter }} ms)</label>
                                </div>
                                <div class="col-md-4 p-2 border metrics">
                                    <p>{{ summary.aboveThreshold.packetLoss }}</p>
                                    <label class="blue-label">Packet Loss (> {{ MetricsThresholds.receivedPacketLoss }}%)</label>
                                </div>
                                <div class="col-md-4 p-2 border metrics">
                                    <p>{{ summary.aboveThreshold.roundTripTime }}</p>
                                    <label class="blue-label">Round Trip Time (> {{ MetricsThresholds.roundTripTime }} ms)</label>
                                </div>
                            </div>
                            <div class="row justify-content-center mt-3">
                                <div class="subtitle">
                                    <h2 class="mb-3">Network Metrics Summary
                                        <mat-icon matTooltip="Most relevant value for each network metric.">
                                            info_outline
                                        </mat-icon>
                                    </h2>
                                </div>
                                <div class="col-md-3 p-2 border metrics">
                                    <div class="metrics-values">
                                        <mat-icon class="custom-icon" svgIcon="packetloss"></mat-icon>
                                        <p>{{ summary.overall.packetLoss }}</p>
                                    </div>
                                    <label class="blue-label">{{maxLabel}} Packet Loss (%)</label>
                                </div>
                                <div class="col-md-2 p-2 border metrics">
                                    <div class="metrics-values">
                                        <mat-icon class="custom-icon" svgIcon="jitter"></mat-icon>
                                        <p>{{ summary.overall.jitter }}</p>
                                    </div>
                                    <label class="blue-label">{{maxLabel}} Jitter (ms)</label>
                                </div>
                                <div class="col-md-2 p-2 border metrics">
                                    <div class="metrics-values">
                                        <mat-icon>update</mat-icon>
                                        <p>{{ summary.overall.roundTripTime }}</p>
                                    </div>
                                    <label class="blue-label">{{maxLabel}} Round Trip Time (ms)</label>
                                </div>
                                <div class="col-md-2 p-2 border metrics">
                                    <div class="metrics-values">
                                        <mat-icon>network_check</mat-icon>
                                        <p>{{ summary.overall.polqa }}</p>
                                    </div>
                                    <label class="blue-label">{{minLabel}} POLQA</label>
                                </div>
                                <div class="col-md-3 p-2 border metrics">
                                    <div class="metrics-values">
                                        <mat-icon>multiple_stop</mat-icon>
                                        <p>{{ summary.overall.sendBitrate }}</p>
                                    </div>
                                    <label class="blue-label">{{avgLabel}} Sent Bitrate (kbps)</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-4">
                                <hr>
                            </div>
                            <div class="justify-content-center mt-4">
                                <div class="subtitle">
                                    <h2 *ngIf="selectedGraph==='jitter'">{{maxLabel}} Jitter vs {{minLabel}} POLQA 
                                        <mat-icon matTooltip="Maximum Jitter versus Minimum POLQA histogram in Voice Quality (POLQA) tests.">
                                            info_outline
                                        </mat-icon>
                                    </h2>
                                    <h2 *ngIf="selectedGraph==='packetLoss'">{{maxLabel}} Packet Loss vs {{minLabel}} POLQA 
                                        <mat-icon matTooltip="Maximum Received Packet Loss versus Minimum POLQA histogram in Voice Quality (POLQA) tests.">
                                            info_outline
                                        </mat-icon>
                                    </h2>
                                    <h2 *ngIf="selectedGraph==='roundTripTime'">{{maxLabel}} Round Trip Time vs {{minLabel}} POLQA 
                                        <mat-icon matTooltip="Maximum Round Trip Time versus Minimum POLQA histogram in Voice Quality (POLQA) tests.">
                                            info_outline
                                        </mat-icon>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto mt-1">
                                <span><b>Select Metric: </b></span>
                                <mat-button-toggle-group [(ngModel)]="selectedGraph" name="graphSelector"
                                                         (ngModelChange)="changeGraph()">
                                    <mat-button-toggle value="jitter">Jitter</mat-button-toggle>
                                    <mat-button-toggle value="packetLoss">Packet Loss</mat-button-toggle>
                                    <mat-button-toggle value="roundTripTime">Round Trip Time</mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                        <div class="col-12 mt-3" style="height: 450px">
                            <ng-container #outlet [ngTemplateOutlet]="chartContent"></ng-container>
                            <ng-template #chartContent>
                                <apx-chart #polqaChart
                                [series]="polqaChartOptions.series"
                                [chart]="polqaChartOptions.chart"
                                [xaxis]="polqaChartOptions.xAxis"
                                [yaxis]="polqaChartOptions.yAxis"
                                [dataLabels]="polqaChartOptions.dataLabels"
                                [grid]="polqaChartOptions.grid"
                                [stroke]="polqaChartOptions.stroke"
                                [markers]="polqaChartOptions.markers"
                                [legend]="polqaChartOptions.legend"
                                [colors]="polqaChartOptions.colors">
                                </apx-chart>
                            </ng-template>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-12 mt-4">
                                <hr>
                            </div>
                            <div class="mt-4">
                                <div class="subtitle">
                                    <h2 class="mb-3">Network Trends 
                                        <mat-icon matTooltip="Represents detailed insight into the overall health of the network with the detailed reports of Received Packet Loss, Round Trip Time, Jitter and Sent Bit Rate.">
                                            info_outline
                                        </mat-icon>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="network-quality">
                            <div class="row">
                                <div class="col-md-6 mt-3" style="height: 300px">
                                    <apx-chart
                                            [series]="receivedPacketLossChartOptions.series"
                                            [title]="receivedPacketLossChartOptions.title"
                                            [chart]="receivedPacketLossChartOptions.chart"
                                            [xaxis]="receivedPacketLossChartOptions.xAxis"
                                            [yaxis]="receivedPacketLossChartOptions.yAxis"
                                            [dataLabels]="receivedPacketLossChartOptions.dataLabels"
                                            [grid]="receivedPacketLossChartOptions.grid"
                                            [stroke]="receivedPacketLossChartOptions.stroke"
                                            [markers]="receivedPacketLossChartOptions.markers"
                                            [legend]="receivedPacketLossChartOptions.legend"
                                            [annotations]="receivedPacketLossChartOptions.annotations"
                                            [colors]="receivedPacketLossChartOptions.colors">
                                    </apx-chart>
                                </div>
                                <div class="col-md-6 mt-3" style="height: 300px">
                                    <apx-chart
                                            [series]="jitterChartOptions.series"
                                            [title]="jitterChartOptions.title"
                                            [chart]="jitterChartOptions.chart"
                                            [xaxis]="jitterChartOptions.xAxis"
                                            [yaxis]="jitterChartOptions.yAxis"
                                            [dataLabels]="jitterChartOptions.dataLabels"
                                            [grid]="jitterChartOptions.grid"
                                            [stroke]="jitterChartOptions.stroke"
                                            [markers]="jitterChartOptions.markers"
                                            [legend]="jitterChartOptions.legend"
                                            [annotations]="jitterChartOptions.annotations"
                                            [colors]="jitterChartOptions.colors">
                                    </apx-chart>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mt-3" style="height: 300px">
                                    <apx-chart
                                            [series]="sentBitrateChartOptions.series"
                                            [title]="sentBitrateChartOptions.title"
                                            [chart]="sentBitrateChartOptions.chart"
                                            [xaxis]="sentBitrateChartOptions.xAxis"
                                            [yaxis]="sentBitrateChartOptions.yAxis"
                                            [dataLabels]="sentBitrateChartOptions.dataLabels"
                                            [grid]="sentBitrateChartOptions.grid"
                                            [stroke]="sentBitrateChartOptions.stroke"
                                            [markers]="sentBitrateChartOptions.markers"
                                            [legend]="sentBitrateChartOptions.legend"
                                            [annotations]="sentBitrateChartOptions.annotations"
                                            [colors]="sentBitrateChartOptions.colors">
                                    </apx-chart>
                                </div>
                                <div class="col-md-6 mt-3" style="height: 300px">
                                    <apx-chart
                                            [series]="roundTripChartOptions.series"
                                            [title]="roundTripChartOptions.title"
                                            [chart]="roundTripChartOptions.chart"
                                            [xaxis]="roundTripChartOptions.xAxis"
                                            [yaxis]="roundTripChartOptions.yAxis"
                                            [dataLabels]="roundTripChartOptions.dataLabels"
                                            [grid]="roundTripChartOptions.grid"
                                            [stroke]="roundTripChartOptions.stroke"
                                            [markers]="roundTripChartOptions.markers"
                                            [legend]="roundTripChartOptions.legend"
                                            [annotations]="roundTripChartOptions.annotations"
                                            [colors]="roundTripChartOptions.colors">
                                    </apx-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</ng-container>
