.mycontainer {
    margin-left: -15px !important;
    margin-right: 25px;
}

.desc-label {
    font-family: 'Helvetica Neue Regular';
    font-style: italic;
    font-size: 14px;
    color: #414141;
}

.separator {
    color: #BEBEBE;
}

.form-label {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    color: #414141;
}

.form-control {
    color: #414141;
    font-size: 14px;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-control::placeholder {
    color: #BEBEBE;
    font-style: italic;
    font-size: 12px;
}

.phone-label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    color: #414141;
}

.parameters-label {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #414141;
}

.form-control::placeholder {
    color: #BEBEBE;
    font-style: italic;
}

.linesContainer {
    min-height: 100px;
}

.plus-btn {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: thin solid #EAEAEA;
    cursor: pointer;
    overflow: hidden;
    border-radius: 45px;
    outline: none;
}

.close {
    margin-right: -18px;
    margin-top: -15px;
}

.close:focus {
    outline: none;
    box-shadow: none;
}

.ng-autocomplete {
    width: 230px;
}

:host>>>.autocomplete-container .suggestions-container ul li a {
    padding: 14px 15px !important;
    display: block !important;
    text-decoration: none !important;
    cursor: pointer !important;
    color: rgba(0, 0, 0, .87) !important;
    font-size: 12px !important;
    width: auto !important;
    overflow-x: hidden !important;
}

:host>>>.autocomplete-container .input-container input {
    color: #414141;
    font-size: 14px;
    font-style: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:host>>>.autocomplete-container .input-container .x {
    display: none;
}