<div class="container">
    <div class="loading-shade" *ngIf="isDataLoading">
        <mat-spinner *ngIf="isDataLoading"></mat-spinner>
    </div>

    <ng-container [ngSwitch]="interaction">
        <ng-container *ngSwitchCase="'1'" [ngTemplateOutlet]="template1"></ng-container>
        <ng-container *ngSwitchCase="'2'" [ngTemplateOutlet]="template2"></ng-container>
        <ng-container *ngSwitchCase="'3'" [ngTemplateOutlet]="template3"></ng-container>
        <ng-container *ngSwitchCase="'4'" [ngTemplateOutlet]="template4"></ng-container>
    </ng-container>
</div>

<!-- start screen | '1' -->
<ng-template #template1>
    <div style="padding: 4%;">
        <div class="row">
            <div class="col-12"><img height="40" src="assets/images/TekVizionLogoGreen.png" alt=""></div>
        </div>
        <div class="container mt-5">
            <section>
                <h1>You’ve signed up for the following UCaaS Continuous Testing services:​</h1>
                <p class="m-5 fs-4" style="text-align: center;">UCaaS Continuous Testing for Microsoft Teams</p>
                <h1 style="text-align: justify;">We’ll help you set up your Service in just a few minutes.
                    To be able to use this Service you need to provide your personal information.</h1>
            </section>
            <div class="row mt-5 justify-content-between">
                    <button class="col me-2 col-sm-4" color="primary" mat-raised-button data-bs-toggle="button" (click)="onClickBtn('confirm')" title="Sure!">
                            Sure!
                    </button>
                    <button class="col col-sm-4" mat-raised-button data-bs-toggle="button" mat-dialog-close
                        (click)="onClickBtn('cancel')" title="Not right now">
                            Not right now
                    </button>
            </div>
        </div>
    </div>
</ng-template>
<!-- configure reports | '2' -->
<ng-template #template2>
    <form [formGroup]="userProfileForm" (ngSubmit)="onConfigureUserprofile()">
        <h2>Let's set your personal information.</h2>
        <div class="row gy-3">
            <div class="col-12 col-sm-6">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label id="name-label"> Name</mat-label>
                    <input required id="name" type="text" formControlName="name" matInput aria-label="Name">
                </mat-form-field>
            </div>
            <div class="col-12 col-sm-6">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label id="company-name-label">Company Name</mat-label>
                    <input id="company-name" type="text" formControlName="companyName" matInput value="" aria-label="Your Company">
                </mat-form-field>
            </div>
            <div class="col-12 col-sm-6 onboard-wizard-phone">
                <ngx-intl-tel-input
                [cssClass]="'custom'"
                [preferredCountries]="preferredCountries"
                [enableAutoCountrySelect]="true"
                [enablePlaceholder]="true"
                [searchCountryFlag]="true"
                [searchCountryField]="[SearchCountryField.Iso2,SearchCountryField.Name]"
                [selectFirstCountry]="false"
                [selectedCountryISO]="CountryISO.Bolivia"
                [maxLength]="15"
                [phoneValidation]="true"
                [separateDialCode]="false"
                [numberFormat]="PhoneNumberFormat.International"
                [enablePlaceholder]="true"
                [customPlaceholder]="'Phone Number'"
                [inputId]="'phone-number'"
                formControlName="phoneNumber"
            >
            </ngx-intl-tel-input>
            </div>
            <div class="col-12 col-sm-6">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label id="job-title-label">Job Title</mat-label>
                    <input  id="jobTitle" type="text" formControlName="jobTitle" matInput aria-label="Job Title">
                </mat-form-field>
            </div>
            <div class="col-12 col-sm-6">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label id="email-label">Email</mat-label>
                    <input required id="email" type="email" formControlName="email" matInput aria-label="Email">
                </mat-form-field>
            </div>
            <div *lcCheckAccessFor="'emailNotifications'">
                <h2 id="subaccount-services" class="mt-3 mb-0 checkbox-title">Email Notifications</h2>
                <div class="row justify-content-center" style="margin-top: 3%;">
                    <div class="col-auto">
                        <span class="fw-500">Off</span>
                        &nbsp;
                        &nbsp;
                        <mat-slide-toggle id="mat-toggle" [color]="'primary'" [checked]="emailNotifications" (change)="onChangeToggle($event.checked)"></mat-slide-toggle>
                        &nbsp;
                        <span class="fw-500 p-2">On</span>
                        &nbsp;
                    </div>
                </div>
                <br>
            </div>
        </div>
        <br>
        <button class="btn btn-custom btn-sm float-end mt-4 px-3" type="submit" id="update-data-button"
            [disabled]="!userProfileForm.valid">Save</button>
    </form>
</ng-template>
<!-- add another stakeholder confirmation | '3' -->
<ng-template #template3>
    <div>
        <div style="padding: 4%;">
            <div>
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-center">Do you want to add another stakeholder?</h2>
                        <p>You can allways add more stakeholders by clicking the stakehodlers option in your UCaaS Continuous Testing menu</p>
                    </div>
                </div>
                <br>
                <div class="row justify-content-evenly" style="text-align: center;">
                    <button class="col me-2 col-sm-5" color="primary" mat-raised-button (click)="addStakeholdersConfirmation('yes')" title="Yes">
                        <p>Yes</p>
                    </button>
                    <button class="col col-sm-5" mat-raised-button (click)="addStakeholdersConfirmation('no')" title="No, I'm done">
                        <p>
                            No, I'm done
                        </p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!-- add another stakeholder | '4' -->
<ng-template #template4>
    <div>
        <h2>Add another stakeholder</h2>
        <p>Enter their information here.</p>
        <br>
        <form [formGroup]="stakeholderForm" (ngSubmit)="addStakeholder()">
            <div class="row gy-3">
                <div class="col-12 col-sm-6">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label id="name-label"> Name</mat-label>
                        <input required id="name" type="text" formControlName="name" matInput value="" aria-label="Name">
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-6">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label id="company-name-label">Company Name</mat-label>
                        <input id="company-name" type="text" formControlName="companyName" matInput value="" aria-label="Your Company">
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-6">
                    <ngx-intl-tel-input
                        [cssClass]="'custom'"
                        [preferredCountries]="preferredCountries"
                        [enableAutoCountrySelect]="true"
                        [enablePlaceholder]="true"
                        [searchCountryFlag]="true"
                        [searchCountryField]="[SearchCountryField.Iso2,SearchCountryField.Name]"
                        [selectFirstCountry]="false"
                        [selectedCountryISO]="CountryISO.Bolivia"
                        [maxLength]="15"
                        [phoneValidation]="true"
                        [separateDialCode]="false"
                        [numberFormat]="PhoneNumberFormat.International"
                        [inputId]="'phoneNumber'"
                        [enablePlaceholder]="true"
                        [customPlaceholder]="'Phone Number'"
                        formControlName="phoneNumber"
                    >
                    </ngx-intl-tel-input>
                </div>
                <div class="col-12 col-sm-6">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label id="job-title-label">Job Title</mat-label>
                        <input  id="jobTitle" type="text" formControlName="jobTitle" matInput aria-label="Job Title">
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-6">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label id="email-label">Email</mat-label>
                        <input required id="email" type="email" formControlName="subaccountAdminEmail" matInput aria-label="Email">
                    </mat-form-field>
                </div>
                <div *lcCheckAccessFor="'emailNotifications'">
                    <h2 id="subaccount-services" class="mt-3 mb-0 checkbox-title">Email Notifications</h2>
                    <div class="row justify-content-center" style="margin-top: 3%;">
                        <div class="col-auto"> 
                            <span class="fw-500" >Off</span>
                            &nbsp;
                            &nbsp;
                            <mat-slide-toggle id="mat-toggle" [color]="'primary'" [checked]="emailNotifications" (change)="onChangeToggle($event.checked)"></mat-slide-toggle>
                            &nbsp;
                            <span class="fw-500 p-2" >On</span>
                            &nbsp;
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <br>
            <div>
                <span *ngIf="errorMsg!==''">{{errorMsg}}</span>
                <button class="btn btn-custom btn-sm float-end mt-4 px-3" type="submit"
                    [disabled]="!stakeholderForm.valid || errorCreatingStakeholder">Save</button>
            </div>
        </form>
    </div>
</ng-template>
