h1 {
  font-weight: 500 !important;
}
p {
  margin: 2px 0px;
}
.btn-custom {
  background: rgb(39, 49, 118);
  color: white;
}
.form-control.ng-touched.ng-invalid {
  border-left: 5px solid #CC0000;
}
.form-control.ng-touched.ng-valid {
  border-left: 5px solid green;
}

.checkbox-title {
  text-align: center;
}
