.countNumber {
  padding: 5px;
  background: #7694B7;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  margin-left: auto;
  margin-right: auto;
  display: table;
  text-align: center;
}

.counterValue {
  font-size: 14px;
  font-family: "Helvetica Neue Medium";
  color: white;
  line-height: 17px;
  display: table-cell;
  vertical-align: middle;
}

.title {
  font-family: "Helvetica Neue Regular";
  color: #0E2346 !important;
  font-size: 1.2rem;
  padding-left: 15px;
  padding-top: 10px;
  width: 100%;
}

:host>>>.popover>.arrow {
  display: none;
}

:host>>>.popover {
  background-color: #ffffff;
  color: #ffffff;
}

:host>>>.popover.bottom {
  margin-top: -5px !important;
  margin-left: -55px !important;
}

.btn-opt {
  background: none;
  border: 0;
}

.btn-opt:focus {
  outline: none;
  box-shadow: none;
}

.pop-option {
  text-align: left;
  font-family: "Helvetica Neue Regular";
  color: #7694B7;
  font-size: 13px;
}

.circle-menu {
  color: #6a6a6a;
  font-size: 4px;
}

.menu {
  padding: 0.2em;
  text-align: center;
}