<div class="panel panel-default" style="height: 135px; background-color: white;">
    <div style="display: flex">
        <div class="title">
            {{title}}
        </div>
        <div class="col-2 menu">
            <ng-template #popTemplate>
                <div style="width: 132px;">
                    <ul style="list-style: none; margin: 0; padding: 0;">
                        <li>
                            <input type="radio" value="caseCount" (change)="changedType();pop.hide()"
                                [(ngModel)]="type">&nbsp;
                            <label class="pop-option">Test Case Count</label>
                        </li>
                        <li>
                            <input type="radio" value="planCount" (change)="changedType();pop.hide()"
                                [(ngModel)]="type">&nbsp;
                            <label class="pop-option">Test Plan Count</label>
                        </li>
                        <li>
                            <input type="radio" value="runCount" (change)="changedType();pop.hide()"
                                [(ngModel)]="type">&nbsp;
                            <label class="pop-option">Project Run Count</label>
                        </li>
                    </ul>
                </div>
            </ng-template>
            <button type="button" class="btn-opt" #pop="bs-popover" [popover]="popTemplate" placement="bottom"
                [outsideClick]="true" (onShown)="closeOldPop(pop)" data-container="body">
                <a style="font-size: 1.4rem; letter-spacing: -2px;
                color: #5F5F5F;">...</a>
            </button>
        </div>
    </div>
    <div>
        <div class="countNumber" [ngStyle]="{'background': assignedColor}">
            <p class="counterValue"> {{counter}} </p>
        </div>
    </div>
</div>