<div class="dashboard">
  <div class="row">
    <div class="col">
      <label class="view-title">Dashboard</label>
    </div>
  </div>
  <div class="row  scrollable-content">
    <div class="col-lg-12">
      <detail></detail>
      <div class="row" style="max-width: 100%;">
        <div [ngClass]="columnWidth" *ngFor="let report of reports; let x = index">
          <div class="panel panel-default col-md-12" style="height: 375px; background-color: white;">
            <div class="row panel-heading">
              <div class="col-md-9">
                <label class="title">
                  Project Report: "{{report.name}}"
                </label>
              </div>
              <div class="col-md-3">
                <select class="custom-select" [(ngModel)]="report.qty"
                  (change)="onFilterSelected($event.target.value, report)">
                  <option value="all">All</option>
                  <option value="5">5</option>
                  <option value="15">15</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                </select>
              </div>
            </div>
            <div class="chart-body">
              <ngx-charts-bar-vertical-stacked class="col" [scheme]="colorScheme" [results]="report.results"
                [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                [yAxisTickFormatting]="axisFormat" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel" [legendPosition]="legendPosition" [legendTitle]="legendTitle"
                (select)="selectedRun($event, report);">
              </ngx-charts-bar-vertical-stacked>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>