.dashboard {
  background: #f1f0f0;
  height: 90%;
  width: 95%;
  margin-left: 55px;
}

.view-title {
  font-family: "Helvetica Neue Regular";
  font-style: normal;
  font-size: 20px;
  margin-top: 17px;
}

.chart-body {
  height: 300px;
  position: relative;
}

.title {
  font-family: "Helvetica Neue Regular";
  color: #333f4d;
  font-size: 18px;
  margin-left: 15px;
  font-weight: bold;
  margin-top: 15px;
}

.custom-select {
  margin-top: 15px;
  background: #ffffff;
  height: 32px;
  max-width: 80px;
  border-color: #bebebe;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-size: 13px;
  color: #414141;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-repeat: no-repeat;
  background-position: calc(100% - 17px) calc(1em), calc(100% - 12px) calc(1em), calc(100% - 2.3em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
}

::ng-deep .chart-legend .legend-labels {
  background-color: rgba(0, 0, 0, 0) !important;
  margin-top: -350px !important;
  padding-left: 20px !important;
}

::ng-deep .chart-legend .legend-label-color {
  border-radius: 5px !important;
  height: 10px !important;
  width: 18px !important;
}

.scrollable-content {
  height: fit-content;
}

@media only screen and (min-width: 700px) and (max-width:1610px) {
  .scrollable-content {
    height: 80vh;
    width: 100%;
    overflow-y: scroll;
  }
}