<div class="show-plan ">
    <div class="header">
        <div class="row">
            <!-- class="col-md-4" -->
            <div [ngClass]="{'col-md-6': (!canSaveChanges),'col-md-4':canSaveChanges}">
                <div class="row">
                    <div class="col-9">
                        <p [title]="testPlan.name" class="title" style="width: auto !important;">{{testPlan.name}} </p>
                    </div>
                    <div class="col-3" style="margin: auto;">
                        <p [title]="testPlan.testCaseCount" class="tests-qty">{{testPlan.testCaseCount}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 p-0" *ngIf="canSaveChanges && doesHaveTestCases">
                <div>
                    <button class=" change-detct-btn" [ngStyle]="{'border': canSaveChanges ? '3px solid #7694B7' : 'none'}" [disabled]="!canSaveChanges" (click)="saveChanges()"> Save Changes </button>
                </div>
            </div>
            <div class="col-md-2">
                <button class="action-btn" (click)="exportTestPlan()">
                    <span>Export</span>
                </button>
            </div>
            <div class="col-md-3">
                <button class="action-btn" (click)="showResourcesDetails()">
                    <span *ngIf="!_openResourcesDetails">Show Variables</span>
                    <span *ngIf="_openResourcesDetails">Hide Variables</span>
                </button>
            </div>
            <div class="text-right col-md-1">
                <button type="button" class="close" aria-label="Close" (click)="close(saveModal)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="body">
        <div style="padding: 15px;" *ngIf="_openResourcesDetails">
            <h6>Variables</h6>
            <div class="row">
                <div class="col-12">
                    <div class="lists-panel" style="max-height: 500px;">
                        <data-table [columnDefs]="phonePoolsColumn" [data]="requiredPhonePools" [selectedHeight]="'20vh'" [colsTag]="'required-phone-pools'">
                            <tableRow>
                                <ng-template let-item="item" class="templateClass">
                                    <tr class="strip-table">
                                        <td class="regular-text" style="max-width:50px;overflow: hidden; text-align: left; text-overflow: ellipsis; white-space: nowrap;" [width]="getColumnWidth(phonePoolsColumn[0])" title="{{item.name}}">
                                            {{item.name |blank}}
                                        </td>
                                        <td class="regular-text" style="max-width:40px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;text-align: center;" [width]="getColumnWidth(phonePoolsColumn[1])" title="{{item.type}}">
                                            {{item.type|blank}}</td>
                                        <td class="regular-text" style="max-width:40px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;text-align: center;" [width]="getColumnWidth(phonePoolsColumn[2])" title="{{item.vendor}}">
                                            {{item.vendor|blank}}</td>
                                        <td class="regular-text" style="text-align: center;" [width]="getColumnWidth(phonePoolsColumn[3])" title="{{item?.dut}}">
                                            {{item?.dut.toString() | titlecase |blank}}</td>
                                    </tr>
                                </ng-template>
                            </tableRow>
                        </data-table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-left:2%; margin-right: 3%;">
            <div class="col-4" style="margin-top: 2%" *ngIf="doesHaveTestCases">
                <label class="container select-all">
                    <input type="checkbox" [(ngModel)]="allTestsChecked" data-md-icheck
                        (change)="selectAllTests(); toggleVisibility( $event);" />
                    <button *ngIf="markedTests" class="action-btn">Unselect All</button>
                    <button *ngIf="!markedTests" class="action-btn">Select All</button>
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="col-4 p-0" style="margin-top: 3%" *ngIf="doesHaveTestCases">
                <button class="action-btn" (click)="removeFromTestPlan()" [disabled]="selectedPlansQty == 0">
                    Remove from Plan
                </button>
            </div>
            <div class="col-test-plan col-4" *ngIf="doesHaveTestCases">
                <input type="text" placeholder="Search" name="name" id="plansearchbar" class="search-bar" style="width: 100%;" [(ngModel)]="testsQuery">
            </div>
        </div>
        <!--    [ngStyle]="{'height':(_openResourcesDetails)?'180px':'720px'}"     -->
        <cdk-virtual-scroll-viewport cdkDropList class="items-viewport" itemSize="0" id="list3" #list3="cdkDropList" [ngStyle]="{'height':(_openResourcesDetails)?'180px':'720px'}" [cdkDropListData]="testPlan.testsList" [cdkDropListConnectedTo]="allDropLists"
            (cdkDropListDropped)="drop($event)">
            <div class="list-item align-plans" *cdkVirtualFor="let test of testCases | filter:{name:testsQuery,resources:testsQuery}" cdkDrag [cdkDragData]="test" (cdkDragDropped)="dragDropped($event)">
                <div class="row-test-plan">
                    <div class="row">
                        <div class="col-1">
                            <label class="container">
                                <input type="checkbox" [(ngModel)]="test.selected" data-md-icheck
                                    (change)="checkIfAllPlansSelected($event);testPlanReference(test, $event);">
                                <span class="checkmarkTCP"
                                    [style.outline-color]="!test.selected ? '#BEBEBE' : '#203C66'"></span>
                            </label>
                        </div>
                        <div class="col-9 item-info">
                            <div class="cases-plans">
                                <div class="titleCase">
                                    <span class="item-name" title="{{test.name}}" style="cursor: pointer;" (click)="goToTest(test)" (mouseover)="test.hover=true" (mouseleave)="test.hover=false" [ngStyle]="{color: test.hover==true  ? '#203C66' : 'black' }">
                                        {{test.name}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 1%;">
                        <div class="col-1"></div>
                        <div class="col-9">
                            <div class="titleCase">
                                <span class="item-modified" title="{{test?.resources}}">{{test?.resources}}</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </cdk-virtual-scroll-viewport>
        <ng-template #saveModal>
            <div class="modal-header" draggableModal>
                <label class="modal-title pull-left pl-4">Unsaved Changes</label>
                <button type="button" class="close pull-right p-0" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <label class="form-label">
                            {{'You have unsaved changes! If you leave, your changes will be lost. Do you want to proceed
                            ?'}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="cancel-btn" (click)="saveTestCasesOrPlans()">
                    No
                </button>
                <button class="create-btn" (click)="closeSaveModal()">
                    Yes
                </button>
            </div>
        </ng-template>
    </div>
</div>