.show-plan {
    height: 100%;
    width: 100%;
    background: #F8F8F8;
}

.header {
    background-color: #EAEAEA;
    height: 73px;
    width: 100%;
    vertical-align: middle;
    padding-top: 15px;
}

.tests-qty {
    background: none;
    color: #414141;
    border: 0;
    font-size: 13px;
    font-family: 'Helvetica Neue Regular';
    margin-left: 3px;
}

/*.row-test-plan {*/
/*    display: flex;*/
/*    margin-left: 0px;*/
/*    margin-right: 0px;*/
/*    width: 98%;*/
/*}*/

.list-item {
    margin-top: 15px;
    width: 95%;
    background: #FFFFFF;
    margin-bottom: 15px;
    font-size: 20px;
    height: 50px;
}

.item-tags {
    display: inline-block;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 5px;
    background-color: #7694B7;
    color: #FFFFFF;
    font-size: 12px;
    font-family: 'Helvetica Neue Regular';
}

.close {
    margin-right: 15px !important;
    margin-top: 2px !important;
}

.close:focus {
    outline: none;
    box-shadow: none;
}

.title {
    margin-left: 15px;
    font-size: 20px;
    font-family: 'Helvetica Neue Regular';
    color: #414141;
    /* width: 20em; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.body {
    width: 100%;
}

.cases-plans {
    padding: 0px;
    margin-top: 7px;
    margin-left: 10px;
    display: flex;
}

/*.item-modified {*/
/*    display: inline-block;*/
/*    color: #BEBEBE;*/
/*    font-size: 12px;*/
/*    font-family: 'Helvetica Neue Regular';*/
/*    line-height: 0px;*/
/*}*/

.items-viewport {
    /*height: 720px;*/
    /*height: 180px;*/
    /*margin-top: 10px;*/
    margin-left: 15px;
}

.item-info {
    height: 20px;
    padding-left: 0;
}

.item-name {
    /* display: inline-block; */
    font-family: 'Helvetica Neue Medium';
    color: #1D252E;
    /* display: inline-block; */
    font-style: normal;
    font-size: 18px;
    line-height: 0px;
}

.item-modified {
    /*display: inline-block;*/
    color: #8B8B8B;
    font-size: 12px;
    font-family: 'Helvetica Neue Regular';
    line-height: 0px;
}

.item-description {
    display: inline-block;
    color: #8B8B8B;
    font-size: 12px;
    font-family: 'Helvetica Neue Regular';
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 50em;
}

.titleCase {
    display: inline-block;
    width: 24em;
    line-height: 1em;
    max-height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.align-plans {
    margin-left: 15px;
    margin-right: 15px;
}

.search-bar {
    margin-top: 8%;
    width: 60%;
    height: 42px;
    float: right;
    border-color: #EAEAEA;
    border-width: 1px;
    border-style: solid;
    font-family: "FontAwesome", "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    color: #333333;
    padding: 0 0 0 0.5em;
    background: #FFFFFF url(src/assets/images/icons/search_icon.svg) left no-repeat;
    background-size: 25px 20px;
    padding-left: 30px;
}

.check-all {
    outline-style: solid;
    outline-color: #203C66;
    outline-width: 1.5pt;
}

.select-all {
    color: #203C66;
    font-family: "FontAwesome", "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
}

.header-row {
    margin-left: 0px;
    margin-right: 0px;
    width: 99%;
}

.action-btn {
    color: #203C66;
    font-family: "FontAwesome", "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    background: none;
    border: none;
}

.action-btn:focus {
    outline: none;
    box-shadow: none;
}

.row-test-plan {
    margin-left: 0px;
    margin-right: 0px;
    width: 99%;
}

.col-test-plan {
    padding-left: 0px;
    padding-right: 0px;
}


.container {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-right: 0;
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 2px;
    margin-left: 10px;
    height: 15px;
    width: 15px;
    background-color: none;
    outline-style: solid;
    outline-color: #203C66;
    outline-width: 1.5pt;
}

.checkmarkTCP {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -3px;
    margin-left: 10px;
    height: 15px;
    width: 15px;
    background-color: none;
    outline-style: solid;
    outline-color: #203C66;
    outline-width: 1.5pt;
}

.container:hover input~.checkmark {
    background-color: #ccc;
}

.container:hover input~.checkmarkTCP {
    background-color: #ccc;
}

.container input:checked~.checkmark {
    background-color: #203C66;
}

.container input:checked~.checkmarkTCP {
    background-color: white;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkmarkTCP:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container input:checked~.checkmarkTCP:after {
    display: block;
}

.container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container .checkmarkTCP:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #203C66;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.regular-text {
    font-family: 'Helvetica Neue Regular';
    color: #414141;
    font-size: 14px;
}
.change-detct-btn{
    font-family: 'Helvetica Neue Regular';
    font-style: normal;
    background:#7694B7;
    color:  #FFFFFF;
    font-size: 14px;
    opacity: 100%;
    border: 0;
    border-radius: 45px;
    height: 28px;
    width: 113.07px;

}
.create-btn {
    font-family: 'Helvetica Neue Regular';
    font-style: normal;
    color: #FFFFFF;
    background: #7694B7;
    font-size: 14px;
    opacity: 100%;
    border: 0;
    border-radius: 45px;
    height: 28px;
    width: 123.07px;
}
.cancel-btn{
    font-family: 'Helvetica Neue Regular';
    font-style: normal;
    color: #7694B7;
    font-size: 14px;
    background: #FFFFFF;
    opacity: 100%;
    height: 28px;
    width: 123.07px;
    border: 0px;
}
