<div class="modal-header" draggableModal>
    <label class="modal-title pull-left">Edit User</label>
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form (keydown.enter)="$event.preventDefault()" #userForm="ngForm">
    <div class="modal-body">
        <div class="mycontainer">
            <div class="row">
                <!--  User Name -->
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label">User Name:</label>
                        <input required type="text" name="name" placeholder="Enter User Name" class="form-control" [(ngModel)]="userDetails.userName" #name="ngModel">
                    </div>
                </div>
            </div>
            <!--  Email -->
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label">Email:</label>
                        <input required type="text" name="emailField" placeholder="Enter Email" class="form-control" [(ngModel)]="userDetails.email" #emailField="ngModel">
                    </div>
                </div>
            </div>
            <!--  password -->
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="password" class="form-label">Password:</label>
                        <input id="password" type="password" name="passwordField" placeholder="Enter Password" class="form-control" [(ngModel)]="userDetails.password" #passwordField="ngModel" required minlength="6" maxlength="10">
                        <div *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)">
                            <div *ngIf="passwordField.errors.minlength">
                                <label class="invalid-message">Password must contain at least 6 characters.</label>
                            </div>
                            <div *ngIf="passwordField.errors.maxlength">
                                <label class="invalid-message">Password must contain less than 10
                                    characters.</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  DID -->
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label">DID:</label>
                        <input required type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="didField" placeholder="Enter DID" class="form-control" [(ngModel)]="userDetails.did" #didField="ngModel">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <button class="modal-cancel-btn" (click)="hideModal()">
                Cancel
            </button>
            <button type="submit" class="modal-scs-btn" [disabled]="!userForm.form.valid" (click)="updateUser()">
                Update
            </button>
        </div>
    </div>
</form>