<div class="container" style="text-align: center;">
    <h1  id="page-title" mat-dialig-title>Add Feature Toggle Exception</h1>
    <form [formGroup]="addFeatureToggleExceptionForm" (ngSubmit)="submit()">
        <div class="loading-shade" *ngIf="isDataLoading">
            <mat-spinner *ngIf="isDataLoading"></mat-spinner>
        </div>
        <div class="flex-container">
            <mat-dialog-content>
                <mat-form-field appearance="outline">
                    <mat-label id="feature-toggle-label">Feature Toggle</mat-label>
                    <input required matInput [value]="data.featureToggle.name" disabled id="name">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label id="subaccount-label">Subaccount</mat-label>

                    <input type="text" placeholder="Select a subaccount" matInput
                           formControlName="subaccount" [matAutocomplete]="subaccountsAutocomplete"
                           id="project-auto-complete">
                    <mat-autocomplete #subaccountsAutocomplete="matAutocomplete"
                                      [displayWith]="displayFnProject">
                        <mat-option *ngFor="let subaccount of filteredSubaccounts | async"
                                    [value]="subaccount" title="{{subaccount.customerName}}">
                            {{subaccount.name}}
                        </mat-option>
                    </mat-autocomplete>
<!--                    <mat-select required formControlName="subaccount">-->
<!--                        <mat-option *ngFor="let subaccount of subaccounts" [value]="subaccount.id" title="{{subaccount.name}}">-->
<!--                            {{ subaccount.customerName }} - {{subaccount.name}}-->
<!--                        </mat-option>-->
<!--                    </mat-select>-->
                </mat-form-field>
                <div class="d-flex flex-column align-items-start">
                    <mat-checkbox id="enabled-toggle" class="checkbox-margin" [color]="'primary'" formControlName="status">Enabled</mat-checkbox>
                </div>
            </mat-dialog-content>
            <mat-dialog-actions>
                <button mat-stroked-button type="button" id="cancelBtn" (click)="onCancel()">Cancel</button>
                <button mat-raised-button color="primary" [disabled]="!addFeatureToggleExceptionForm.valid" type="submit"  id="submitBtn">Submit</button>
            </mat-dialog-actions>
        </div>
    </form>
</div>
