<div class="modal-header" draggableModal>
  <label class="modal-title">Release Key</label>
  <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form (keydown.enter)="$event.preventDefault()" #myActionForm="ngForm">
  <div class="modal-body">
    <div class="mycontainer">
      <div class="row">
        <div class="col-2">
          <label class="phone-label">Phone</label>
        </div>
        <div class="col-2" style="margin-left: 12px">
          <select forbiddenValue="" class="custom-select" [(ngModel)]="selectedPhone"
            (change)="onSelectPhone($event.target.value)" id="phone" name="phone">
            <option disabled selected value="">Select Phone</option>
            <option *ngFor="let resource of resources" value="{{resource.name}}">{{resource.name}}</option>
          </select>
        </div>
      </div>
      <hr class="separator">
      <div class="row">
        <div class="col-10">
          <table>
            <tbody>
              <tr>
                <td style="width:44px ;">
                  <div class="col-2">
                    <input type="radio" value="lineKey" [(ngModel)]="lineKey" name="lineKey">
                  </div>
                </td>
                <td style="width:78px ;">
                  <div class="col-2">
                    <label class="phone-label">Line</label>
                  </div>
                </td>
                <td style="width:173px ;">
                  <div class="col-9">
                    <select class="custom-select" [(ngModel)]="selectedLine"
                      (change)="onSelectLine($event.target.value)" id="line" name="line">
                      <option disabled selected value="">Select Line</option>
                      <option *ngFor="let line of lines" value="{{line}}">{{line}}</option>
                    </select>
                  </div>
                </td>
                <td style="width:46px ;">
                  <div class="col-2">
                    <input type="radio" value="dialKey" [(ngModel)]="lineKey" name="dialKey">
                  </div>
                </td>
                <td style="width:78px ;">
                  <div class="col-0">
                    <label class="phone-label">DialPad</label>
                  </div>
                </td>
                <td>
                  <div class="col-9">
                    <select class="custom-select" [(ngModel)]="selectedDialpad"
                      (change)="onSelectLine($event.target.value)" id="dial" name="dial">
                      <option value="">Select Dial</option>
                      <option *ngFor="let dial of dialpads" value="{{dial}}">{{dial}}</option>
                    </select>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <hr class="separator">
      <div class="row">
        <div class="col-2">
          <label class="phone-label">Others</label>&nbsp;
        </div>
        <div class="col-10">
          <table>
            <tbody>
              <tr>
                <td>
                  <input type="radio" value="voiceMail" [(ngModel)]="lineKey" name="others">&nbsp;
                  <label class="state-opts">VoiceMail</label>&nbsp;
                </td>
                <td>
                  <input type="radio" value="directories" [(ngModel)]="lineKey" name="others">&nbsp;
                  <label class="state-opts">Directories</label>&nbsp;
                </td>
                <td>
                  <input type="radio" value="settings" [(ngModel)]="lineKey" name="others">&nbsp;
                  <label class="state-opts">Settings</label>&nbsp;
                </td>
                <td>
                  <input type="radio" value="speaker" [(ngModel)]="lineKey" name="others">&nbsp;
                  <label class="state-opts">Speaker</label>&nbsp;
                </td>
              </tr>
              <tr>
                <td>
                  <input type="radio" value="headset" [(ngModel)]="lineKey" name="others">&nbsp;
                  <label class="state-opts">Headset</label>&nbsp;
                </td>
                <td>
                  <input type="radio" value="transfer" [(ngModel)]="lineKey" name="others">&nbsp;
                  <label class="state-opts">Transfer</label>&nbsp;
                </td>
                <td>
                  <input type="radio" value="conference" [(ngModel)]="lineKey" name="others">&nbsp;
                  <label class="state-opts">Conference</label>&nbsp;
                </td>
                <td>
                  <input type="radio" value="mute" [(ngModel)]="lineKey" name="others">&nbsp;
                  <label class="state-opts">Mute</label>&nbsp;
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div *ngIf="title" class="mr-auto"
      style="background-color: #7694B7; height: 30px; width: 30px; border-radius: 100%; margin-top:-2%">
      <img src="assets/images/icons/info.svg" title="{{title}}" style="width:30px; height:30px;">
    </div>
    <button (click)="cancel()" class="modal-cancel-btn">
      Cancel
    </button>
    <button class="modal-scs-btn" (click)="insertAction()" [disabled]="!myActionForm.form.valid">
      Insert Action
    </button>
  </div>
</form>