<div class="modal-header" draggableModal>
    <label class="modal-title">Sync Device</label>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form (keydown.enter)="$event.preventDefault()" #myActionForm="ngForm">
    <div class="modal-body">
        <div class="mycontainer">
            <div class="form-group row">
                <label for="type" class="col-sm-1 col-form-label phone-label">Type</label>
                <div class="col-sm-3">
                    <select required forbiddenValue="" class="form-control" (change)="cleanValues();" [(ngModel)]="selectedSync" id="type" name="type" #phone="ngModel">
                        <option disabled selected value="">Select Type</option>
                        <option *ngFor="let type of syncTypes" value="{{type.value}}">{{type.name}}</option>
                    </select>
                </div>
                <label for="phone" class="col-sm-1 col-form-label phone-label">Phone</label>
                <div class="col-sm-3">
                    <select required forbiddenValue="" class="form-control" [(ngModel)]="selectedPhone" id="phone" name="phone" #phone="ngModel">
                        <option disabled selected value="">Select Phone</option>
                        <option *ngFor="let phone of phones" value="{{phone.name}}">{{phone.name}}</option>
                    </select>
                </div>
                <label for="server" class="col-sm-1 col-form-label phone-label" *ngIf="selectedSync == 'callServer' || selectedSync == 'both'">Server</label>
                <div class="col-sm-3" *ngIf="selectedSync == 'callServer' || selectedSync == 'both'">
                    <select required forbiddenValue="" class="form-control" [(ngModel)]="selectedServer" id="server" name="server" #phone="ngModel">
                        <option disabled selected value="">Select Server</option>
                        <option *ngFor="let server of servers" value="{{server.name}}">{{server.name}}</option>
                    </select>
                </div>
            </div>
            <hr class="separator">
            <div class="row form-group">
                <label for="failure" class="col-sm-3 col-form-label phone-label">Continue On Failure</label>
                <div class="col-sm-3" style="margin-top: 5px; padding-left:0px;margin-left: -45px;">
                    <label class="phone-label">
                        <input type="radio" name="failure" [value]="true" [(ngModel)]="continueOnFailure"
                            #failure="ngModel">&nbsp;
                        <span>True</span>
                    </label>&nbsp;
                    <label class="phone-label">
                        <input type="radio" name="failure" [value]="false" [(ngModel)]="continueOnFailure"
                            #failure="ngModel">
                        &nbsp;
                        <span>False</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">

        <button (click)="cancel()" class="modal-cancel-btn">
            Cancel
        </button>
        <button class="modal-scs-btn" (click)="insertAction()" [disabled]="!myActionForm.form.valid">
            <span *ngIf="!actionToEdit">
                Insert Action
            </span>
            <span *ngIf="actionToEdit">
                Update Action
            </span>
        </button>
    </div>
</form>