<section *ngIf="loading_status; else loading_div" class="login p-fixed d-flex text-center common-img-bg rsdLoginBg">
  <div class="loading-shade" *ngIf="waitingForMsAuth">
    <mat-spinner></mat-spinner>
  </div>
  <div class="auth-fluid" style="margin: auto">
    <div class="row" style="display:block;">
      <div class="col-sm-12">
        <form #loginForm="ngForm">
          <div class="login-card card-body auth-body">
            <form class="md-float-material">
              <div class="text-center">
                <img style="max-height: 50px;" src="assets/images/TekVizionLogoWhite.png" alt="logo.png">
              </div>
              <br>
              <div class="auth-box">
                <h1 class="rsdSignIn">
                  TekVizion 360 Portal
                </h1>
                <br>
                <div class="row m-t-30">
                  <div class="col-md-12">
                    <button (click)="onSubmit()" [disabled]="!loginForm.form.valid"
                      class="rsdLoginButton btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                      Login
                    </button>
                  </div>
                </div>
                <br>
                <div class="rsdDisclaimer">
                  By clicking Login, I agree to the
                  <a target="_blank" style="cursor:pointer"
                    onclick="javascript:var w = window.open('privacy.html', 'Print preview : Privacy Policy', 'width=750,height=720,scrollbars=yes,top=0,left=0');w.focus();">
                    <b><i>Privacy and Acceptable Use Policy</i></b>
                  </a>
                </div>
              </div>
            </form>
          </div>
        </form>
      </div>
      <br>
      <br>
      <br>
      <p class="" style="color:#5d858d;text-align:center;clear:both;margin:0 auto;" id="copyright">
        &#169; 2023 TekVizion PVS inc. All Rights Reserved
      </p>
    </div>
  </div>
</section>

<ng-template #loading_div>
  <app-loading></app-loading>
</ng-template>
