<div class="row">
    <div class="col-12">
        <h1 class="text-container">
            <span class="text-start font-s text-left">{{data.from.city}}</span>
            <span style="margin-left: 2%;"> &#8646;</span>  
            <span class="text-start font-s text-right">{{data.to.city}}</span>
        </h1>
        <div>
            <mat-card class="card summary" >
                <mat-card-content class="summary-card-content">
                    <table class="table">
                        <tbody>
                            <tr>
                                <div class="row-auto">
                                     <div class="col-12">
                                         <th style="width: max-content;">Region 1</th>
                                         <td style="text-align: end; width: 82%;">{{data.from.city}}, {{data.from.state}}, {{data.from.country}}</td>
                                     </div>
                                </div>
                                <div class="row-auto">
                                     <div class="col-12">
                                         <th style="width: max-content;">Region 2</th>
                                         <td style="text-align: end; width: 82%;">{{data.to.city}}, {{data.to.state}}, {{data.to.country}}</td>
                                     </div>
                                </div>
                                <div class="row-auto">
                                    <div class="col-12">
                                        <th>Total Calls</th>
                                        <td>{{data.totalCalls}}</td>
                                    </div>
                                </div>
                                <div class="row-auto">
                                     <div class="col-12">
                                        <th>Calls passed</th>
                                        <td>{{data.passed}}</td>
                                     </div>
                                </div>
                                <div class="row-auto">
                                     <div class="col-12">
                                         <th>Calls failed</th>
                                         <td>{{data.failed}}</td>
                                     </div>
                                </div>
                                <div class="row-auto">
                                     <div class="col-12">
                                         <th>POLQA</th>
                                         <td>Min: {{data.polqa.min}}, Avg: {{data.polqa.avg.toFixed(2)}}</td>
                                    </div>
                                </div>
                                <div class="row-auto">
                                    <div class="col-12">
                                        <th>Jitter (ms)</th>
                                        <td>Max: {{data.receivedJitter.max}}, Avg: {{data.receivedJitter.avg.toFixed(2)}}</td>
                                   </div>
                               </div>
                               <div class="row-auto">
                                <div class="col-12">
                                        <th>Round trip time (ms)</th>
                                        <td>Max: {{data.roundTripTime.max}}, Avg: {{data.roundTripTime.avg.toFixed(2)}}</td>
                                    </div>
                                </div>
                                <div class="row-auto">
                                    <div class="col-12">
                                        <th>Packet Lost (%)</th>
                                        <td>Max: {{data.receivedPacketLoss.max}}, Avg: {{data.receivedPacketLoss.avg.toFixed(2)}}</td>
                                   </div>
                               </div>
                               <div class="row-auto">
                                   <div class="col-12">
                                       <th>Bitrate (kbps)</th>
                                       <td>Avg: {{data.sentBitrate}}</td>
                                    </div>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row justify-content-center" style="display: none;">
                        <button  class="viewDetail-button" mat-raised-button (click)="openNaviteDashboardWithSelectedData()">Go to
                            Dashboard
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row justify-content-end" style="margin-top: 3%;">
        <div class="col-auto">
            <button mat-stroked-button type="button" id="cancel-button" (click)="onCancel()">Close</button>
        </div>
    </div>
</div>
