<div class="detail" style="margin-bottom: 20px;">
    <div class="row">
        <div class="col-9">
            <div class="row">
                <div class="col-4">
                    <counter-widget [type]="countersData[0]" assignedColor="">
                    </counter-widget>
                </div>
                <div class="col-4">
                    <counter-widget [type]="countersData[1]" assignedColor="#6dca56">
                    </counter-widget>
                </div>
                <div class="col-4">
                    <counter-widget [type]="countersData[2]" assignedColor="#e5e030">
                    </counter-widget>
                </div>
            </div>
            <br>
            <div class="row" style="min-height: 8em;">
                <div class="col-6">
                    <div class="panel panel-default" style="height: 230px; background-color: white;">
                        <table-widget title="Inventory" [isRequestCompleted]="isRequestCompleted" [columns]="inventoryColumns" [data]="phoneTypes"></table-widget>
                    </div>
                </div>
                <div class="col-6">
                    <div class="panel panel-default" style="height: 230px; background-color: white;">
                        <table-widget title="Server Status" [isRequestCompleted]="isRequestCompleted" [columns]="serverColumns" [data]="links"></table-widget>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <div class="col-12">
                    <div class="panel panel-default" style="height: 390px; background-color: white;">
                        <div class="title">
                            Quick Actions
                        </div>
                        <div class="quickActions" style="width: 100%; display: flex;">
                            <div style="background-color: #7694B7; height: 40px; width: 40px; border-radius: 100%">
                                <img id="imgNewTestCase" src="assets/images/icons/testCase.svg" style="width:40px; height:40px;">
                            </div>
                            <div style=" display: flex;align-items: center;justify-content: center;">
                                <button (mouseover)="textHover.test=true" (mouseleave)="textHover.test=false" class="action-btn" [ngStyle]="{color: textHover.test ? '#203C66' : '#43425D'}" (click)="goToAction('test')"> Create New Test Case
                                </button>
                                <hr>
                            </div>
                        </div>
                        <div class="quickActions" style="width: 100%; display: flex;">
                            <div style="background-color: #203C66; height: 40px; width: 40px; border-radius: 100%">
                                <img id="imgNewTestCase" src="assets/images/icons/tests_icon.svg" style="height: 40px; width:40px;">
                            </div>
                            <div style=" display: flex;align-items: center;justify-content: center;">
                                <button (mouseover)="textHover.plan=true" (mouseleave)="textHover.plan=false" class="action-btn" [ngStyle]="{color: textHover.plan ? '#203C66' : '#43425D'}" (click)="goToAction('plan')"> Create New
                                    Test Plan
                                </button>
                                <hr>
                            </div>
                        </div>
                        <div class="quickActions" style="width: 100%; display: flex;">
                            <div style="background-color: #0E2346; height: 40px; width: 40px; border-radius: 100%">
                                <img id="imgNewTestCase" src="assets/images/icons/projects_icon.svg" style="height: 40px; width:40px;">
                            </div>
                            <div style=" display: flex;align-items: center;justify-content: center;">
                                <button (mouseover)="textHover.project=true" (mouseleave)="textHover.project=false" class="action-btn" [ngStyle]="{color: textHover.project ? '#203C66' : '#43425D'}" (click)="goToAction('project')"> Create
                                    New Project
                                </button>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>