<div class="modal-header" draggableModal>
    <label class="modal-title">Edit Relay</label>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form (keydown.enter)="$event.preventDefault()" #instanceForm="ngForm">
    <div class="modal-body">
        <div class="mycontainer">
            <div class="form-group row">
                <!-- Name -->
                <div class="col">
                    <div class="form-group">
                        <label for="instanceName" class="form-label">Name</label>
                        <input required type="text" name="instanceName" placeholder="Enter Name" class="form-control" [(ngModel)]="relay.name" id="instanceName" #instanceName="ngModel">
                    </div>
                </div>
            </div>
            <!-- Description -->
            <div class="form-group row">
                <div class="col-12">
                    <label for="descField" class="form-label">Description</label>
                    <input type="text" name="descField" placeholder="Enter Description" class="form-control" [(ngModel)]="relay.description" id="descField" #descField="ngModel">
                </div>
            </div>
            <!-- Version -->
            <div class="form-group row">
                <div class="col-12">
                    <label for="versionField" class="form-label">Version</label>
                    <input required type="text" name="versionField" disabled class="form-control" [(ngModel)]="relay.version" id="versionField" #versionField="ngModel">
                </div>
            </div>
            <!-- UUID -->
            <div class="form-group row">
                <div class="col-12">
                    <label for="uuidField" class="form-label">UUID</label>
                    <input required type="text" name="uuidField" disabled class="form-control" [(ngModel)]="relay.oprUuid" id="uuidField" #uuidField="ngModel">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="closeModal()" class="modal-cancel-btn">
            Cancel
        </button>
        <button class="modal-scs-btn" (click)="updateRelay()" [disabled]="!instanceForm.form.valid || !instanceForm.form.dirty">
            Update
        </button>
    </div>
</form>