.form-label {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    color: #414141;
}

.form-label-clear {
    font-size: 14px;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #BEBEBE;
}

.form-control {
    color: #414141;
    font-size: 14px;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-control::placeholder {
    color: #BEBEBE;
    font-style: italic;
}

.item-tags {
    display: inline-block;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 5px;
    background-color: #7694B7;
    color: #FFFFFF;
    font-size: 12px;
    font-family: 'Helvetica Neue Regular';
}