<div class="modal-header" draggableModal>
    <label class="modal-title">Validate State</label>
    <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form (keydown.enter)="$event.preventDefault()" #myActionForm="ngForm">
    <div class="modal-body">
        <div class="mycontainer">
            <div class="row">
                <!-- conversation -->
                <label for="conversation" class="col-sm-2 col-form-label phone-label">Conversation ID</label>
                <div class="col-sm-3">
                    <select forbiddenValue="" (change)="onChangeConversations()" class="form-control"
                        [(ngModel)]="selectedConversation" id="conversation" name="conversation" #deviceLine="ngModel"
                        title="Select Conversation">
                        <option selected value="">Select Conversation</option>
                        <option *ngFor="let conversation of conversations" value="{{conversation}}">{{conversation}}
                        </option>
                    </select>
                </div>
                <!-- phone -->
                <div class="col-sm-1">
                    <label class="phone-label">Resource</label>
                </div>
                <div class="col-sm-3">
                    <select required forbiddenValue="" class="form-control" [(ngModel)]="selecteResource"
                        (change)="onSelectResource($event.target.value)" id="phone" name="phone" #phone="ngModel">
                        <option disabled selected value="">Select Resource</option>
                        <option *ngFor="let resource of resources" value="{{resource.name}}">{{resource.name}}</option>
                    </select>
                </div>
                <!-- Line -->
                <div class="col-sm-1"
                    *ngIf="selectedConversation =='' && !(enableWebexCallState() || enableMSTeamsCallState() || enableGroupCallState())">
                    <label class="phone-label">Line</label>
                </div>
                <div class="col-sm-2"
                    *ngIf="selectedConversation =='' && !(enableWebexCallState() || enableMSTeamsCallState() || enableGroupCallState())">
                    <select required forbiddenValue="" class="form-control" [(ngModel)]="selectedLine"
                        (change)="onSelectLine($event.target.value)" id="line" name="line" #line="ngModel">
                        <option disabled selected value="">Select Line</option>
                        <option *ngFor="let line of lines" value="{{line}}">{{line}}</option>
                    </select>
                </div>
            </div>
            <!--   Call State  -->
            <hr class="separator" *ngIf="selecteResourceObj?.vendor != '' || enableGroupCallState()">
            <div class="row" *ngIf="selecteResourceObj?.vendor != '' || enableGroupCallState()">
                <div class="col-2">
                    <label class="phone-label">Call State</label>
                </div>
                <div class="col-10">
                    <div *ngIf="enablePolyCallState()">
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="phone-label">
                                    <input type="radio" value="none" [(ngModel)]="callState"
                                        name="callState">&nbsp;None&nbsp;
                                </label>
                            </div>
                            <div class="col-sm-2">
                                <label class="phone-label">
                                    <input type="radio" value="dialtone" [(ngModel)]="callState"
                                        name="callState">&nbsp;Dialtone&nbsp;
                                </label>
                            </div>
                            <div class="col-sm-3" style="margin-right: -8%;">
                                <label class="phone-label">
                                    <input type="radio" value="ringback" [(ngModel)]="callState"
                                        name="callState">&nbsp;RingBack&nbsp;
                                </label>
                            </div>
                            <div class="col-sm-3">
                                <label class="phone-label">
                                    <input type="radio" value="offering" [(ngModel)]="callState"
                                        name="callState">&nbsp;Ringing&nbsp;
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="phone-label">
                                    <input type="radio" value="connected" [(ngModel)]="callState"
                                        name="callState">&nbsp;Connected&nbsp;
                                </label>
                            </div>
                            <div class="col-sm-2">
                                <label class="phone-label">
                                    <input type="radio" value="callhold" [(ngModel)]="callState"
                                        name="callState">&nbsp;Call Hold&nbsp;
                                </label>
                            </div>
                            <div class="col-sm-2">
                                <label class="phone-label">
                                    <input type="radio" value="callheld" [(ngModel)]="callState"
                                        name="callState">&nbsp;Call Held&nbsp;
                                </label>
                            </div>
                            <div class="col-sm-3">
                                <label class="phone-label">
                                    <input type="radio" value="callconference" [(ngModel)]="callState"
                                        name="callState">&nbsp;In Conference&nbsp;
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="phone-label" style="font-size: 13px;">
                                    <input type="radio" value="callconfhold" [(ngModel)]="callState"
                                        name="callState">&nbsp;Conference Hold&nbsp;
                                </label>
                            </div>
                            <div class="col-sm-3" *ngIf="selecteResourceObj?.vendor !=='Polycom'">
                                <label class="phone-label" style="font-size: 13px;">
                                    <input type="radio" value="calltransfer" [(ngModel)]="callState"
                                        name="callState">&nbsp;Call Transfer&nbsp;
                                </label>
                            </div>
                        </div>
                    </div>
                    <table>
                        <tbody
                            *ngIf="selecteResourceObj?.vendor === 'Cisco' && selecteResourceObj?.model !== 'WEBEX-TEAMS'">
                            <tr>
                                <td style="width: 120px">
                                    <label class="phone-label">
                                        <input type="radio" value="none" [(ngModel)]="callState"
                                            name="callState">&nbsp;None&nbsp;
                                    </label>
                                </td>
                                <td style="width: 120px">
                                    <label class="phone-label">
                                        <input type="radio" value="idle" [(ngModel)]="callState"
                                            name="callState">&nbsp;Idle&nbsp;
                                    </label>
                                </td>
                                <td style="width: 120px">
                                    <label class="phone-label">
                                        <input type="radio" value="called party ringing" [(ngModel)]="callState"
                                            name="callState">&nbsp;RingBack&nbsp;
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 120px">
                                    <label class="phone-label">
                                        <input type="radio" value="ringing" [(ngModel)]="callState"
                                            name="callState">&nbsp;Ringing&nbsp;
                                    </label>
                                </td>
                                <td style="width: 120px">
                                    <label class="phone-label">
                                        <input type="radio" value="connected" [(ngModel)]="callState"
                                            name="callState">&nbsp;Connected&nbsp;
                                    </label>
                                </td>
                                <td style="width: 120px">
                                    <label class="phone-label">
                                        <input type="radio" value="holding" [(ngModel)]="callState" name="callState">
                                        &nbsp;Call Hold&nbsp;
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="enableGrandstreamCallState()">
                            <tr>
                                <td style="width: 120px">
                                    <label class="phone-label">
                                        <input type="radio" value="none" [(ngModel)]="callState"
                                            name="callState">&nbsp;None&nbsp;
                                    </label>
                                </td>
                                <td style="width: 120px">
                                    <label class="phone-label">
                                        <input type="radio" value="idle" [(ngModel)]="callState"
                                            name="callState">&nbsp;Idle&nbsp;
                                    </label>
                                </td>
                                <td style="width: 120px">
                                    <label class="phone-label">
                                        <input type="radio" value="dialing" [(ngModel)]="callState" name="callState">
                                        &nbsp;Dialtone&nbsp;
                                    </label>
                                </td>
                                <td style="width: 120px">
                                    <label class="phone-label">
                                        <input type="radio" value="calling" [(ngModel)]="callState" name="callState">
                                        &nbsp;RingBack&nbsp;
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 120px">
                                    <label class="phone-label">
                                        <input type="radio" value="ringing" [(ngModel)]="callState"
                                            name="callState">&nbsp;Ringing&nbsp;
                                    </label>
                                </td>
                                <td style="width: 120px">
                                    <label class="phone-label">
                                        <input type="radio" value="connected" [(ngModel)]="callState"
                                            name="callState">&nbsp;Connected&nbsp;
                                    </label>
                                </td>
                                <td style="width: 120px">
                                    <label class="phone-label">
                                        <input type="radio" value="onhold" [(ngModel)]="callState" name="callState">
                                        &nbsp;Call Hold&nbsp;
                                    </label>
                                </td>
                                <td style="width: 120px">
                                    <label class="phone-label">
                                        <input type="radio" value="callheld" [(ngModel)]="callState"
                                            name="callState">&nbsp;Call
                                        Held&nbsp;
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="enableYealinkCallState()">
                            <tr>
                                <td style="width: 120px">
                                    <label class="phone-label">
                                        <input type="radio" value="none" [(ngModel)]="callState"
                                            name="callState">&nbsp;None&nbsp;
                                    </label>
                                </td>
                                <td style="width: 120px">
                                    <label class="phone-label">
                                        <input type="radio" value="outgoingcall" [(ngModel)]="callState"
                                            name="callState">
                                        &nbsp;RingBack&nbsp;
                                    </label>
                                </td>
                                <td style="width: 120px">
                                    <label class="phone-label">
                                        <input type="radio" value="incomingcall" [(ngModel)]="callState"
                                            name="callState">&nbsp;Ringing&nbsp;
                                    </label>
                                </td>
                                <td style="width: 120px">
                                    <label class="phone-label">
                                        <input type="radio" value="established" [(ngModel)]="callState"
                                            name="callState">
                                        &nbsp;Connected&nbsp;
                                    </label>
                                </td>
                                <td style="width: 120px">
                                    <label class="phone-label">
                                        <input type="radio" value="hold" [(ngModel)]="callState"
                                            name="callState">&nbsp;Call
                                        Hold&nbsp;
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="enableWebexCallState()">
                            <tr>
                                <td style="width: 120px">
                                    <label class="phone-label">
                                        <input type="radio" value="none" [(ngModel)]="callState"
                                            name="callState">&nbsp;None&nbsp;
                                    </label>
                                </td>
                                <td style="width: 120px">
                                    <label class="phone-label">
                                        <input type="radio" value="idle" [(ngModel)]="callState"
                                            name="callState">&nbsp;Idle&nbsp;
                                    </label>
                                </td>
                                <td style="width: 120px">
                                    <label class="phone-label">
                                        <input type="radio" value="ringBack" [(ngModel)]="callState" name="callState">
                                        &nbsp;RingBack&nbsp;
                                    </label>
                                </td>
                                <td style="width: 120px">
                                    <label class="phone-label">
                                        <input type="radio" value="ringing" [(ngModel)]="callState"
                                            name="callState">&nbsp;Ringing&nbsp;
                                    </label>
                                </td>
                                <td style="width: 120px">
                                    <label class="phone-label">
                                        <input type="radio" value="connected" [(ngModel)]="callState" name="callState">
                                        &nbsp;Connected&nbsp;
                                    </label>
                                </td>
                                <td style="width: 120px">
                                    <label class="phone-label">
                                        <input type="radio" value="callhold" [(ngModel)]="callState"
                                            name="callState">&nbsp;Call Hold&nbsp;
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 120px">
                                    <label class="phone-label">
                                        <input type="radio" value="callheld" [(ngModel)]="callState"
                                            name="callState">&nbsp;Call Held&nbsp;
                                    </label>
                                </td>
                                <td style="width: 120px">
                                    <label class="phone-label"></label>
                                </td>
                                <td style="width: 120px">
                                    <label class="phone-label"></label>
                                </td>
                                <td style="width: 120px">
                                    <label class="phone-label"></label>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="enableMSTeamsCallState() || enableGroupCallState()">
                            <tr>
                                <td style="min-width: 100px">
                                    <label class="phone-label">
                                        <input type="radio" value="none" [(ngModel)]="callState"
                                            name="callState">&nbsp;None&nbsp;
                                    </label>
                                </td>
                                <td style="min-width: 100px">
                                    <label class="phone-label">
                                        <input type="radio" value="idle" [(ngModel)]="callState"
                                            name="callState">&nbsp;Idle&nbsp;
                                    </label>
                                </td>
                                <td style="min-width: 100px">
                                    <label class="phone-label">
                                        <input type="radio" value="ringBack" [(ngModel)]="callState" name="callState">
                                        &nbsp;RingBack&nbsp;
                                    </label>
                                </td>
                                <td style="min-width: 100px">
                                    <label class="phone-label">
                                        <input type="radio" value="ringing" [(ngModel)]="callState"
                                            name="callState">&nbsp;Ringing&nbsp;
                                    </label>
                                </td>
                                <td style="min-width: 100px">
                                    <label class="phone-label">
                                        <input type="radio" value="connected" [(ngModel)]="callState" name="callState">
                                        &nbsp;Connected&nbsp;
                                    </label>
                                </td>
                                <td style="min-width: 100px">
                                    <label class="phone-label">
                                        <input type="radio" value="callhold" [(ngModel)]="callState"
                                            name="callState">&nbsp;Call Hold&nbsp;
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td style="min-width: 100px">
                                    <label class="phone-label">
                                        <input type="radio" value="callheld" [(ngModel)]="callState"
                                            name="callState">&nbsp;Call Held&nbsp;
                                    </label>
                                </td>
                                <td style="min-width: 100px">
                                    <label class="phone-label">
                                        <input type="radio" value="mute" [(ngModel)]="callState" name="callState">
                                        &nbsp;Mute&nbsp;
                                    </label>
                                </td>
                                <td style="min-width: 100px">
                                    <label class="phone-label">
                                        <input type="radio" value="unMute" [(ngModel)]="callState"
                                            name="callState">&nbsp;Un Mute&nbsp;
                                    </label>
                                </td>
                                <td style="min-width: 100px">
                                    <label class="phone-label"></label>
                                </td>
                                <td style="min-width: 100px">
                                    <label class="phone-label"></label>
                                </td>
                                <td style="min-width: 100px">
                                    <label class="phone-label"></label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--  Line state  -->
            <hr class="separator" *ngIf="selecteResourceObj?.vendor ==='Polycom'">
            <div class="row" *ngIf="selecteResourceObj?.vendor ==='Polycom'">
                <div class="col-2">
                    <label class="phone-label">Line State</label>
                </div>
                <div class="col-10">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="radio" value="none" [(ngModel)]="lineState" name="lineState">&nbsp;
                                    <label class="phone-label">None</label>&nbsp;
                                </td>
                                <td>
                                    <input type="radio" value="inactive" [(ngModel)]="lineState" name="lineState">&nbsp;
                                    <label class="phone-label">Inactive</label>&nbsp;
                                </td>
                                <td>
                                    <input type="radio" value="active" [(ngModel)]="lineState" name="lineState">&nbsp;
                                    <label class="phone-label">Active</label>&nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr class="separator">
            <div class="form-group row">
                <label for="failure" class="col-sm-3 col-form-label phone-label">Continue OnFailure</label>
                <div class="col-sm-3" style="margin-top: 5px; padding-left:0px;">
                    <label class="phone-label">
                        <input type="radio" name="failure" [value]="true" [(ngModel)]="continueOnFailure"
                            #failure="ngModel">&nbsp;
                        <span>True</span>
                    </label>&nbsp;
                    <label class="phone-label">
                        <input type="radio" name="failure" [value]="false" [(ngModel)]="continueOnFailure"
                            #failure="ngModel">
                        &nbsp;
                        <span>False</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="cancel()" class="modal-cancel-btn">
            Cancel
        </button>
        <button class="modal-scs-btn" (click)="insertAction()" [disabled]="!myActionForm.form.valid">
            <span *ngIf="!actionToEdit">
                Insert Action
            </span>
            <span *ngIf="actionToEdit">
                Update Action
            </span>
        </button>
    </div>
</form>