.main-container {}

.content {
  background: #f1f0f0;
  position: fixed;
  overflow: auto;
  width: 100%;
  height: 100%;
}

#menu-options-names {
  background-color: #0E2346 !important;
  color: #ffffff !important;
  font-family: "Helvetica Neue Regular" !important;
  font-size: 17px;
  font-weight: lighter;
}

.collapse-item {
  background-color: #0E2346 !important;
  color: #ffffff !important;
  font-family: "Helvetica Neue Regular" !important;
  font-size: 17px;
  width: 150px !important;
  height: 150px !important;
  margin-left: 3%;
}

#menu-options-names button {
  float: left;
  background-color: #0E2346 !important;
  color: #ffffff;
  border-color: #0E2346 !important;
  height: 20px;
}

/* IE10+ specific styles go here */
@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
  .section-content {
    margin-top: 3%;
    -ms-overflow-style: none;
  }
}

.menu-options {
  background-color: #0E2346 !important;
  color: #ffffff;
  border-color: #0E2346 !important;
  align-items: center;
  margin-top: 29px;
}

.ng-sidebar .ng-sidebar__content {
  background-color: #0E2346 !important;
}

.fa-bars {
  margin-top: 16px;
  background-color: #0E2346 !important;
  color: #ffffff;
  border-color: #0E2346 !important;
}

#sideBarFixed {
  background-color: #0E2346 !important;
  height: 100%;
  width: 3%;
  position: fixed;
  z-index: 1;
  text-align: center;
}

.iconSidebarMenu {
  margin-top: 24px;
  content: url("../assets/images/icons/menu_icon.png");
}

.iconSidebarMenu_Blue {
  margin-top: 22px;
  content: url("../assets/images/icons/close_arrow_icon.png");
}

.activeMenu {
  background-color: #FFFFFF !important;
}

/* .Phone {
  margin-top: 29px !important;
}

.Project {
  margin-top: 29px !important;
} */

.modal-xl {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.modal-xl .terms .modal-content {
  height: 100vh;
  min-height: 100%;
  border-radius: 0;
}