<div>
    <ng-container *ngIf="currentUser; then loggedIn; else loggedOut"> </ng-container>
</div>

<ng-template #loggedIn>
    <section>
        <div>
            <mat-toolbar color="primary" class="position-fixed">
                <span style="cursor: pointer;" (click)="navigateToMainView()">tekVizion 360 Portal</span>
                <span class="example-spacer"></span>
                <button mat-button [matMenuTriggerFor]="menu" id="settings-button"
                    aria-label="Example icon-button with a menu">
                    {{getUserName()}} <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="about()" id="logout-button">
                        <mat-icon>info</mat-icon>
                        <span>About</span>
                    </button>
                    <button mat-menu-item (click)="logout()" id="logout-button">
                        <mat-icon>logout</mat-icon>
                        <span>Logout</span>
                    </button>
                </mat-menu>

            </mat-toolbar>
        </div>
    </section>
    <main>
        <div class="main-container">
            <div class="route-content">
                <router-outlet> </router-outlet>
            </div>
        </div>
    </main>

</ng-template>
<ng-template #loggedOut>
    <div class="login-container" *ngIf="!currentUser">
        <router-outlet> </router-outlet>
    </div>
</ng-template>