<div class="modal-header" draggableModal>
  <label class="modal-title">Call Retrieve</label>
  <button type="button" class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form (keydown.enter)="$event.preventDefault()" #myActionForm="ngForm">
  <div class="modal-body">
    <div class="mycontainer">
      <div class="form-group row">
        <label for="deviceField" class="col-sm-2 col-form-label phone-label">Phone</label>
        <div class="col-sm-3">
          <select required forbiddenValue="" class="form-control" [(ngModel)]="selectedDevice"
            (change)="onSelectDevice($event.target.value)" id="device" name="device" #device="ngModel">
            <option disabled selected value="">Select Phone</option>
            <option *ngFor="let resource of resources" value="{{resource.name}}">{{resource.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="deviceLineField" class="col-sm-2 col-form-label phone-label">Line</label>
        <div class="col-sm-3">
          <select required forbiddenValue="" class="form-control" [(ngModel)]="selectedDeviceLine"
            (change)="onSelectDeviceLine($event.target.value)" id="deviceLine" name="deviceLine" #deviceLine="ngModel">
            <option disabled selected value="">Select Line</option>
            <option *ngFor="let line of lines" value="{{line}}">{{line}}</option>
          </select>
        </div>
        <label for="parkCodeField" style="padding-left:70px;"
          class="col-sm-3 col-form-label phone-label">ParkCode</label>
        <div class="col-sm-3">
          <select required forbiddenValue="" class="form-control" [(ngModel)]="parkCode" id="parkCodeField"
            name="parkCodeField" #parkCodeField="ngModel">
            <option selected value="">Select Park Code</option>
            <option *ngFor="let parkcode of parkcodes" value="{{parkcode}}">{{parkcode}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div *ngIf="title" class="mr-auto"
      style="background-color: #7694B7; height: 30px; width: 30px; border-radius: 100%; margin-top:-2%">
      <img src="assets/images/icons/info.svg" title="{{title}}" style="width:30px; height:30px;">
    </div>
    <button (click)="cancel()" class="modal-cancel-btn">
      Cancel
    </button>
    <button class="modal-scs-btn" (click)="insertAction()" [disabled]="!myActionForm.form.valid">
      Insert Action
    </button>
  </div>
</form>