.card-header {
    background: #7694B7;
    color: white;
}

.card-header h1{
    margin-bottom: 8px;
    margin-top: 8px;
}

.summary {
    font-size: 22px;
}

.blue-label {
    color: #7694B7;
}

mat-form-field {
    width: 100%;
}

.lights-container {
    z-index: 0 !important;
    overflow: hidden;
}
  