:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.flex-container > div {
  margin: 10px;
}

.form-row {
  align-items: baseline;
  justify-content: center;
}

.email-info{
  border: 1px solid;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px;
  border-color: #6E76B4;
  text-align: left;
}

.label.email {
  margin-bottom: 0 !important;
}

#addButton{
  float: right; 
  margin-right: 2%;
}

.delete-button {
  margin-bottom: 5%;
}
