<div class="row" style="background-color:#FFFFFF;height: fit-content;">
    <div class="col-12">
        <div class="panel panel-default" style="background-color: white;">
            <div class="panel-heading">
                <div class="row">
                    <!-- <div class="col-2"></div> -->
                    <div class="col-8">
                        <div class="row">
                            <div class="col-4" style="height: 50px;line-height: 50px;">
                                <label class="title">Check Logs to Download </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                    </div>
                </div>
            </div>
            <div class="panel-body" style="overflow-x: hidden;overflow-y: scroll;"
                [ngStyle]="{'height':(selectAll==true||logsObject.onPointLogs==true)?'50vh':'13vh'}">
                <!-- <div class="row">
                    <div class="col-2"></div>
                    <div class="col-2">
                        <label class="container">
                            <input type="checkbox" (change)="onChangeCheckBox($event.target.checked,'selectAll')"
                                [(ngModel)]="selectAll" data-md-icheck>
                            <span class="checkmark" style="margin-top: 6px;"></span>
                            <label class="check-label">All Files</label>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-2">
                        <label class="container">
                            <input type="checkbox" (change)="onChangeCheckBox($event.target.checked,'dbLogs')"
                                [(ngModel)]="logsObject.dbLogs" data-md-icheck>
                            <span class="checkmark" style="margin-top: 6px;"></span>
                            <label class="check-label">DB Snapshot</label>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-3">
                        <label class="container">
                            <input type="checkbox" (change)="onChangeCheckBox($event.target.checked,'systemLogs')"
                                [(ngModel)]="logsObject.systemLogs" data-md-icheck>
                            <span class="checkmark" style="margin-top: 6px;"></span>
                            <label class="check-label">System Logs/Information</label>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-3">
                        <label class="container">
                            <input type="checkbox" (change)="onChangeCheckBox($event.target.checked,'onPointLogs')"
                                [(ngModel)]="logsObject.onPointLogs" data-md-icheck>
                            <span class="checkmark" style="margin-top: 6px;"></span>
                            <label class="check-label">Automation Platform Logs</label>
                        </label>
                    </div>
                </div> -->
                <!-- proposal-2 -->
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-2">
                        <label class="container">
                            <input type="checkbox" (change)="onChangeCheckBox($event.target.checked,'selectAll')"
                                [(ngModel)]="selectAll" data-md-icheck>
                            <span class="checkmark" style="margin-top: 6px;"></span>
                            <label class="check-label">All Files</label>
                        </label>
                    </div>
                    <div class="col-2">
                        <label class="container">
                            <input type="checkbox" (change)="onChangeCheckBox($event.target.checked,'dbLogs')"
                                [(ngModel)]="logsObject.dbLogs" data-md-icheck>
                            <span class="checkmark" style="margin-top: 6px;"></span>
                            <label class="check-label">DB Snapshot</label>
                        </label>
                    </div>
                    <div class="col-3">
                        <label class="container">
                            <input type="checkbox" (change)="onChangeCheckBox($event.target.checked,'systemLogs')"
                                [(ngModel)]="logsObject.systemLogs" data-md-icheck>
                            <span class="checkmark" style="margin-top: 6px;"></span>
                            <label class="check-label">System Logs/Information</label>
                        </label>
                    </div>
                    <div class="col-3">
                        <label class="container">
                            <input type="checkbox" (change)="onChangeCheckBox($event.target.checked,'onPointLogs')"
                                [(ngModel)]="logsObject.onPointLogs" data-md-icheck>
                            <span class="checkmark" style="margin-top: 6px;"></span>
                            <label class="check-label">Automation Platform Logs</label>
                        </label>
                    </div>
                </div>
                <div class="row" *ngIf="fileNamesList.length>0">
                    <div class="col-2"></div>
                    <div class="col-3">
                        <span style="font-size: 14px;">Unselect Files</span>
                        <div style="height: 13em; overflow-y: auto; border: 1px solid rgba(128, 128, 128, 0.5);">
                            <ul class="list-group">
                                <li class="list-group-item" *ngFor="let item of unSelectedfilesList">
                                    <label class="chekboxcontainer key-name">
                                        <input type="checkbox" [(ngModel)]="item.selected">
                                        <span class="checkmark" style="margin-top: 4px;"
                                            [style.outline-color]="!item.selected ? '#BEBEBE' : '#203C66'">
                                        </span>
                                        &nbsp; <span class="list-item">{{item.name}}</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-1" style="margin: auto; margin-left: 0; margin-right: 0;padding: 0px;">
                        <button class="btn btn-blue" style="cursor: context-menu;">
                            <i class="fa fa-caret-right" style="font-size: 38px;cursor: pointer;" (click)="save()"></i>
                        </button>
                        <button class="btn btn-blue" style="cursor: context-menu;">
                            <i class="fa fa-caret-left" style="font-size: 38px;cursor: pointer;" (click)="unsave()"></i>
                        </button>
                    </div>
                    <div class="col-3">
                        <span style="font-size: 14px;"> Selected Files</span>
                        <div style="height: 13em; overflow-y: auto; border: 1px solid rgba(128, 128, 128, 0.5);">
                            <ul class="list-group">
                                <li class="list-group-item" *ngFor="let item of selectedfilesList">
                                    <label class="chekboxcontainer key-name">
                                        <input type="checkbox" [(ngModel)]="item.selected">
                                        <span style="margin-top: 4px;" class="checkmark"
                                            [style.outline-color]="!item.selected ? '#BEBEBE' : '#203C66'">
                                        </span>
                                        &nbsp; <span class="list-item">{{item.name}}</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-2"></div>

                </div>
            </div>
        </div>
    </div>
    <!-- <div *ngIf="!loadingTests" style="text-align:center;">
        <h5 style="margin-top: 7.5% "> No Data to Display</h5>
    </div> -->
    <div class="col-12">
        <hr>
    </div>
    <!-- progress bar -->
    <div *ngIf="_isDownloadStarted" class="col-2" style="margin-bottom: 1%;"></div>
    <div *ngIf="_isDownloadStarted" class="col-3" style="margin-bottom: 1%;">
        <label class="title">Retriveing Debug Logs...</label>
    </div>
    <div *ngIf="_isDownloadStarted" class="col-4" style="margin-bottom: 1%;">
        <progressbar style="height: 6px !important;font-size: 8px;margin-top: 10px;" [max]="maxValue"
            [value]="downloadedValue" [striped]="false" type="success" [animate]="true">
        </progressbar>
        <span *ngIf="maxValue==0" class="in-progress">Starting...</span>
        <span *ngIf="maxValue>downloadedValue" class="in-progress">In Progress...</span>
        <span *ngIf="maxValue!=0 && maxValue==downloadedValue" class="done">Done</span>
    </div>
    <div *ngIf="_isDownloadStarted" class="col-3">
        <span class="check-label">{{contentDownlodedInPercent+'%'}}</span>
    </div>
    <!-- Get logs button -->
    <div *ngIf="!_isDownloadStarted" class="col-12" style="margin-bottom: 1%;">
        <button [disabled]="!checkSelectionStatus() || disabledDownloadButton" class=" modal-scs-btn get-logs-btn" (click)="getLogs()"> Get Logs
        </button>
    </div>
</div>