<div class="container" style="text-align: center;">
    <h1 id="page-title" mat-dialig-title>Add Stakeholder</h1>
    <form [formGroup]="addStakeholderForm" (ngSubmit)="addStakeholder()">
        <div class="flex-container">
            <div class="loading-shade" *ngIf="isDataLoading">
                <mat-spinner *ngIf="isDataLoading"></mat-spinner>
            </div>
            <mat-dialog-content>
                <div>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label id="name-label"> Name</mat-label>
                        <input required matInput value="" formControlName="name" id="name">
                    </mat-form-field>
                </div>
                <div>
                    <ngx-intl-tel-input
                        [cssClass]="'custom'"
                        [preferredCountries]="preferredCountries"
                        [enableAutoCountrySelect]="true"
                        [enablePlaceholder]="true"
                        [searchCountryFlag]="true"
                        [searchCountryField]="[SearchCountryField.Iso2,SearchCountryField.Name]"
                        [selectFirstCountry]="false"
                        [selectedCountryISO]="CountryISO.UnitedStates"
                        [maxLength]="15"
                        [phoneValidation]="true"
                        [separateDialCode]="false"
                        [numberFormat]="PhoneNumberFormat.International"
                        [inputId]="'phoneNumber'"
                        [enablePlaceholder]="true"
                        formControlName="phoneNumber"
                    >
                    </ngx-intl-tel-input>
                </div>
                <div>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label id="email-label">Email</mat-label>
                        <input required matInput value="" formControlName="subaccountAdminEmail" id="email">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label id="company-name-label">Company Name</mat-label>
                        <input matInput value="" formControlName="companyName" id="companyName">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label id="job-title-label">Job Title</mat-label>
                        <input matInput value="" formControlName="jobTitle" id="jobTitle">
                    </mat-form-field>
                </div>
                <div *lcCheckAccessFor="'emailNotifications'">
                    <h2 id="subaccount-services" class="mt-3 mb-0 checkbox-title">Email Notifications</h2>
                    <div>
                        <span class="fw-500" >Off</span>
                        &nbsp;
                        <mat-slide-toggle id="mat-toggle" [color]="'primary'" [checked]="emailNotifications" (change)="onChangeToggle($event.checked)"></mat-slide-toggle>
                        &nbsp;
                        <span class="fw-500 p-2" >On</span>
                        &nbsp;
                    </div>
                    <br>
                </div>
            </mat-dialog-content>
        </div>
        <mat-dialog-actions>
            <button mat-stroked-button type="button" id="cancel-button" (click)="onCancel()">Cancel</button>
            <button mat-raised-button color="primary" [disabled]="!addStakeholderForm.valid" type="submit"
                id="submit-stakeholder-button" title="stakeholder-form">Submit</button>
        </mat-dialog-actions>
    </form>
</div>
