<table style="width: 100%;">
    <tbody class="master-body">
        <tr class="sub-table-color">
            <td class="regular-text" [width]="getColumnWidth(licenceColumns[0])"
                style=" text-align: center !important;">
                <span class="regular-text" (click)="showProjectDetails();"
                    style="cursor: pointer;font-weight:bold!important;">
                    &nbsp;Projects
                </span>
            </td>
            <td class="regular-text" [width]="getColumnWidth(licenceColumns[1])"
                style=" text-align: center !important;">
                <span class="regular-text" (click)="showProjectDetails();"
                    style="cursor: pointer;font-weight:bold!important;">
                    &nbsp;Last Execution Date
                </span>
            </td>
            <td></td>
            <td></td>
        <tr>
            <div *ngIf="getData&&getData.length>0; then hasData else noData">
                Here is never showing
            </div>
            <ng-template #hasData>

        <tr *ngFor="let info of getData" #hasData>
            <td class="regular-text" [width]="getColumnWidth(licenceColumns[0])"
                style="max-width: 40px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;text-align: center;">
                {{info.projectName}}
            </td>
            <td class="regular-text" [width]="getColumnWidth(licenceColumns[1])"
                style="max-width: 40px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;text-align: center;">
                {{info.lastExecutionDate}}
            </td>
            <td class="regular-text"></td>
            <td class="regular-text"></td>
        </tr>
        </ng-template>
        <ng-template #noData>
            <h5 style="text-align: center;"> No Data to Display</h5>
        </ng-template>

    </tbody>
</table>