.subtitle h2 {
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
}

.subtitle mat-icon {
    margin-left: 10px;
}

.viewDetail-button {
    color: #273176;
}
.viewDetail-button:hover{
    color: white;
    background-color: #6E76B4;
}