<div class="container" style="text-align: center;">
    <h1  id="page-title" mat-dialig-title>Add Project</h1>
    <form [formGroup]="addProjectForm" (ngSubmit)="submit()">
        <div class="flex-container">
            <div class="loading-shade" *ngIf="isDataLoading">
                <mat-spinner *ngIf="isDataLoading"></mat-spinner>
            </div>
            <mat-dialog-content>
                <div>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label id="project-name-label">Project Name</mat-label>
                        <input required matInput value="" formControlName="projectName" id="projectName">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label id="project-code-label">Project Code</mat-label>
                        <input required matInput value="" formControlName="projectNumber" id="projectNumber">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label id="project-license-label">TekVizion 360 Subscription</mat-label>
                        <mat-select required formControlName="licenseId" (valueChange)="onLicenseChange($event)">
                            <mat-option *ngFor="let license of licenses" [value]="license.id" title="{{license.description}}">
                                {{license.description}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label id="start-date-lable">Start Date</mat-label>
                        <input [min]="minDate" [max]="maxDate" required matInput [matDatepicker]="picker" formControlName="openDate">
                        <mat-datepicker-toggle matSuffix [for]="picker" id="project-calendar"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-hint *ngIf="selectedLicense===null">Please select a subscription first</mat-hint>
                    </mat-form-field>
                </div>
            </mat-dialog-content>
        </div>
        <mat-dialog-actions>
            <button mat-stroked-button type="button" id="cancel-button" (click)="onCancel()">Cancel</button>
            <button mat-raised-button color="primary" [disabled]="!addProjectForm.valid" type="submit"  id="submit-project-button" title="project-form">Submit</button>
        </mat-dialog-actions>
    </form>
</div>
