<!-- modal title -->
<div class="modal-header" draggableModal>
    <label class="modal-title">List of users</label>
    <button type="button" class="close" aria-label="Close" (click)="hideModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- modal body -->
<div class="modal-body">
    <div class="mycontainer">
        <!--  user resources  -->
        <div class="row">
            <div class="col-12" [ngStyle]="{'height':(users.length>4)?'280px':'220px'}">
                <data-table [columnDefs]="userColumns" [data]="users" [selectedHeight]="'68vh'" [colsTag]="'view-user'">
                    <tableRow>
                        <ng-template let-item="item" class="templateClass">
                            <tr class="strip-table">
                                <td class="regular-text" [title]="item.name" [width]="getColumnWidth(userColumns[0])"
                                    style="text-align: center;max-width:50px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    {{item.name | blank}}
                                </td>
                                <td class="regular-text" [title]="item.email" [width]="getColumnWidth(userColumns[1])"
                                    style="text-align: center;max-width:50px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    {{item.email | blank}}
                                </td>
                                <td class="regular-text" [title]="item.userProfile.name"
                                    [width]="getColumnWidth(userColumns[2])"
                                    style="text-align: center;max-width:50px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    {{item.userProfile.name | blank}}
                                </td>
                                <td class="regular-text"
                                    [title]="(item?.hierarchy?.name=='parent')?'System':item?.hierarchy?.name"
                                    [width]="getColumnWidth(userColumns[3])"
                                    style="text-align: center;max-width:50px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    {{(item?.hierarchy?.name == 'parent') ? 'System' : item?.hierarchy?.name | blank}}
                                </td>
                            </tr>
                        </ng-template>
                    </tableRow>
                </data-table>
            </div>
        </div>
    </div>
</div>
<!-- modal footer -->
<div class="modal-footer">
    <div class="form-group">
        <button class="modal-scs-btn" (click)="hideModal()">
            Close
        </button>
    </div>
</div>