<div class="project-runs">
    <div class="row" style="margin-top:15px;">
        <button class="btn-blue" style="font-size:15px;" id="backToProjectBtn" (click)="backToProject();">
      <i class="fa fa-long-arrow-left" aria-hidden="true"></i>&nbsp;Back
    </button>
    </div>
    <div class="row">
        <div class="col-lg-7 actions-bar">
            <label class="view-title" style="margin-top: 4%">Run History: {{project.name}}</label>&nbsp;&nbsp;
        </div>
        <div class="col-lg-5 actions-bar" style="padding-right: 0px !important;">
            <input type="text" placeholder="Search" name="name" id="searchbar" class="search-bar" style="margin-top: 5%" [(ngModel)]="searchQuery">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-2 col-project">
            <label class="container select-all" style="margin-left: 10px;">
        <input type="checkbox" data-md-icheck style="width: 50%; height: 100%;" [(ngModel)]="selectAllRunInstances"
          id="selectAllInstancesCheckField" (change)="selectAllProjects(); toggleVisibility($event);"
          [disabled]="(runInstances | filter: {status: searchQuery}).length==0 || runInstances.length==0" />
        <button *ngIf="markedRunInstances" id="unselectAllInstancesBtn" class="action-btn">Unselect all</button>
        <button *ngIf="!markedRunInstances" id="selectAllInstancesBtn" class=" action-btn">Select all</button>
        <span class="checkmark"></span>
      </label>
        </div>
        <div class="col-lg-8" style="margin-top: 8px;margin-left: -5%;">
            <div class="row">
                <div class="col-2">
                    <button class="action-btn" id="downloadLogsBtn" (click)="downloadSelectedLogs()" [disabled]="disabledDownloadButton">
            Download Logs
          </button>
                </div>
                <div class="col-3" style="margin-left: -3%;">
                    <button class="action-btn" id="downloadReportBtn" (click)="downloadSelectedReports()" [disabled]="disabledReportButton">
            Download Report
          </button>
                </div>
            </div>
        </div>
        <div class="col-lg-">
            <label class="count" id="instanceCountLabel">
        Instance Count:
        <span id="instanceCountField">
          {{ (runInstances | filter: {status: searchQuery}).length }}
        </span>
        <i *ngIf="searchQuery" class="fa fa-filter" aria-hidden="true"></i>
      </label>
        </div>
    </div>
    <div class="row">
        <div class="runs-list">
            <data-table #projectsRunGrid [columnDefs]="runColumns" [dataflow]="isRequestCompleted" [selectedHeight]="'45vh'" [virtualScroll]="false" [data]="runInstances | filter: {status: searchQuery}" [colsTag]="'run-instances'">
                <tableRow>
                    <ng-template let-item="item" class="templateClass">
                        <tr class="strip-table" style="cursor: pointer;" (click)="getRunDetails(item)" id="runNo-{{item.runNo}}">
                            <td id="checkbox" [width]="getColumnWidth(runColumns[0])" (click)="$event.stopPropagation();">
                                <label class="container" style="margin-top:3px;">
                  <input type="checkbox" [(ngModel)]="item.selected" data-md-icheck
                    (change)="checkIfAllProjectsSelected($event); toggleVisibility($event);">
                  <span class="checkmarkTCP" [style.outline-color]="!item.selected ? '#BEBEBE' : '#203C66'"></span>
                </label>
                            </td>
                            <td class="regular-text" [width]="getColumnWidth(runColumns[1])">
                                {{item.runNo}}
                            </td>
                            <td class="status-text" [ngClass]="(item.status=='ABORTED')?'AbortedClass':'txt-adj-Class'" [width]="getColumnWidth(runColumns[2])">
                                {{item.status | titlecase}}
                            </td>
                            <td [width]="getColumnWidth(runColumns[3])">
                                <table class="totals-table">
                                    <thead></thead>
                                    <tbody>
                                        <tr>
                                            <td class="regular-text" style="color:#7694B7;width:105px">Total: {{item.totalCount | notEmpty}}
                                            </td>
                                            <td class="regular-text" style="width:105px">Queued: {{item.queuedCount | notEmpty}}</td>
                                            <td class="regular-text" *ngIf="!item.validateExpression" style="color: #0E8B18;width:105px">
                                                Passed: {{item.passCount | notEmpty}}
                                            </td>
                                            <td class="regular-text" *ngIf="item.validateExpression">
                                                <span style="color: #0E8B18;">Passed: {{item.passCount | notEmpty}}</span>
                                                <span style="color: #CB3333;">*</span>
                                            </td>
                                            <td class="regular-text" style="color:#CB3333;width:105px">Failed: {{item.failCount | notEmpty}}
                                            </td>
                                            <td class="regular-text" style="width:105px">Interrupted: {{item.interruptedCount | notEmpty}}
                                            </td>
                                            <td class="regular-text" style="width:105px">Aborted: {{item.abortedCount| notEmpty}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="regular-text" [width]="getColumnWidth(runColumns[4])">
                                {{item.startDateString}}
                            </td>
                            <td class="regular-text" [width]="getColumnWidth(runColumns[5])">
                                {{item.endDateString}}
                            </td>
                            <td [width]="getColumnWidth(runColumns[6])">
                                <button class="btn-blue" (click)="$event.stopPropagation();downloadLog(item);" [disabled]="disabledDownloadButton">Logs</button>
                            </td>
                            <td [width]="getColumnWidth(runColumns[7])">
                                <button class="btn-blue" (click)="$event.stopPropagation();downloadReport(item);" [disabled]="disabledReportButton">Report</button>
                            </td>
                        </tr>
                        <tr *ngIf="item.details">
                            <td colspan="10" style="padding: 0;">
                                <run-details [run]="item"></run-details>
                            </td>
                        </tr>
                    </ng-template>
                </tableRow>
            </data-table>
        </div>
    </div>
</div>