.project-runs {
    background: #f1f0f0;
    width: 90%;
    margin-left: 75px;
}

.view-title {
    font-family: "Helvetica Neue Regular";
    font-style: normal;
    font-size: 20px;
}

td {
    text-align: center;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.regular-text {
    font-family: 'Helvetica Neue Regular';
    color: #414141;
    font-size: 14px;
}

.btn-blue {
    background: none;
    color: #7694B7;
    border: 0;
    font-size: 14px;
    font-family: 'Helvetica Neue Regular';
}

.btn-blue:focus {
    outline: none;
    box-shadow: none;
}

.totals-table {
    background-color: #FFFFFF;
    border: 1px solid #BEBEBE;
    width: 100%;
}

.status-text {
    font-family: 'Helvetica Neue Regular';
    font-weight: bold;
    color: #333F4D;
    font-size: 14px;
}

.runs-list {
    width: 100%;
    height: 10%;
}

.templateClass {
    background: none;
}

.search-bar {
    margin-top: 6.4%;
    width: 60%;
    height: 42px;
    float: right;
    border-color: #EAEAEA;
    border-width: 1px;
    border-style: solid;
    font-family: "FontAwesome", "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    color: #333333;
    padding: 0 0 0 0.5em;
    background: #FFFFFF url(src/assets/images/icons/search_icon.svg) left no-repeat;
    background-size: 25px 20px;
    padding-left: 30px;
}

.select-all {
    color: #203C66;
    font-family: "FontAwesome", "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
}

.action-btn {
    color: #203C66;
    font-family: "FontAwesome", "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    background: none;
    border: none;
}

.action-btn:focus {
    outline: none;
    box-shadow: none;
}

.col-project {
    padding-left: 0px;
    padding-right: 0px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-right: 0;
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.projects #checkbox {
    padding-right: 0%;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 2px;
    margin-left: 10px;
    height: 15px;
    width: 15px;
    background-color: none;
    outline-style: solid;
    outline-color: #203C66;
    outline-width: 1.5pt;
}

.checkmarkTCP {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -3px;
    margin-left: 10px;
    height: 15px;
    width: 15px;
    background-color: white;
    outline-style: solid;
    outline-color: #ccc;
    outline-width: 1.5pt;
}

.container:hover input~.checkmark {
    background-color: #ccc;
}

.container:hover input~.checkmarkTCP {
    background-color: #ccc;
}

.container input:checked~.checkmark {
    background-color: #203C66;
}

.container input:checked~.checkmarkTCP {
    background-color: white;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkmarkTCP:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container input:checked~.checkmarkTCP:after {
    display: block;
}

.container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container .checkmarkTCP:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #203C66;
    outline-color: #203C66;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.count {
    font-family: "FontAwesome", "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 10px;
}
.AbortedClass{
    width:10% !important;
}
.txt-adj-Class{
    /* width:100%; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:10% !important;
    /* display: inline-block; */
    /* width:120px; */
}