table.diff {
	border-collapse: collapse;
	border: 1px solid darkgray;
	table-layout: fixed;
	width: 100%;
}

table.diff tbody {
	font-family: Courier, monospace;
	font-size: 12px;
	table-layout: fixed;
	width: 100%;
}

table.diff tbody th {
	font-family: verdana, arial, 'Bitstream Vera Sans', helvetica, sans-serif;
	background: #A9EBF5;
	font-size: 11px;
	font-weight: normal;
	width: 2%;
	height: 12px;
	border: 1px solid #BBC;
	color: #886;
	text-align: right;
	vertical-align: top;
	table-layout: fixed
}

table.diff thead {
	border-bottom: 1px solid #BBC;
	background: #7694B7;
	color: #ffffff;
	font-family: Verdana
}

table.diff thead th.texttitle {
	text-align: center;
	table-layout: fixed
}

table.diff tbody td {
	vertical-align: top;
	text-align: left;
	word-break: break-all;
}

table.diff .empty {
	background-color: #DDD;
	font-size: 12px;
	width: 28%;
	height: 12px;
	table-layout: fixed;
	word-break: break-all;
}

table.diff .replace {
	background-color: #FD8;
	font-size: 12px;
	width: 42%;
	height: 12px;
	table-layout: fixed;
	word-break: break-all;
}

table.diff .delete {
	background-color: #E99;
	font-size: 12px;
	width: 28%;
	height: 12px;
	table-layout: fixed;
	word-break: break-all;
}

table.diff .skip {
	background-color: #EFEFEF;
	border: 1px solid #AAA;
	border-right: 1px solid #BBC;
	font-size: 12px;
	width: 28%;
	height: 12px;
	table-layout: fixed;
	word-break: break-all;
}

table.diff .insert {
	background-color: #9E9;
	font-size: 12px;
	width: 28%;
	height: 12px;
	table-layout: fixed;
	word-break: break-all;
}