<div class="row">
    <div class="col-12">
        <h1 class="text-start font-s">{{data.region.city}}, {{data.region.state}}, {{data.region.country}}</h1>
        <mat-card class="card summary">
            <mat-card-content class="summary-card-content">
                <table class="table">
                    <tbody>
                        <tr>
                            <div class="row-auto">
                                <div class="col-12">
                                    <th>Originated calls</th>
                                    <td>{{data.callsOriginated.total}}</td>
                                </div>
                            </div>
                            <div class="row-auto">
                                <div class="col-12">
                                    <th>Originiated calls passed</th>
                                    <td>{{data.callsOriginated.passed}}</td>
                                </div>
                            </div>
                            <div class="row-auto">
                                 <div class="col-12">
                                     <th>Originated calls failed</th>
                                     <td>{{data.callsOriginated.failed}}</td>
                                 </div>
                                </div>
                            <div class="row-auto">
                                 <div class="col-12">
                                     <th>Voice Quality</th>
                                     <td>{{data.callsOriginated.polqa}}</td>
                                 </div>
                                </div>
                            <div class="row-auto">
                                 <div class="col-12">
                                     <th>Terminated calls</th>     
                                     <td>{{data.callsTerminated.total}}</td>
                                 </div>
                                </div>
                            <div class="row-auto">
                                 <div class="col-12">
                                    <th>Terminated calls passed</th>
                                    <td>{{data.callsTerminated.passed}}</td>
                                 </div>
                                </div>
                            <div class="row-auto">
                                 <div class="col-12">
                                     <th>Terminated calls failed</th>
    
                                     <td>{{data.callsTerminated.failed}}</td>
                                 </div>
                                </div>
                            <div class="row-auto">
                                 <div class="col-12">
                                     <th>Voice Quality</th>
    
                                     <td>{{data.callsTerminated.polqa}}</td>
                                 </div>
                                </div>
                            <div class="row-auto">
                                 <div class="col-12">
                                     <th>Total Calls</th>
                                     <td>{{data.totalCalls}}</td>
                                 </div>
                            </div>
                        </tr>
                    </tbody>
                </table>
            </mat-card-content>
        </mat-card>
        <div class="row justify-content-end" style="padding-top: 3%;">
            <div class="col-auto">
                <button mat-stroked-button type="button" id="cancel-button" (click)="onCancel()">Close</button>
            </div>
        </div>
    </div>
</div>