td {
    width: 100%;
    text-align: center;
}

th{
   width: 100%;
}

.terminated-column-data {
    float: right;
}

.originated-column-data {
    float: left;
}

.total-calls-data {
    border-bottom: 0;
}

.viewDetail-button {
    color: #243C66;
    width: 20%;
}


@media (max-width: 600px) {
 .summary-card-content{
        overflow-x: auto;
    }
}