<div class="container">
    <div class="flex-container">
        <mat-dialog-content>
            <div>
                
                <h1><img class="tekv-logo" src="assets/images/TekVizion360.png" alt="logo.png">TekVizion 360 Portal</h1>                    
            </div>
            <div>
                <mat-label>Version [build_version]</mat-label>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions align="center">
            <button id="closeBtn" mat-stroked-button (click)="onClose()" type="button">Close</button>
        </mat-dialog-actions>
    </div>
</div>