<div class="modal-header" draggableModal>
    <label class="modal-title">Mute</label>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form (keydown.enter)="$event.preventDefault()" #myActionForm="ngForm">
    <div class="modal-body">
        <div class="mycontainer">
            <div class="row form-group">
                <!--   conversation -->
                <label for="conversation" class="col-sm-2 col-form-label phone-label">Conversation ID</label>
                <div class="col-sm-3">
                    <select required forbiddenValue="" class="form-control" [(ngModel)]="selectedConversation"
                        (change)="onChangeConversations()" id="conversation" name="conversation"
                        #conversation="ngModel" title="Select Conversation">
                        <option selected value="">Select Conversation</option>
                        <option *ngFor="let item of conversations" value="{{item}}">{{item }}</option>
                    </select>
                </div>
                <!--   action -->
                <label for="callType" class="col-sm-1 col-form-label phone-label">Action</label>
                <div class="col-sm-3">
                    <select required forbiddenValue="" class="form-control" [(ngModel)]="selectedCallType" id="callType"
                        name="callType" #callType="ngModel">
                        <option selected value="">Select Action</option>
                        <option *ngFor="let item of callMuteType" value="{{item}}">{{item | titlecase}}</option>
                    </select>
                </div>
            </div>
            <hr class="separator">
            <div class="form-group row">
                <!-- resource -->
                <label for="resource" class="col-sm-2 col-form-label phone-label">Resource</label>
                <div class="col-sm-3">
                    <select required forbiddenValue="" class="form-control" [(ngModel)]="selectedResource" id="resource"
                        name="resource" #resource="ngModel">
                        <option selected value="">Select Resource</option>
                        <option *ngFor="let item of resources" value="{{item.name}}">{{item.name}}</option>
                    </select>
                </div>
                  <label for="failure" class="col-sm-3 col-form-label phone-label">Continue On Failure</label>
                  <div class="col-sm-3" style="margin-top: 5px; padding-left:0px;">
                    <label class="phone-label">
                      <input type="radio" name="failure" [value]="true" [(ngModel)]="continueOnFailure" #failure="ngModel">&nbsp;
                      <span>True</span>
                    </label>&nbsp;
                    <label class="phone-label">
                      <input type="radio" name="failure" [value]="false" [(ngModel)]="continueOnFailure" #failure="ngModel">
                      &nbsp;
                      <span>False</span>
                    </label>
                  </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="cancel()" class="modal-cancel-btn">
            Cancel
        </button>
        <button class="modal-scs-btn" (click)="insertAction()" [disabled]="!myActionForm.form.valid">
            Insert Action
        </button>
    </div>
</form>