.card-width {
  width: max-content;
}

.card-size {
  width: 100px;
  border-radius: 5px;
}

.card {
  border-radius: 5px;
  /* padding: 10px 0px; */
}

.sub-heading {
  font-size: medium;
  font-weight: bold;
}

.value {
  font-size: medium;
}

.dashboard-content {
  padding: 20px;
}

table {
  width: 100%;
}

.table-section {
  /* margin-top: 5%; */
  overflow-x: auto;
}

th.mat-sort-header-sorted {
  color: black;
}

.clickable-item {
  cursor: pointer;
  color: darkblue;
  text-decoration: underline !important;
}

.table-container {
  position: relative;
  min-height: 200px;
}

.no-data-found {
  font-size: 1rem;
  margin-top: 50px;
  text-align: center;
}

.btn-container {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
}

.stakeholder-heading {
  margin: 0;
  padding: 0;
  height: 0;
}

.fw-500 {
  font-weight: 500 !important;
}

mat-card {
  height: 215px;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  justify-content: center;
}

::ng-deep tr.mat-header-row {
  background: #e4e5e5;
}

::ng-deep #Region {
  max-width: 200px;
}

.font-s {
  font-size: 16px;
  font-weight: 600;
}

.text-s {
  font-size: 20px;
  font-weight: 700;
}

.text-s2 {
  font-size: 18px;
  font-weight: 600;
}

.accordian-container .mat-expanded .mat-expansion-panel-header {
  background: lightgray;
}

.mat-expansion-panel-header {
  margin: 0;
}
.inner-accor {
  list-style-type: none !important;
  display: flex !important;
  justify-content: space-between !important;
  flex: 1 1 auto !important;
  align-items: center !important;
  margin: 0 !important;
  padding: 0 !important;
}

.summary {
  padding: 12px 0px;
  overflow: auto;
}

.summary-card-content {
  padding: 1%;
}

@media (max-width: 1281px) {
  .custom-col{
    width: 0% !important;
  }
  .panel-title-container {
    white-space: wrap;
    display: flex;
  }
  .arrow-button{
    position: absolute;
    right: 5%;
  }
  .chart-max-size{
    width: 40% !important;
  }
}

@media (max-width: 780px) {
  .column-content{
    overflow: auto !important;
  }
  .table-max-size{
    width: 100% !important;
  }
  .chart-max-size{
    width: 40% !important;
  }
  .mat-expansion-panel-header {
    padding: 0px;
  }
}
@media (max-width: 900px){
  .chart-max-size{
    width: 35% !important;
  }
}
mat-panel-title {
  white-space: wrap;
  flex-shrink: 0;
}

.panel-title-container {
  white-space: wrap;
}

.table-header {
  padding-left: 25px;
}

.table-cell {
  flex-shrink: 0;
  color: black;
  font-weight: 500;
  flex-grow: 1;
  margin-right: 16px;
  padding-left: 15px;
  padding-right: 15px;
}

.header-container{
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;
}

.header-container::after {
  content: "";
  display: inline-block;
  width: 5%;
}

.header-container > * {
  width: calc(100% - 5%);
}

.last-element{
  position: absolute;
  width: 30px;
  right: 0;
  background-color: #bb2426;
}

.arrow-button{
  position: absolute;
  right: 5%;
}

.fix-header{
  position: sticky;
  top: 0;
  /* width: 100%; */
  z-index: 20;
}

.small-icon {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757575;
}

.text-container{
  height: auto; 
  min-height: 40px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.average-col{
  white-space: wrap;
}

.hint {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #6E76B4;
}

.hint mat-icon {
  margin-right: 5px;
  /* display: flex;
  align-items: center; 
  justify-content: center; */
}

.detailed-report {
  position: relative;
  min-height: 395px;
  overflow: auto;
}
 