.form-group>.text-secondary {
    color: #f2f2f2;
}

.title {
    font-family: 'Helvetica Neue Regular' !important;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #414141;
}

/* .package-info{
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding:0px 0px!important;
} */
.package-info,
.license-sctn {
    margin-bottom: 20px;
}

.sub-title {
    font-family: 'Helvetica Neue Regular' !important;
    margin-top: 10px !important;
    padding: 0px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    font-size: 14px;
    text-align: left;
    color: #203C66;
    cursor: pointer;
}

.title-info {
    font-family: 'Helvetica Neue Regular' !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    line-height: 20px !important;
    text-align: left;
    color: #767879;
}

.horizantalrolar {
    margin: 8px !important
}

.body {
    color: #414141;
}

.license {
    background: #f1f0f0;

}

.body {
    float: left;
    padding-left: 10px;
    width: 100%;
}

.uploaded-text {
    font-family: 'Helvetica Neue Regular';
    color: #7694B7;
    opacity: 0.5;
    font-size: 14px;
}

.action-btn {
    background: none;
    color: #7694B7;
    border: 0;
    font-size: 14px;
    font-family: 'Helvetica Neue Regular';
    margin-left: 22px;
}

.form-label {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    color: #414141;
    font-weight: 200;
}

.form-control {
    font-size: 14px;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    background: none;
    color: #7694B7;
}

.tab-height-adj {
    height: 72vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 15px;
}

.upload-text {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Helvetica Neue Regular';
    color: #43425d;
}

.license-detail-sctn {
    padding: 10px;
    background-color: #fff;
    width: 96%;
    height: 420px;
}

.licens-count {
    border: 1px solid #f1f0f0;
}

.package-type {
    font-size: 14px !important;
    font-style: normal;
    font-weight: bold;
    line-height: 17px;
    text-align: left;
    color: #767879;
}


.license-info {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #414141;
}

.ex-dt-info {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #414141;
    font-style: bold;
}

.horizontal-scroll {
    overflow: scroll;
    white-space: nowrap;
}

/* .horizontal-scroll{
    height: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-x: scroll; 
    white-space: nowrap; 
} */
.licenceDetailBox {
    background-color: #ffffff !important;
    height: 450px;
}

.count-title {
    font-family: 'Helvetica Neue Regular' !important;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    margin: auto;
    padding: 10px;
    color: #414141 !important;
}

.licence-tab {
    border: 1px solid rgba(206, 212, 218, 0.7);
    box-sizing: border-box;
}

.table-header {
    font-family: 'Helvetica Neue Regular' !important;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.toBack {
    font-family: 'Helvetica Neue Regular' !important;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #203C66 !important;
    padding: 0px 0px 8px 0px;
    cursor: pointer;
}

.regular-text {
    font-family: 'Helvetica Neue Regular' !important;
    font-style: normal;
    font-size: 14px !important;
    line-height: 17px;
    align-items: center;
}

.grid-header {
    cursor: pointer;
    color: #ffffff;
    text-align: center;
    font-size: 14px !important
}

.regular-title-text {
    font-family: 'Helvetica Neue Regular' !important;
    Font-style: Medium;
    Font-size: 16px;
    color: #414141;
}

.fa-icon {
    border: 1px solid rgba(206, 212, 218, 0.7);
    font-size: 14px !important;
}

.fa-filter {
    cursor: pointer;
}

.btn.btn-filter {
    margin-top: 5px;
    padding: 5px;
    padding-bottom: 0;
    padding-top: 0;
    color: #ffffff;
    background: #203C66;
    border-radius: 15%;
    opacity: 100%;
    width: 28px;
}

.main-table-color:nth-child(odd) {
    background-color: #D7DFE8;
}

.main-table-color:nth-child(even) {
    background-color: rgba(215, 223, 232, 0.2);
}

.filter-row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.filter-row>.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.search-bar {
    height: 36px;
    border-color: #EAEAEA;
    border-width: 1px;
    border-style: solid;
    font-family: "FontAwesome", "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    color: #333333;
    background: #FFFFFF url(src/assets/images/icons/search_icon.svg) left no-repeat;
    background-size: 25px 20px;
    padding-left: 30px;
}

.sm-icon-width {
    width: 13px;
    margin-bottom: 3px;
}

hr {
    margin-top: 8px !important;
}

label {
    display: inline-block;
}

@media screen and (min-width: 1920px) {

    /* :host>>>.data-table-content{
        max-height: 28vh !important;
    } */
    .licenceDetailBox {
        height: 80vh !important;
    }
}

@media screen and (min-width: 1440px) {
    /* :host>>>.data-table-content{
        max-height: 28vh !important;
    } */
    .licenceDetailBox{
        height: 70vh !important;
    }
   }
@media screen and (min-width: 1920px) {

    /* :host>>>.data-table-content{
        max-height: 28vh !important;
    } */
    .licenceDetailBox {
        height: 85vh !important;
    }
}