name: Continuous testing in Production

on:
  schedule:
    - cron: '0 */4 * * *'

permissions: write-all

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Download Version artifact
      uses: dawidd6/action-download-artifact@v2
      with:
        github_token: ${{secrets.GITHUB_TOKEN}}
        workflow: pushRelease.yml
        name: prod-released-version
        workflow_conclusion: success        

    - name: Set release Version variable
      run: echo "build_version=$(cat ./ReleaseBuild.txt | cut -d "-" -f2-)" >> $GITHUB_ENV
    
    - name: Get release details
      id: release_details
      uses: cardinalby/git-get-release-action@v1
      env:
        GITHUB_TOKEN: ${{ github.token }}
      with:
        tag: ${{ env.build_version }}

    - name: Get Latest Release commit hash
      id: get_commit
      uses: actions/github-script@v2.1.0
      with:
        script: |
          return "${{fromJSON(steps.release_details.outputs.assets)[0].name}}".split('-').pop().split('.').shift();          
    
    - name: Download Repository code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
      
    - name: Checkout specific commit 
      run: git checkout ${{steps.get_commit.outputs.result}}

    - name: Run API tests
      id: run-newman
      uses: matt-ball/newman-action@master
      with:
        collection: ./tests/api/postman/LicenseServerAPIs.postman_collection.json
        environment: ./tests/api/postman/LicenseServerAPIsProdEnv.postman_environment.json
        reporters: '["junit", "cli"]'
        reporter: "{ \"junit\": { \"export\": \"./tests/api/postman/newman-report.xml\" } }"
        envVar: '[{ "key": "CLIENTID_DEVICESADMIN", "value": "${{ secrets.CLIENT_ID_DEVICES_ADMIN_PRODUCTION}}" },
          { "key": "CLIENTSECRET_DEVICESADMIN", "value": "${{ secrets.CLIENT_SECRET_DEVICES_ADMIN_PRODUCTION}}" },
          { "key": "CLIENTID_FULLADMIN", "value": "${{ secrets.CLIENT_ID_FULLADMIN_PRODUCTION}}" },
          { "key": "CLIENTSECRET_FULLADMIN", "value": "${{ secrets.CLIENT_SECRET_FULLADMIN_PRODUCTION}}"},
          { "key": "CLIENTID_IGESADMIN", "value": "${{ secrets.CLIENT_ID_IGESADMIN_PRODUCTION}}" },
          { "key": "CLIENTSECRET_IGESADMIN", "value": "${{ secrets.CLIENT_SECRET_IGESADMIN_PRODUCTION}}" }]'

    - name: Publish JUnit Report
      uses: mikepenz/action-junit-report@v3
      if: always() # always run even if the previous step fails
      with:
        report_paths: './tests/api/postman/newman-report.xml'
        summary: 'true'
        check_name: 'API Test Report'

    - name: Set Production test credentials
      run: |
        echo -e "\nusername=${{ secrets.AZURE_TEST_USER_NAME_PRODUCTION }}" >> ./tests/ui/src/main/resources/production.properties
        echo -e "password=${{ secrets.AZURE_TEST_USER_PWD_PRODUCTION }}" >> ./tests/ui/src/main/resources/production.properties
        echo -e "subaccountAdminUser=${{ secrets.AZURE_PRODUCTION_SUBACCOUNT_USER_NAME }}" >> ./tests/ui/src/main/resources/production.properties
        echo -e "subaccountAdminPassword=${{ secrets.AZURE_PRODUCTION_SUBACCOUNT_PWD }}" >> ./tests/ui/src/main/resources/production.properties
        echo -e "stakeholderUser=${{ secrets.AZURE_PRODUCTION_STAKEHOLDER_USER_NAME }}" >> ./tests/ui/src/main/resources/production.properties
        echo -e "stakeholderPassword=${{ secrets.AZURE_PRODUCTION_STAKEHOLDER_PWD }}" >> ./tests/ui/src/main/resources/production.properties

    - name: Run UI tests
      id: uiTests
      run: |
        cd tests/ui
        gradle uiTests -Denv=production -D"cucumber.filter.tags=not @feature-toggle"
    - uses: deblockt/cucumber-report-annotations-action@v1.10
      if: success() || failure()
      name: Publish Cucumber Report
      with:
          name: UI Test Report
          access-token: ${{ secrets.GITHUB_TOKEN }}
          path: "**/cucumber.json"
    - uses: actions/upload-artifact@v3
      if: ${{ failure() && steps.uiTests.conclusion == 'failure' }}
      name: Archive test results
      with:
        name: ui-test-report
        path: tests/ui/reports/html/