<div class="row" *ngIf="hierarchyBreadCrumbList.length>=8 && phonesAtInventoryByList==''">
    <div class="">
        <button (click)="onPreviousSearchPosition('rightEnd')" class="action-btn">
            <strong>{{'<<'}}</strong>
       </button>
        <button (click)="onPreviousSearchPosition('right')" class="action-btn">
            <strong>{{'<'}}</strong>
       </button>
    </div>
    <div class="col-sm-9" id="panel">
        <nav aria-label="breadcrumb" style="height: 8vh;width: 100%;overflow: hidden;white-space: nowrap;margin-left: 15px;" #panel (scroll)="onScroll()">
            <ol class="breadcrumb" style="display: inline-block">
                <li class="breadcrumb-item" style="font-size:14px;cursor: pointer;display: inline-block;" [ngStyle]="{'font-weight':(i==hierarchyBreadCrumbList.length-1)?'500':'400'}" *ngFor="let item of hierarchyBreadCrumbList;let i=index;" (click)="onBreadCrumbAction(i)">
                    <a>{{((item.name === 'parent') ? 'System' : item?.name)| titlecase}}</a>
                </li>
            </ol>
            <ng-select *ngIf="hierarchyList.length>0" class="form-control custom" [items]="hierarchyList" bindLabel="nameAndType" bindValue="name" style="width:20% !important;" (change)="onChangeHierarchy($event)" [(ngModel)]="selectedHierarchyName" [virtualScroll]="true"
                placeholder="Select Hierarchy">
            </ng-select>
        </nav>
    </div>
    <div class="">
        <button (click)="onNextSearchPosition('left')" class="action-btn">
            <strong>{{'>'}}</strong>
        </button>
        <button (click)="onNextSearchPosition('leftEnd')" class="action-btn">
            <strong>{{'>>'}}</strong>
        </button>
    </div>
    <!--
    <div class="col-sm-2">
        <ng-select *ngIf="hierarchyList.length>0" class="form-control custom" [items]="hierarchyList"
            bindLabel="nameAndType" bindValue="name" style="width: 80%" (change)="onChangeHierarchy($event)"
            [(ngModel)]="selectedHierarchyName" [virtualScroll]="true" placeholder="Select Hierarchy">
        </ng-select>
    </div>
-->
</div>
<div class="row" *ngIf="hierarchyBreadCrumbList.length<=7 && phonesAtInventoryByList==''">
    <nav aria-label="breadcrumb" #panel style="width: 100%;margin-left: 15px;">
        <ol class="breadcrumb" style="display: inline-block;">
            <li class="breadcrumb-item" style="font-size:14px;cursor: pointer;display: inline-block;" [ngStyle]="{'font-weight':(i==hierarchyBreadCrumbList.length-1)?'500':'400'}" *ngFor="let item of hierarchyBreadCrumbList;let i=index;" (click)="onBreadCrumbAction(i)">
                <a>{{((item.name === 'parent') ? 'System' : item?.name)| titlecase}}</a>
            </li>
        </ol>
        <ng-select *ngIf="hierarchyList.length>0" class="form-control custom" [items]="hierarchyList" [ngStyle]="{'width':(addToPhoneList)? '18%':'15%'} " bindLabel="nameAndType" bindValue="name" (change)="onChangeHierarchy($event)" [(ngModel)]="selectedHierarchyName"
            [virtualScroll]="true" placeholder="Select Hierarchy">
        </ng-select>
    </nav>
</div>

<div class="row" *ngIf="!(phonesAtInventoryByList=='')">
    <div class="col-10">
        <h5>Phone list: {{nameListPhones}}</h5>
    </div>
    <div class="col-2">
        <button class="action-btn float-right" (click)="showAllPhones()" style="font-size:14px;">
            Show All Phones
        </button>
    </div>
</div>
<div class="flex-container">
    <!-- <div class="col-sm-9 p-0 mr-0 col-phone"> -->

    <div>
        <label class="container select-all" style="width: 111px;">
                            <input type="checkbox" [(ngModel)]="allPhonesChecked" data-md-icheck [disabled]="phones.length==0 || (phones | filter: {
                                name: searchQuery,
                                macAddress: searchQuery,
                                ipAddress: searchQuery,
                                relayName:searchQuery,
                                primaryUser: searchQuery,
                                primaryExtension: searchQuery,
                                primaryDid: searchQuery,
                                vendor: searchQuery,
                                subModel: searchQuery,
                                firmwareVersion: searchQuery,
                                phoneState: searchQuery,
                                serialNumber: searchQuery,
                                newPhone: searchQuery,
                                firmwareUpgradeStatus:searchQuery,
                                createDate_tsString:searchQuery,
                                lastUpdatedDate_tsString:searchQuery,
                                primaryBsRegistrationStatus:searchQuery
                            }).length==0" (change)="selectAllPhones(); toggleVisibility();"
                                style="width: 50%; height: 100%;" />
                            <button class="action-btn"  *ngIf="markedPhones">Unselect All</button>
                            <button class="action-btn" *ngIf="!markedPhones">Select All</button>
                            <span class="checkmark"></span>
                        </label>
    </div>

    <div style="margin-top: 11px;">
        <!-- [ngStyle]="{'padding-left': (editPhoneList || addToPhoneList)?'15%':'5%'}" -->
        <button class="action-btn" [disabled]="getDeleteStatus()" (click)="deleteConfirmation(deleteAllModal)">
                            Delete
                        </button>
    </div>
    <div style="margin-top: 11px;">
        <button class="action-btn" [disabled]="getAddStatus()" (click)="addToExistingList(template)">
                            Add to Phone List
                        </button>
    </div>
    <div style="margin-top: 11px;">
        <button class="action-btn" [disabled]="getFirmwareUpdateStatus()" (click)="addToUpgradeFirmware(firmwareTemplate)">
                            Firmware Upgrade
                        </button>
    </div>
    <div style="margin-top: 11px;">
        <button class="action-btn" [disabled]="getRebootStatus()" (click)="rebootConfirmation(rebootModal)">
                            Reboot
                        </button>
    </div>
    <div style="margin-top: 11px;">
        <button class="action-btn" [disabled]="checkTemplateStatus()" (click)="setPhonesList()">
                            VDM Template
                        </button>
    </div>
    <div style="margin-top: 11px;">
        <button class="action-btn" [disabled]="_isCisco" (click)="setSelectedPhonesForRelay(assignToRelay)">
                            Assign to Relay
                        </button>
    </div>
    <!-- <div style="margin-top: 13px;"  *ngIf="!_isSideBarOpened">
                            <label class="phone-count"  style="display: table-cell;vertical-align: bottom;">
                                Phone Count:
                                {{(phones | filter: {
                                name: searchQuery, macAddress: searchQuery,
                                ipAddress: searchQuery,
                                primaryUser: searchQuery,
                                primaryExtension: searchQuery,
                                primaryDid: searchQuery,
                                vendor: searchQuery,
                                subModel: searchQuery,
                                firmwareVersion: searchQuery,
                                phoneState: searchQuery,
                                serialNumber: searchQuery,
                                newPhone: searchQuery,
                                relayName:searchQuery
                                }).length }}
                                <button class="action-btn" *ngIf="newPhonesCounter!=0"
                                (click)="filterNewPhones();">
                                {{newPhonesCounter}} New!
                                </button>
                                <i *ngIf="searchQuery" class="fa fa-filter" aria-hidden="true"></i>
                            </label>
                    </div>
                    <div style="display: table;margin-top: 11px;"  *ngIf="_isSideBarOpened">
                        <div  style="display: table-row">
                            <label class="phone-count"  style="display: table-cell;vertical-align: bottom;">
                                Phone Count:
                                {{(phones | filter: {
                                name: searchQuery, macAddress: searchQuery,
                                ipAddress: searchQuery,
                                primaryUser: searchQuery,
                                primaryExtension: searchQuery,
                                primaryDid: searchQuery,
                                vendor: searchQuery,
                                subModel: searchQuery,
                                firmwareVersion: searchQuery,
                                phoneState: searchQuery,
                                serialNumber: searchQuery,
                                newPhone: searchQuery,
                                relayName:searchQuery
                                }).length }}
                                <button class="action-btn" *ngIf="newPhonesCounter!=0"
                                (click)="filterNewPhones();">
                                {{newPhonesCounter}} New!
                                </button>
                                <i *ngIf="searchQuery" class="fa fa-filter" aria-hidden="true"></i>
                            </label>
                        </div>
                        <div  style="display: table-row">
                            <button *ngIf="waitingForUpdateCounter!=0" class="action-btn" [ngStyle]="{'font-weight':waitingForUpdate ? 'bold' : '400'}"  style="display: table-cell"
                                    (click)="filterUpdateNewPhones('click');">
                                    {{waitingForUpdateCounter}}
                                     Waiting For Update! 
                                </button>
                        </div>
                    </div>
                    
                    <div style="margin-top: 11px; " *ngIf="!_isSideBarOpened">
                        <button *ngIf="waitingForUpdateCounter!=0" class="action-btn" [ngStyle]="{'font-weight':waitingForUpdate ? 'bold' : '400'}"  style="display: table-cell"
                                (click)="filterUpdateNewPhones('click');">
                                {{waitingForUpdateCounter}}
                                 Waiting For Update!
                            </button>
                    </div> -->

    <div name="fieldName" ngDefaultControl style="margin-top: 5px;" class="btn-group fieldName w-auto " btnRadioGroup [(ngModel)]="uncheckableRadioModel">
        <label class="btn btn-info btn-size" id="unmanagedBtn" btnRadio="Unmanaged" (click)="onChangeView('unmanaged')" uncheckable title="Phones that have one or more line configs that are not in sync with the BroadWorks configuration." [disabled]="uncheckableRadioModel=='Unmanaged'"
            tabindex="0" role="button">Unmanaged</label>
        <label class="btn btn-info btn-size" id="managedBtn" btnRadio="Managed" (click)="onChangeView('managed')" uncheckable title="Phones that have configs of all the lines synced with BroadWorks configuration." [disabled]="uncheckableRadioModel=='Managed'"
            tabindex="0" role="button">Managed</label>
    </div>
    <div class="left-push mr-0">
        <button class="btn btn-filter filter" (click)="phoneListGrid.openToolPanelModal()" title="Show/Hide Columns" style="margin-left:5px;">
            <img *ngIf="checkAllHidden()" style="width: 16px;height:20px;margin-top:-2px;"
                src="assets/images/icons/show.svg">
            <img *ngIf="!checkAllHidden()" style="width: 16px;height:20px;margin-top:-2px;"
                src="assets/images/icons/hide.svg">

        </button>
        <button class="btn btn-filter filter" (click)="phoneListGrid.showFilters()" title="Advanced Search" style="margin-left:5px;">
            <i class="fa fa-filter"></i>
        </button>
    </div>
</div>
<div class="row">
    <div [ngClass]=" (addToPhoneList || editPhoneList)?'col-5':'col-8'"></div>
    <div [ngClass]=" (addToPhoneList || editPhoneList)?'col-4':'col-2 p-0'">
        <label class="phone-count ">
                                Phone Count: 
                {{(phones | filter: {
                    name: searchQuery,
                    macAddress: searchQuery,
                    ipAddress: searchQuery,
                    relayName:searchQuery,
                    primaryUser: searchQuery,
                    primaryExtension: searchQuery,
                    primaryDid: searchQuery,
                    vendor: searchQuery,
                    subModel: searchQuery,
                    firmwareVersion: searchQuery,
                    phoneState: searchQuery,
                    serialNumber: searchQuery,
                    newPhone: searchQuery,
                    firmwareUpgradeStatus:searchQuery,
                    createDate_tsString:searchQuery,
                    lastUpdatedDate_tsString:searchQuery,
                    primaryBsRegistrationStatus:searchQuery
                }).length }}
                                 <button class="action-btn " *ngIf="newPhonesCounter!=0"
                (click)="filterNewPhones();">
                {{newPhonesCounter}} New! 
                </button>
                <i *ngIf="searchQuery" class="fa fa-filter" aria-hidden="true"></i>
                            </label>
    </div>
    <div [ngClass]=" (addToPhoneList || editPhoneList)?'col-3':'col-2'">
        <button *ngIf="waitingForUpdateCounter!=0" class="action-btn" [ngStyle]="{'font-weight':waitingForUpdate ? 'bold' : '400'}" (click)="filterUpdateNewPhones('click');">
        {{waitingForUpdateCounter}}
         Waiting For Update! 
    </button>
    </div>


</div>

<!-- <div *ngIf="loadingPhones" style="text-align:center;">
    <div class="row" style="text-align:center;margin-top:5.5%;">
        <div class="col"></div>
        <div class="col">
            <h3>Loading Phones</h3>
            <img class="loading" style="width: 50px;height:50px;" src="assets/images/loading.gif" alt="Loading">
        </div>
        <div class="col"></div>
    </div>
</div> -->

<div class="row">
    <div class="phone-inventory">
        <data-table #phoneListGrid [dataflow]="isRequestCompleted" [columnDefs]="phoneInventoryColumns" [virtualScroll]="true" [dataFrom]="'phoneInventory'" [selectedHeight]="tableHeight" [colsTag]="'phone-inventory'" [data]="phones | filter: {name: searchQuery,
            macAddress: searchQuery,
            ipAddress: searchQuery,
            relayName:searchQuery,
            primaryUser: searchQuery,
            primaryExtension: searchQuery,
            primaryDid: searchQuery,
            vendor: searchQuery,
            subModel: searchQuery,
            firmwareVersion: searchQuery,
            phoneState: searchQuery,
            serialNumber: searchQuery,
            newPhone: searchQuery,
            firmwareUpgradeStatus:searchQuery,
            createDate_tsString:searchQuery,
            lastUpdatedDate_tsString:searchQuery,
            primaryBsRegistrationStatus:searchQuery}">
            <tableFilter>
                <ng-template>
                    <td class="filter-row" [width]="getColumnWidth(phoneInventoryColumns[0])"></td>
                    <td class="filter-row" [width]="getColumnWidth(phoneInventoryColumns[1])" [hidden]="phoneListGrid.isHidden('name')">
                        <input type="text" class="form-control" [(ngModel)]="phoneInventoryColumns[1].filter" (ngModelChange)="filterData();" />
                    </td>
                    <td class="filter-row" [width]="getColumnWidth(phoneInventoryColumns[2])" [hidden]="phoneListGrid.isHidden('macAddress')">
                        <input type="text" class="form-control" [(ngModel)]="phoneInventoryColumns[2].filter" (ngModelChange)="filterData();" />
                    </td>
                    <td class="filter-row" [width]="getColumnWidth(phoneInventoryColumns[3])" [hidden]="phoneListGrid.isHidden('ipAddress')">
                        <input type="text" class="form-control" [(ngModel)]="phoneInventoryColumns[3].filter" (ngModelChange)="filterData();" />
                    </td>
                    <td class="filter-row" [width]="getColumnWidth(phoneInventoryColumns[4])" [hidden]="phoneListGrid.isHidden('relayName')">
                        <input type="text" class="form-control" [(ngModel)]="phoneInventoryColumns[4].filter" (ngModelChange)="filterData();" />
                    </td>
                    <td class="filter-row" [width]="getColumnWidth(phoneInventoryColumns[5])" [hidden]="phoneListGrid.isHidden('primaryUser')">
                        <input type="text" class="form-control" [(ngModel)]="phoneInventoryColumns[5].filter" (ngModelChange)="filterData();" />
                    </td>
                    <td class="filter-row" [width]="getColumnWidth(phoneInventoryColumns[6])" [hidden]="phoneListGrid.isHidden('primaryExtension')">
                        <input type="text" class="form-control" [(ngModel)]="phoneInventoryColumns[6].filter" (ngModelChange)="filterData();" />
                    </td>
                    <td class="filter-row" [width]="getColumnWidth(phoneInventoryColumns[7])" [hidden]="phoneListGrid.isHidden('primaryDid')">
                        <input type="text" class="form-control" [(ngModel)]="phoneInventoryColumns[7].filter" (ngModelChange)="filterData();" />
                    </td>
                    <td class="filter-row" [width]="getColumnWidth(phoneInventoryColumns[8])" [hidden]="phoneListGrid.isHidden('vendor')">
                        <input type="text" class="form-control" [(ngModel)]="phoneInventoryColumns[8].filter" (ngModelChange)="filterData();" />
                    </td>
                    <td class="filter-row" [width]="getColumnWidth(phoneInventoryColumns[9])" [hidden]="phoneListGrid.isHidden('subModel')">
                        <input type="text" class="form-control" [(ngModel)]="phoneInventoryColumns[9].filter" (ngModelChange)="filterData();" />
                    </td>
                    <td class="filter-row" [width]="getColumnWidth(phoneInventoryColumns[10])" [hidden]="phoneListGrid.isHidden('firmwareVersion')">
                        <input type="text" class="form-control" [(ngModel)]="phoneInventoryColumns[10].filter" (ngModelChange)="filterData();" />
                    </td>
                    <td class="filter-row" [width]="getColumnWidth(phoneInventoryColumns[11])" [hidden]="phoneListGrid.isHidden('phoneState')">
                        <input type="text" class="form-control" [(ngModel)]="phoneInventoryColumns[11].filter" (ngModelChange)="filterData();" />
                    </td>
                    <td class="filter-row" [width]="getColumnWidth(phoneInventoryColumns[12])" [hidden]="phoneListGrid.isHidden('serialNumber')">
                        <input type="text" class="form-control" [(ngModel)]="phoneInventoryColumns[12].filter" (ngModelChange)="filterData();" />
                    </td>
                    <td class="filter-row" [width]="getColumnWidth(phoneInventoryColumns[13])" [hidden]="phoneListGrid.isHidden('firmwareUpgradeStatus')">
                        <input type="text" class="form-control" [(ngModel)]="phoneInventoryColumns[13].filter" (ngModelChange)="filterData();" />
                    </td>
                    <td class="filter-row" [width]="getColumnWidth(phoneInventoryColumns[14])" [hidden]="phoneListGrid.isHidden('createDate_tsString')">
                        <input type="text" class="form-control" [(ngModel)]="phoneInventoryColumns[14].filter" (ngModelChange)="filterData();" />
                    </td>
                    <td class="filter-row" [width]="getColumnWidth(phoneInventoryColumns[15])" [hidden]="phoneListGrid.isHidden('lastUpdatedDate_tsString')">
                        <input type="text" class="form-control" [(ngModel)]="phoneInventoryColumns[15].filter" (ngModelChange)="filterData();" />
                    </td>
                    <td class="filter-row" [width]="getColumnWidth(phoneInventoryColumns[16])" [hidden]="phoneListGrid.isHidden('primaryBsRegistrationStatus')">
                        <input type="text" class="form-control" [(ngModel)]="phoneInventoryColumns[16].filter" (ngModelChange)="filterData();" />
                    </td>
                    <td class="filter-row" [width]="getColumnWidth(phoneInventoryColumns[17])">
                    </td>
                </ng-template>
            </tableFilter>
            <tableRow>
                <ng-template let-item="item" class="templateClass">
                    <tr class="strip-table">
                        <td id="checkbox" [width]="getColumnWidth(phoneInventoryColumns[0])">
                            <label *ngIf="!addToPhoneList && !editPhoneList" class="container" style="margin-top:3px;">
                                <input type="checkbox" [(ngModel)]="item.selected" data-md-icheck
                                    (change)="checkIfAllPhonesSelected(); toggleVisibility();mppPhoneController();onChangeCheckBox(item);polyPhoneController()">
                                <span class="checkmarkTCP"
                                    [style.outline-color]="!item.selected ? '#BEBEBE' : '#203C66'"></span>
                            </label>
                            <label *ngIf="addToPhoneList" class="container" style="margin-top:3px;">
                                <input type="checkbox" [(ngModel)]="item.selected" data-md-icheck
                                    (change)="selectedForListAddition(item);checkIfAllPhonesSelected();">
                                <span class="checkmarkTCP"
                                    [style.outline-color]="!item.selected ? '#BEBEBE' : '#203C66'"></span>
                            </label>
                            <label *ngIf="editPhoneList" class="container" style="margin-top:3px;">
                                <input type="checkbox" [(ngModel)]="item.selected" data-md-icheck
                                    (change)="selectedForListEdition(item);checkIfAllPhonesSelected();">
                                <span class="checkmarkTCP"
                                    [style.outline-color]="!item.selected ? '#BEBEBE' : '#203C66'"></span>
                            </label>
                        </td>
                        <td class="regular-text" [hidden]="phoneListGrid.isHidden('name')" style="max-width: 40px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;text-align: left" [width]="getColumnWidth(phoneInventoryColumns[1])" title="{{item.name}}">
                            {{item.name}}
                        </td>
                        <td class="regular-text" [hidden]="phoneListGrid.isHidden('macAddress')" style="max-width: 40px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" [width]="getColumnWidth(phoneInventoryColumns[2])" title="{{item.macAddress}}">
                            {{item.macAddress}}
                        </td>
                        <td class="regular-text" [width]="getColumnWidth(phoneInventoryColumns[3])" style="max-width: 50px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="{{item.ipAddress}}" [hidden]="phoneListGrid.isHidden('ipAddress')">
                            {{item.ipAddress}}
                        </td>
                        <td class="regular-text" [width]="getColumnWidth(phoneInventoryColumns[4])" style="max-width: 50px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="{{item.relayName}}" [hidden]="phoneListGrid.isHidden('relayName')">
                            {{item?.relayName | blank}}
                        </td>
                        <td class="regular-text" [hidden]="phoneListGrid.isHidden('primaryUser')" style="text-align:center;max-width:40px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" [width]="getColumnWidth(phoneInventoryColumns[5])" title="{{item.primaryUser}}">
                            {{item.primaryUser|blank}}</td>
                        <td class="regular-text" [hidden]="phoneListGrid.isHidden('primaryExtension')" style="max-width:30px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" [width]="getColumnWidth(phoneInventoryColumns[6])" title="{{item.primaryExtension}}">
                            {{item.primaryExtension|blank}}</td>
                        <td class="regular-text" [hidden]="phoneListGrid.isHidden('primaryDid')" style="max-width:30px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" [width]="getColumnWidth(phoneInventoryColumns[7])" title="{{item.primaryDid}}">
                            {{item.primaryDid|blank}}</td>
                        <td class="regular-text" [hidden]="phoneListGrid.isHidden('vendor')" [width]="getColumnWidth(phoneInventoryColumns[8])" title="{{item.vendor| poly}}">
                            {{item.vendor|blank |poly }}</td>
                        <td class="regular-text" [hidden]="phoneListGrid.isHidden('subModel')" style="max-width:40px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" [width]="getColumnWidth(phoneInventoryColumns[9])" title="{{item.subModel}}">
                            {{item.subModel|blank}}</td>
                        <td class="regular-text" [hidden]="phoneListGrid.isHidden('firmwareVersion')" style="max-width:40px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" [width]="getColumnWidth(phoneInventoryColumns[10])" title="{{item.firmwareVersion}}">
                            {{item.firmwareVersion|blank}}</td>
                        <td class="regular-text" [width]="getColumnWidth(phoneInventoryColumns[11])" style="max-width:40px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" [hidden]="phoneListGrid.isHidden('phoneState')" [style.color]="(item.vendor === 'Polycom' ||item.vendor === 'Poly' || item.vendor === 'Yealink' || item.vendor === 'Grandstream') ? '#333f4d' : getColor(item.phoneState)"
                            title="{{(item.vendor === 'Polycom' || item.vendor === 'Poly' || item.vendor === 'Yealink' || item.vendor === 'Grandstream') ? 'N/A' : item.phoneState| titlecase }}">
                            {{(item.vendor === 'Polycom' || item.vendor === 'Poly' || item.vendor === 'Yealink' || item.vendor === 'Grandstream') ? 'N/A' : item.phoneState| titlecase }}
                        </td>
                        <td class="regular-text" [hidden]="phoneListGrid.isHidden('serialNumber')" style="max-width:40px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" [width]="getColumnWidth(phoneInventoryColumns[12])" title="{{item.serialNumber}}">
                            {{item.serialNumber |blank}}
                        </td>
                        <td class="regular-text" [width]="getColumnWidth(phoneInventoryColumns[13])" style="max-width:40px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" [hidden]="phoneListGrid.isHidden('firmwareUpgradeStatus')" [style.color]="getColor(item.firmwareUpgradeStatus)"
                            title="{{changePhoneFirmwareStatus(item.firmwareUpgradeStatus)}}">
                            <label *ngIf="item.firmwareUpgradeStatus" style="cursor: pointer" (click)="onClickFirmwareDetails(firmwareDetailsTemplate, item)">{{item?.firmwareUpgradeStatus
                                | phoneStatus | blank }}</label>
                            <label *ngIf="!item.firmwareUpgradeStatus">-</label>
                        </td>
                        <td class="regular-text" [hidden]="phoneListGrid.isHidden('createDate_tsString')" style="max-width:30px; overflow: hidden; line-height: 1.5em; height:3em;" [width]="getColumnWidth(phoneInventoryColumns[14])" title="{{item.createDate_tsString }}">
                            {{item.createDate_tsString | blank }}</td>
                        <td class="regular-text" [hidden]="phoneListGrid.isHidden('lastUpdatedDate_tsString')" style="max-width:30px; overflow: hidden; line-height: 1.5em; height:3em;" [width]="getColumnWidth(phoneInventoryColumns[15])" title="{{item.lastUpdatedDate_tsString }}">
                            {{item.lastUpdatedDate_tsString| blank }}</td>
                        <td class="regular-text" [width]="getColumnWidth(phoneInventoryColumns[16])" *ngIf="item?.primaryBsRegistrationStatus == 'Registered'" style="max-width:40px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" [hidden]="phoneListGrid.isHidden('primaryBsRegistrationStatus')"
                            [style.color]="getColor(item.primaryBsRegistrationStatus)" title="{{item.primaryBsRegistrationStatus}}">
                            {{item?.primaryBsRegistrationStatus | titlecase }}
                        </td>
                        <td class=" regular-text" [width]="getColumnWidth(phoneInventoryColumns[16])" *ngIf="item?.primaryBsRegistrationStatus != 'Registered'" [hidden]="phoneListGrid.isHidden('primaryBsRegistrationStatus')">
                            N/A </td>
                        <td class="regular-text" [width]="getColumnWidth(phoneInventoryColumns[17])">
                            <ng-template #popTemplate>
                                <div>
                                    <ul style="list-style: none; margin: 0; padding: 0;">
                                        <!-- *ngIf="item.model!='MPP'" -->
                                        <li *ngIf="!item.callServerManaged || item.model!='MPP'">
                                            <button class="pop-option" (click)="$event.stopPropagation();editPhone(item);pop.hide()">
                                                View/Edit Phone
                                            </button>
                                        </li>
                                        <li *ngIf="item.model == 'MPP' && item?.phoneState=='AVAILABLE'">
                                            <button class="pop-option" (click)="$event.stopPropagation();visualDeviceManagement(item);pop.hide()">
                                                Visual Device Management
                                            </button>
                                            <!--<button class="pop-option"
                                                    (click)="$event.stopPropagation();visualDeviceManagement(item);pop.hide()">
                                                    Visual Device Management
                                        </button>-->
                                        </li>
                                        <!-- <li>
                                            <button class="pop-option"
                                                (click)="$event.stopPropagation();visualDeviceManagement(item);pop.hide()">
                                                Visual Device Management
                                            </button>
                                            &lt;!&ndash;    <button class="pop-option"
                                                    (click)="$event.stopPropagation();visualDeviceManagement(item);pop.hide()">
                                                    Visual Device Management
                                                </button>&ndash;&gt;
                                        </li>-->
                                        <li>
                                            <button class="pop-option" *ngIf="item.model == 'MPP' || item.vendor=='Polycom' || item.vendor=='Poly'" (click)="$event.stopPropagation();viewPhoneDetails(item);pop.hide()">
                                                Phone Management
                                            </button>
                                        </li>
                                        <li>
                                            <button class="pop-option" *ngIf="item.model == 'MPP'" (click)="$event.stopPropagation();phoneTroubleshooting(item);pop.hide()">
                                                Phone Troubleshooting
                                            </button>
                                        </li>
                                        <li>
                                            <button class="pop-option" *ngIf="item.model == 'MPP'" (click)="$event.stopPropagation();viewPhoneTimeLine(item);pop.hide()">
                                                View Phone Timeline
                                            </button>
                                        </li>
                                        <li>
                                            <button class="pop-option" *ngIf="(item.model == 'MPP' && item?.phoneState!='AVAILABLE') || item.model!='MPP'" (click)="$event.stopPropagation();deletePhone(item);pop.hide()">
                                                Delete Phone
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </ng-template>
                            <button type="button" class="btn-opt" #pop="bs-popover" name="button-{{item.id}}" [popover]="popTemplate" [placement]="getPlacement(item)" [outsideClick]="true" (click)="$event.stopPropagation();" (onShown)="closeOldPop(pop)" data-container="body">
                                <!-- <i class="fa fa-circle circle-menu" aria-hidden="true">&nbsp;</i>
                                <i class="fa fa-circle circle-menu" aria-hidden="true">&nbsp;</i>
                                <i class="fa fa-circle circle-menu" aria-hidden="true"></i> -->
                                <a style="font-size: 1.4rem; letter-spacing: -2px;
                color: #5F5F5F;">...</a>
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </tableRow>
        </data-table>
    </div>
</div>

<ng-template #template>
    <div class="modal-header" draggableModal>
        <label class="modal-title pull-left">Add to Phone List</label>
        <button type="button" class="close pull-right" aria-label="Close" (click)="toUncheckAllSelectedPhone();">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-6">
                <label for="selectedPhones" class="form-label">Selected Phones</label>
                <div class="phones-panel">
                    <table style="margin: 10px;">
                        <tbody class="modal-table modal-table-body ">
                            <tr style="vertical-align: middle" *ngFor="let phone of auxiliarPhones" class="modal-table">
                                <td style="width:25px;">
                                    <input type="checkbox" [(ngModel)]="phone.selected" (change)="onChangeAuxiliarPhones(phone)">
                                </td>
                                <td class="phoneNames">{{phone.name}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-6">
                <label for="phoneLists" class="form-label">Phone List</label><br>
                <select forbiddenValue="---Select---" [(ngModel)]="selectedList" id="list" class="form-control" (change)="changedList($event.target.value)">
                    <option disabled selected value="---Select---">Select List</option>
                    <option value="newList">Create New List</option>
                    <option *ngFor="let list of phoneLists" value="{{list.id}}">{{list.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="cancel-btn" (click)="modalRef.hide(); toUncheckAllSelectedPhone();">
            Cancel
        </button>
        <button class="create-btn" [disabled]="!listUpdater" (click)="updatePhoneList()">
            Add
        </button>
    </div>
</ng-template>

<!-- update firmware template -->
<ng-template #firmwareTemplate>
    <div style="width: 750px;">
        <!-- header -->
        <div class="modal-header" draggableModal>
            <label class="modal-title pull-left">Firmware Upgrade</label>
            <button type="button" class="close pull-right" aria-label="Close" (click)="upgradeModal.hide();toUncheckAllSelectedPhone()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!-- body -->
        <form (keydown.enter)="$event.preventDefault()" #myActionForm="ngForm">
            <div class="modal-body" style="margin: 0%;">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="firmware-header">Model</label>
                        </div>
                        <div class="col-md-5">
                            <label class="firmware-header">Firmware Url</label>
                        </div>
                        <div class="col-md-2">
                            <label class="firmware-header">Retry Interval</label>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row" *ngFor="let item of selectedSubModelList;let k =index;" style="margin-bottom: 15px;">
                        <div class="col-md-3">
                            <label class="firmware-label">{{item}}</label>
                        </div>
                        <div class="col-md-5">
                            <input class="form-control" required id="firmwareUrl" forbiddenValue="" type="text" placeholder="Enter Firmware Url" name="firmwareUrl" #firmwareUrl="ngModel" [(ngModel)]="firmwareUpgradeList[k].upgradeLocation">
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" id="retryInterval" forbiddenValue="" type="text" pattern="^[0-9]{0,9}$" placeholder="Enter Retry Interval" name="retryInterval" #retryInterval="ngModel" [(ngModel)]="firmwareUpgradeList[k].retryInterval">
                        </div>
                        <div class="col-md-2">
                            <label class="firmware-label">seconds</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer -->
            <div class="modal-footer">
                <button class="cancel-btn" (click)="upgradeModal.hide(); toUncheckAllSelectedPhone();">
                    Cancel
                </button>
                <button class="create-btn" (click)="upgradeFirmware()" [disabled]="myActionForm.form.invalid">
                    Upgrade
                </button>
            </div>
        </form>
    </div>
</ng-template>

<!-- firmware details template -->
<ng-template #firmwareDetailsTemplate>
    <div>
        <!-- header -->
        <div class="modal-header" draggableModal>
            <label class="modal-title pull-left">{{'Firmware Upgrade - ' + selectedPhoneFirmwareDetails.name}}</label>
            <button type="button" class="close pull-right" aria-label="Close" (click)="upgradeModal.hide();resetView()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!-- body -->
        <form (keydown.enter)="$event.preventDefault()" #myActionForm="ngForm">
            <div class="modal-body" style="margin: 0%;">
                <div class="actions-list">
                    <table class="table strip-table inner-table">
                        <tbody>
                            <tr *ngFor="let item of firmwareColumnList" style="table-layout: fixed;">
                                <td class="regular-text" style="text-align: left !important; width:20%;">{{item.header}}
                                </td>
                                <td *ngIf="item.header == 'Start Date' || item.header == 'End Date'">
                                    {{selectedPhoneFirmwareDetails[item.field] }}</td>
                                <td class="regular-text" *ngIf="item.header != 'Start Date' && item.header != 'End Date' && !item.suppressHide" [ngStyle]="{color:item.field =='firmwareUpgradeStatus' && selectedPhoneFirmwareDetails[item.field] == 'COMPLETED' ? 'green' : (selectedPhoneFirmwareDetails[item.field] == 'FAILED'? 'red' : 'black')}"
                                    style="text-align:left;line-height: 22px;">
                                    {{(selectedPhoneFirmwareDetails[item.field] != null) ? ((item.field === 'firmwareUpgradeStatus' && selectedPhoneFirmwareDetails[item.field] == 'COMPLETED') ? 'Success' : selectedPhoneFirmwareDetails[item.field]) : 'NA'}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- footer -->
            <div class="modal-footer">
                <button class="create-btn" (click)="upgradeModal.hide(); resetView();">
                    Ok
                </button>
            </div>
        </form>
    </div>
</ng-template>

<!-- Delete all confirmation -->
<ng-template #deleteAllModal>
    <div class="modal-header" draggableModal>
        <label *ngIf="allPhonesChecked" class="modal-title pull-left">Delete All</label>
        <label *ngIf="!allPhonesChecked" class="modal-title pull-left">Delete</label>
        <button type="button" class="close pull-right" aria-label="Close" (click)="resetPhoneDetails();setAllPhonesState(false);">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <label *ngIf="allPhonesChecked" class="form-label regular-text">
                    All Phones will be deleted. Do you wish to proceed?
                </label>
                <label *ngIf="!allPhonesChecked" class="form-label regular-text">
                    Are you sure that you want to delete selected items?
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="cancel-btn" (click)="resetPhoneDetails();setAllPhonesState(false);">
            No
        </button>
        <button class="create-btn" (click)="deleteSelectedPhones();resetView();">
            Yes
        </button>
    </div>
</ng-template>

<!-- reboot confirmation -->
<ng-template #rebootModal>
    <div class="modal-header" draggableModal>
        <label class="modal-title pull-left">Reboot Confirmation</label>
        <button type="button" class="close pull-right" aria-label="Close" (click)="resetPhoneDetails();setAllPhonesState(false);">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <label class="form-label regular-text">
                    Do you wish to continue ?
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="cancel-btn" (click)="resetPhoneDetails();setAllPhonesState(false);">
            Cancel
        </button>
        <button class="create-btn" (click)="rebootMultiplePhones();resetView();">
            Yes
        </button>
    </div>
</ng-template>


<!-- reboot confirmation -->
<ng-template #assignToRelay>
    <div class="modal-header" draggableModal>
        <label class="modal-title pull-left" style="margin-left: 5px !important;">Assign to Relay</label>
        <button type="button" class="close pull-right" aria-label="Close" (click)="resetPhoneDetails();setAllPhonesState(false);">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="height: 52vh;overflow: hidden;margin-left: 0px;">
        <div class="row">
            <div class="col-12">
                <label style="margin-left: 1%;" for="relay" class="form-label">Relay Name</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ng-select style="width: 100%;" class="form-control" [items]="relaysList" name="relay" labelForId="relay" bindLabel="name" bindValue="id" placeholder="Select Relay Name" [(ngModel)]="selectedOprId" (change)="onChangeRelay($event)" [virtualScroll]="true">
                </ng-select>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <label style="margin-left: 1%;" for="relay" class="form-label">Selected Phones</label>
            </div>
        </div>
        <div class="add-relay">
            <div class="row">
                <div class="col-6" style="height: fit-content;" *ngFor="let item of selectedPhonesForRelay">
                    <label class="chekboxcontainer key-name" style="max-width: 95%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                        <input type="checkbox" [(ngModel)]="item.selected">
                        <span class="checkmarkTCP" style="margin-top: 2%;"
                            [style.outline-color]="!item.selected ? '#BEBEBE' : '#203C66'"></span>
                        &nbsp; <span class="list-item relay-list-items" [title]="item.name">{{item.name}}</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="cancel-btn" (click)="resetPhoneDetails();setAllPhonesState(false);">
            Cancel
        </button>
        <button class="create-btn" (click)="resetView();addPhonesToRelay()" [disabled]="checkForRelay()">
            Assign
        </button>
    </div>
</ng-template>