<div class="modal-header" draggableModal>
  <label class="modal-title">Get Value</label>
  <button type="button" class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form (keydown.enter)="$event.preventDefault()" #myActionForm="ngForm">
  <div class="modal-body">
    <div class="mycontainer">
      <div class="form-group row">
        <!-- <label for="device" class="col-sm-2 col-form-label phone-label">Phone</label>
                <div class="col-sm-3">
                    <select required forbiddenValue="" class="form-control" [(ngModel)]="selectedPhone" id="device" name="device" #device="ngModel">
            <option disabled selected value="">Select Phone</option>
            <option *ngFor="let resource of resources" value="{{resource.name}}">{{resource.name}}</option>
          </select>
                </div> -->
        <label for="inTraceField" class="col-sm-2 col-form-label phone-label">In Trace</label>
        <div class="col-sm-3">
          <select required forbiddenValue="" class="form-control" [(ngModel)]="inTrace" id="inTraceField"
            name="inTraceField" #inTraceField="ngModel">
            <option disabled selected value="">Select Trace</option>
            <option *ngFor="let variable of variables" value="{{variable.name}}">{{variable.name}}</option>
          </select>
        </div>
      </div>
      <hr class="separator">
      <div class="form-group row">
        <label for="inTraceField" class="col-sm-2 col-form-label phone-label">Packet Number</label>
        <div class="col-sm-3" style="margin-top: 5px;">
          <label class="phone-label">
            <input type="radio" name="allPacketNum" value="all"
              [(ngModel)]="packetNumberType">&nbsp;
            <span>All</span>
          </label>&nbsp;
          <label class="phone-label">
            <input type="radio" name="specificpacketNum" value="specific"
              [(ngModel)]="packetNumberType">
            &nbsp;
            <span>Specific</span>
          </label>
        </div>
        <div class="col-sm-3" *ngIf="packetNumberType==='specific'">
          <input required type="number" placeholder="Enter packetNumber" class="form-control" [(ngModel)]="packetNumber"
            name="packetNumberField" #packetNumberField="ngModel">
        </div>
        <label for="inTraceField"  *ngIf="packetNumberType==='all'" class="col-sm-2 col-form-label phone-label">Search Order</label>
        <select class="col-sm-3 col-form-label phone-label form-control"  *ngIf="packetNumberType==='all'" id="allPacketNum" required forbiddenValue="" [(ngModel)]="searchOrder" name="searchOrder" >
          <option value="{{item}}" *ngFor="let item of allPacketNum" selected>{{item}}</option>
        </select>


      </div>
      <hr class="separator">
      <div class="form-group row">
        <!-- <label for="inTraceField" class="col-sm-2 col-form-label phone-label">Sequence Number</label>
        <div class="col-sm-3">
          <input required type="number" placeholder="Enter sequenceNumber" class="form-control" [(ngModel)]="sequenceNumber"
            name="sequenceNumberField" #sequenceNumberField="ngModel">
        </div> -->
        <label for="inTraceField" class="col-sm-2 col-form-label phone-label">Occurence Number</label>
        <div class="col-sm-3" style="margin-top: 5px;">
          <label class="phone-label">
            <input type="radio" name="all" value="all" [(ngModel)]="sequenceNumberType">&nbsp;
            <span>All</span>
          </label>&nbsp;
          <label class="phone-label">
            <input type="radio" name="specific" value="specific" [(ngModel)]="sequenceNumberType">
            &nbsp;
            <span>Specific</span>
          </label>
        </div>
        <div class="col-sm-3" *ngIf="sequenceNumberType=='specific'">
          <input required type="number" placeholder="Enter Specific" class="form-control"
            name="specificSequenceNumberField" [(ngModel)]="sequenceNumber" #specificSequenceNumberField="ngModel">
        </div>
      </div>
      <hr class="separator">
      <div class="form-group row">
        <label for="inTraceField" class="col-sm-2 col-form-label phone-label">Parent Header Name</label>
        <div class="col-sm-3">
          <input forbiddenValue="0" type="text" placeholder="Enter Parent headerNumber" class="form-control"
            [(ngModel)]="parentHeaderNumber" name="ParentheaderNumberField" style="margin-top: 5px"
            #ParentheaderNumberField="ngModel">
        </div>
        <label for="inTraceField" class="col-sm-2 col-form-label phone-label">Header Name</label>
        <div class="col-sm-3">
          <input required type="text" placeholder="Enter header Name" class="form-control" [(ngModel)]="headerNumber"
            style="margin-top: 5px" name="headerNumberField" #headerNumberField="ngModel">
        </div>
      </div>
      <hr class="separator">
      <div class="form-group row">
        <label for="result" class="col-sm-2 col-form-label phone-label">Result In</label>
        <div class="col-sm-3">
          <input required type="text" name="resultField" placeholder="Enter result" class="form-control"
            style="margin-top: 5px" [(ngModel)]="result" #resultField="ngModel">
        </div>
        <label for="failure" class="col-sm-3 col-form-label phone-label">Continue OnFailure</label>
        <div class="col-sm-3" style="margin-top: 5px; padding-left:0px;">
          <label class="phone-label">
            <input type="radio" name="failure" [value]="true" [(ngModel)]="continueOnFailure" #failure="ngModel">&nbsp;
            <span>True</span>
          </label>&nbsp;
          <label class="phone-label">
            <input type="radio" name="failure" [value]="false" [(ngModel)]="continueOnFailure" #failure="ngModel">
            &nbsp;
            <span>False</span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div *ngIf="title" class="mr-auto"
      style="background-color: #7694B7; height: 30px; width: 30px; border-radius: 100%; margin-top:-2%">
      <img src="assets/images/icons/info.svg" title="{{title}}" style="width:30px; height:30px;">
    </div>
    <button (click)="cancel()" class="modal-cancel-btn">
      Cancel
    </button>
    <button class="modal-scs-btn" (click)="insertAction()" [disabled]="!myActionForm.form.valid">
      <span *ngIf="!actionToEdit">
        Insert Action
      </span>
      <span *ngIf="actionToEdit">
        Update Action
      </span>
    </button>
  </div>
</form>