<div class="modal-header" draggableModal>
  <label class="modal-title">Execute Command</label>
  <button type="button" class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form (keydown.enter)="$event.preventDefault()" #myActionForm="ngForm">
  <div class="modal-body">
    <div class="mycontainer">
      <div class="form-group row">
        <label for="commandField" class="col-sm-2 col-form-label phone-label">Command</label>
        <div class="col-sm-3">
          <input required type="text" name="commandField" placeholder="Enter command" class="form-control"
            [(ngModel)]="command" #commandField="ngModel">
        </div>
        <label for="result" class="col-sm-3 col-form-label phone-label" style="padding-left: 75px;">Result In</label>
        <div class="col-sm-4">
          <input required type="text" name="resultField" placeholder="Enter result" class="form-control"
            [(ngModel)]="result" #resultField="ngModel">
        </div>
      </div>
      <div class="form-group row">
        <label for="failure" class="col-sm-3 col-form-label phone-label">Continue On
          Failure</label>
        <div class="col-sm-3" style="margin-top: 5px; padding-left:0px;">
          <label class="phone-label">
            <input type="radio" name="failure" [value]="true" [(ngModel)]="continueOnFailure" #failure="ngModel">&nbsp;
            <span>True</span>
          </label>&nbsp;
          <label class="phone-label">
            <input type="radio" name="failure" [value]="false" [(ngModel)]="continueOnFailure" #failure="ngModel">
            &nbsp;
            <span>False</span>
          </label>
        </div>
        <label for="forceActionField" class=" phone-label form-label col-sm-3 text-left" style="padding-top: 6px;">
          <input id="forceActionField" name="forceActionField" #forceActionField type="checkbox" [(ngModel)]="forceAction">&nbsp;Force Action
        </label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div *ngIf="title" class="mr-auto"
      style="background-color: #7694B7; height: 30px; width: 30px; border-radius: 100%; margin-top:-2%">
      <img src="assets/images/icons/info.svg" title="{{title}}" style="width:30px; height:30px;">
    </div>
    <button (click)="cancel()" class="modal-cancel-btn">
      Cancel
    </button>
    <button class="modal-scs-btn" (click)="insertAction()" [disabled]="!myActionForm.form.valid">
      <span *ngIf="!actionToEdit">
        Insert Action
      </span>
      <span *ngIf="actionToEdit">
        Update Action
      </span>
    </button>
  </div>
</form>